{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block title %}: About{% endblock %}

{% block content %}

<h1>About Calisphere</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

		<p>Welcome to Calisphere: your gateway to California’s remarkable digital collections. Calisphere provides free access to unique and historically important artifacts for research, teaching, and curious exploration. Discover over 400,000 photographs, documents, letters, artwork, diaries, oral histories, films, advertisements, musical recordings, and more.</p>

		<p>The collections on Calisphere have been digitized and contributed by <a href="/institutions/uc-partners/" data-pjax="js-pageContent">all ten campuses of the University of California</a> and other important <a href="/institutions/statewide-partners/" data-pjax="js-pageContent">libraries, archives, and museums throughout the state</a>.</p>
		
		<p>For more information about how to use Calisphere and the materials you find here, please consult the <a href="/help/" data-pjax="js-pageContent">help page</a> and <a href="/terms/" data-pjax="js-pageContent">terms of use</a>. Information about Calisphere's technical framework can also be found on our <a href"/help/#11" data-pjax="js-pageContent">help page</a>.</p>

		<h2>Calisphere <span class="text-uppercase">beta</span>: you are here</h2>

		<p>Calisphere <span class="text-uppercase">beta</span> is the latest version of the Calisphere website. It has more content than ever before and new features to help you hone in on the materials you need. And now you can use it on your tablet or mobile device, too.</p>
		
		<p>This site is in “beta” mode because we’re still actively developing it&mdash;but we couldn’t wait any longer to share it with you. We'll be adding more collections and functionality over the coming months, with the goal of replacing the old site in late 2016.</p>
		
		<p>What do you think of the new Calisphere? <a href="/contact/" data-pjax="js-pageContent">We’d welcome your feedback</a>.</p>

		<h2>Our organization</h2>

		<p>Calisphere is a project of the <a href="http://libraries.universityofcalifornia.edu">University of California Libraries</a>, developed and maintained by the <a href="http://www.cdlib.org">California Digital Library</a>. For more information about Calisphere <span class="text-uppercase">beta</span> and its underlying technical architecture, <a href="https://registry.cdlib.org/documentation/">visit our documentation site</a>.</p>

		<h2>Join us!</h2>

  	<p>Calisphere aggregates digital content and metadata from established collecting institutions in California. <a href="/contribute/" data-pjax="js-pageContent">learn more</a>.</p>

		<h2>Spread the word</h2>
		
  	<p>Love Calisphere? Help us spread the word! Check out our <a href="/outreach/" data-pjax="js-pageContent">outreach tips and tools</a> for sharing Calisphere with others.</p>

  </div>

  <div class="col-sm-4 static__sidebar">

  	<h2 class="static__sidebar-heading">Looking for JARDA and other themed collections?</h2>

  	<p>The Japanese American Relocation Digital Archive (JARDA), California Cultures, and California History themed collections are currently still hosted on the old Calisphere site.</p>
  	<a href="/collections/themed/">
			<img class="static__sidebar-img" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/uchida-family-at-manzanar.jpg" alt="Three generations of the Uchida family at Manzanar War Relocation Center">
			<p>Click here to browse themed collections before making the jump.</p>
		</a>

  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
