{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block title %}: About{% endblock %}

{% block content %}

<h1>About Calisphere</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

		<p>Welcome to Calisphere: your gateway to California’s remarkable digital collections. Calisphere provides free access to unique and historically important artifacts for research, teaching, and curious exploration. Explore photographs, documents, letters, artwork, diaries, oral histories, films, advertisements, and more.</p>

		<p>The collections you’ll find on Calisphere have been digitized and contributed by <a href="/institutions/uc-partners/">all ten campuses of the University of California</a> and other great <a href="/institutions/statewide-partners/">libraries, archives, and museums throughout the state</a>.</p>

		<h2>Calisphere <span class="text-uppercase">beta</span>: more content, better access</h2>

		<p>Calisphere <span class="text-uppercase">beta</span> is the latest version of the Calisphere website. It’s in “beta” mode because we’re still actively developing it&mdash;but we couldn’t wait any longer to share it with you. Calisphere <span class="text-uppercase">beta</span> has more content than ever before and new features to help you hone in on the materials you need. <!-- <a href="">Take a tour of the beta site</a> -->.</p>

		<p>If you’re a longtime Calisphere visitor, you may notice the absence of curated sets of resources such as Themed Collections, <abbr title="Japanese American Relocation Digital Archives">JARDA</abbr>, and California Cultures. We are actively working on adding these to Calisphere <span class="text-uppercase">beta</span>. In the meantime, you can access them through <a href="http://www.calisphere.org">the old Calisphere website</a>.</p>

		<p><a href="/contact/">We’d welcome your feedback</a> on the Calisphere <span class="text-uppercase">beta</span> site.</p>

		<h2>Our Organization</h2>

		<p>Calisphere and Calisphere <span class="text-uppercase">beta</span> are projects of the <a href="http://libraries.universityofcalifornia.edu">University of California Libraries</a>, developed and maintained by the <a href="http://www.cdlib.org">California Digital Library</a>. For more information about Calisphere <span class="text-uppercase">beta</span> and its underlying technical architecture, <a href="https://registry.cdlib.org/documentation/">visit our documentation site</a>.</p>

  </div>

  <div class="col-sm-4 static__sidebar">

  	<h3 class="static__sidebar-heading">Join us!</h3>
  	<p>Calisphere aggregates digital content and metadata from established collecting institutions in California. If you represent such an organization and are interested in contributing digital content to the site, please <a href="/contact/">contact us</a>.</p>

  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
