{% load staticfiles %}

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% block styles %}
      <link rel="stylesheet" href="{% static "styles/main.css" %}"/>
    {% endblock %}
    {% block scripts %}
      <script src="{% static "scripts/vendor/modernizr.js" %}"></script>
    {% endblock %}

    {% block inline-scripts %}
      <script></script>
    {% endblock %}
  </head>
  <body>

    <div class="container-fluid" id="searchResults">
      {% include "calisphere/header.html" %}
      {% block content %}{% endblock %}
      {% include "calisphere/footer.html" %}
    </div>


    {% block footerScripts %}
      <script src="{% static "scripts/vendor.js" %}"></script>
      <script src="{% static "scripts/main.js" %}"></script>
    {% endblock %}
  </body>
</html>
