{% load static from staticfiles %}

<!doctype html>
<html lang="en" class="no-js no-jquery">
  <head>
    <meta property="fb:app_id" content="416629941766392" />
    <meta charset="utf-8">
    {% block page-metadata %}
    {% include "calisphere/microdata.html" %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="apple-touch-icon-precomposed" href="/favicon-152x152.png?v=2">
    <!-- Force favicon refresh per this stack overflow: http://stackoverflow.com/questions/2208933/how-do-i-force-a-favicon-refresh -->
    {% block styles %}
    {% if devMode %}
      <link rel="stylesheet" href="{% static "bower_components/mediaelement/build/mediaelementplayer.css" %}" />
      <link rel="stylesheet" href="{% static "bower_components/nprogress/nprogress.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% else %}
      <link rel="stylesheet" href="{% static "styles/vendor.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% endif %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    {% block inline-scripts %}
      <script></script>
    {% endblock %}
    <script>
      //no-jquery class is now effectively a no-js class
      document.getElementsByTagName('html')[0].classList.remove('no-jquery');
    </script>
    {% include "calisphere/ga_site_code.html" %}
  </head>
  <body>
    <div class="container-fluid">
      <header class="global-header">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="row">
              <div class="col-xs-2 col-sm-12 global-header__bars-icon js-global-header__bars-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="col-xs-8 col-sm-12 global-header__logo">
                <a class="global-header__logo-link" id="js-global-header-logo" href="{% url 'calisphere:home' %}">
                </a>
              </div>
              <div class="col-xs-2 col-sm-12 global-header__search-icon js-global-header__search-icon">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 global-header__search js-global-header__search">
            <form class="global-header__search-form" role="search" id="js-searchForm" action="{% url 'calisphere:search' %}" method="get">
              <label for="global-search__field" class="global-search__label">Search the collections</label>
              <div class="input-group">
                <input id="global-search__field" form="js-searchForm" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
                <span class="input-group-btn">
                  <button class="btn btn-default global-search__button" type="submit"><span class="fa fa-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>

          <div class="col-xs-12 col-sm-4 global-header__nav js-global-header__mobile-links">
            <ul class="global-header__nav-list">
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Collections</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">Contributing Institutions</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Exhibitions</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:about' %}" data-pjax="js-pageContent">About</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'contact_form' %}" data-pjax="js-pageContent">Contact</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:help' %}" data-pjax="js-pageContent">Help</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:termsOfUse' %}">Terms of Use</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="global-header__bar">
          <ul class="global-header__bar-list">
            <li class="global-header__bar-list-item">
              <a class="global-header__bar-links" href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">Contributing Institutions</a>
            </li>
            <li class="global-header__bar-list-item">
              <a class="global-header__bar-links" href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Collections</a>
            </li>
            <li class="global-header__bar-list-item">
              <a class="global-header__bar-links" href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Exhibitions</a>
            </li>
          </ul>
        </div>

      </header>
      <div id="js-pageContent">{% block content %}{% endblock %}</div>
      {% include "calisphere/footer.html" %}
    </div>

    {% include "calisphere/scripts.html" %}
    {% block footerScripts %}
    {% endblock %}
  </body>
</html>
