{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block title %}: UC Partners{% endblock %}

{% block content %}

{% include "calisphere/institutionsHeader.html" %}

<div class="inst-textboxes">
{% for campus in campuses %}
	<div class="inst-textboxes__box">
		<h3 class="inst-textboxes__box-heading">
      <a href="{% url 'calisphere:campusView' campus.slug 'collections' %}" data-pjax="js-pageContent">{{ campus.name }}</a>
    </h3>
		<ul class="inst-textboxes__list">
  {% for repository in repositories %}
    {% if repository.campus == campus.name %}
      <li class="inst-textboxes__list-item">
        <a class="inst-textboxes__link" href="{% url 'calisphere:repositoryView' repository.repository_id 'collections' %}" data-pjax="js-pageContent">
          {{ repository.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  	</ul>
  </div>
{% endfor %}
</div>

{% endblock %}
