{% load calisphere-extras %}
    
  {% for carousel_item in search_results %}
  <div class="{% if carousel_item.id == items.0.id %}carousel__item--selected{% else %}carousel__item{% endif %}">
    <a class="{% if carousel_item.id == items.0.id %}carousel__link--selected{% else %}carousel__link{% endif %} js-item-link" href="{% url 'calisphere:itemView' carousel_item.id %}" data-item_id="{{ carousel_item.id }}">
      <div class="carousel__image-container">
        <!-- .carousel__icon-overlay with django logic will go here -->
        <img data-lazy="{{ thumbnailUrl }}crop/120x120/{{ carousel_item.reference_image_md5 }}" alt="{{ carousel_item.title.0|truncatewords:7 }}">
      <!-- {{ carousel_item.reference_image_md5 }} -->
      </div>
      <div class="carousel__thumbnail-caption">{{ carousel_item.title.0|truncatewords:7 }}
      </div>
    </a>
  </div>
  {% endfor %}


<!-- <div style="display: none;">
  <div class="col-md-1">
    {% if start|subtract:6 > 0 %}
      <button class="btn btn-link carousel__prev-button js-carousel-page" data-carousel_start="{{ start|subtract:6 }}">
        <span class="fa fa-caret-left"></span>
        Prev
      </button>
    {% elif start != 0 %}
      <button class="btn btn-link carousel__prev-button js-carousel-page" data-carousel_start="0">
        <span class="fa fa-caret-left"></span>
        Prev
      </button>
    {% endif %}
  </div>

  <div class="col-md-1">
    {% if start|add:6 < numFound %}
      <button class="btn btn-link carousel__next-button js-carousel-page" data-carousel_start="{{ start|add:6 }}">
        Next
        <span class="fa fa-caret-right"></span>
      </button>
    {% endif %}
  </div>
</div> -->