<div class="carousel-componenet" style="background-color: #d6d6d6; border-color: #c5c5c5; border-radius: 4px; padding: 15px 35px; margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-6">Search results for <strong>{{ q }}</strong></div>
    <div class="col-md-6 text-right">Displaying 6 of {{ numFound }} | Start over</div>
  </div>
  <div class="amy-carousel" style="height: 200px; padding: 20px; font-size: 11px;">
    {% for item in carousel %}
      <div style="margin: 10px" class="text-center">
        <img src="{{ thumbnailBase }}clip/119x80/{{ item.reference_image_md5 }}" height="80px" style="margin: auto;"><br/>
        {{ item.title.0 }}
      </div>
    {% endfor %}
  </div>
</div>
