  <div class="carousel__search-results" id="js-linkBack">
    {{ filters }}
    {% if referral == 'institution' %}
      <a href="{% url 'calisphere:repositoryView' linkBackId 'items' %}" data-pjax="js-pageContent">
        Items at {{ referralName }}
      </a>
    {% elif referral == 'campus' %}
      <a href="{% url 'calisphere:campusView' linkBackId 'items' %}" data-pjax="js-pageContent">
        Items at {{ referralName }}
      </a>
    {% elif referral == 'collection' %}
      <a href="{% url 'calisphere:collectionView' linkBackId %}" data-pjax="js-pageContent">
        Items in {{ referralName }}
      </a>
    {% elif q != '' %}
      <a href="{% url 'calisphere:search' %}" data-pjax="js-pageContent">
        Search results for "{{ q }}"
      </a>
    {% else %}
      <a href="{% url 'calisphere:search' %}" data-pjax="js-pageContent">
        More items like this on Calisphere
      </a>
    {% endif %}
  </div>

  <div class="carousel__items-number">
    {{ numFound }} items found.
  </div>

  <div class="carousel" id="js-carousel" data-carousel_start="{{ start }}" data-numFound="{{ numFound }}">
    {% include "calisphere/carousel.html" %}
  </div>
