{% load calisphere-extras %}
  {% if q != '' %}
    <div class="carousel__search-results" id="js-linkBack">
      <a href="{% url 'calisphere:search' %}?q={{ q }}{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
        {% if rq|length > 0 %}
          Search results for "{{ q }}, {{ rq|join:", " }}"
        {% else %}
          Search results for "{{ q }}"
        {% endif %}
      </a>
    </div>
  {% elif referral == 'institution' %}
    <div class="carousel__search-results" id="js-linkBack">
      <a href="{% url 'calisphere:repositoryView' linkBackId 'items' %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
        {% if rq|length > 0 %}
          Search results for "{{ rq|join:", " }}"
        {% else %}
          Other items at {{ referralName }}
        {% endif %}
      </a>
    </div>
  {% elif referral == 'campus' %}
    <div class="carousel__search-results" id="js-linkBack">
      <a href="{% url 'calisphere:campusView' linkBackId 'items' %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
        {% if rq|length > 0 %}
          Search results for "{{ rq|join:", " }}"
        {% else %}
          Other items at {{ referralName }}
        {% endif %}
      </a>
    </div>
  {% elif referral == 'collection' and linkBackId %}
    <div class="carousel__search-results" id="js-linkBack">
      <a href="{% url 'calisphere:collectionView' linkBackId %}?{% if rq|length > 0 %}{% for r in rq %}&rq={{ r }}{% endfor %}{% endif %}" data-pjax="js-pageContent">
        {% if rq|length > 0 %}
          Search results for "{{ rq|join:", " }}"
        {% else %}
          Other items in {{ referralName }}
        {% endif %}
      </a>
    </div>
  {% else %}
    <div class="carousel__search-results">
      Similar items on Calisphere
    </div>
  {% endif %}

  <div class="carousel__items-number">
    {{ numFound }} items found
  </div>
  
  <form id="js-carouselForm">
    <input type="hidden" name="q" value="{{ q }}">
    {% if rq %}
      <input type="hidden" name="rq" value="{{ rq }}">
    {% endif %}
    <input type="hidden" name="sort" value="{{ sort }}">

    {% for filter_type in filters %}
      {% for filter in filters|get_item:filter_type %}
        {% if filter_type == 'collection_data' or filter_type == 'repository_data' %}
          <input type="hidden" name="{{ filter_type }}" value="{{ filter.id }}">
        {% else %}
          <input type="hidden" name="{{ filter_type }}" value="{{ filter|slugify }}">
        {% endif %}
      {% endfor %}
    {% endfor %}
    
    <input type="hidden" name="referral" value="{{ referral }}">
    <input type="hidden" name="referralName" value="{{ referralName }}">
    <input type="hidden" name="itemId" value="{{ item_id }}">
    <input type="hidden" name="itemNumber" value="{{ start }}">
    {% if campus_slug %}
      <input type="hidden" name="campus_slug" value="{{ campus_slug }}">
    {% endif %}
  </form>

  <div class="carousel" id="js-carousel" data-carousel_start="{{ start }}" data-numFound="{{ numFound }}">
    {% include "calisphere/carousel.html" %}
  </div>
