{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block content %}

{% include "calisphere/collectionsHeader.html" %}

<div class="row">

  <div class="col-xs-12 col-sm-1">

		<div class="alphanav">
		  <ul class="alphanav__list">
		   	<li class="alphanav__list-item"><a class="{% if collection_letter == 'num' %}alphanav__list-link--selected{% else %}alphanav__list-link{% endif %}" href="{% url 'calisphere:collectionsAZ' 'num' %}">#</a></li>

			{% for char in alphabet %}
			  <li class="alphanav__list-item"><a class="{% if char == collection_letter|upper %}alphanav__list-link--selected{% else %}alphanav__list-link{% endif %}" href="{% url 'calisphere:collectionsAZ' char|lower %}">{{ char }}</a></li>
			{% endfor %}
			</ul>
		</div>

	</div>

  <div class="col-xs-12 col-sm-11 collect-row__container-border">

		{% for collection in collections %}
		  {% include "calisphere/collectionPreview.html" %}
		{% endfor %}

	</div>

</div>

{% endblock %}