<h1>Collections in Calisphere</h1>

<div class="collect-intro">

  <div class="row">
    <div class="col-xs-12 col-sm-6 collect-intro__overview">
      <p>Collections are groups of related items. Collections bring context to images, documents, videos, and audio recordings.</p>
    </div>
    <div class="col-xs-12 col-sm-6 collect-intro__description">
      <p>All of the items on Calisphere are organized into collections. Some collections represent a particular topic or format, some have items created by the same person, and some showcase an institution’s special program or initiative. Use the tabs below to explore the hundreds of collections on Calisphere.</p>
    </div>
  </div>

  <!-- Dynamically add class 'button__secondary' to <a> elements below for selected state -->

  <div class="row">
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block {% if random %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Random Explore</a>
    </div>
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block {% if alphabet %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsAZ' 'num' %}" data-pjax="js-pageContent">A - Z</a>
    </div>
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block {% if collection_q %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsTitleSearch' %}" data-pjax="js-pageContent">Title Search</a>
    </div>
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block {% if themedCollections %}button__secondary{% endif %}" href="{% url 'calisphere:themedCollections' %}" data-pjax="js-pageContent">Themed Collections</a>
    </div>
  </div>

</div>
