{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block content %}

<a href="">Random Explore</a> - <a href="">A-Z</a> - <a href="">Title Search</a> - <a href=""Themed Collections</a>Themed Collections</a><br>

{% block collectionDirectoryContent %}

{% for collection in collections %}
  {{ collection.name }}<br/>
  {{ collection.description }}<br/>
  {% for item in collection.display_items %}
    <img src="{{ thumbnailUrl }}crop/210x210/{{ item.reference_image_md5 }}">
  {% endfor %}
  <a href="{% url 'calisphere:collectionView' collection.collection_id %}">View Collection</a><br/>
  <hr>
{% endfor %}

{% endblock %}

{% endblock %}