{% extends "calisphere/collectionsDirectory.html,calisphere/pjaxTemplates/collectionsDirectory.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='Collections Random Explore' description='' %}
{% endblock %}

{% block collectionContent %}

  <div id="js-mosaicContainer">
  {% for collection in collections %}
    {% include "calisphere/collectionPreview.html" %}
  {% endfor %}
  </div>

  <!-- {{ pages }} pages -->

  <div id="js-collectionPagination">
    {% if prev_page %}
    <a class="btn btn-link related-coll__prev-button" href="{% url 'calisphere:collectionsDirectory' %}?page={{ prev_page }}">
      <span class="fa fa-caret-left"></span>
      <abbr title="Previous">Prev</abbr>
    </a>
    {% endif %}

    {% if next_page %}
    <a class="btn btn-link related-coll__next-button js-next" href="{% url 'calisphere:collectionsDirectory' %}?page={{ next_page }}">
      Next
      <span class="fa fa-caret-right"></span>
    </a>
    {% endif %}
  </div>

  <!-- <div id="js-loadingWrapper" style="border-top: 1px solid #8b8d8e; margin-top: 20px;"> -->
    <div id="js-loading" style="display: block; width: 58px; height: 58px; margin: 40px auto 20px auto;">
    </div>
  <!-- </div> -->

{% endblock %}
