{% extends "calisphere/searchResults.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block breadcrumbs %}{% endblock %}

{% block pageTitle %}<h2 class="text__page-heading">{{ collection.name }}</h2>{% endblock %}

{% block additionalInfo %}

<div class="collection-intro">

  <div class="col-md-3">
    <div class="collection-intro__institution">
      <h2 class="collection-intro__institution-heading">Owning Institution:
        <a href="" class="collection-intro__institution-heading-link">
        {% for repository in collection.repository %}
          {{ repository.name }},
        {% endfor %}
        {% for campus in collection.campus %}
          {{ campus.name }}
        {% endfor %}
        </a>
      </h2>
    </div>
  </div>

  <div class="col-md-9">
    <div class="collection-intro__about">
      <h3 class="collection-intro__about-heading">About this Collection</h3>
      <span class="collection-intro__about-description">{{ collection.description }}
      </span>
    </div>
  </div>

</div>

{% endblock %}

{% block objectsFound %}
{{ numFound }} Objects Found in this collection
{% endblock %}

{% block relatedCollections %}
{% endblock %}