<p class="text__breadcrumb-nav"><a href="/">Calisphere</a> > <a href="/collections/">Collections</a></p>

<h1 class="text__page-heading">Collections in Calisphere</h1>

<div class="collect-intro">

  <div class="row">
    <div class="col-xs-12 col-sm-6 collect-intro__overview">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum in autem id sint consectetur, optio nobis ipsam modi dolores dolorum necessitatibus iste tempore voluptas unde quam architecto expedita praesentium, magni.</p>
    </div>
    <div class="col-xs-12 col-sm-6 collect-intro__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo totam explicabo reiciendis rem perferendis ducimus ea neque ratione aut, atque quas nulla, laborum ipsam voluptatum, animi harum accusantium quasi adipisci?</p>
    </div>
  </div>

  <!-- Dynamically add class 'button__secondary' to <a> elements below for selected state -->

  <div class="row">
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block {% if random %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsDirectory' %}">Random Explore</a>
    </div>
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block {% if alphabet %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsAZ' 'a' %}">A - Z</a>
    </div>
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block {% if collection_q %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsTitleSearch' %}">Title Search</a>
    </div>
    <div class="col-xs-6 col-sm-3 collect-intro__buttons">
      <a class="btn btn-default btn-block" href="">Themed Collections</a>
    </div>
  </div>

</div>
