{% extends "calisphere/collectionsDirectory.html,calisphere/pjaxTemplates/collectionsDirectory.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block title %}: Themed Collections{% endblock %}

{% block collectionContent %}

<div class="titlesearch">

  <div class="alert alert-warning titlesearch__form">
    <h3 style="margin-top: 0"><i class="fa fa-exclamation-triangle"></i> This feature coming soon.</h3>
    <p>This tab will enable users to browse and go to Themed Collections, California Cultures, and JARDA on the old Calisphere site, while they still reside there.</p>
  </div>

</div>

{% for collection in collections %}
  {% include "calisphere/collectionPreview.html" %}
{% endfor %}

{% endblock %}
