{% load static %}
{% load humanize %}
<div class="row collect-row__link js-collectionMosaic">

	<div class="col-xs-12 col-sm-4 collect-row__summary">
    <a href="{% url 'calisphere:collectionView' collection.collection_id %}" data-pjax="js-pageContent">
      <h3 class="collect-row__title">{{ collection.name }}</h3>
    </a>
    {% if 'description' in collection %}
      <p>{{ collection.description|truncatewords:100 }}</p>
    {% endif %}
    <p>{% if 'institutions' in collection %}Institution: {% for institution in collection.institutions %}{{ institution }}{% endfor %}{% endif %}</p>
  </div>

  <p class="collect-row__item-number"><strong>{{ collection.numFound|intcomma }} Item{{ collection.numFound|pluralize }}</strong></p>

  <div class="col-xs-12 col-sm-8">
  	<a href="{% url 'calisphere:collectionView' collection.collection_id %}" class="collect-row__mosaic" data-pjax="js-pageContent">
  		<div class="col-sm-6">
	  		{% for item in collection.display_items %}
          {% if forloop.counter <= 6 %}
          <div class="collect-row__container{{ forloop.counter }}">
            {% if 'reference_image_md5' in item %}
              <img class="thumbnail__image"
              src="{{ thumbnailUrl }}crop/210x210/{{ item.reference_image_md5 }}"
              srcset="{{ thumbnailUrl }}crop/210x210/{{ item.reference_image_md5 }} 60w, {{ thumbnailUrl }}crop/310x310/{{ item.reference_image_md5 }} 50w"
              sizes="100vw"
              alt="{{ item.title.0|truncatewords:12 }}">

              {% if item.type_ss.0|lower == "moving image" %}
              <div class="collect-row__overlay-icon{% if forloop.counter = 1 %}--large{% endif %} fa-video-camera"></div>
              {% elif item.type_ss.0|lower == "sound"%}
              <div class="collect-row__overlay-icon{% if forloop.counter = 1 %}--large{% endif %} fa-volume-up"></div>
              {# elif item.type_ss.0|lower == "text"#}
              <!-- <div class="collect-row__overlay-icon{% if forloop.counter = 1 %}--large{% endif %} fa-file-text-o"></div> -->
              {% elif item.type_ss.0|lower == "dataset" %}
              <div class="collect-row__overlay-icon{% if forloop.counter = 1 %}--large{% endif %} fa-bar-chart"></div>
              {% endif %}

            {% else %}
              {% if item.type_ss.0|lower == "moving image" %}
              <div class="collect-row__tile-icon{% if forloop.counter = 1 %}--large{% endif %} fa-video-camera"></div>
              {% elif item.type_ss.0|lower == "sound"%}
              <div class="collect-row__tile-icon{% if forloop.counter = 1 %}--large{% endif %} fa-volume-up"></div>
              {% elif item.type_ss.0|lower == "text"%}
              <div class="collect-row__tile-icon{% if forloop.counter = 1 %}--large{% endif %} fa-file-text-o"></div>
              {% elif item.type_ss.0|lower == "dataset" %}
              <div class="collect-row__tile-icon{% if forloop.counter = 1 %}--large{% endif %} fa-bar-chart"></div>
              {% elif item.type_ss.0|lower == "image" %}
              <div class="collect-row__tile-icon{% if forloop.counter = 1 %}--large{% endif %} fa-picture-o"></div>
              {% endif %}
            {% endif %}
          </div>

		    	{% if forloop.counter = 3 %}
		    		</div>
		    		<div class="col-sm-6">
		    	{% endif %}
          {% endif %}
      		{% endfor %}
      		<div class="collect-row__button">
        		<div class="aspect-ratio-content">
          			View <br>Collection
        		</div>
      		</div>
    	</div>
    </a>
  </div>
</div>
