<h1>Collections in Calisphere</h1>

<div class="collect-intro">

  <div class="row">
    <div class="col-xs-12 col-sm-6 collect-intro__overview">
      <p>All of the items on Calisphere are organized into collections. Collections bring context to images, documents, videos, and audio recordings. Some collections represent a particular topic or format, some have items created by the same person, and some showcase an institution’s special project or initiative. Use the tabs below to explore the hundreds of collections on Calisphere.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="collect-intro__sidebar">
        <div class="col-xs-6 col-sm-4">
          <img class="collect-intro__sidebar-img" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/awaiting-evacuation-bus.jpg" alt="Grandfather and grandchildren awaiting evacuation bus">
        </div>
        <div class="col-xs-6 col-sm-8">
          <h2 class="collect-intro__sidebar-heading">Looking for <abbr title="Japanese American Relocation Digital Archives">JARDA</abbr> and other themed collections?</h2>
          <p>The Japanese American Relocation Digital Archive (JARDA), California Cultures, and California History themed collections are currently still hosted on the old Calisphere site.</p>
          <p>Click the “Themed Collections” tab below to browse them before making the jump.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Dynamically add class 'button__secondary' to <a> elements below for selected state -->

  <div class="collect-intro__button-container">
    <a class="btn btn-default collect-intro__button {% if random %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Random Explore</a>
    <a class="btn btn-default collect-intro__button {% if alphabet %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsAZ' 'num' %}" data-pjax="js-pageContent">A - Z</a>
    <a class="btn btn-default collect-intro__button {% if collection_q %}button__secondary{% endif %}" href="{% url 'calisphere:collectionsTitleSearch' %}" data-pjax="js-pageContent">Title Search</a>
    <a class="btn btn-default collect-intro__button {% if themedCollections %}button__secondary{% endif %}" href="{% url 'calisphere:themedCollections' %}" data-pjax="js-pageContent">Themed Collections</a>
  </div>

</div>
