{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block content %}

{% include "calisphere/collectionsHeader.html" %}

<div class="row">

  <div class="col-xs-12 col-sm-1">

		<div class="alphanav">
		  <ul class="alphanav__list">
			{% for char in alphabet %}
			  <li class="alphanav__list-item"><a class="alphanav__list-link" href="{% url 'calisphere:collectionsAZ' char %}">{{ char }}</a></li>
			{% endfor %}
			</ul>
		</div>

	</div>

  <div class="col-xs-12 col-sm-11">

		{% for collection in collections %}
		  {% include "calisphere/collectionPreview.html" %}
		{% endfor %}

	</div>

</div>

{% endblock %}