{% extends "calisphere/base.html" %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block title %}: Collections Directory{% endblock %}

{% block content %}

  {% include "calisphere/collectionsHeader.html" %}
  
  {% block collectionContent %}
  {% endblock %}

{% endblock %}

{% block footerScripts %}
  <script>
    $(document).ready(function() {
      $('#js-mosaicContainer').infinitescroll({
        navSelector: "#js-collectionPagination",
        nextSelector: "#js-collectionPagination a.js-next",
        itemSelector: "#js-mosaicContainer div.js-collectionMosaic",
        debug: false,
        loading: {
          finishedMsg: "All collections showing.",
          img: "{% static 'images/orange-spinner.gif' %}",
          msgText: "",
          selector: "#js-loading"
        }
      });
    });
  </script>
{% endblock %}
