<div class="meta-block">
  <dl class="meta-block__list">
    <dt class="meta-block__type">Title</dt>
    <dd class="meta-block__defin">{{ item.selectedComponent.label }}</dd>

    {% if item.selectedComponent.alternativeTitle %}
      <dt class="meta-block__type">Alternative Title</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.alternativeTitle %}
    {% endif %}

    {% if item.selectedComponent.creator %}
      <dt class="meta-block__type">Creator</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.creator %}
    {% endif %}

    {% if item.selectedComponent.contributor %}
      <dt class="meta-block__type">Contributor</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.contributor %}
    {% endif %}

    {% if item.selectedComponent.date %}
      <dt class="meta-block__type">Date Created and/or Issued</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.date.0.displayDate %}
    {% endif %}

    {% if item.selectedComponent.publisher %}
      <dt class="meta-block__type">Publication Information</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.publisher %}
    {% endif %}

    {% if item.selectedComponent.rights %}
      <dt class="meta-block__type">Rights Information</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.rights %}
    {% endif %}

    {% if item.selectedComponent.rightsHolder %}
      <dt class="meta-block__type">Rights Holder and Contact</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.rightsHolder %}
    {% endif %}

    {% if item.selectedComponent.rightsNote %}
      <dt class="meta-block__type">Rights Notes</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.rights_note %}
    {% endif %}

    {% if item.selectedComponent.dateCopyrighted %}
      <dt class="meta-block__type">Date of Copyright</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.dateCopyrighted %}
    {% endif %}

    {% if item.selectedComponent.description %}
      <dt class="meta-block__type">Description</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.description %}
    {% endif %}

    {% if item.selectedComponent.type %}
      <dt class="meta-block__type">Type</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.type %}
    {% endif %}

    {% if item.selectedComponent.format %}
      <dt class="meta-block__type">Format</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.format %}
    {% endif %}

    {% if item.selectedComponent.genre %}
      <dt class="meta-block__type">Form/Genre</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.genre %}
    {% endif %}

    {% if item.selectedComponent.extent %}
      <dt class="meta-block__type">Extent</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.extent %}
    {% endif %}

    {% if item.selectedComponent.identifier %}
      <dt class="meta-block__type">Identifier</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.identifier %}
    {% endif %}

    {% if item.selectedComponent.language %}
      <dt class="meta-block__type">Language</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.language.0.iso639_3 %}
    {% endif %}

    {% if item.selectedComponent.subject %}
      <dt class="meta-block__type">Subject</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.subject %}
    {% endif %}

    {% if item.selectedComponent.temporalCoverage %}
      <dt class="meta-block__type">Time Period</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.temporalCoverage %}
    {% endif %}

    {% if item.selectedComponent.spatial %}
      <dt class="meta-block__type">Place</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.spatial %}
    {% endif %}

    {% if item.selectedComponent.source %}
      <dt class="meta-block__type">Source</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.source %}
    {% endif %}

    {% if item.selectedComponent.relation %}
      <dt class="meta-block__type">Relation</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.relation %}
    {% endif %}

    {% if item.selectedComponent.provenance %}
      <dt class="meta-block__type">Provenance</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.provenance %}
    {% endif %}

    {% if item.selectedComponent.location %}
      <dt class="meta-block__type">Location</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.location %}
    {% endif %}

    {% if item.selectedComponent.transcription %}
      <dt class="meta-block__type">Transcription</dt>
      {% include "calisphere/component-metadata-dd.html" with value=item.selectedComponent.transcription %}
    {% endif %}

    <hr style="width: 100%">

    <!-- should include institution name: UC Berkely, Bancroft Library -->
    <dt class="meta-block__type">Parent Item</dt>
    <dd class="meta-block__defin"><a href="{% url 'calisphere:itemView' item.id %}" data-pjax="js-pageContent">{{ item.title.0 }}</a></dd>

    {% if item.parsed_repository_data %}
      <dt class="meta-block__type">Contributing Institution</dt>
      <dd class="meta-block__defin">
        {% for repository in item.parsed_repository_data %}
          <a
            href="{% url 'calisphere:repositoryView' repository.id 'collections' %}"
            data-pjax="js-pageContent"
            data-ga-code="{{ repository.ga_code }}"
            data-ga-dim2="{{ repository.slug }}"
          >
          {% if 'campus' in repository %}
            {{ repository.campus }},
          {% endif %}
          {{ repository.name }}</a> <br>
        {% endfor %}
      </dd>
    {% endif %}

    {% if item.parsed_collection_data %}
      <dt class="meta-block__type">Collection</dt>
      <dd class="meta-block__defin">{% for collection in item.parsed_collection_data %}
        <a
          href="{% url 'calisphere:collectionView' collection.id %}"
          data-pjax="js-pageContent"
          class="js-relatedCollection"
          data-ga-dim1="{{ collection.local_id }}{{ collection.slug }}"
       >{{ collection.name }}</a> <br> {% endfor %}</dd>
    {% endif %}

  </dl>

</div>
