<div class="meta-block">
  <dl class="meta-block__list">
    <dt class="meta-block__type">Title</dt>
    <dd class="meta-block__defin">{{ item.selectedComponent.label }}</dd>

    {% if item.selectedComponent.transcription %}
      <dt class="meta-block__type">Transcription</dt>
      <dd class="meta-block__defin">{{ item.selectedComponent.transcription }}</dd>
    {% endif %}

    <hr style="width: 100%">
    
    <!-- should include institution name: UC Berkely, Bancroft Library -->
    <dt class="meta-block__type">Parent Item</dt>
    <dd class="meta-block__defin"><a href="{% url 'calisphere:itemView' item.id %}">{{ item.title.0 }}</a></dd>
    
    {% if item.parsed_repository_data %}
      <dt class="meta-block__type">Contributing Institution</dt>
      <dd class="meta-block__defin">
        {% for repository in item.parsed_repository_data %}
          <a href="{% url 'calisphere:repositoryView' repository.id 'collections' %}">
          {% if repository.campus %}
            {{ repository.campus }}, 
          {% endif %}
          {{ repository.name }}</a> <br>
        {% endfor %}
      </dd>
    {% endif %}
    
    {% if item.parsed_collection_data %}
      <dt class="meta-block__type">Collection</dt>
      <dd class="meta-block__defin">{% for collection in item.parsed_collection_data %}<a href="{% url 'calisphere:collectionView' collection.id %}">{{ collection.name }}</a> <br> {% endfor %}</dd>
    {% endif %}

</div>
