{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='For Contributors' description='' %}
{% endblock %}

{% block content %}

<h1>For Contributors</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

		<p>Calisphere aggregates digital content adn metadata from established collecting institutions (such as libraries, archives, museums, and historical societies) in California. If you represent such an organization and are interested in contributing digital content to Calisphere, please read on. Contributing is free!</p>
		<h2>Contributing to Calisphere: a workflow in transition</h2>
		<p>In September 2015, we introduced a shift in our ingest workflow, or how we take in content to Calisphere.</p>
		<p>In the past, we required institutions to generate METS objects and submit them to us for hosting here on the site. Now, we are moving towards a metadata harvesting model, where we can pull in metadata that points to content hosted on your own site or system. Our goal is to make it easy for institutions of all sizes and with varying technical infrastructure to contribute to Calisphere. (We are still supporting the old workflow for the time being, for institutions that would like to continue to submit METS. <a href="http://www.cdlib.org/services/access_publishing/dsc/contribute/submitmets.html">Learn more.</a></p>
		<h2>Baseline requirements for harvest</h2>
		<p>A collection must at minimum meet the following requirements in order for us to consider harvesting it:</p>
		<ul>
		<li>It must be digital (i.e., not metadata-only records)</li>
		<li>It must be publicly available</li>
		<li>It must be hosted on a stable system or site</li>
		</ul>
		<h2>It's a twofer!</h2>
		<p>All metadata that is aggregated and displayed on Calisphere is also pushed to the <a href="http://dp.la">Digital Public Library of America (DPLA) website and platform</a>.</p>
		<h2>Nominate your collections for harvesting</h2>
		<p>Because our harvest workflow is still new, we are initially taking in collections slowly and selectively. This will help us refine our technology and ensure that we have the capacity to scale up.</p>
		<p> We are currently evaluating collections and adding them to a harvesting queue. If you have a collection or collections that you'd like to have harvested, and that meet the baseline requirements above, please <a href="/contact"  data-pjax="js-pageContent">contact us</a>.
  </div>

  <div class="col-sm-4 static__sidebar">

  	<h2 class="static__sidebar-heading">Interested in contributing?</h2>

  	<p>Please <a href="/contact">contact us</a> to start a conversation about your collections and your options for making them available on Calisphere.</p>
  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
