<div class="col-xs-12">

  <footer class="global-footer">

    <div class="global-footer__search">
      <form class="global-footer__search-form" role="search" id="js-footerSearch" action="{% url 'calisphere:search' %}" method="get">
        <label for="global-footer__search-field" class="global-footer__search-label">Search the collections</label>
        <div class="input-group">
          <input id="global-footer__search-field" form="js-footerSearch" name="q" value="{{ q }}" type="search" class="form-control global-footer__search-field js-globalSearch">
          <span class="input-group-btn">
            <button class="btn btn-default global-footer__search-button" type="submit"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="global-footer__nav">
      <ul class="global-footer__nav-list--mobile">
        <li class="global-footer__nav-list-item--mobile">
          <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:home' %}">Home</a>
        </li>
        <li class="global-footer__nav-list-item--mobile">
          <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:about' %}" data-pjax="js-pageContent">About</a>
        </li>
        <li class="global-footer__nav-list-item--mobile">
          <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:contact' %}" data-pjax="js-pageContent">Contact</a>
        </li>
        <li class="global-footer__nav-list-item--mobile">
          <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:help' %}" data-pjax="js-pageContent">Help</a>
        </li>
        <li class="global-footer__nav-list-item--mobile">
          <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">Contributing Institutions</a>
        </li>
        <li class="global-footer__nav-list-item--mobile">
          <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:collectionsDirectory' %}" data-pjax="js-pageContent">Collections</a>
        </li>
      </ul>
      <ul class="global-footer__nav-list">
        <li class="global-footer__nav-list-item">
          <a class="global-footer__nav-link" href="{% url 'calisphere:termsOfUse' %}" data-pjax="js-pageContent">Terms of Use</a>
        </li>
        <li class="global-footer__nav-list-item">
          <a class="global-footer__nav-link" href="{% url 'calisphere:privacyStatement' %}" data-pjax="js-pageContent">Privacy Statement</a>
        </li>
        <li class="global-footer__nav-list-item">
          <a class="global-footer__nav-link" href="{% url 'calisphere:siteMap' %}" data-pjax="js-pageContent">Site Map</a>
        </li>
      </ul>
    </div>

    <div class="global-footer__copyright">
      <p>Calisphere is a service of the
        <a href="http://libraries.universityofcalifornia.edu/">UC Libraries</a>, powered by the
        <a href="http://www.cdlib.org/">California Digital Library</a>.</p>

      <div class="col-xs-6 global-footer__social-icons-text">
        <p>Connect with us:</p>
      </div>
      <div class="col-xs-6 global-footer__social-icons">
        <a class="global-footer__twitter-icon"
           title="Twitter"
           href="https://twitter.com/calisphere"><span class="fa fa-twitter-square"></span></a>
        <a class="global-footer__facebook-icon"
           title="Facebook"
           href="https://www.facebook.com/calisphere"><span class="fa fa-facebook-square"></span></a>
      </div>

    </div>

  </footer>

</div>
