<header class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="row">
      <div class="col-md-4">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'calisphere:search' %}">Calisphere</a>
        </div>
      </div>
      <div class="col-md-4">
        <form class="navbar-form" id="searchForm" role="search" action="{% url 'calisphere:search' %}" method="get">
          <div class="form-group">
            <div class="input-group">
              <label class="sr-only" for="searchQuery">Enter a keyword search query</label>
              <input id="searchQuery" type=search name="q" value="{{ q }}" class="form-control" placeholder="Search Calisphere"/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search" style="line-height: inherit;"></span>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#">Donate</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <ul class="nav navbar-nav col-md-12">
        <li class="col-md-6 text-center">
          <a href="{% url 'calisphere:collectionsExplore' %}" class="navbar-btn">Collections</a>
        </li>
        <li class="col-md-6 text-center">
          <a href="#" class="navbar-btn">Contributing Institutions</a>
        </li>
      </ul>
    </div>
  </nav>
</header>