
<header class="global-header">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-2 col-sm-12 global-header__bars-icon js-global-header__bars-icon">
          <i class="fa fa-bars"></i>
        </div>
        <div class="col-xs-8 col-sm-12 global-header__logo">
          <a class="global-header__logo-link" href="{% url 'calisphere:home' %}">
          </a>
        </div>
        <div class="col-xs-2 col-sm-12 global-header__search-icon js-global-header__search-icon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 global-header__search js-global-header__search">
      <form class="global-header__search-form" role="search" id="js-searchForm" action="{% url 'calisphere:search' %}" method="get">
        <label for="global-search__field" class="global-search__label">Search the collections</label>
        <div class="input-group">
          <input id="global-search__field" form="js-searchForm" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
          <span class="input-group-btn">
            <button class="btn btn-default global-search__button" type="submit"><span class="fa fa-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-4 global-header__nav js-global-header__mobile-links">
      <ul class="global-header__nav-list">
        <li class="global-header__nav-list-item">
          <a class="global-header__nav-link" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
        </li>
        <li class="global-header__nav-list-item">
          <a class="global-header__nav-link" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
        </li>
        <li class="global-header__nav-list-item">
          <a class="global-header__nav-link" href="{% url 'calisphere:about' %}">About</a>
        </li>
        <li class="global-header__nav-list-item">
          <a class="global-header__nav-link" href="{% url 'calisphere:contact' %}">Contact</a>
        </li>
        <li class="global-header__nav-list-item">
          <a class="global-header__nav-link" href="{% url 'calisphere:help' %}">Help</a>
        </li>
        <!-- li class="global-header__nav-list-item">
          <a class="global-header__nav-link" href="">Donate</a>
        </li -->
      </ul>
    </div>

  </div>

  <div class="global-header__bar">
    <ul class="global-header__bar-list">
      <li class="global-header__bar-list-item">
        <a class="global-header__bar-links" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
      </li>
      <li class="global-header__bar-list-item">
        <a class="global-header__bar-links" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
      </li>
    </ul>
  </div>

</header>
