{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block title %}: Help{% endblock %}

{% block content %}

<h1>Help</h1>

<div class="static">

  <div class="col-sm-8 static__main">

		<p>Calisphere brings together thousands of digital images, documents, audio and video recordings from the University of California and other educational and cultural heritage institutions across the state.</p>

		<p>Below are some frequently asked questions about finding, using, and obtaining more information about these materials.</p>

		<ul>
			<li><a href="#1">What are my options for finding content on Calisphere?</a></li>
			<li><a href="#2">Do you have any search tips?</a></li>
			<li><a href="#3">Why do I have to go another website to zoom, download, and play some items but not others?</a></li>
			<li><a href="#4">How can I find out more about an item or collection?</a></li>
			<li><a href="#5">How can I get a high-quality reproduction of an item?</a></li>
			<li><a href="#6">Do I need permission to use items I find on Calisphere?</a></li>
			<li><a href="#7">What is the correct way to cite an item?</a></li>
			<li><a href="#8">I noticed an error in the description of an item or collection—or I have more information to share. How do I report it?</a></li>
			<li><a href="#9">I found something great on Calisphere! Can I share my story?</a></li>
			<li><a href="#10">Can I suggest improvements to the site?</a></li>
		</ul>

		<h2 id="1">What are my options for finding content on Calisphere?</h2>

		<p>Currently Calisphere offers three main ways into the collections:</p>

		<ul>
			<li><strong>Search</strong>: Find items and related collections using keyword searches. See below for search tips.</li>
			<li><strong>Browse by institution</strong>: Explore the libraries, archives, and museums that have contributed collections to Calisphere. View all <a href="/institutions/uc-partners/">University of California contributors</a> and our <a href="/institutions/statewide-partners/">statewide partners</a>.</li>
			<li><strong>Browse by collection</strong>: Collections are groups of items related by format, topic, or creator. They provide context for materials. Browse collections <a href="/collections/">at random</a>, <a href="/collections/num/">from A-Z</a>, or with a <a href="/collections/titleSearch/">title search</a>.</li>
		</ul>

		<h2 id="2">Do you have any search tips?</h2>

		<p>Yes indeed.</p>

		<ul>
			<li><strong>Exact phrase</strong>: To find items with an exact phrase, use quotes [" "] around your keyword phrase. For example: "sierra buttes" or "Malcolm X."</li>
			<li><strong>Truncation</strong>: An asterisk [*] can be used as a wildcard to replace one or many characters. For example: farm* will retrieve farm, farmers, farming, farmhouse, farmers' market, etc.</li>
			<li><strong>Boolean search</strong>: Our search does not support Boolean operators (<span class="text-uppercase">and</span>, <span class="text-uppercase">or</span>, <span class="text-uppercase">not</span>). However, entering a multiple keyword search will work like Boolean <span class="text-uppercase">and</span>. Results will be returned only when <span class="text-uppercase">all</span> of the keywords appear. For example: sierra mining will retrieve items with both sierra and mining.</li>
			<li><strong>Filters</strong>: Use filters to further refine a search and drill down into items of interest. When you filter by item type (format), decade, contributing institution, and collection, your search results will automatically refresh.</li>
			<li><strong>Sort</strong>: Organize your search results according to what’s important to you. Sort by relevance (the prevalence of your search terms in item information), title alphabetically and reverse, or date.</li>
			<li><strong>Views</strong>: Change the view of your results to suit your research style. The thumbnail view (default) lets you see a lot of items at once. Toggle the list view to see bigger images and more information. Your search results will also display at the top of the item you select.</li>
		</ul>

		<h2 id="3">Why do I have to go another website to zoom, download, and play some items but not others?</h2>

		<p>Calisphere brings together collections from many different institutions and, accordingly, a variety of different technical platforms. In some cases, the files are hosted on Calisphere’s servers, which means that you can zoom, download, and play the items right here on the site. In other cases, we’re referring to items hosted on external websites, which means you must click through to those sites to perform these more advanced functions.</p>

		<h2 id="4">How can I find out more about an item or collection?</h2>

		<p>Because Calisphere does not own any of the original materials on this site, we aren’t very helpful when it comes to questions about them. Our contributing institutions, on the other hand, are incredibly knowledgeable. If you want to learn more about an item or collection you find on this site, contact the institution that contributed it. They’ll be happy to assist you.</p>

		<p>To contact the contributing institution for a given item, simply click the “contact owner” button and send a message. Or, visit the <a href="/institutions/uc-partners/">institution's main page</a> for phone and email information.</p>

		<h2 id="5">How can I get a high-quality reproduction of an item I find here?</h2>

		<p>If you require a high-resolution image or a copy of a text, audio, or video file, contact the institution that contributed it to Calisphere. Note that availability, protocols, and fees for obtaining files may differ among contributing institutions.

		<p>To contact the contributing institution for a given item, simply click the “contact owner” button and send a message. Or, visit the <a href="/institutions/uc-partners/">institution's main page</a> for phone and email information.</p>

		<h2 id="6">Do I need permission to use items I find on Calisphere?</h2>

		<p>The collections on Calisphere are intended for research, teaching, and private study. Some uses—such as use in an article, book, or website—may require permission from or be subject to restrictions by the copyright owner and/or contributing institution. For more information, consult Calisphere’s <a href="/terms/">Terms of Use</a>.</p>

		<p>If you determine that you require permission to publish, reproduce, or otherwise use an item you find on Calisphere&mdash;or if you need more information about the copyright status of a particular item in order to make that determination—please contact the contributing institution.</p>

		<p>To contact the contributing institution for a given item, simply click the “contact owner” button and send a message. Or, visit the <a href="/institutions/uc-partners/">institution's main page</a> for phone and email information.</p>

		<h2 id="7">What is the correct way to cite an item?</h2>

		<p>When citing an item on the site, please provide information about the item so that others may find more information about the original. Include the name of the contributing institution, a link to the item, and title and date information when available. Click the citation button on a given item to easily find this information. You can then use your preferred style guide for formatting the citation. The Library of Congress provides additional guidance on <a href="http://www.loc.gov/teachers/usingprimarysources/citing.html">citing primary source materials</a>.</p>

		<h2 id="8">I noticed an error in the description of an item or collection—or I have more information to share. How do I report it?</h2>

		<p>Any suggested change to an item or collection on Calisphere should be directed to the institution that contributed it. Use the “Contact Owner” button to alert the institution to an error or provide additional information.</p>

		<h2 id="9">I found something great on Calisphere! Can I share my story?</h2>

		<p>Yes! If this site has helped you advance your research, complete a project, find something meaningful, or do anything else that’s important to you, <a href="/contact/">we'd love to hear about it</a>. Stories like yours help us obtain additional funding so we can continue to grow and improve Calisphere.</p>

		<h2 id="10">Can I suggest improvements to the site?</h2>

		<p>We are always on the lookout for new ways to enhance the user experience on Calisphere. Feel free to <a href="/contact/">contact us</a> with feature requests, ideas, and yes&mdash;even complaints. We’ll try our best to address these in our ongoing development of the site.</p>

  </div>

  <div class="col-sm-4 static__sidebar">

  	<h3 class="static__sidebar-heading">Share your story</h3>
  	<p>Has Calisphere helped you advance your research, complete a project, or find something meaningful? We'd love to hear about it. Stories like yours help us obtain additional funding so we can continue to grow and improve the site.</p><p>Please <a href="/contact/">send us a message</a>.</p>

  </div>

</div>

{{ q }}
{% endblock %}
