{% extends "calisphere/base.html" %}

{% block globalSearch %}
<div class="col-xs-12 col-sm-4 global-header__search--homepage js-global-header__search--homepage">
	<form class="global-header__search-form--homepage" role="search" id="js-searchForm" action="{% url 'calisphere:search' %}" method="get">
{% endblock %}

{% block content %}

<div class="home">

	<div class="home__main-section">


		<div class="{{ lock_up.mast.class }}">
			<h1 class="home__mast-heading">The deeper you look, the more you'll discover.</h1>
      <form role="search" id="js-homeForm" action="{% url 'calisphere:search' %}" method="get">
			<div class="home__search">
	      <label for="home__search-field" class="sr-only">Search the collections</label>
	      <div class="input-group">
	        <input id="home__search-field" form="js-homeForm" type="search" class="form-control input-lg" placeholder="Search the collections" name="q">
	        <span class="input-group-btn">
	          <button class="btn btn-default btn-lg home__search-button" type="submit">
	          </button>
	        </span>
	      </div>
	    </div>
      </form>
	    <a href="{% url 'calisphere:itemView' lock_up.mast.id  %}" class="home__img-credit--gradient">
        {{ lock_up.mast.title }} / {{ lock_up.mast.contributor }}
      </a>

		</div>

		<div class="row home__img-main-row">

			<div class="col-xs-12 col-sm-8">
				<p class="home__img-main1-text">Calisphere is a gateway to digital collections from California's great libraries, archives, and museums. Discover over 375,000 images, texts, and recordings&#8212;and counting.</p>
			</div>

			<div class="col-xs-8">
				<div class="{{ lock_up.main1.class }}">
					<a href="{% url 'calisphere:itemView' lock_up.main1.id %}" class="home__img-credit">
            {{ lock_up.main1.title }} / {{ lock_up.main1.contributor }}
          </a>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="{{ lock_up.main2.class }}">
					<a href="{% url 'calisphere:itemView' lock_up.main2.id %}" class="home__img-credit--gradient">
            {{ lock_up.main2.title }} / {{ lock_up.main2.contributor }}
          </a>
				</div>
			</div>

		</div>

	</div>

	<h2 class="home__heading2">Explore University of California collections:</h2>

	<div class="row home__thumbnail">

  {% for feature in uc_partners %}
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
			<a href="{% url 'calisphere:campusView' feature.id 'collections' %}" class="home__thumbnail-link" style="background-image: url('{{ ucldcImages }}/{{ feature.thumb }}');">
				<div class="home__thumbnail-caption--uc">
					{{ feature.name }}
				</div>
			</a>
		</div>
  {% endfor %}

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="home__contributing-block">
				<a href="{% url 'calisphere:campusDirectory' %}" class="home__contributing-link">
					<span class="home__contributing-content">View all contributing institutions</span>
				</a>
			</div>
		</div>

	</div>

	<div class="row home__thumbnail">

		<h2 class="home__heading2">Featured statewide partners:</h2>


  {% for feature in statewide_partners %}
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
			<a href="{% url 'calisphere:repositoryView' feature.id 'collections' %}" class="home__thumbnail-link" style="background-image: url('{{ ucldcImages }}/{{ feature.thumb }}');">
				<div class="home__thumbnail-caption--inst">
					{{ feature.name }}
				</div>
			</a>
		</div>
  {% endfor %}

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="home__contributing-block">
				<a href="{% url 'calisphere:statewideDirectory' %}" class="home__contributing-link--inst">
					<span class="home__contributing-content--inst">View all statewide partners</span>
				</a>
			</div>
		</div>

	</div>

</div>

{{ q }}
{% endblock %}
