{% load staticfiles %}

<!doctype html>
<html lang="en" class="no-js no-jquery">
  <head>
    {% block page-metadata %}
    {% include "calisphere/microdata.html" with title='' description='' %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="apple-touch-icon-precomposed" href="/favicon-152x152.png?v=2">
    {% if devMode %}
      <link rel="stylesheet" href="{% static "bower_components/fontawesome/css/font-awesome.css" %}" />
      <link rel="stylesheet" href="{% static "bower_components/mediaelement/build/mediaelementplayer.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% else %}
      <link rel="stylesheet" href="{% static "styles/vendor.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% endif %}
    <script>
      //no-jquery class is now effectively a no-js class
      document.getElementsByTagName('html')[0].classList.remove('no-jquery');
    </script>
    {% include "calisphere/ga_site_code.html" %}
    {% include "calisphere/walkme.html" %}
  </head>
  <body>

    <div class="container-fluid">
      <header class="global-header">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="row">
              <div class="col-xs-2 col-sm-12 global-header__bars-icon js-global-header__bars-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="col-xs-8 col-sm-12 global-header__logo">
                <a class="global-header__logo-link" href="{% url 'calisphere:home' %}">
                </a>
              </div>
              <div class="col-xs-2 col-sm-12 global-header__search-icon--homepage">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 global-header__search">
          	<form class="global-header__search-form--homepage" role="search" id="js-searchForm" action="{% url 'calisphere:search' %}" method="get">
              <label for="global-search__field" class="global-search__label">Search the collections</label>
              <div class="input-group">
                <input id="global-search__field" form="js-searchForm" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
                <span class="input-group-btn">
                  <button class="btn btn-default global-search__button" type="submit"><span class="fa fa-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>

          <div class="col-xs-12 col-sm-4 global-header__nav js-global-header__mobile-links">
            <ul class="global-header__nav-list">
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:about' %}">About</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'contact_form' %}">Contact</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:help' %}">Help</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:termsOfUse' %}">Terms of Use</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="global-header__bar">
          <ul class="global-header__bar-list">
            <li class="global-header__bar-list-item">
              <a class="global-header__bar-links" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
            </li>
            <li class="global-header__bar-list-item">
              <a class="global-header__bar-links" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
            </li>
          </ul>
        </div>

      </header>
      <div id="js-pageContent">

        <div class="home">

	        <div class="home__top-images">

		        <div class="home__{{ lock_up.img1.class }}">
			        <h1 class="home__{{ lock_up.img1.class }}-heading">The deeper you look, the more you'll discover.</h1>
              <form role="search" id="js-homeForm" action="{% url 'calisphere:search' %}" method="get">
			        <div class="home__search">
	              <label for="home__search-field" class="sr-only">Search the collections</label>
	              <div class="input-group">
	                <input id="home__search-field" form="js-homeForm" type="search" class="form-control input-lg" placeholder="Search the collections" name="q">
	                <span class="input-group-btn">
	                  <button class="btn btn-default btn-lg home__search-button" type="submit">
	                  </button>
	                </span>
	              </div>
	            </div>
              </form>
	            <a href="{% url 'calisphere:itemView' lock_up.img1.id  %}" class="home__{{ lock_up.img1.class }}-credit">
        {{ lock_up.img1.title }} / {{ lock_up.img1.contributor }}
              </a>

		        </div>

		        <div class="row home__img-main-row">

			        <div class="col-xs-12 col-sm-8">
				        <p class="home__{{ lock_up.img2.class }}-text">Calisphere is a gateway to digital collections from California's great libraries, archives, and museums. Discover over 400,000 images, texts, and recordings&#8212;and counting.</p>
			        </div>

			        <div class="col-xs-8">
				        <div class="home__{{ lock_up.img2.class }}">
                  <a href="{% url 'calisphere:itemView' lock_up.img2.id %}" class="home__{{ lock_up.img2.class }}-credit">
            {{ lock_up.img2.title }} / {{ lock_up.img2.contributor }}
                  </a>
				        </div>
			        </div>

			        <div class="col-xs-4">
				        <div class="home__{{ lock_up.img3.class }}">
					        <a href="{% url 'calisphere:itemView' lock_up.img3.id %}" class="home__{{ lock_up.img3.class }}-credit">
            {{ lock_up.img3.title }} / {{ lock_up.img3.contributor }}
                  </a>
				        </div>
			        </div>

		        </div>

	        </div>

	        <h2 class="home__heading2">Explore University of California collections:</h2>

	        <div class="row home__thumbnail">

          {% for feature in uc_partners %}
		        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
			        <a href="{% url 'calisphere:campusView' feature.id 'collections' %}" class="home__thumbnail-link" style="background-image: url('{{ ucldcImages }}/{{ feature.thumb }}');">
				        <div class="home__thumbnail-caption--uc">
					{{ feature.name }}
				        </div>
			        </a>
		        </div>
          {% endfor %}

		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			        <div class="home__contributing-block">
				        <a href="{% url 'calisphere:campusDirectory' %}" class="home__contributing-link">
					        <span class="home__contributing-content">View all contributing institutions</span>
				        </a>
			        </div>
		        </div>

	        </div>

	        <div class="row home__thumbnail">

		        <h2 class="home__heading2">Featured statewide partners:</h2>


          {% for feature in statewide_partners %}
		        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
			        <a href="{% url 'calisphere:repositoryView' feature.id 'collections' %}" class="home__thumbnail-link" style="background-image: url('{{ ucldcImages }}/{{ feature.thumb }}');">
				        <div class="home__thumbnail-caption--inst">
					{{ feature.name }}
				        </div>
			        </a>
		        </div>
          {% endfor %}

		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			        <div class="home__contributing-block">
				        <a href="{% url 'calisphere:statewideDirectory' %}" class="home__contributing-link--inst">
					        <span class="home__contributing-content--inst">View all statewide partners</span>
				        </a>
			        </div>
		        </div>

	        </div>

        </div>
      </div>

      <div class="col-xs-12">

        <footer class="global-footer">

          <div class="global-footer__search">
            <form class="global-footer__search-form" role="search" id="js-footerSearch" action="{% url 'calisphere:search' %}" method="get">
              <label for="global-footer__search-field" class="global-footer__search-label">Search the collections</label>
              <div class="input-group">
                <input id="global-footer__search-field" form="js-footerSearch" name="q" value="{{ q }}" type="search" class="form-control global-footer__search-field js-globalSearch">
                <span class="input-group-btn">
                  <button class="btn btn-default global-footer__search-button" type="submit"><i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>

          <div class="global-footer__nav">
            <ul class="global-footer__nav-list--mobile">
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:home' %}">Home</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:about' %}">About</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'contact_form' %}">Contact</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:help' %}">Help</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
              </li>
            </ul>
            <ul class="global-footer__nav-list">
              <li class="global-footer__nav-list-item">
                <a class="global-footer__nav-link" href="{% url 'calisphere:termsOfUse' %}">Terms of Use</a>
              </li>
              <li class="global-footer__nav-list-item">
                <a class="global-footer__nav-link" href="{% url 'calisphere:privacyStatement' %}">Privacy Statement</a>
              </li>
            </ul>
          </div>

          <div class="global-footer__copyright">
            <p>Calisphere is a service of the
              <a href="http://libraries.universityofcalifornia.edu/">UC Libraries</a>, powered by the
              <a href="http://www.cdlib.org/">California Digital Library</a>.</p>

            <div class="col-xs-6 global-footer__social-icons-text">
              <p>Connect with us:</p>
            </div>
            <div class="col-xs-6 global-footer__social-icons">
              <a class="global-footer__twitter-icon"
                 title="Twitter"
                 href="https://twitter.com/calisphere"><span class="fa fa-twitter-square"></span></a>
              <a class="global-footer__facebook-icon"
                 title="Facebook"
                 href="https://www.facebook.com/calisphere"><span class="fa fa-facebook-square"></span></a>
            </div>

          </div>

        </footer>

      </div>


    </div>
    {% include "calisphere/scripts.html" %}
    <script src="{% static "scripts/calisphere-home.js" %}"></script>
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Calisphere",
  "url" : "https://calisphere.org",
  "sameAs" : [
    "https://twitter.com/calisphere",
    "https://www.facebook.com/calisphere/"
  ]
}
    </script>
  </body>
</html>
