<h1>Institutions Contributing to Calisphere</h1>

<div class="inst-intro">
  <div class="row">
    <div class="col-xs-12 col-sm-6 institutions-intro__overview">
      <p class="institutions-intro__text">Calisphere is a collaboration between libraries, archives, and museums across the state.</p>
    </div>
    <div class="col-xs-12 col-sm-6 institutions-intro__description">
      <p class="institutions-intro__text">All of the items on Calisphere have been contributed by educational and cultural heritage institutions in California. Use the tabs below to explore the rich digital collections of the ten University of California campuses and our partners statewide.</p>
    </div>
  </div>

  <!-- Add 'button__secondary' class to <a> element below for active state -->

  <div class="row">
    <div class="col-sm-3 institutions-intro__button-uc">
      <a class="btn btn-default btn-block {% if campuses %}button__secondary{% endif %}" 
      href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">UC Partners</a>
    </div>
    <div class="col-sm-3 institutions-intro__button-state">
      <a class="btn btn-default btn-block {% if state_repositories %}button__secondary{% endif %}" 
      href="{% url 'calisphere:statewideDirectory' %}" data-pjax="js-pageContent">Statewide Partners</a>
    </div>
  </div>

</div>