{% extends "calisphere/searchResults.html" %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block breadcrumbs %}{% endblock %}

{% block pageTitle %}
  <h1 class="text__institutions-heading1">
    {% if campus_slug or uc_institution %}
      <a href="{% url 'calisphere:campusDirectory' %}">Institutions</a>
    {% else %}
      <a href="{% url 'calisphere:statewideDirectory' %}">Institutions</a>
    {% endif %}
     / 
    {% if repository_id and uc_institution %}
      <a href="{% url 'calisphere:campusView' uc_institution.0.slug 'collections' %}">{{ uc_institution.0.name }}</a> / 
    {% endif %}
    <strong>
      {{ institution.name }}
    </strong>
  </h1>
{% endblock %}

{% block additionalInfo %}
  <div class="institution-intro">

    {% if campus_slug %}
      <div class="col-md-3">
        {% with 'images/logo_'|add:campus_slug|lower|add:'.png' as logo_url %}
        <img class="institution-logo" src="{% static logo_url %}" alt="{{ institution.name }}">
        {% endwith %}
        <input id="{{ campus_slug }}" class="facet js-facet facet-repository_data" form="js-facet" type="checkbox" name="campus_slug" value="{{ campus_slug }}" checked style="display: none;">
      </div>
    {% elif repository_id and uc_institution %}
      <div class="col-md-3">
        {% with 'images/logo_'|add:uc_institution.0.slug|lower|add:'.png' as logo_url %}
          <img class="institution-logo" src="{% static logo_url %}" alt="{{ uc_institution.0.name }}">
        {% endwith %}
        <input id="{{ repository_id }}" class="facet js-facet facet-repository_data" form="js-facet" type="checkbox" name="repository_data" value="{{ repository_id }}" checked style="display: none;">
      </div>
    {% else %}
        <input id="{{ repository_id }}" class="facet js-facet facet-repository_data" form="js-facet" type="checkbox" name="repository_data" value="{{ repository_id }}" checked style="display: none;">
    {% endif %}

    <div class="col-md-3">
      <h2 class="institution-intro__heading">{{ institution.name }} <br> {% if repository_id and uc_institution %}{{ uc_institution.0.name }}{% endif %}</h2>
      <ul class="institutional-intro__list">
        {% if contact_information.city %}
          <li class="institutional-intro__list-item">Location: {{ contact_information.city }}, CA</li>
        {% endif %}
        {% if contact_information.phone %}
          <li class="institutional-intro__list-item">Phone: {{ contact_information.phone }}</li>
        {% endif %}
        {% if contact_information.email %}
          <li class="institutional-intro__list-item">Email: <a href="mailto:{{ contact_information.email }}">{{ contact_information.email }}</a></li>
        {% endif %}
        {% if contact_information.url %}
          <li class="institutional-intro__list-item">Website: <a class="institutional-intro__web-link" href="{{ contact_information.url }}">{{ contact_information.url }}</a></li>
        {% endif %}
      </ul>
    </div>

    {% if campus_slug or uc_institution %}<div class="col-md-6">{% else %}<div class="col-md-9">{% endif %}
      {% if contact_information.description %}
        <p class="institutional-intro__description">{{ contact_information.description }}</p>
        <!-- <a class="institutional-intro__description-link" href="">Read More ...</a> -->
      {% elif campus_slug %}
        <div class="alert alert-warning" style="margin: 20px;">
          <p><i class="fa fa-exclamation-triangle"></i> I need a description! Please provide a campus-wide statement regarding your institutions and collections.</p>
        </div>
      {% else %}
        <div class="alert alert-warning" style="margin: 20px;">
          <p><i class="fa fa-exclamation-triangle"></i> I need a description! Please provide a unit-wide statement regarding your institution and collections.</p>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}

