{% extends "calisphere/searchResults.html" %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block breadcrumbs %}{% endblock %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with description=contact_information.description %}
{% endblock %}

{% block pageTitle %}
  <nav role="navigation">
    <ol id="global__breadcrumb">
      <li>
        {% if campus_slug or uc_institution %}
          <a href="{% url 'calisphere:campusDirectory' %}" data-pjax="js-pageContent">Institutions</a>
        {% else %}
          <a href="{% url 'calisphere:statewideDirectory' %}" data-pjax="js-pageContent">Institutions</a>
        {% endif %}
      </li>
      {% if repository_id and uc_institution %}
      <li>
        <a href="{% url 'calisphere:campusView' uc_institution.0.slug 'collections' %}" data-pjax="js-pageContent">{{ uc_institution.0.name }}</a>
      </li>
      {% endif %}
    </ol>
  </nav>

  <h1 id="js-institution" class="global__breadcrumb-header" {%if campus_slug%}data-campus="{{ campus_slug }}"{% else %}data-institution="{{ repository_id }}"{% endif %} data-referralName="{{ institution.name }}">
    {{ institution.name }}
  </h1>
{% endblock %}

{% block additionalInfo %}
  <div
    class="institution-intro" itemscope itemtype ="http://schema.org/Library"
    data-ga-code="{{ institution.google_analytics_tracking_code }}"
    data-ga-dim2="{% for x in institution.campus %}{{ x.slug }}-{% endfor %}{{ institution.slug }}"
  >

    {% if campus_slug %}
      <div class="col-md-3">
        <a class="institution-intro__featured-image-link" href="{% if featuredImage.url %}{{ featuredImage.url }}{% else %}#{% endif %}">
          <img class="institution-intro__featured-image" itemprop="image" src="{{ ucldcImages }}{{ featuredImage.src }}" alt="{{ institution.name }}">
          <div class="institution-intro__featured-image-caption">
            View featured image
          </div>
        </a>
      </div>
      <div class="col-md-9">

        <div class="institution-intro__logo-location">
          {% with 'images/logo_'|add:campus_slug|lower|add:'.png' as logo_url %}
            <img class="institution-intro__logo" itemprop="logo" src="{% static logo_url %}" alt="{{ institution.name }}">
          {% endwith %}

          <h2 class="institution-intro__heading hidden" itemprop="name">{{ institution.name }} <br> {% if repository_id and uc_institution %}{{ uc_institution.0.name }}{% endif %}</h2>
          <ul class="institution-intro__location">
            {% if contact_information.city %}
              <li class="institution-intro__location-list" itemprop="address">Location: {{ contact_information.city }}, CA</li>
            {% endif %}
            {% if contact_information.phone %}
              <li class="institution-intro__location-list" itemprop="telephone">Phone: {{ contact_information.phone }}</li>
            {% endif %}
            {% if contact_information.email %}
              <li class="institution-intro__location-list">Email: <a  itemprop="email" href="mailto:{{ contact_information.email }}">{{ contact_information.email }}</a></li>
            {% endif %}
            {% if contact_information.url %}
              <li class="institution-intro__location-list">Website: <a class="institution-intro__web-link"  itemprop="url" href="{{ contact_information.url }}">{{ contact_information.url }}</a></li>
            {% endif %}
          </ul>
          {% if numFound %}
            <label for="{{ campus_slug }}" aria-hidden="true" style="display: none;">Campus Slug</label>
            <input id="{{ campus_slug }}" class="facet js-facet facet-repository_data" form="js-facet" type="checkbox" name="campus_slug" value="{{ campus_slug }}" checked style="display: none;" aria-hidden="true">
          {% endif %}
        </div>
      </div>
    {% elif repository_id and uc_institution %}
      <div class="col-md-3">
        <a class="institution-intro__featured-image-link" href="{% if collections.0.display_items.0.reference_image_md5 %}{{ collections.0.display_items.0.reference_image_md5 }}{% else %}#{% endif %}">
          <img class="institution-intro__featured-image" itemprop="image" src="{{ thumbnailUrl }}crop/260x260/{{ collections.0.display_items.0.reference_image_md5 }}" alt="{{ institution.name }}">
          <div class="institution-intro__featured-image-caption">
            View featured image
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <h2 class="institution-intro__heading" itemprop="name">{{ institution.name }} <br> {{ uc_institution.0.name }}</h2>
        <ul class="institution-intro__list">
          {% if contact_information.city %}
            <li class="institution-intro__list-item" itemprop="address">Location: {{ contact_information.city }}, CA</li>
          {% endif %}
          {% if contact_information.phone %}
            <li class="institution-intro__list-item" itemprop="telephone">Phone: {{ contact_information.phone }}</li>
          {% endif %}
          {% if contact_information.email %}
            <li class="institution-intro__list-item">Email: <a itemprop="email" href="mailto:{{ contact_information.email }}">{{ contact_information.email }}</a></li>
          {% endif %}
          {% if contact_information.url %}
            <li class="institution-intro__list-item">Website: <a class="institution-intro__web-link" itemprop="url" href="{{ contact_information.url }}">{{ contact_information.url }}</a></li>
          {% endif %}
        </ul>
        {% if numFound %}
          <label for="{{ repository_id }}" aria-hidden="true" style="display: none;">Institution ID</label>
          <input id="{{ repository_id }}" class="facet js-facet facet-repository_data"
            form="js-facet" type="checkbox" name="repository_data"
            value="{{ repository_id }}" checked style="display: none;" aria-hidden="true">
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if contact_information.description %}
          <p class="institution-intro__description" itemprop="description">
            {{ contact_information.description }}
            <!-- <a class="institution-intro__web-link" href="">Read More</a> -->
          </p>
        {% endif %}
      </div>
    {% elif featuredImage %}
      <div class="col-md-3">
        <a class="institution-intro__featured-image-link" href="{% if featuredImage.url %}{{ featuredImage.url }}{% else %}#{% endif %}">
          <img class="institution-intro__featured-image" itemprop="image" src="{{ ucldcImages }}{{ featuredImage.src }}" alt="{{ institution.name }}">
          <div class="institution-intro__featured-image-caption">
            View featured image
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <h2 class="institution-intro__heading" itemprop="name">{{ institution.name }}</h2>
        <ul class="institution-intro__list">
          {% if contact_information.city %}
            <li class="institution-intro__list-item" itemprop="address">Location: {{ contact_information.city }}, CA</li>
          {% endif %}
          {% if contact_information.phone %}
            <li class="institution-intro__list-item" itemprop="telephone">Phone: {{ contact_information.phone }}</li>
          {% endif %}
          {% if contact_information.email %}
            <li class="institution-intro__list-item">Email: <a itemprop="email" href="mailto:{{ contact_information.email }}">{{ contact_information.email }}</a></li>
          {% endif %}
          {% if contact_information.url %}
            <li class="institution-intro__list-item">Website: <a itemprop="url" class="institution-intro__web-link" href="{{ contact_information.url }}">{{ contact_information.url }}</a></li>
          {% endif %}
        </ul>
        {% if numFound %}
          <label for="{{ repository_id }}" aria-hidden="true" style="display: none;">Institution ID</label>
          <input id="{{ repository_id }}" class="facet js-facet facet-repository_data"
            form="js-facet" type="checkbox" name="repository_data"
            value="{{ repository_id }}" checked style="display: none;" aria-hidden="true">
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if contact_information.description %}
          <p class="institution-intro__description" itemprop="description">
            {{ contact_information.description }}
            <!-- <a class="institution-intro__web-link" href="">Read More</a> -->
          </p>
        {% endif %}
      </div>
    {% else %}
      <div class="col-md-3">
        <a class="institution-intro__featured-image-link" href="{% if collections.0.display_items.0.reference_image_md5 %}{{ collections.0.display_items.0.reference_image_md5 }}{% else %}#{% endif %}">
          <img class="institution-intro__featured-image" itemprop="image" src="{{ thumbnailUrl }}crop/260x260/{{ collections.0.display_items.0.reference_image_md5 }}" alt="{{ institution.name }}">
          <div class="institution-intro__featured-image-caption">
            View featured image
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <h2 class="institution-intro__heading" itemprop="name">{{ institution.name }}</h2>
        <ul class="institution-intro__list">
          {% if contact_information.city %}
            <li class="institution-intro__list-item" itemprop="address">Location: {{ contact_information.city }}, CA</li>
          {% endif %}
          {% if contact_information.phone %}
            <li class="institution-intro__list-item" itemprop="telephone">Phone: {{ contact_information.phone }}</li>
          {% endif %}
          {% if contact_information.email %}
            <li class="institution-intro__list-item">Email: <a itemprop="email" href="mailto:{{ contact_information.email }}">{{ contact_information.email }}</a></li>
          {% endif %}
          {% if contact_information.url %}
            <li class="institution-intro__list-item">Website: <a class="institution-intro__web-link" itemprop="url" href="{{ contact_information.url }}">{{ contact_information.url }}</a></li>
          {% endif %}
        </ul>
        {% if numFound %}
          <label for="{{ repository_id }}" aria-hidden="true" style="display: none;">Institution ID</label>
          <input id="{{ repository_id }}" class="facet js-facet facet-repository_data"
            form="js-facet" type="checkbox" name="repository_data"
            value="{{ repository_id }}" checked style="display: none;" aria-hidden="true">
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if contact_information.description %}
          <p class="institution-intro__description" itemprop="description">
            {{ contact_information.description }}
            <!-- <a class="institution-intro__web-link" href="">Read More</a> -->
          </p>
        {% endif %}
      </div>
    {% endif %}
  </div>

{% endblock %}

