<div class="inst-intro">

  <div class="row">
    <div class="col-xs-12 col-sm-6 institutions-intro__overview">
      <p class="institutions-intro__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum in autem id sint consectetur, optio nobis ipsam modi dolores dolorum necessitatibus iste tempore voluptas unde quam architecto expedita praesentium, magni.</p>
    </div>
    <div class="col-xs-12 col-sm-6 institutions-intro__description">
      <p class="institutions-intro__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo totam explicabo reiciendis rem perferendis ducimus ea neque ratione aut, atque quas nulla, laborum ipsam voluptatum, animi harum accusantium quasi adipisci?</p>
    </div>
  </div>

  <!-- Add 'button__secondary' class to <a> element below for active state -->

  <div class="row">
    <div class="col-sm-3 institutions-intro__button-uc">
      <a class="btn btn-default btn-block {% if campuses %}button__secondary{% endif %}" href="{% url 'calisphere:campusDirectory' %}">UC Partners</a>
    </div>
    <div class="col-sm-3 institutions-intro__button-state">
      <a class="btn btn-default btn-block {% if state_repositories %}button__secondary{% endif %}" href="{% url 'calisphere:statewideDirectory' %}">Statewide Partners</a>
    </div>
  </div>

</div>