{% load static %}
<div class="row thumbnail">
  {% for item in search_results %}
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
    <a class="thumbnail__link js-item-link" href="{% url 'calisphere:itemView' item.id %}" data-item_id="{{ item.id }}" data-item_number="{{ start|add:forloop.counter0 }}">
      <div class="thumbnail__container" data-toggle="tooltip"
      title="{{ item.title.0|truncatewords:20 }} {% if 'date' in item %}({{ item.date.0 }}){% endif %}">
        {% if item.reference_image_md5 %}
          <img class="thumbnail__image"
          src="{{ thumbnailUrl }}crop/210x210/{{ item.reference_image_md5 }}"
          srcset="{{ thumbnailUrl }}crop/210x210/{{ item.reference_image_md5 }} 60w, {{ thumbnailUrl }}crop/310x310/{{ item.reference_image_md5 }} 50w"
          sizes="100vw"
          alt="{{ item.title.0|truncatewords:12 }}">

          {% if item.type_ss.0|lower == "moving image" %}
          <div class="thumbnail__overlay-icon fa-video-camera"></div>
          {% elif item.type_ss.0|lower == "sound"%}
          <div class="thumbnail__overlay-icon fa-volume-up"></div>
          {# elif item.type_ss.0|lower == "text" #}
          <!-- <div class="thumbnail__overlay-icon fa-file-text-o"></div> -->
          {% elif item.type_ss.0|lower == "dataset" %}
          <div class="thumbnail__overlay-icon fa-bar-chart"></div>
          {% endif %}

        {% else %}
          {% if item.type_ss.0|lower == "moving image" %}
          <div class="thumbnail__tile-icon fa-video-camera"></div>
          {% elif item.type_ss.0|lower == "sound"%}
          <div class="thumbnail__tile-icon fa-volume-up"></div>
          {% elif item.type_ss.0|lower == "text"%}
          <div class="thumbnail__tile-icon fa-file-text-o"></div>
          {% elif item.type_ss.0|lower == "dataset" %}
          <div class="thumbnail__tile-icon fa-bar-chart"></div>
          {% elif item.type_ss.0|lower == "image" %}
          <div class="thumbnail__tile-icon fa-picture-o"></div>
          {% endif %}
        {% endif %}

        </div>
        <div class="thumbnail__caption">{{ item.title.0|truncatewords:12 }}
        </div>
    </a>
  </div>
  {% endfor %}
</div>
