{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}

{% block content %}

<div id="js-carouselContainer">
  <div class="carousel__search-results">
    <a href="">Search results for "{{ q }}"</a>
  </div>

  <div class="carousel__items-number">
    {{ numFound }} items found. <a id="js-carousel-start" href="">Return to selected item</a>
  </div>

  <form id="js-carousel" data-numfound="{{ numFound }}">
    <input type="hidden" name="q" value="{{ q }}" form="js-carousel">
    {% for refine in rq %}
    <input type="hidden" name="rq" value="{{ refine }}" form="js-carousel">
    {% endfor %}
    {% for filter_type in filters %}
      {% for filter in filters|get_item:filter_type %}
        {% if filter_type == 'collection_data' or filter_type == 'repository_data' %}
          <input type="hidden" class="js-filterType" name="{{ filter_type }}" value="{{ filter.id }}" form="js-carousel">
        {% else %}
          <input type="hidden" class="js-filterType" name="{{ filter_type }}" value="{{ filter|slugify }}" form="js-carousel">
        {% endif %}
      {% endfor %}
    {% endfor %}
  </form>
    
  <div class="carousel" data-carousel_start="{{ start }}">
    {% include "calisphere/carousel.html" %}
  </div>
</div>

<p class="text__breadcrumb-nav">
  {% if item.parsed_repository_data %}
    <a href="{% url 'calisphere:repositoryView' item.parsed_repository_data.0.id 'collections' %}">
      {% if item.parsed_repository_data.0.campus %}
        {{ item.parsed_repository_data.0.campus }}, 
      {% endif %}
      {{ item.parsed_repository_data.0.name }}
    </a>
  {% endif %}
   > 
  {% if item.parsed_collection_data %}
     <a href="{% url 'calisphere:collectionView' item.parsed_collection_data.0.id %}">{{ item.parsed_collection_data.0.name }}</a>
  {% endif %}
   > {{ item.title.0 }}</p>

<h2 class="object__page-heading">{{ item.type.0 }} / <strong>{{ item.title.0|truncatewords:7 }}</strong></h2>

{% if item.harvest_type == 'harvested' %}
  {% if item.type_ss.0|lower == 'image' %}
    {% include 'calisphere/objectViewer/harvestedImage.html' %}
  {% else %}
    {% include 'calisphere/objectViewer/harvestedNonImage.html' %}
  {% endif %}
{% elif item.harvest_type == 'hosted' %}
  {% if item.structMap %}
    {% include 'calisphere/objectViewer/complex-object.html' %}
  {% elif item.type_ss.0|lower == 'image' %}
    {% include 'calisphere/objectViewer/hosted-simple-image.html' %}
  {% elif item.type_ss.0|lower == 'moving image' %}
  {% elif item.type_ss.0|lower == 'sound' %}
  {% elif item.type_ss.0|lower == "text"%}
  {% elif item.type_ss.0|lower == "complex object"%}
  {% endif %}
{% endif %}

<!-- {{ item }} -->

<div class="obj-buttons">

  <div class="obj-buttons__group1">

    <a class="btn btn-xs obj-buttons__envelope" title="Email" href="javascript: void(0)">
      <span class="fa fa-envelope-o fa-fw"></span>
    </a>

    <a class="obj-buttons__twitter" title="Twitter" href="javascript: void(0)">
      <span class="fa fa-twitter-square"></span>
    </a>

    <a class="obj-buttons__facebook" title="Facebook" href="javascript: void(0)">
      <span class="fa fa-facebook-square"></span>
    </a>

    <a class="btn btn-xs obj-buttons__citation" href="javascript: void(0)">
      Get Citation
    </a>

  </div>

  <div class="obj-buttons__group2">

    <span class="obj-buttons__contact-text">Need more information about this object? </span>

    <a class="btn btn-xs button__contact-owner" href="javascript: void(0)">
      <span class="fa fa-envelope"></span>
      Contact Owner
    </a>
    
    {% if item.harvest_type == 'hosted' %}
      <a class="btn btn-xs obj-buttons__download-image" href="">
        <span class="icon__download-image">
          <span class="fa fa-arrow-circle-o-down"></span>
        </span> Download {{ item.type.0 }}
      </a>
    {% endif %}

  </div>

</div>

<h3 class="meta-heading__preview">
  {% if item.harvest_type == 'harvested' %}
    Metadata Preview. <a class="meta-heading__preview-link" href="{{ item.url_item }}">View complete record.</a>
  {% elif item.harvest_type == 'hosted' %}
    Item Information.
  {% endif %}
</h3>

<div class="meta-block">

  <dl class="meta-block__list">
    <dt class="meta-block__type">Title</dt>
    <dd class="meta-block__defin">{{ item.title.0 }}</dd>
    
    {% if item.alternative_title %}
      <dt class="meta-block__type">Alternative Title</dt>
      <dd class="meta-block__defin">{% for title in item.alternative_title %}{{ title }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.creator %}
      <dt class="meta-block__type">Creator</dt>
      <dd class="meta-block__defin">{% for creator in item.creator %}{{ creator }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.contributor %}
      <dt class="meta-block__type">Contributor</dt>
      <dd class="meta-block__defin">{% for contributor in item.contributor %}{{ contributor }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.date %}
      <dt class="meta-block__type">Date Created and/or Issued</dt>
      <dd class="meta-block__defin">{% for date in item.date %}{{ date }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.publisher %}
      <dt class="meta-block__type">Publisher</dt>
      <dd class="meta-block__defin">{% for publisher in item.publisher %}{{ publisher }} <br> {% endfor %}</dd>
    {% endif %}
    
    <!-- should include institution name: UC Berkely, Bancroft Library -->
    {% if item.parsed_repository_data %}
      <dt class="meta-block__type">Contributing Institution</dt>
      <dd class="meta-block__defin">
        {% for repository in item.parsed_repository_data %}
          <a href="{% url 'calisphere:repositoryView' repository.id 'collections' %}">
          {% if repository.campus %}
            {{ repository.campus }}, 
          {% endif %}
          {{ repository.name }}</a> <br>
        {% endfor %}
      </dd>
    {% endif %}
    
    {% if item.parsed_collection_data %}
      <dt class="meta-block__type">Collection</dt>
      <dd class="meta-block__defin">{% for collection in item.parsed_collection_data %}<a href="{% url 'calisphere:collectionView' collection.id %}">{{ collection.name }}</a> <br> {% endfor %}</dd>
    {% endif %}

    {% if item.rights %}
      <dt class="meta-block__type">Rights Information</dt>
			<dd class="meta-block__defin">{% for rights in item.rights %}{{ rights }} <br>{% endfor %}</dd>
    {% endif %}

    {% if item.rights_holder %}
			<dt class="meta-block__type">Rights Holder and Contact</dt>
			<dd class="meta-block__defin">{% for rights_holder in item.rights_holder %}{{ rights_holder }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.rights_note %}
			<dt class="meta-block__type">Rights Notes</dt>
			<dd class="meta-block__defin">{% for rights_note in item.rights_note %}{{ rights_note }} <br> {% endfor %}</dd>
		{% endif %}

    <!-- rights date is not currently multivalued -->
    {% if item.rights_date %}
			<dt class="meta-block__type">Date of Copyright</dt>
			<dd class="meta-block__defin">{{ item.rights_date }} <br> </dd>
		{% endif %}

    {% if item.description %}
			<dt class="meta-block__type">Description</dt>
			<dd class="meta-block__defin">{% for description in item.description %}{{ description }} <br> {% endfor %}</dd>
		{% endif %}
    
    {% if item.type %}
			<dt class="meta-block__type">Type</dt>
			<dd class="meta-block__defin">{% for type in item.type %}{{ type }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.format %}
			<dt class="meta-block__type">Format</dt>
			<dd class="meta-block__defin">{% for format in item.format %}{{ format }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.genre %}
			<dt class="meta-block__type">Form/Genre</dt>
			<dd class="meta-block__defin">{% for genre in item.genre %}{{ genre }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.extent %}
			<dt class="meta-block__type">Extent</dt>
			<dd class="meta-block__defin">{% for extent in item.extent %}{{ extent }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.identifier %}
			<dt class="meta-block__type">Identifier</dt>
			<dd class="meta-block__defin">{% for identifier in item.identifier %}{{ identifier }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.language %}
			<dt class="meta-block__type">Language</dt>
			<dd class="meta-block__defin">{% for language in item.language %}{{ language }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.subject %}
      <dt class="meta-block__type">Subject</dt>
			<dd class="meta-block__defin">{% for subject in item.subject %}{{ subject }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.temporal %}
			<dt class="meta-block__type">Time Period</dt>
			<dd class="meta-block__defin">{% for temporal in item.temporal %}{{ temporal }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.coverage %}
			<dt class="meta-block__type">Place</dt>
			<dd class="meta-block__defin">{% for coverage in item.coverage %}{{ coverage }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.source %}
			<dt class="meta-block__type">Source</dt>
			<dd class="meta-block__defin">{% for source in item.source %}{{ source }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.relation %}
			<dt class="meta-block__type">Relation</dt>
			<dd class="meta-block__defin">{% for relation in item.relation %}{{ relation }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.provenance %}
			<dt class="meta-block__type">Provenance</dt>
			<dd class="meta-block__defin">{% for provenance in item.provenance %}{{ provenance }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.location %}
			<dt class="meta-block__type">Location</dt>
			<dd class="meta-block__defin">{% for location in item.location %}{{ location }} <br> {% endfor %}</dd>
		{% endif %}
  </dl>

</div>

<div class="related-coll--search-results-page" id="js-relatedCollections">
  {% include "calisphere/related-collections.html" %}
</div>

<!--
  header returned from solr; for debugging
  {{ item_solr_search.header|safe }}
  -->
{% endblock %}

{% block footerScripts %}
  <script type="text/javascript">
    var conf = {
      infinite: false,
      speed: 300,
      slidesToShow: 10,
      slidesToScroll: 6,
      variableWidth: true,
      lazyLoad: 'ondemand',
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            infinite: true,
            // slidesToShow: 8,
            slidesToScroll: 8,
            variableWidth: true
          }
        },
        {
          breakpoint: 900,
          settings: {
            infinite: true,
            // slidesToShow: 6,
            slidesToScroll: 6,
            variableWidth: true
          }
        },
        {
          breakpoint: 650,
          settings: {
            infinite: true,
            // slidesToShow: 4,
            slidesToScroll: 4,
            variableWidth: true
          }
        }
      ]
    };

    $(document).ready(function() {
      if ($('.component-carousel').length > 0) {
        $('.component-carousel').show();
        $('.component-carousel').slick(conf);
      }
    });
  </script>
{% endblock %}
