{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}

{% block content %}

<div id="js-carouselContainer">
  <div class="carousel__search-results">
    Search results > {{ q }} 
  </div>

  <div class="carousel__items-number">
    Displaying {{ start|add:1 }} - {{ start|add:6 }} of {{ numFound }}
  </div>

  <form id="js-carousel" data-numfound="{{ numFound }}">
    <input type="hidden" name="q" value="{{ q }}" form="js-carousel">
    {% for refine in rq %}
    <input type="hidden" name="rq" value="{{ refine }}" form="js-carousel">
    {% endfor %}
    {% for filter_type in filters %}
      {% for filter in filters|get_item:filter_type %}
        {% if filter_type == 'collection_data' or filter_type == 'repository_data' %}
          <input type="hidden" class="js-filterType" name="{{ filter_type }}" value="{{ filter.id }}" form="js-carousel">
        {% else %}
          <input type="hidden" class="js-filterType" name="{{ filter_type }}" value="{{ filter|slugify }}" form="js-carousel">
        {% endif %}
      {% endfor %}
    {% endfor %}
  </form>
    
  <div class="carousel" data-carousel_start="{{ start }}">
    {% include "calisphere/carousel.html" %}
  </div>
</div>

<p class="text__breadcrumb-nav">Search > {{ q }} > {{ item.title.0|truncatewords:7 }}</p>

<h2 class="object__page-heading">{{ item.type.0 }} / <strong>{{ item.title.0|truncatewords:7 }}</strong></h2>

{% if item.harvest_type == 'harvested' %}
  {% if item.type_ss.0 == 'image' %}
    {% include 'calisphere/objectViewer/harvestedImage.html' %}
  {% else %}
    {% include 'calisphere/objectViewer/harvestedNonImage.html' %}
  {% endif %}
{% elif item.harvest_type == 'hosted' %}
  {% if item.type_ss.0 == 'image' %}
    {% include 'calisphere/objectViewer/hosted-simple-image.html' %}
  {% elif item.type_ss.0 == 'moving image' %}
  {% elif item.type_ss.0 == 'sound' %}
  {% elif item.type_ss.0 == "text"%}
  {% elif item.type_ss.0 == "complex object"%}
  {% endif %}
{% endif %}

<!-- <div class="meta-block">
{{ item }}
</div> -->

<div class="obj-buttons">

  <div class="obj-buttons__group1">

    <a class="btn btn-xs obj-buttons__envelope" title="Email" href="javascript: void(0)">
      <span class="fa fa-envelope-o fa-fw"></span>
    </a>

    <a class="obj-buttons__twitter" title="Twitter" href="javascript: void(0)">
      <span class="fa fa-twitter-square"></span>
    </a>

    <a class="obj-buttons__facebook" title="Facebook" href="javascript: void(0)">
      <span class="fa fa-facebook-square"></span>
    </a>

    <a class="btn btn-xs obj-buttons__citation" href="javascript: void(0)">
      Get Citation
    </a>

  </div>

  <div class="obj-buttons__group2">

    <span class="obj-buttons__contact-text">Need more information about this object? Contact the owning institution:</span>

    <a class="btn btn-xs button__contact-owner" href="javascript: void(0)">
      <span class="fa fa-envelope"></span>
      Contact Owner
    </a>

  </div>

</div>

<h3 class="meta-heading__preview">Metadata Preview. <a class="meta-heading__preview-link" href="{{ item.url_item }}">View complete record.</a></h3>

<div class="meta-block">
  
  <!-- {{ item }} -->

  <dl class="meta-block__list">
    <dt class="meta-block__type">Title</dt>
    <dd class="meta-block__defin">{{ item.title.0 }}</dd>
    
    {% if item.alternative_title %}
      <dt class="meta-block__type">Alternative Title</dt>
      <dd class="meta-block__defin">{% for title in item.alternative_title %}{{ title }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.creator %}
      <dt class="meta-block__type">Creator</dt>
      <dd class="meta-block__defin">{% for creator in item.creator %}{{ creator }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.contributor %}
      <dt class="meta-block__type">Contributor</dt>
      <dd class="meta-block__defin">{% for contributor in item.contributor %}{{ contributor }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.date %}
      <dt class="meta-block__type">Date Created and/or Issued</dt>
      <dd class="meta-block__defin">{% for date in item.date %}{{ date }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.publisher %}
      <dt class="meta-block__type">Publisher</dt>
      <dd class="meta-block__defin">{% for publisher in item.publisher %}{{ publisher }} <br> {% endfor %}</dd>
    {% endif %}
    
    <!-- should include institution name: UC Berkely, Bancroft Library -->
    {% if item.repository_name %}
      <dt class="meta-block__type">Contributing Institution</dt>
      <dd class="meta-block__defin">{% for repository in item.repository_name %}{{ repository }} <br> {% endfor %}</dd>
    {% endif %}
    
    {% if item.collection_name %}
			<dt class="meta-block__type">Collection</dt>
			<dd class="meta-block__defin">{% for collection_name in item.collection_name %}{{ collection_name }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.rights %}
      <dt class="meta-block__type">Rights Information</dt>
			<dd class="meta-block__defin">{% for rights in item.rights %}{{ rights }} <br>{% endfor %}</dd>
    {% endif %}

    {% if item.rights_holder %}
			<dt class="meta-block__type">Rights Holder and Contact</dt>
			<dd class="meta-block__defin">{% for rights_holder in item.rights_holder %}{{ rights_holder }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.rights_note %}
			<dt class="meta-block__type">Rights Notes</dt>
			<dd class="meta-block__defin">{% for rights_note in item.rights_note %}{{ rights_note }} <br> {% endfor %}</dd>
		{% endif %}

    <!-- rights date is not currently multivalued -->
    {% if item.rights_date %}
			<dt class="meta-block__type">Date of Copyright</dt>
			<dd class="meta-block__defin">{{ item.rights_date }} <br> </dd>
		{% endif %}

    {% if item.description %}
			<dt class="meta-block__type">Description</dt>
			<dd class="meta-block__defin">{% for description in item.description %}{{ description }} <br> {% endfor %}</dd>
		{% endif %}
    
    {% if item.type %}
			<dt class="meta-block__type">Type</dt>
			<dd class="meta-block__defin">{% for type in item.type %}{{ type }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.format %}
			<dt class="meta-block__type">Format</dt>
			<dd class="meta-block__defin">{% for format in item.format %}{{ format }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.genre %}
			<dt class="meta-block__type">Form/Genre</dt>
			<dd class="meta-block__defin">{% for genre in item.genre %}{{ genre }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.extent %}
			<dt class="meta-block__type">Extent</dt>
			<dd class="meta-block__defin">{% for extent in item.extent %}{{ extent }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.identifier %}
			<dt class="meta-block__type">Identifier</dt>
			<dd class="meta-block__defin">{% for identifier in item.identifier %}{{ identifier }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.language %}
			<dt class="meta-block__type">Language</dt>
			<dd class="meta-block__defin">{% for language in item.language %}{{ language }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.subject %}
      <dt class="meta-block__type">Subject</dt>
			<dd class="meta-block__defin">{% for subject in item.subject %}{{ subject }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.temporal %}
			<dt class="meta-block__type">Time Period</dt>
			<dd class="meta-block__defin">{% for temporal in item.temporal %}{{ temporal }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.coverage %}
			<dt class="meta-block__type">Place</dt>
			<dd class="meta-block__defin">{% for coverage in item.coverage %}{{ coverage }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.source %}
			<dt class="meta-block__type">Source</dt>
			<dd class="meta-block__defin">{% for source in item.source %}{{ source }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.relation %}
			<dt class="meta-block__type">Relation</dt>
			<dd class="meta-block__defin">{% for relation in item.relation %}{{ relation }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.provenance %}
			<dt class="meta-block__type">Provenance</dt>
			<dd class="meta-block__defin">{% for provenance in item.provenance %}{{ provenance }} <br> {% endfor %}</dd>
		{% endif %}

    {% if item.location %}
			<dt class="meta-block__type">Location</dt>
			<dd class="meta-block__defin">{% for location in item.location %}{{ location }} <br> {% endfor %}</dd>
		{% endif %}
  </dl>

</div>

<!--
  header returned from solr; for debugging
  {{ item_solr_search.header|safe }}
  -->
{% endblock %}
