{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}

{% block content %}

<div id="js-carouselContainer">
  {% include "calisphere/carousel.html" %}
</div>

{% for item in items %}

  <ol class="breadcrumb">
    <li>Search</li>
    <li>{{ q }}</li>
    <li class="active">{{ item.title.0|truncatewords:7 }}</li>
  </ol>

  <h2 class="object__page-heading">{{ item.type.0 }} / <strong>{{ item.title.0|truncatewords:7 }}</strong></h2>

  <div class="object__container-generic">

    <a class="obj-harvest__link" href="" target="_blank">
      <figure>
        <div class="obj-harvest__img-container">
          <span class="fa fa-external-link fa-fw obj-harvest__external-link-icon-overlay"></span>
          <img class="obj-harvest__image" src="{{ thumbnailUrl }}clip/500x500/{{ item.reference_image_md5 }}" alt="">
        </div>
        <figcaption class="obj-harvest__caption">Preview. View on contributor's website.<span class="fa fa-external-link fa-fw obj-harvest__caption-icon"></span>
        </figcaption>
      </figure>
    </a>

  </div>

  <div class="obj-buttons">

    <div class="obj-buttons__group1">

      <a class="btn btn-xs obj-buttons__envelope" title="Email" href="">
        <span class="fa fa-envelope-o fa-fw"></span>
      </a>

      <a class="obj-buttons__twitter" title="Twitter" href="">
        <span class="fa fa-twitter-square"></span>
      </a>

      <a class="obj-buttons__facebook" title="Facebook" href="">
        <span class="fa fa-facebook-square"></span>
      </a>

      <a class="btn btn-xs obj-buttons__citation" href="">
        Get Citation
      </a>

    </div>

    <div class="obj-buttons__group2">
    
      <span class="obj-buttons__contact-text">Need more information about this object? Contact the owning institution:</span>

      <a class="btn btn-xs button__contact-owner" href="">
        <span class="fa fa-envelope"></span>
        Contact Owner 
      </a>

    </div>

  </div>

  <div class="object__metadata">

    <h3 class="metadata__heading">Metadata Preview. <a href="">View complete record.<span class="fa fa-external-link fa-fw metadata__heading-icon"></span></a></h3>

    <dl class="metadata__list">
      <dt class="metadata__type">Image</dt>                      <dd class="metadata__defin">{{ item.reference_image_http }}</dd>
      <dt class="metadata__type">Title</dt>                      <dd class="metadata__defin">{% for title in item.title %}{{ title }}                                | {% endfor %}</dd>
      <dt class="metadata__type">Creator</dt>                    <dd class="metadata__defin">{% for creator in item.creator %}{{ creator }}                          | {% endfor %}</dd>
      <dt class="metadata__type">Contributor</dt>                <dd class="metadata__defin">{% for contributor in item.contributor %}{{ contributor }}              | {% endfor %}</dd>
      <dt class="metadata__type">Date</dt>                       <dd class="metadata__defin">{% for date in item.date %}{{ date }}                                   | {% endfor %}</dd>
      <dt class="metadata__type">Contributing Institution</dt>   <dd class="metadata__defin">{% for repository in item.repository_name %}{{ repository }}            | {% endfor %}</dd>
      <dt class="metadata__type">Repository Data</dt>            <dd class="metadata__defin">{% for repository_data in item.repository_data %}{{ repository_data }}  | {% endfor %}</dd>
      <dt class="metadata__type">Campus</dt>                     <dd class="metadata__defin">{% for campus in item.campus_name %}{{ campus }}                        | {% endfor %}</dd>
      <dt class="metadata__type">Collection</dt>                 <dd class="metadata__defin">{% for collection_name in item.collection_name %}{{ collection_name }}  | {% endfor %}</dd>
      <dt class="metadata__type">Collection Data                 <dd class="metadata__defin">{% for collection_data in item.collection_data %}{{ collection_data }}  | {% endfor %}</dd>
      <dt class="metadata__type">Identifier</dt>                 <dd class="metadata__defin">{% for identifier in item.identifier %}{{ identifier }}                 | {% endfor %}</dd>
      <dt class="metadata__type">Format</dt>                     <dd class="metadata__defin">{% for format in item.format %}{{ format }}                             | {% endfor %}</dd>
      <dt class="metadata__type">Notes</dt>                      <dd class="metadata__defin">{% for description in item.description %}{{ description }}              | {% endfor %}</dd>
      <dt class="metadata__type">Subject</dt>                    <dd class="metadata__defin">{% for subject in item.subject %}{{ subject }}                          | {% endfor %}</dd>
      <dt class="metadata__type">Rights</dt>                     <dd class="metadata__defin">{% for rights in item.rights %}{{ rights }}                             | {% endfor %}</dd>
      <dt class="metadata__type">Publisher</dt>                  <dd class="metadata__defin">{% for publisher in item.publisher %}{{ publisher }}                    | {% endfor %}</dd>

      <dt class="metadata__type">Timestamp</dt>                  <dd class="metadata__defin">{{ item.timestamp }}</dd>
      <dt class="metadata__type">Id</dt>                         <dd class="metadata__defin">{{ item.id }}</dd>
      <dt class="metadata__type">Created</dt>                    <dd class="metadata__defin">{{ item.created }}</dd>
      <dt class="metadata__type">Last Modified</dt>              <dd class="metadata__defin">{{ item.last_modified }}</dd>
      
      <dt class="metadata__type">Campus</dt>                     <dd class="metadata__defin">{{ item.campus }}</dd>
      <dt class="metadata__type">Repository</dt>                 <dd class="metadata__defin">{{ item.repository }}</dd>
      <dt class="metadata__type">Collection</dt>                 <dd class="metadata__defin">{{ item.collection }}</dd>
      
      <dt class="metadata__type">Coverage</dt>                   <dd class="metadata__defin">{{ item.coverage }}</dd>
      <dt class="metadata__type">Language</dt>                   <dd class="metadata__defin">{{ item.language }}</dd>
      <dt class="metadata__type">Source</dt>                     <dd class="metadata__defin">{{ item.source }}</dd>
      <dt class="metadata__type">Type</dt>                       <dd class="metadata__defin">{{ item.type }}</dd>
      <dt class="metadata__type">Date Facet</dt>                 <dd class="metadata__defin">{{ item.date_facet }}</dd>
      <dt class="metadata__type">url_item</dt>                   <dd class="metadata__defin">{{ item.url_item }}</dd>
      <dt class="metadata__type">reference_image_md5</dt>        <dd class="metadata__defin">{{ item.reference_image_md5 }}</dd>
      
      <dt class="metadata__type">Relation</dt>                   <dd class="metadata__defin">{{ item.relation }}</dd>
      <dt class="metadata__type">payloads</dt>                   <dd class="metadata__defin">{{ item.payloads }}</dd>
      <dt class="metadata__type">Score</dt>                      <dd class="metadata__defin">{{ item.score }}</dd>
    </dl>

  </div>

{% endfor %}

{% endblock %}
