{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}

{% block content %}

<div id="js-carouselContainer">
  {% include "calisphere/carousel.html" %}
</div>

{% for item in items %}

  <ol class="breadcrumb">
    <li>Search</li>
    <li>{{ q }}</li>
    <li class="active">{{ item.title.0|truncatewords:7 }}</li>
  </ol>

  <h2 class="object__page-heading">{{ item.type.0 }} / <strong>{{ item.title.0|truncatewords:7 }}</strong></h2>

<div style="width: 100%; background-color: #f8f8f8; margin-bottom: 20px;" class="text-center">
  <img src="{{ thumbnailUrl }}clip/500x500/{{ item.reference_image_md5 }}" style="margin: auto;"/>
</div>

<div class="container">
  <p>
    <dl class="dl-horizontal">
      <dt>Image</dt>                      <dd>{{ item.reference_image_http }}</dd><br/><br/>
      <dt>Title</dt>                      <dd>{% for title in item.title %}{{ title }}                                <br/>{% endfor %}<br/></dd>
      <dt>Creator</dt>                    <dd>{% for creator in item.creator %}{{ creator }}                          <br/>{% endfor %}<br/></dd>
      <dt>Contributor</dt>                <dd>{% for contributor in item.contributor %}{{ contributor }}              <br/>{% endfor %}<br/></dd>
      <dt>Date</dt>                       <dd>{% for date in item.date %}{{ date }}                                   <br/>{% endfor %}<br/></dd>
      <dt>Contributing Institution</dt>   <dd>{% for repository in item.repository_name %}{{ repository }}            <br/>{% endfor %}<br/></dd>
      <dt>Repository Data</dt>            <dd>{% for repository_data in item.repository_data %}{{ repository_data }}  <br/>{% endfor %}<br/></dd>
      <dt>Campus</dt>                     <dd>{% for campus in item.campus_name %}{{ campus }}                        <br/>{% endfor %}<br/></dd>
      <dt>Collection</dt>                 <dd>{% for collection_name in item.collection_name %}{{ collection_name }}  <br/>{% endfor %}<br/></dd>
      <dt>Collection Data                 <dd>{% for collection_data in item.collection_data %}{{ collection_data }}  <br/>{% endfor %}<br/></dd>
      <dt>Identifier</dt>                 <dd>{% for identifier in item.identifier %}{{ identifier }}                 <br/>{% endfor %}<br/></dd>
      <dt>Format</dt>                     <dd>{% for format in item.format %}{{ format }}                             <br/>{% endfor %}<br/></dd>
      <dt>Notes</dt>                      <dd>{% for description in item.description %}{{ description }}              <br/>{% endfor %}<br/></dd>
      <dt>Subject</dt>                    <dd>{% for subject in item.subject %}{{ subject }}                          <br/>{% endfor %}<br/></dd>
      <dt>Rights</dt>                     <dd>{% for rights in item.rights %}{{ rights }}                             <br/>{% endfor %}<br/></dd>
      <dt>Publisher</dt>                  <dd>{% for publisher in item.publisher %}{{ publisher }}                    <br/>{% endfor %}<br/></dd>

    </dl>
  </p>
  <hr>
  <p>
    <dl class="dl-horizontal">
      <dt>Timestamp</dt>                  <dd>{{ item.timestamp }}</dd>
      <dt>Id</dt>                         <dd>{{ item.id }}</dd>
      <dt>Created</dt>                    <dd>{{ item.created }}</dd>
      <dt>Last Modified</dt>              <dd>{{ item.last_modified }}</dd>
      <hr>
      <dt>Campus</dt>                     <dd>{{ item.campus }}</dd>
      <dt>Repository</dt>                 <dd>{{ item.repository }}</dd>
      <dt>Collection</dt>                 <dd>{{ item.collection }}</dd>
      <hr>
      <dt>Coverage</dt>                   <dd>{{ item.coverage }}</dd>
      <dt>Language</dt>                   <dd>{{ item.language }}</dd>
      <dt>Source</dt>                     <dd>{{ item.source }}</dd>
      <dt>Type</dt>                       <dd>{{ item.type }}</dd>
      <dt>Date Facet</dt>                 <dd>{{ item.date_facet }}</dd>
      <dt>url_item</dt>                   <dd>{{ item.url_item }}</dd>
      <dt>reference_image_md5</dt>        <dd>{{ item.reference_image_md5 }}</dd>
      <hr>
      <dt>Relation</dt>                   <dd>{{ item.relation }}</dd>
      <dt>payloads</dt>                   <dd>{{ item.payloads }}</dd>
      <dt>Score</dt>                      <dd>{{ item.score }}</dd>
    </dl>
  </p>
{% endfor %}

{% endblock %}
