{% load static %}
<div class="row thumbview">
  {% for item in search_results %}
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
    <a class="thumbview__link js-item-link" href="{% url 'calisphere:itemView' item.id %}" data-item_id="{{ item.id }}" data-item_number="{{ start|add:forloop.counter0 }}">
      <div class="thumbview__container" data-toggle="tooltip" title="{{ item.title.0 }}">
        {% if item.type_ss.0|lower != "image" %}
        <div class="icon__overlay-container">
          {% if item.type_ss.0|lower == "moving image" %}
          <span class="fa fa-play-circle-o fa-fw thumbview__icon-overlay"></span>
          {% elif item.type_ss.0|lower == "sound"%}
          <span class="fa fa-volume-up fa-fw thumbview__icon-overlay"></span>
          {% elif item.type_ss.0|lower == "text"%}
          <span class="fa fa-file-text-o fa-fw thumbview__icon-overlay"></span>
          {% elif item.type_ss.0|lower == "dataset" %}
          <span class="fa fa-bar-chart fa-fw thumbview__icon-overlay"></span>
          {% endif %}
        {% endif %}
        {% if item.reference_image_md5 %}
          <div class="thumbview__image-container">
            <img class="thumbview__image"
            src="{{ thumbnailUrl }}crop/210x210/{{ item.reference_image_md5 }}"
            srcset="{{ thumbnailUrl }}crop/210x210/{{ item.reference_image_md5 }} 60w, {{ thumbnailUrl }}crop/310x310/{{ item.reference_image_md5 }} 50w"
            sizes="100vw"
            alt="{{ item.title.0|truncatewords:8 }}">
          </div>
        {% else %}
          <img class="thumbview__image--no-image" src="{% static 'images/transparent.png' %}" alt="{{ item.title.0|truncatewords:8 }}">
        {% endif %}
        {% if item.type_ss.0|lower != "image" %}
        </div>
        {% endif %}
        <div class="thumbview__caption">{{ item.title.0|truncatewords:8 }}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
