{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='Jobs' description='The California Digital Library is seeking an energetic, media-savvy individual to help us develop a social media strategy for Calisphere. This is a unique, short-term opportunity.'%}
{% endblock %}

{% block content %}

<h1>Job Opportunities</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

		<p>There are no open positions at this time. Please check back later!</p>
  </div>

  <div class="col-sm-4 static__sidebar">

  	<h2 class="static__sidebar-heading">Looking for more jobs in digital libraries?</h2>

  	<p>Calisphere is managed by the California Digital Library (CDL) at the University of California Office of the President (UCOP). Other employment and internship opportunities at our organization are listed on the <a href="http://www.cdlib.org/about/jobs.html">CDL website</a> and on the <a href="https://jobs.ucop.edu/">UCOP employment website.</a></p>


  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
