{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='Jobs' description='The California Digital Library is seeking an energetic, media-savvy individual to help us develop a social media strategy for Calisphere. This is a unique, short-term opportunity.'%}
{% endblock %}

{% block content %}

<h1>Job Opportunities</h1>

<!-- Begin Static About Component -->

<div class="static">

  <div class="col-sm-8 static__main">

		<p>We are currently hiring for the following positions.</p>
		<h2>Applications Programmer (7299)</h2>
		<p>Do you have a knack for coding? Want to help transform research, teaching, and learning? This 15-month project offers the unique opportunity to learn and apply programming skills, and leave your mark on a high-profile, statewide public initiative.</p>
		<p>The California Digital Library (CDL) is seeking your help in growing our website <a href="https://calisphere.org">Calisphere</a>. Calisphere provides free access to over half a million historical documents and artifacts—such as photographs, letters, diaries, videos, and sound recordings—from 160+ libraries, archives, and museums throughout California. We also share those resources with the <a href="http://dp.la/">Digital Public Library of America (DPLA)</a>, a national platform that brings together over 13 million digital resources from throughout the U.S.</p>
  <h3>The project</h3>
  <p>We have a goal of adding hundreds of additional collections to Calisphere in the next two years. How can you help us get there?</p>
  <p>You will have a primary role in conducting "harvests" of digital collections, which involves using protocols to import metadata records from various library and museum systems into a centralized database and associated Solr index.</p>
  <p>Working under the direction of the metadata harvest Technical Lead, and working closely with the Operations Manager, you will be trained on performing steps necessary to set up and harvest new collections. We will provide you with a list of digital collections—maintained by a range of public and academic libraries, archives, and museums throughout the state—prioritized for harvesting.</p>
<p>Job duties and requirements are available on <a href="https://jobs.ucop.edu/applicants/Central?quickFind=59550">the official job listing</a>.</p>

<h3>Logistics</h3>
<p>You will work with staff at the CDL, which is a unit in the University of California’s systemwide headquarters, located in the vibrant Uptown neighborhood of Oakland, California. Remote applicants will also be considered and are encouraged to apply.</p>
<p>This is a full-time, 15-month contract appointment with the possibility of extension. Salary information is available on <a href="https://jobs.ucop.edu/applicants/Central?quickFind=59550">the official job listing</a>.</p>

<h3>How to apply</h3>
<p>Visit the job listing at <a href="https://jobs.ucop.edu/applicants/Central?quickFind=59550">https://jobs.ucop.edu/applicants/Central?quickFind=59550</a> and follow the application instructions. Please be prepared to attach your resume and cover letter.</p>
  </div>

  <div class="col-sm-4 static__sidebar">

  	<h2 class="static__sidebar-heading">Looking for more jobs in digital libraries?</h2>

  	<p>Calisphere is managed by the California Digital Library (CDL) at the University of California Office of the President (UCOP). Other employment and internship opportunities at our organization are listed on the <a href="http://www.cdlib.org/about/jobs.html">CDL website</a> and on the <a href="https://jobs.ucop.edu/">UCOP employment website.</a></p>


  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
