{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block page-metadata %}
{% include "calisphere/microdata.html" with title='Posters' %}
{% endblock %}

{% block content %}

<h1>Calisphere Posters</h1>

<!-- Begin Static Posters Component -->

<div class="static">

  <div>

		<p>Share your love of Calisphere! We offer free posters for students, teachers, and librarians. We’ll even mail them at no charge!</p>

                <p>To order posters, please send an email with the following information to <a href="mailto:calisphere@cdlib.org">calisphere@cdlib.org</a>. You can also contact us about special orders for large groups. (Please note that the posters are currently being printed; we anticipate they will be available for shipping starting in November 2016.)</p>

		<ul>
		<li>Name</li>
		<li>Occupation</li>
		<li>Mailing address</li>
		<li>Desired design and quantities</li>
		</ul>
<p>Each poster measures 14.75 x 24 inches.</p>
    </div>


    <div class="col-sm-12">
    {% for key, poster in poster_data %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="poster__container">
            <a href="#" class="hidden-xs hidden-sm" data-toggle="modal" data-target="#posterModal{{ key }}" title="{{ poster.title }}">
                <div>
                    <img src="{{ ucldcImages }}/{{ poster.image }}" class="poster__imagePreview">
                </div>
            </a>
            <a href="{{ poster.source }}" class="visible-xs-inline visible-sm-inline" title="{{ poster.title }}">
                <div>
                    <img src="{{ ucldcImages }}/{{ poster.image }}" class="poster__imagePreview">
                </div>
            </a>
            <div class="poster__info">
                {{ poster.title }} / {{ poster.contributor }}
            </div>
            <div class="poster__source">
                <a href="{{ poster.source }}">
                    View Source Image
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="posterModal{{ key }}" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <a href="{{ poster.source }}" title="{{ poster.title }}">
                        <img src="{{ ucldcImages }}/{{ poster.image }}" class="poster__imageLarge">
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

  </div>

</div>

<!-- End Static About Component -->
{{ q }}
{% endblock %}
