{% load calisphere-extras %}
{% load static %}

<div class="related-coll" id="related-coll">
  <h3 class="related-coll__title">
    {{ num_related_collections }} Collections in Search Results</h3>
  {% for related_collection in related_collections %}
    <div class="col-xs-12 col-sm-4">
      <a class="related-coll__link js-relatedCollection" href="{% url 'calisphere:collectionView' related_collection.collection_id %}" data-pjax="js-pageContent">
        <div class="related-coll__container">
          <div class="col-xs-12 col-sm-12">
            
            {% with related_collection.image_urls as items %}
            {% for item in items %}
            <div class="related-coll__image{{ forloop.counter }}" style="position: relative;">
              {% if item.type_ss.0|lower != "image" %}
                {% if item.type_ss.0|lower == "moving image" %}
                <span class="fa fa-play-circle-o fa-fw thumbview__icon-overlay"></span>
                {% elif item.type_ss.0|lower == "sound"%}
                <span class="fa fa-volume-up fa-fw thumbview__icon-overlay"></span>
                {% elif item.type_ss.0|lower == "text"%}
                <span class="fa fa-file-text-o fa-fw thumbview__icon-overlay"></span>
                {% elif item.type_ss.0|lower == "dataset" %}
                <span class="fa fa-bar-chart fa-fw thumbview__icon-overlay"></span>
                {% endif %}
              {% endif %}
              {% if item.reference_image_md5 %}
                <img style="width: 100%; height: 100%"
                src="{{ thumbnailUrl }}crop/{% if forloop.counter == 1 %}300x300{% else %}200x200{% endif %}/{{ item.reference_image_md5 }}"
                alt="{{ item.title.0|truncatewords:12 }}">
              {% else %}
                <img src="{% static 'images/transparent.png' %}" alt="{{ item.title.0|truncatewords:12 }}" style="border: 1px solid #8b8d8e; width:100%; height:100%">
              {% endif %}
            </div>
            {% endfor %}
                        
            {% endwith %}            
          </div>
          <div class="col-xs-12 col-sm-12 related-coll__caption">
            <p>{{ related_collection.name }}</p>
            <p>Institution: {{ related_collection.institution }}</p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  
  {% if rc_page > 0 %}
    <button class="btn btn-link related-coll__prev-button js-rc-page" data-rc_page="{{ rc_page|subtract:1 }}">
      <span class="fa fa-caret-left"></span>
      <abbr title="Previous">Prev</abbr>
    </button>
  {% endif %}
  
  {% if rc_page|multiply:3|add:3 < num_related_collections %}
  <button class="btn btn-link related-coll__next-button js-rc-page" data-rc_page="{{ rc_page|add:1 }}">
    Next
    <span class="fa fa-caret-right"></span>
  </button>
  {% endif %}

</div>