{% extends "calisphere/searchResults.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block breadcrumbs %}{% endblock %}

{% block pageTitle %}<h2 class="text__page-heading">{{ repository.name }}</h2>{% endblock %}

{% block additionalInfo %}

<div class="collection-intro">

  <div class="col-md-3">
    <div class="collection-intro__institution">
      {{ repository.name }}<br>
      {{ repository.campus.0.name }}<br>
      Phone: {{ contact_information.phone }}<br>
      Email: {{ contact_information.email }}<br>
      Website: {{ contact_information.url }}<br>
    </div>
  </div>

  <div class="col-md-9">
    <div class="collection-intro__about">
      <h3 class="collection-intro__about-heading">About this Institution</h3>
      <span class="collection-intro__about-description">{{ contact_information.description }} <br/>
      </span>
    </div>
  </div>

</div>

{% endblock %}

{% block refineSearch %}

<!-- Begin Search Collection Field -->

<a class="btn btn-default button__back-to-institution" 
  href="{% url 'calisphere:repositoryView' repository_id 'collections' %}">
  Collections
</a>

<div class="search-collection">
  <label for="search-collection__field" class="search-collection__label">Search collection</label>
  <div class="input-group">
    <input id="search-collection__field" type="search" name="rq" class="form-control search-collection__field" form="js-facet">
    <span class="input-group-btn">
      <button class="btn btn-default search-collection__button" type="submit" form="js-facet">Search
      </button>
    </span>
  </div>
</div>

<!-- End Search Collection Field -->

{% endblock %}

{% block objectsFound %}
{{ numFound }} Objects Found in this collection
{% endblock %}

{% block relatedCollections %}
{% endblock %}