{% extends "calisphere/repositoryView.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block sidebar %}
<a class="btn btn-default button__back-to-institution" 
	href="{% url 'calisphere:repositoryView' repository_id 'collections' %}">
	Collections
</a>
<a class="btn btn-default button__back-to-institution" 
	href="{% url 'calisphere:repositoryView' repository_id 'items' %}">
	Search
</a>
{% endblock %}

{% block mainContent %}

<h2 class="text__institution-heading2">Collections</h2>

	{% for collection in collections %}
	  {% include "calisphere/collectionPreview.html" %}
	{% endfor %}

{% endblock %}