{% load staticfiles %}
    {% if devMode or 1 == 1 %}
      <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
      <script src="{% static "bower_components/jquery-pjax/jquery.pjax.js" %}"></script>
      <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
      <script src="{% static "bower_components/underscore/underscore-min.js" %}"></script>
      <script src="{% static "bower_components/mediaelement/build/mediaelement-and-player.js" %}"></script>
      <script src="{% static "bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js" %}"></script>
      <script src="{% static "bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js" %}"></script>
      <script src="{% static "bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js" %}"></script>
      <script src="{% static "bower_components/slick.js/slick/slick.min.js" %}"></script>
      <script src="{% static "bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js" %}"></script>
      <script src="{% static "bower_components/get-size/get-size.js" %}"></script>
      <script src="{% static "bower_components/desandro-matches-selector/matches-selector.js" %}"></script>
      <script src="{% static "bower_components/eventEmitter/EventEmitter.js" %}"></script>
      <script src="{% static "bower_components/eventie/eventie.js" %}"></script>
      <script src="{% static "bower_components/doc-ready/doc-ready.js" %}"></script>
      <script src="{% static "bower_components/classie/classie.js" %}"></script>
      <script src="{% static "bower_components/unipointer/unipointer.js" %}"></script>
      <script src="{% static "bower_components/unidragger/unidragger.js" %}"></script>
      <script src="{% static "bower_components/fizzy-ui-utils/utils.js" %}"></script>
      <script src="{% static "bower_components/tap-listener/tap-listener.js" %}"></script>
      <script src="{% static "bower_components/infinite-scroll/jquery.infinitescroll.js" %}"></script>
      <script src="{% static "bower_components/imagesloaded/imagesloaded.pkgd.js" %}"></script>
      <script src="{% static "bower_components/backbone/backbone.js" %}"></script>
      <script src="{% static "bower_components/typeahead.js/dist/typeahead.bundle.js" %}"></script>
      <script src="{% static "bower_components/nprogress/nprogress.js" %}"></script>
      <script src="{% static "bower_components/jQuery.dotdotdot/src/js/jquery.dotdotdot.min.js" %}"></script>
      <script src="{% static "bower_components/isotope/dist/isotope.pkgd.min.js" %}"></script>
    {% else %}
      <script src="{% static "scripts/vendor.js" %}"></script>
      <script src="{% static "scripts/vendor/modernizr.js" %}"></script>
    {% endif %}

    <script src="{% static "scripts/query-manager.js" %}"></script>
    <script src="{% static "scripts/new-search.js" %}"></script>
    <script src="{% static "scripts/contact-form.js" %}"></script>
    <script src="{% static "scripts/calisphere.js" %}"></script>
