{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block content %}

    {% block breadcrumbs %}<p class="text__breadcrumb-nav">Search > {{ q }}</p>{% endblock %}

    {% block pageTitle %}<h2 class="text__page-heading">Search Results for "<strong>{{ q }}</strong>"</h2>{% endblock %}
    
    {% block additionalInfo %}{% endblock %}

    <!-- Begin Filters -->


      <div class="col-md-9 layout-col__1">

        <!-- Begin Filter Component -->
        {% if filters|dictionary_length > 0 or rq|length > 0 %}<div class="filter">
          
          <span class="filter__note">Filters you've selected:</span>
          
          {% for filter_type in filters %}
            {% for filter in filters|get_item:filter_type %}
              {% if filter_type == 'collection_data' or filter_type == 'repository_data' %}
                <button type="button" class="btn btn-default btn-xs filter-pill button__close js-filter-pill" data-slug="{{ filter.id }}">{% if filter.campus %}{{ filter.campus }} - {% endif %}{{ filter.name }}<i class="fa fa-close button__close-icon"></i>
                </button>
              {% else %}
                <button type="button" class="btn btn-default btn-xs filter-pill button__close js-filter-pill" data-slug="{{ filter|slugify }}">{{ filter }}<i class="fa fa-close button__close-icon"></i>
                </button>
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% for refine in rq %}
            <input form="js-facet" type="hidden" name="rq" value="{{ refine }}">
            <button type="button" class="btn btn-default btn-xs js-refine-filter-pill button__close" data-slug="{{ refine }}">{{ refine }}<i class="fa fa-close button__close-icon"></i>
            </button>
          {% endfor %}

          <button type="button" class="btn btn-default btn-xs button__clear filter__clear-all">Clear Filters
          </button>

        </div>{% endif %}
        <!-- End Filter Component -->

      </div>

    <!-- End Filters -->

      <div class="col-md-3 layout-col__2">
        {% block sidebar %}
        
          {% block refineSearch %}

            <!-- Begin Search Within Field -->
            <div class="search-within">
              <label for="search-within__field" class="search-within__label">Search within results</label>
              <div class="input-group">
                <input id="search-within__field" type="search" name="rq" class="form-control search-within__field" form="js-facet">
                <span class="input-group-btn">
                  <button class="btn btn-default search-within__button" type="submit" form="js-facet">Search
                  </button>
                </span>
              </div>
            </div>
            <!-- End Search Within Field -->

          {% endblock %}

          <!-- Begin Checkbox Groups -->
          {% include "calisphere/forms/faceting.html" %}
          <!-- End Checkbox Groups -->
        {% endblock %}
      </div>

      <div class="col-md-9 layout-col__3">
        {% block mainContent %}
          
        <!-- TODO: facets.collection_name|length is only accurate if no collection filters have been applied -->
        <h3 class="text__collections-heading">{% block objectsFound %}{{ numFound }} Objects Found in 
          <a href="#related-coll">
            {% if filters|get_item:'collection_data'|length == 0 %}
              {{ facets.collection_data|length }}
            {% else %}
              {{ filters|get_item:'collection_data'|length }}
            {% endif %}
            Collections
          </a>{% endblock %}
        </h3>

        <div class="row object-view-row">
          
          <!-- Begin Dropdown Pagination Component -->
          {% include "calisphere/forms/paginate.html" %}
          <!-- End Dropdown Pagination Component -->

          <!-- Begin Toggle Component -->

          <div class="thumblist-toggle">
            <input form="js-facet" type="hidden" id="view_format" name="view_format" value="{{ view_format }}">
            <button id="thumbnails" class="btn btn-link thumblist-toggle__thumbnails
            " href=""><span class="fa fa-th-large"></span>Thumbnails</button>
            <button id="list" class="btn btn-link thumblist-toggle__list" href=""><span class="fa fa-th-list"></span>List</button>
          </div>

          <!-- End Toggle Component -->

        </div>

        <!-- TODO: rewrite this form, POST bad. maintain state through javascript object -->
        
        <!-- Begin Thumbnail and List View Components -->
        
        {% if view_format == "thumbnails" %}
          {% include "calisphere/item-thumb.html" %}
        {% elif view_format == "list" %}
          {% include "calisphere/list-results.html" %}
        {% endif %}

        <!-- End Thumbnail and List View Components -->

        <!-- Begin Buttons Pagination Component -->
          {% include "calisphere/forms/paginate-buttons.html" %}
        <!-- End Buttons Pagination Component -->

        <!-- Begin Related Collections Component -->
        {% block relatedCollections %}
        <div class="related-coll--search-results-page" id="js-relatedCollections">
          {% include "calisphere/related-collections.html" %}
        </div>
        {% endblock %}
        <!-- End Related Collections Component -->
      {% endblock %}
      </div>
{% endblock %}
