{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block content %}

    <p class="text__breadcrumb">Search > {{ q }}</p>

    <h2 class="text__page-heading">Search Results / <strong>{{ q }}</strong></h2>

    <!-- Begin Refine Search Field and Filters -->

      <div class="col-md-9 pull-right">

        <!-- Begin Filter Component -->
        {% if filters|dictionary_length > 0 or rq|length > 0 %}<div class="filter">
          
          <span class="filter__note">Filters you've selected:</span>
          
          {% for facet_type in FACET_TYPES %}
            {% for filter in filters|get_item:facet_type.0 %}
              <button type="button" class="btn btn-default btn-xs filter-pill button__close js-filter-pill" data-slug="{{ filter|slugify }}">{{ filter }}<i class="fa fa-close button__close-icon"></i>
              </button>
            {% endfor %}
          {% endfor %}
          
          {% for refine in rq %}
            <input form="js-facet" type="hidden" name="rq" value="{{ refine }}">
            <button type="button" class="btn btn-default btn-xs js-refine-filter-pill button__close" data-slug="{{ refine }}">{{ refine }}<i class="fa fa-close button__close-icon"></i>
            </button>
          {% endfor %}

          <a class="filter__clear-all" href="#">Clear All</a>

        </div>{% endif %}
        <!-- End Filter Component -->

      </div>

    <!-- End Refine Search Field and Filters -->

      <div class="col-md-3">
        <!-- Begin Refine Search Field -->
        {% include "calisphere/forms/refineQuery.html" %}
        <!-- End Refine Search Field -->

        <!-- Begin Checkbox Groups -->
        {% include "calisphere/forms/faceting.html" %}
        <!-- End Checkbox Groups -->
      </div>

      <div class="col-md-9 pull-right">
          
        <div class="row object-view-row">
          
          <!-- TODO: facets.collection_name|length is only accurate if no collection filters have been applied -->
          <h3 class="text__collections-heading">{{ numFound }} Objects Found in 
            <a href="#related-coll">
              {% if filters|get_item:'collection_data'|length == 0 %}
                {{ facets.collection_data|length }}
              {% else %}
                {{ filters|get_item:'collection_data'|length }}
              {% endif %}
              Collections
            </a>
          </h3>
          
          <!-- Begin Dropdown Pagination Component -->
          {% include "calisphere/forms/paginate.html" %}
          <!-- End Dropdown Pagination Component -->

          <!-- Begin Toggle Component -->

          <div class="thumblist-toggle">
            <input form="js-facet" type="hidden" id="view_format" name="view_format" value="{{ view_format }}">
            <button id="thumbnails" class="btn btn-link thumblist-toggle__thumbnails
            " href=""><span class="fa fa-th-large"></span>Thumbnails</button>
            <button id="list" class="btn btn-link thumblist-toggle__list" href=""><span class="fa fa-th-list"></span>List</button>
          </div>

          <!-- End Toggle Component -->

        </div>

        <!-- TODO: rewrite this form, POST bad. maintain state through javascript object -->
        
        <!-- Begin Thumbnail and List View Components -->
        
        {% if view_format == "thumbnails" %}
          {% include "calisphere/item-thumb.html" %}
        {% elif view_format == "list" %}
          {% include "calisphere/list-results.html" %}
        {% endif %}

        <!-- End Thumbnail and List View Components -->

        <!-- Begin Buttons Pagination Component -->
          {% include "calisphere/forms/paginate-buttons.html" %}
        <!-- End Buttons Pagination Component -->

        <!-- Begin Related Collections Component -->
        <div class="related-coll--search-results-page" id="js-relatedCollections">
          {% include "calisphere/related-collections.html" %}
        </div>
        <!-- End Related Collections Component -->

      </div>
    
{% endblock %}
