{% extends "calisphere/base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block title %}: {{ q }}{% endblock %}

{% block content %}

    {% block pageTitle %}<h2 class="text__page-heading">Search Results for "<strong>{{ q }}</strong>"</h2>{% endblock %}

    {% block additionalInfo %}{% endblock %}

    <!-- Begin Filters -->


      <div class="col-md-9 layout-col__1">

        <!-- Begin Filter Component -->
        {% block filters %}
        {% if filters|dictionary_length > 0 or rq|length > 0 %}<div class="filter">

          <span class="filter__note">Filters you've selected:</span>

          {% for filter_type in filters %}
            {% for filter in filters|get_item:filter_type %}
              {% if filter_type == 'collection_data' or filter_type == 'repository_data' %}
                <button type="button" class="btn btn-default btn-xs filter-pill button__close js-filter-pill" data-slug="{{ filter.id }}">{% if filter.campus %}{{ filter.campus }}, {% endif %}{{ filter.name }}<i class="fa fa-close button__close-icon"></i>
                </button>
              {% else %}
                <button type="button" class="btn btn-default btn-xs filter-pill button__close js-filter-pill" data-slug="{{ filter|slugify }}">{{ filter }}<i class="fa fa-close button__close-icon"></i>
                </button>
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% for refine in rq %}
            <input form="js-facet" type="text" style="display:none;" name="rq" value="{{ refine }}">
            <button type="button" class="btn btn-default btn-xs js-refine-filter-pill button__close" data-slug="{{ refine }}">{{ refine }}<i class="fa fa-close button__close-icon"></i>
            </button>
          {% endfor %}

          <button type="button" class="btn btn-default btn-xs button__clear filter__clear-all js-clear-filters">Clear Filters
          </button>

        </div>{% endif %}
        {% endblock %}
        <!-- End Filter Component -->

      </div>

    <!-- End Filters -->

      <div class="col-md-3 layout-col__2">
        {% block sidebar %}

          {% block refineSearch %}

            <!-- Begin Search Within Field -->
            <div class="search-within">
              <label for="search-within__field" class="search-within__label">Search within results</label>
              <div class="input-group">
                <input id="search-within__field" type="search" name="rq" class="form-control search-within__field" form="js-facet">
                <span class="input-group-btn">
                  <button class="btn btn-default search-within__button" type="submit" form="js-facet">Refine
                  </button>
                </span>
              </div>
            </div>
            <!-- End Search Within Field -->

          {% endblock %}

          <!-- Begin Checkbox Groups -->
          {% include "calisphere/forms/faceting.html" %}
          <!-- End Checkbox Groups -->
        {% endblock %}
      </div>

      <div class="col-md-9 layout-col__3">
        {% block mainContent %}

        <!-- TODO: facets.collection_name|length is only accurate if no collection filters have been applied -->
        <h3 class="text__collections-heading">{% block objectsFound %}{{ numFound }} Items Found in
          <a href="#related-coll">
            {% if filters|get_item:'collection_data'|length == 0 %}
              {{ facets.collection_data|length }}
            {% else %}
              {{ filters|get_item:'collection_data'|length }}
            {% endif %}
            Collections
          </a>{% endblock %}
        </h3>

        <div class="row object-view-row">

          <!-- Begin Dropdown Pagination Component -->
          {% include "calisphere/forms/paginate.html" %}
          <!-- End Dropdown Pagination Component -->

          <!-- Begin Toggle Component -->

          <div class="thumblist-toggle">
            <input form="js-facet" type="text" style="display: none;" id="view_format" name="view_format" defaultValue="thumbnails" value="{{ view_format }}">
            <button id="thumbnails" class="btn btn-link thumblist-toggle__thumbnails
            "><span class="fa fa-th-large"></span>Thumbnails</button>
            <button id="list" class="btn btn-link thumblist-toggle__list" href=""><span class="fa fa-th-list"></span>List</button>
          </div>

          <!-- End Toggle Component -->

        </div>

        <!-- TODO: rewrite this form, POST bad. maintain state through javascript object -->

        <!-- Begin Thumbnail and List View Components -->

        {% if view_format == "thumbnails" %}
          {% include "calisphere/item-thumb.html" %}
        {% elif view_format == "list" %}
          {% include "calisphere/list-results.html" %}
        {% endif %}

        <input form="js-facet" type="text" style="display:none;" id="start" name="start" value="{{ start }}">

        <!-- End Thumbnail and List View Components -->

        <div class="row">
          <div class="pag-dropdown">

            {% if start|subtract:rows >= 0 %}
          	  <button class="js-prev btn btn-link pag-dropdown__arrow-icon" data-start="{{ start|subtract:rows }}"><span class="fa fa-caret-left fa-lg"></span></button>
            {% else %}
              <button class="js-prev btn btn-link pag-dropdown__arrow-icon" disabled><span class="fa fa-caret-left fa-lg"></span></button>
            {% endif %}

            <label for="start" class="sr-only">Current Number</label>

            <select class="pag-dropdown__select--unstyled" form="js-facet">
              {% for page in pages|get_range %}
              <option value="{% widthratio page 1 rows %}" {% if start|add:0 >= page|multiply:rows|add:0 and start|add:0 < page|add:1|multiply:rows|add:0 %}selected{% endif %}>{{ page|add:"1" }}</option>
              {% endfor %}
            </select>

            <span class="pag-dropdown__total-number">of {{ pages }}</span>

            {% if start|add:rows < numFound %}
          	  <button class="js-next btn btn-link pag-dropdown__arrow-icon" data-start="{{ start|add:rows }}"><span class="fa fa-caret-right fa-lg"></span></button>
            {% else %}
              <button class="js-next btn btn-link pag-dropdown__arrow-icon" disabled><span class="fa fa-caret-right fa-lg"></span></button>
            {% endif %}

  		    </div>

          <!-- Begin Buttons Pagination Component -->
            {% include "calisphere/forms/paginate-buttons.html" %}
          <!-- End Buttons Pagination Component -->
        </div>

        <!-- Begin Related Collections Component -->
        {% block relatedCollections %}
        <div class="related-coll--search-results-page" id="js-relatedCollections">
          {% include "calisphere/related-collections.html" %}
        </div>
        {% endblock %}
        <!-- End Related Collections Component -->
      {% endblock %}
      </div>
{% endblock %}
