{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}
{% load calisphere-extras %}
{% load staticfiles %}

{% block title %}: Statewide Partners{% endblock %}

{% block content %}

{% include "calisphere/institutionsHeader.html" %}

<div class="inst-textboxes">
{% for bin in state_repositories %}
  {% for char, repos in bin.items %}
  	<div class="inst-textboxes__box">
  		<h3 class="inst-textboxes__box-heading">{{ char }}</h3>
  		<ul class="inst-textboxes__list">
      {% for repository in repos %}
          <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="{% url 'calisphere:repositoryView' repository.repository_id 'collections' %}">{{ repository.name }}</a></li>
      {% endfor %}
    	</ul>
    </div>
  {% endfor %}
{% endfor %}
</div>

{% endblock %}
