{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block title %}: Terms of Use and Copyright Information{% endblock %}

{% block content %}

<h1>Terms of Use and Copyright Information</h1>

<div class="static">

  <div class="col-sm-8 static__main">

		<h2>About Calisphere</h2>

		<p>This site is managed by the California Digital Library. The content you find on this website, which includes digital items such as images, texts, and sound recordings, have been made publicly available by their contributing institutions for research, teaching, and private study.
</p>

		<h2>Using digital items</h2>

		<p>Calisphere contains a wide variety of items from many different institutions. Some items are in the public domain and may be freely used by anyone; in the case of other items, the contributing institution is the copyright holder and may grant permission for certain uses; for still others, the copyright owner is a third party or is unknown and users will need to conduct their own analysis (and may need to contact a copyright holder directly).</p>
<p>The first step for determining the copyright status of a given item is to consult the information about the item such as rights status, creator, and date. This information can be found directly beneath the item. The contributing institution may have additional information about the item and its copyright status. Click the “contact owner” button to send a message to the institution requesting more information.</p>
<p>You may still be able to use items that are protected by copyright for educational, research, or other purposes. You--not the California Digital Library or the item’s contributing institution--are responsible for determining whether your use of an item is permitted by law. You can learn more about what uses of copyrighted materials are allowed by law at the American Library Association’s <a href="http://librarycopyright.net/">Copyright Advisory Network</a>, which has tools to help explain <a href="http://librarycopyright.net/resources/exemptions/">copyright guidelines for instructors</a> and <a href="http://librarycopyright.net/resources/fairuse/">fair use</a>.
</p>
		<h2>Linking to digital items</h2>
		<p>Anyone is welcome to view and link to any page of this site without further permission. This includes, for example, including a link to a particular page within this site from a syllabus or from your own website.
</p>

<h2>Citing digital items</h2>
<p>When citing or using material from the site, please provide information about the item so that others can learn more about and return to the original. Include the name of the contributing institution, a link to the item, and title and date information when available. Click the "get citation" button on a given item to easily find this information. You can then use your preferred style guide for formatting the citation. The Library of Congress provides additional guidance on <a href="http://www.loc.gov/teachers/usingprimarysources/citing.html">citing primary sources.</a></p>

		<h2>What you can do with item information</h2>
<p>Metadata on Calisphere, which is the factual information describing items on the site, can be freely shared and reused. <a href="https://registry.cdlib.org/documentation/docs/registry/access-policies/">Learn more</a>.
</p>

		<h2>Know something we don't?</h2>

		<p>The sometimes obscure nature of historical, archival, and/or primary source collections can make it difficult to know all the details about the items that appear on this site. The California Digital Library and the contributing institution provide as much information as is feasible, in accordance with commonly-accepted community standards and best practices. However, due to the limited resources available for investigating individual items and describing them fully, records may lack accurate and/or complete information about facts such as the item’s exact age, creator, or copyright status.</p>

		<p>If you have information about an item on this site that is not represented in the item’s metadata or would like to help correct an error, please contact the contributing institution using the “contact owner” button.</p>

  </div>

  <div class="col-sm-4 static__sidebar">

  	<h3 class="static__sidebar-heading">Need more help?</h3>
  	<p>Check out our <a href="/help/">frequently asked questions</a>.</p>

  </div>

</div>

{{ q }}
{% endblock %}
