{% extends "calisphere/base.html"|pjax:request %}

{% block content %}

<h1>Terms of Use</h1>

<div class="static">
  
  <div class="col-sm-8 static__main">
    
		<p>Terms of use content.</p>

  </div>

  <div class="col-sm-4 static__sidebar">
    
  	<h3 class="static__sidebar-heading">Join us!</h3>
  	<p>Calisphere aggregates digital content and metadata from established collecting institutions in California. If you represent such an organization and are interested in contributing digital content to the site, <a href="/contact/">please contact us</a>.</p>

  </div>
  
</div>

{{ q }}
{% endblock %}
