{% if ucldcWalkMe == 'test' %}

<script type="text/javascript">(function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://cdn.walkme.com/users/fa5e3a38858947a08316b89f873a0cb2/test/walkme_fa5e3a38858947a08316b89f873a0cb2_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); window._walkmeConfig = {smartLoad:true}; })();</script>

{% elif ucldcWalkMe == 'prod' %}

<script type="text/javascript">(function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://cdn.walkme.com/users/fa5e3a38858947a08316b89f873a0cb2/walkme_fa5e3a38858947a08316b89f873a0cb2_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); window._walkmeConfig = {smartLoad:true}; })();</script>  

{% endif %}