// ##### Alignment for Page Layouts ##### //

// These component base styles set the margin between components within page layouts. Margin styles for components should be set within their individual Sass files, not here.

.global-header {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.filter {

  @include bp(md-screen) {
    margin: 0 0 0 $layout-component-margin;
  }

}

.check__header {

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.text__collections-heading {

  @include bp(md-screen) {
    margin: 54px 0 0 $layout-component-margin;
  }

}

.thumblist-toggle {
  @include bp(sm-screen) {
    float: right;
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }

  @include bp(md-screen) {
    float: left;
    margin: 57px 0 0 $layout-component-margin;
  }

}

.pag {
  display: none;

  @include bp(md-screen) {
    display: block;
    float: right;
    margin: 53px -0.5em 0 0;
  }

}

.thumbview {
  margin: 0 0 0 (-$layout-component-margin);

  @include bp(md-screen) {
    margin: 0;
  }

}

.thumbview-collections {
  margin: $layout-component-margin 0 0 (-$layout-component-margin);

  @include bp(sm-screen) {
    margin: 0;
  }

}

.listview {

  @include bp(sm-screen) {
    margin: $layout-component-margin (-$layout-component-margin) 0 $layout-component-margin;
  }
  
}

.related-coll {
  margin: $layout-component-margin 0 0 0;

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }
  
}

.alphanav {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }
  
}

.global-footer {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}
