// ##### Alignment for Page Layouts ##### //

// These styles set the margin between components laid out within a page template. Margin styles for components should be set within their individual Sass files, not here.

.global-header {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.filter {

  @include bp(sm-screen) {
    margin: 0 0 0 $layout-component-margin;
  }

}

.text__collections-heading {

  @include bp(sm-screen) {
    margin: 52px 0 0 $layout-component-margin;
  }

}

.thumblist-toggle {

  @include bp(sm-screen) {
    float: left;
    margin: 57px 0 0 $layout-component-margin;
  }

}

.pag {
  display: none;

  @include bp(sm-screen) {
    display: block;
    float: right;
    margin: 53px -0.5em 0 0;
  }

}

.global-footer {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.thumbview {

  @include bp(sm-screen) {
    margin: $layout-component-margin (-$layout-component-margin) 0 $layout-component-margin;
  }

}