// ##### Alignment for Page Layouts ##### //

// These component base styles set the margin between components within page layouts. Margin styles for components should be set within their individual Sass files, not here.

.global-header {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.refine-search {
  margin: 0 0 $layout-component-margin 0;
  
  @include bp(md-screen) {
    margin: 0;
  }

}

.filter {

  @include bp(md-screen) {
    margin: 5px 0 0 $layout-component-margin;
  }

}

.facets {
  
  @include bp(md-screen) {
    
  }

}

.check__header { // refactor to use facet container

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.object-view-row {

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }

}

.text__collections-heading {
  margin: $layout-component-margin 0;

  @include bp(sm-screen) {
    display: inline-block;
    margin: $layout-component-margin 0 0 0;
  }

  @include bp(md-screen) {
    margin: 0;
  }

}

.thumblist-toggle {

  @include bp(sm-screen) {
    float: right;
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }

  @include bp(md-screen) {
    margin: 0 $layout-component-margin 0 0;
  }

}

.pag-dropdown {
  overflow: hidden;
  display: none; // show only .pag-buttons

  @include bp(md-screen) {
    display: block;
    float: right;
    margin: 0 -0.5em 0 0;
  }

}

.pag-buttons {
  text-align: center;

  @include bp(md-screen) {
    display: none; // show only .pag-dropdown
  }

}

.thumbview {
  margin: 0 0 $layout-component-margin (-$layout-component-margin);
}

.thumbview-collections {
  margin: $layout-component-margin 0 0 (-$layout-component-margin);

  @include bp(sm-screen) {
    margin: 0;
  }

}

.listview {

  @include bp(sm-screen) {
    margin: $layout-component-margin (-$layout-component-margin) 0 $layout-component-margin;
  }
  
}

.related-coll {
  margin: $layout-component-margin 0 0 0;

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }
  
}

.alphanav {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }
  
}

.global-footer {

  @include bp(sm-screen) {
    
  }

}
