// ##### Alignment for Page Layouts ##### //

// These component base styles set the margin between components within page layouts. Margin styles for components should be set within their individual Sass files, not here.

.global-header {

  @include bp(sm-screen) {
    
  }

}

.layout-col__3 {

  @include bp(md-screen) {
    padding: 0 0 0 $layout-component-margin;
  }

}

.filter {
  margin: 0 0 $layout-component-margin 0;

  @include bp(md-screen) {
    margin: 0 0 $layout-component-margin $layout-component-margin;
  }

}

.text__breadcrumb-nav {
  margin: $layout-container-margin-xs 0 0 0;

  @include bp(md-screen) {
    margin: 0;
  }

}

.button__back-to-institution {
  margin: 0 0 $layout-component-margin 0;

  @include bp(sm-screen) {
    margin: $layout-component-margin ($layout-component-margin / 2) 0 0;
  }

  @include bp(md-screen) {
    margin: 0 0 $layout-component-margin 0;
  }

}

.search-collection {
  margin: 0 0 $layout-component-margin 0;

  @include bp(sm-screen) {
    margin: 0 0 $layout-component-margin ($layout-component-margin / 2);
  }

  @include bp(md-screen) {
    margin: 0;
  }

}

.search-within {
  margin: 0 0 $layout-component-margin 0;
  
  @include bp(md-screen) {
    margin: 0;
  }

}

.facets {
  margin: 0 (-$layout-container-margin-xs);

  @include bp(sm-screen) {
    margin: 0;
  }

}

.check__header { // rename 'check' to 'facet'

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.object-view-row {

  @include bp(md-screen) {
    float: right;
    margin: $layout-component-margin 0 0 0;
  }

}

.text__collections-heading { // fix reduntant styles from _text.scss

  margin: 0 (-$layout-container-margin-xs) $layout-container-margin-xs (-$layout-container-margin-xs);
  padding: 0.75em 0 0 $layout-container-margin-xs;

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
    padding: 0;
  }

  @include bp(md-screen) {
    margin: 0;
  }

}

.thumblist-toggle {
 margin: 0 (-$layout-container-margin-xs);

  @include bp(sm-screen) {
    float: right;
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }

  @include bp(md-screen) {
    margin: 0 $layout-component-margin 0 0;
  }

}

.pag-dropdown {
  overflow: hidden;
  display: none; // show only .pag-buttons

  @include bp(md-screen) {
    display: block;
    float: right;
    margin: 0 -0.5em 0 0;
  }

}

.pag-buttons {
  text-align: center;

  @include bp(md-screen) {
    display: none; // show only .pag-dropdown
  }

}

.thumbview {
  margin: 0 0 $layout-component-margin (-$layout-component-margin);

  @include bp(sm-screen) {
    margin: 0 0 0 (-$layout-component-margin);
  }

}

.listview {

  @include bp(sm-screen) {
    margin: $layout-component-margin (-$layout-component-margin) 0 $layout-component-margin;
  }
  
}

.related-coll--search-results-page {
  margin: $layout-component-margin (-$layout-container-margin-xs) 0 (-$layout-container-margin-xs);

  @include bp(sm-screen) {
    margin: 0;
  }

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 0;
  }
  
}

.related-coll--object-page {
  margin: $layout-component-margin (-$layout-container-margin-xs) 0 (-$layout-container-margin-xs);

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

}

.alphanav {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }
  
}

.inst-textboxes {
  margin: $layout-component-margin 0 0 0;
}

.carousel {
  margin: 0 0 $layout-component-margin 0;
}

.obj-carousel {
  margin: 0 0 $layout-component-margin 0;
}

.object__metadata {

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }
  
}

.collection-intro {

  @include bp(sm-screen) {
    margin: 0 0 $layout-component-margin 0;
  }

}

.institution-intro {
  
  @include bp(sm-screen) {
    margin: 0 0 $layout-component-margin 0;
  }
  
}

.text__institutions-heading1 {
  
  @include bp(sm-screen) {
    margin: $layout-component-margin 0;
  }

}

.text__institution-heading2 {
  margin: 0 0 $layout-component-margin 0;
}

.global-footer {
 margin: 0 (-$layout-container-margin-xs);

  @include bp(sm-screen) {
    margin: $layout-container-margin-sm 0 0 0;
  }

  @include bp(md-screen) {
    margin: $layout-container-margin-md 0 0 0;
  }

}
