// ##### Alphabetical Navigation Component ##### //

.alphanav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.alphanav__list-item {
  float: left;
  margin: $layout-component-margin / 2;
  padding: 0;

  @include bp(sm-screen) {
    float: none;
    margin: 0;

    &:first-child .alphanav__list-link {
      border-top: 1px solid $design-dark-gray-color;
    }

  }

}

.alphanav__list-link {
  display: block;
  padding: 0.25em 0;
  width: 2.3em;
  color: #000;
  font-size: 1.4em;
  text-align: center;
  background: #fff;
  border: 1px solid $design-dark-gray-color;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
  }

  @include bp(sm-screen) {
    float: none;
    border: none;
    border-bottom: 1px solid $design-dark-gray-color;
    border-radius: initial;
  }

}

.alphanav__list-link--selected {
  @extend .alphanav__list-link;
  color: #fff;
  background: $design-secondary-color;
}
