// ##### Buttons ##### //

// Create 4 button color classes using the same selector construct:

@each $button__color-group, $button__color in

  (primary, $design-primary-color), // creates .button__primary class
  (secondary, $design-secondary-color),
  (dark, $design-dark-gray-color),
  (light, $design-light-gray-color) {

  .button__#{$button__color-group} {
    color: #fff;
    background: $button__color;
    border: 1px solid $button__color;
    &:hover {
      color: #fff;
      background: lighten($button__color, 15%);
      border: 1px solid lighten($button__color, 15%);
    }
  }
}

.button__close {
  border: 1px solid $design-dark-gray-color;
}

.button__close-icon {
  margin-left: 1em;
  color: $design-primary-color;
}