// ##### Buttons ##### //

// Create 4 button color classes using the same selector construct:

@each $button__color-group, $button__color in

  (primary, $design-primary-color), // creates .button__primary class
  (secondary, $design-secondary-color),
  (dark, $design-dark-gray-color),
  (light, $design-light-gray-color) {

  .button__#{$button__color-group} {
    color: #fff;
    background: $button__color;
    border: 1px solid $button__color;
    &:hover {
      color: #fff;
      background: lighten($button__color, 15%);
      border: 1px solid lighten($button__color, 15%);
    }
  }
}

.button__close {
  margin: 0 5px 5px 0;
  border: 1px solid $design-dark-gray-color;
}

.button__close-icon {
  margin-left: 1em;
  color: $design-primary-color;
}

.button__clear {
  margin: 0 0 5px 0;
  color: #fff;
  background: $design-primary-color;
}

.button__view {
  padding: 2px 5px;
}

.button__prev {

  .fa {
    margin: 0 0.1em 0 0;
  }

  abbr[title] { // Bootstrap override
    cursor: pointer;
    border: none;
  }

}

.button__next .fa {
  margin: 0 0 0 0.1em;
}

.button__contact-owner {
  @extend .button__primary;

  .fa {
    margin: 0 0.5em 0 0;
  }

}

.button__back-to-institution {
  @extend .button__secondary;
  display: block;
  clear: right; // clear filter buttons in .col-md-9
  text-align: left;
}

// ***** Institution Nav Tabs ***** //

.button__institution-tabs-container {
  margin: 1px 0 $layout-container-margin-md 0;
}

.button__institution-tabs {
  display: block;
  position: relative;
  margin: -1px 0 0 0;
  padding: 7px 15px 7px 40px;
  text-align: left;
  border: 1px solid $design-dark-gray-color;
  color: #000;

  &:before {
    position: absolute;
    left: 12px;
    top: 6px;
    font-family: FontAwesome;
  }

  &:hover {
    text-decoration: none;
    color: #000;
    background-color: $design-light-gray-color;
  }

}

.button__institution-tab-collections {
  @extend .button__institution-tabs;

  &:before {
    content: $fa-var-th;
  }

  &--selected {
    @extend .button__institution-tab-collections;
    background-color: $design-secondary-color;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: $design-secondary-color;
    }

  }

}

.button__institution-tab-contributors {
  @extend .button__institution-tabs;

  &:before {
    content: $fa-var-university;
  }

  &--selected {
    @extend .button__institution-tab-contributors;
    background-color: $design-secondary-color;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: $design-secondary-color;
    }

  }

}

.button__institution-tab-search {
  @extend .button__institution-tabs;

  &:before {
    content: $fa-var-search;
  }

  &--selected {
    @extend .button__institution-tab-search;
    background-color: $design-secondary-color;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: $design-secondary-color;
    }

  }

}
