// ##### Buttons ##### //

// Create 4 button color classes using the same selector construct:

@each $button__color-group, $button__color in

  (primary, $design-primary-color), // creates .button__primary class
  (secondary, $design-secondary-color),
  (dark, $design-dark-gray-color),
  (light, $design-light-gray-color) {

  .button__#{$button__color-group} {
    color: #fff;
    background: $button__color;
    border: 1px solid $button__color;
    &:hover {
      color: #fff;
      background: lighten($button__color, 15%);
      border: 1px solid lighten($button__color, 15%);
    }
  }
}

.button__close {
  margin: 0 5px 5px 0;
  border: 1px solid $design-dark-gray-color;
}

.button__close-icon {
  margin-left: 1em;
  color: $design-primary-color;
}

.button__clear {
  margin: 0 0 5px 0;
  color: #fff;
  background: $design-primary-color;
}

.button__view {
  padding: 2px 5px;
}

.button__prev {

  .fa {
    margin: 0 0.1em 0 0;
  }

  abbr[title] { // Bootstrap override
    cursor: pointer;
    border: none;
  }

}

.button__next .fa {
  margin: 0 0 0 0.1em;
}

.button__contact-owner {
  @extend .button__primary;

  .fa {
    margin: 0 0.5em 0 0;
  }

}

.button__back-to-institution {
  @extend .button__secondary;
  display: block;
  clear: right; // clear filter buttons in .col-md-9
  text-align: left;
}
