// ##### Complex Carousel Component ##### //

.carousel-complex {
  // display: flex;
  // justify-content: center;
  background: $design-light-gray-color;

  @include bp(md-screen) {
    margin: 0 $object-leftright-margin;
  }

}

.carousel-complex__item {
  height: 50px;
  margin: $layout-component-margin ($layout-component-margin / 4);

  @include bp(sm-screen) {
    height: 60px;
  }

  @include bp(md-screen) {
    height: 80px;
  }

}

.carousel-complex__link {
  
}

.carousel-complex__link--selected {
  display: block;
  position: relative;
  border: 7px solid $design-primary-color;
}

.carousel-complex img { // temporary image resize for UI dev:
  width: auto;
  height: 100%;
}