// ##### Carousel Component ##### //

// ***** Flickity Carousel Customizations ***** //

.flickity-prev-next-button {
  display: none;

  @include bp(sm-screen) {
    display: block;
    top: 42%;
    width: 60px;
    height: 60px;
    background: transparent;
  }

}

.flickity-prev-next-button:hover {
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: $design-primary-color;
}

.flickity-prev-next-button.no-svg {
  color: $design-primary-color;
}

.flickity-prev-next-button.previous {
  left: -60px;
}

.flickity-prev-next-button.next {
  right: -60px;
}

// ***** Custom Classes ***** //

.carousel {
  
  @include bp(sm-screen) {
    margin: 0 45px;
  }

}

.carousel img { // temporary image resize for UI dev:
  width: 100%;
  height: auto;
}

.carousel__item {
  width: 120px;
  margin: 10px;

  @include bp(sm-screen) {
    margin: 20px;
  }

}

.carousel__link {
  position: relative; // for icon__overlay
  display: block;
}

.carousel__link--selected {
  @extend .carousel__link;
  border: 7px solid $design-dark-gray-color;
}

.carousel__thumbnail--no-image {
  width: 100%; // expand the 1px .png to its container
  height: auto;
  border: 1px solid $design-primary-color;
}

.carousel__thumbnail-caption {
  height: 2em; // reveal only 2 lines of text
  margin-top: 0.5em;
  overflow: hidden;
  line-height: normal;
  cursor: default;
}
