// ##### Complex Carousel Component ##### //

.carousel-complex {
  display: none; // set to '.show()' on js initialization
  padding: $layout-component-margin $layout-component-margin - 2;
  background: $design-light-gray-color;

  @include bp(md-screen) {
    margin: 0 $object-leftright-margin;
  }

}

// ***** Fixed Parent-level Thumbnail ***** //

.carousel-complex__fixed-item {
  float: left;
  width: 80px;
  height: 80px;

  @include bp(sm-screen) {
    margin: 0 0 0 ($layout-component-margin * 2);
  }

}

.carousel-complex__fixed-link {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid $design-primary-color;

  &:before { // fill box to 100% of container (maybe use to replace  transparent.png method some day!)
    display: block;
    padding-bottom: 100%;
    content: "";
  }

}

.carousel-complex__fixed-link--selected {
  @extend .carousel-complex__fixed-link;
  border: 5px solid $design-primary-color;
}

.carousel-complex__fixed-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3em;
  line-height: 1;
}

// ***** Complex Carousel Thumbnails ***** //

.carousel-complex__item-container {
  margin: 0 0 0 90px;
  border-left: 2px solid $design-dark-gray-color;
  padding: 0 0 0 ($layout-component-margin / 2);
  
  @include bp(sm-screen) {
    margin: 0 0 0 130px;
    padding: 0 ($layout-component-margin * 2) 0 ($layout-component-margin / 2);
  }

}

.carousel-complex__item {
  margin: 0 ($layout-component-margin / 4);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

}

.carousel-complex__link {
  display: block;
}

.carousel-complex__item--no-image {
  @extend .carousel-complex__item;
  display: block;
  position: relative;
  min-width: 80px;
  height: 80px;
  border: 1px solid $design-dark-gray-color;
}

.carousel-complex__item--no-image--selected {
  @extend .carousel-complex__item--no-image;
  border: 5px solid $design-primary-color;
  opacity: 1;
}

.carousel-complex__item--selected {
  @extend .carousel-complex__item;
  opacity: 1;
}

.carousel-complex__icon-overlay {
  @include icon__centered-overlay(40px, 40px, 40px, #fff, $design-dark-gray-color); // (size-xs, size-md, size-lg, icon-color, icon-bg)
}

.carousel-complex img {
  width: 100%;
  height: 80px;
}

.carousel-complex__img--selected {
  border: 5px solid $design-primary-color;
}
