// ##### Carousel Component ##### //

.carousel__search-results {
  float: left;
}

.carousel__items-number {
  float: right;
}

.carousel {
  clear: right;
  border-bottom: 1px solid $design-primary-color;

  @include bp(sm-screen) {
    padding: 0 45px;
  }

}

html.no-js .carousel {
  max-height: 200px;
  overflow: hidden;
}

.carousel img { // temporary image resize for UI dev:
  width: 100%;
  height: auto;
}

.carousel__item {
  width: 120px;
  margin: 10px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  @include bp(sm-screen) {
    margin: 20px;
  }

}

html.no-js .carousel__item {
  float: left;
}

.carousel__item--selected {
  @extend .carousel__item;
  opacity: 1;
}

.carousel__link { // for icon__overlay
  position: relative; 
  display: block;
}

.carousel__link--selected {
  @extend .carousel__link;
  border: 7px solid $design-secondary-color;
}

.carousel__thumbnail--no-image {
  width: 100%; // expand the 1px .png to its container
  height: auto;
  border: 1px solid $design-primary-color;
}

.carousel__thumbnail-caption {
  height: 2em; // reveal only 2 lines of text
  margin-top: 0.5em;
  overflow: hidden;
  line-height: 1;
  cursor: default;
}
