// ##### Carousel Component ##### //

// <<<<< Extract Bootstrap's breakpoint variables for Slick's javascript >>>>> //

.bs-lg-screen {
  display: none;
  width: $screen-lg-min;
}

.bs-md-screen {
  display: none;
  width: $screen-md-min;
}

.bs-sm-screen {
  display: none;
  width: $screen-sm-min;
}

// <<<<< Override preexisting Slick selectors >>>>> //

.slick-slider {
  margin: 0 $slick-arrow-spacing;
}

.slick-prev, .slick-next {
  width: auto;
  height: auto;
  margin-top: -20px; // arrow vertical positioning
}

.slick-prev {
  left: -$slick-arrow-spacing;
}

.slick-next {
  right: -$slick-arrow-spacing;
}

.slick-prev:before, .slick-next:before {
    font-size: 50px; // arrow size
}

