// ##### Carousel Component ##### //

// ***** Extract Bootstrap's breakpoint variables for Slick's JavaScript ***** //

.bs-lg-screen {
  display: none;
  width: $screen-lg-min;
}

.bs-md-screen {
  display: none;
  width: $screen-md-min;
}

.bs-sm-screen {
  display: none;
  width: $screen-sm-min;
}

// ***** Override preexisting Slick selectors ***** //

.slick-slider {
  margin: 0 $slick-arrow-spacing;
}

.slick-prev, .slick-next {
  width: auto;
  height: auto;
  margin-top: -40px; // arrow vertical positioning
}

.slick-prev {
  left: -$slick-arrow-spacing;
}

.slick-next {
  right: -$slick-arrow-spacing;
}

.slick-prev:before, .slick-next:before {
  display: none;
  
  @include bp(sm-screen) {
    display: block;
    font-size: 50px; // arrow size
  }

}

// ***** Custom Classes ***** //

// temporary image resize for UI dev:
.carousel__container {
  width: 120px;
  margin: 20px;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel__link {
  position: relative; // for icon__overlay
  display: block;
}

.carousel__link--selected {
  @extend .carousel__link;
  border: 7px solid $design-dark-gray-color;
}

.carousel__thumbnail--no-image {
  width: 100%; // expand the 1px .png to its container
  height: auto;
  border: 1px solid $design-primary-color;
}

.carousel__thumbnail-caption {
  height: 3.3em; // constrain caption height to three text lines
  margin-top: 0.5em;
  overflow: hidden;
  line-height: normal;
  cursor: default;
}
