// Checkbox Group

.check {
  position: relative;
  min-width: 310px;
}

.check__header {
  border: 1px solid #000;
  padding: 15px 0 15px 10px;
  background: #ccc;
  overflow: hidden;

  @include bp(sm-screen) {
    border: none;
    background: none;
  }

}

.check__header--selected {
  @extend .check__header;
  background: #999;

  @include bp(sm-screen) {
    color: #000;
    background: none;
  }

}

.check__header-text {
  float: left;
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.check__header-text--selected {
  @extend .check__header-text;
  color: #fff;

  @include bp(sm-screen) {
    color: #000;
  }
}

.check__header .fa-angle-down {
  float: right;
  margin: -5px 20px -20px 0;
  font-size: 2.6em;

  @include bp(sm-screen) {
    display: none;
  }

}

.check__select-all {
  display: none;
  float: right;

  @include bp(sm-screen) {
    display: block;
  }
  
}

.check__popdown {
  position: absolute;
  display: none;
  left: 0;
  right: 0;

  @include bp(sm-screen) {
    position: relative;
    display: block;
  }

}

.check__popdown--selected {
  @extend .check__popdown;
  display: block;
}

.check__button-group {
  margin: -1px 0 0 0;
  border: 1px solid #000;
  background: #fff;
  overflow: hidden;

  @include bp(sm-screen) {
    display: none;
  }

}

.check__buttons {
  float: right;
  width: 45%;
  margin: 10px;

  &:first-of-type {
    float: left;
    margin-right: 0;
  }

}

.check__group {
  height: 150px;
  overflow: scroll;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

  @include bp(sm-screen) {
    height: auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

}

.check__label {
  display: block;
  min-height: 44px;
  margin: -1px 0 0 0;
  padding: 10px 40px 10px 10px;
  background: #fff;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  font-weight: normal;
  background: #fff url("/images/checkbox-square.svg") no-repeat 95% center;
  background-size: 18px 18px; // constrains SVG canvas for positioning

  &:last-of-type {
    border-bottom: none;
  }

}

.check__input {
  position: relative;
  float: right;
  top: 3px;
  right: 10px;
  width: 2em;
  height: 2em;
  opacity: 0; // hide generic checkboxes
}

.check__input:checked + .check__label {
   background: #fff url("/images/checkbox-check.svg") no-repeat 95% center;
   background-size: 18px 12px; // constrains SVG canvas for positioning
}

.check__update {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  background: #999;

  &:disabled {
    background: #fff;
  }

  @include bp(sm-screen) {
    display: none;
  }

}
