// ***** Checkbox Group ***** //

.check {
  position: relative;
  min-width: 310px;
}

.check__header {
  margin-top: 10px;
  padding: 15px 0 15px 10px;
  // border: 1px solid #000;
  background: $design-dark-gray-color;
  overflow: hidden;
  cursor: pointer;

  @include bp(sm-screen) {
    border: none;
    background: none;
  }

}

.check__header--selected {
  @extend .check__header;
  background: $design-light-gray-color;

  @include bp(sm-screen) {
    // color: #000;
    background: none;
  }

}

.check__header-text {
  float: left;
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.check__header-text--selected {
  @extend .check__header-text;
  color: $design-primary-color;

  @include bp(sm-screen) {
    color: #000;
  }
}

.check__header-arrow-icon.fa {
  float: right;
  margin: -5px 20px -20px 0;
  font-size: 2.6em;
  color: #fff;

  @include bp(sm-screen) {
    display: none;
  }

}

html.no-js .check__header-links {
  display: none;
}

.check__header-links {
  display: none;
  float: right;

  @include bp(sm-screen) {
    display: block;
  }
  
}

.check__link-select-all--selected, .check__link-deselect-all--selected {

  @include bp(sm-screen) {
    display: block;
    color: $design-primary-color;
  }
  
}

.check__link-select-all--not-selected, .check__link-deselect-all--not-selected {

  @include bp(sm-screen) {
    display: none;
  }
  
}

.check__popdown {
  position: absolute;
  display: none;
  left: 0;
  right: 0;

  @include bp(sm-screen) {
    position: relative;
    display: block;
  }

}

.check__popdown--selected {
  @extend .check__popdown;
  display: block;
}

.check__button-group {
  margin: -1px 0 0 0;
  border: 1px solid $design-dark-gray-color;
  background: $design-light-gray-color;
  overflow: hidden;

  @include bp(sm-screen) {
    display: none;
  }

}

.check__button {
  float: right;
  width: 45%;
  margin: 10px;

  &:first-of-type {
    float: left;
    margin-right: 0;
  }

}

.check__group {
  height: 150px;
  overflow: auto; // turn on scroll bar
  border-left: 1px solid #000;
  border-right: 1px solid #000;

  @include bp(sm-screen) {
    height: auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

}

.check__label {
  display: block;
  margin: -1px 0 0 0;
  padding: 10px 50px 10px 10px;
  background: #fff;
  border-top: 1px solid $design-dark-gray-color;
  border-bottom: 1px solid $design-dark-gray-color;
  font-weight: normal;

  &:last-of-type {
    border-bottom: none;
  }

}

html.svg .check__label {
  background: #fff url("/images/checkbox-square.svg") no-repeat 95% center;
  background-size: 18px 18px; // constrains SVG canvas for positioning
}

.check__input {
  position: relative;
  float: right;
  top: 10px;
  right: 20px;
  width: 1.6em;
  height: 1.6em;
}

html.svg .check__input {
  opacity: 0; // hide generic checkboxes
}

html.svg .check__input:checked + .check__label {
   background: #fff url("/images/checkbox-check.svg") no-repeat 95% center;
   background-size: 18px 12px; // constrains SVG canvas for positioning
}

.check__update {
  width: 100%;
  border: 1px solid $design-dark-gray-color;
  padding: 10px;
  color: #fff;
  background: $design-primary-color;

  &:disabled {
    color: #000;
    background: #fff;
  }

  @include bp(sm-screen) {
    display: none;
  }

}
