// Checkbox Group

.check {
  min-width: 310px;
}

.check__title {
  border: 1px solid #000;
  padding: 15px 0 15px 10px;
  font-size: 1.2em;
  font-weight: bold;
  background: #ccc;

  @include bp(sm-screen) {
    border: none;
    background: none;
  }

}

.check__title .fa {
  float: right;
  margin: -10px 20px 0 0;
  font-size: 2.2em;

  @include bp(sm-screen) {
    display: none;
  }

}

.check__button-group {
  margin: -1px 0 0 0;
  border: 1px solid #000;
  overflow: hidden;

  @include bp(sm-screen) {
    display: none;
  }

}

.check__buttons {
  float: right;
  width: 45%;
  margin: 10px;
}

.check__buttons:first-of-type {
  float: left;
  margin-right: 0;
}

.check__group {
  height: 150px;
  overflow: scroll;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

  @include bp(sm-screen) {
    height: auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

}

.check__label {
  display: block;
  min-height: 44px;
  margin: -1px 0 0 0;
  padding: 10px 40px 10px 10px;
  background: #fff;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  font-weight: normal;
}

.check__label:last-of-type {
  border-bottom: none;
}

.check__input {
  position: relative;
  float: right;
  top: 3px;
  right: 10px;
  width: 2em;
  height: 2em;
}

.check__update {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  background: none;

  @include bp(sm-screen) {
    display: none;
  }

}

.check__update--active {
  background: #999;
}
