// ##### Collections Row ##### //

$collect-button-pos: 4em;

.collect-row__summary {

  @include bp(sm-screen) {
    padding-bottom: $collect-button-pos;
  }

}

.collect-row__container {
  margin: $layout-component-margin 0 0 0;
  padding: 0;
  border-top: 1px solid $design-dark-gray-color;
}

.collect-row__title {
  margin: $layout-component-margin 0 0.5em 0;
  font-size: 1.2em;
}

.collect-row__button {
  margin: $layout-component-margin 0 0 0;

  @include bp(sm-screen) {
    margin: 0;
    clear: left;
    margin-top: (-$collect-button-pos);
  }

}