// ##### Collections Layout ##### //

// These selectors are currently for testing the Collections Grid layout only

.collect img {
  width: 100%;
  height: auto;
}

.collect__intro {

  @include bp(sm-screen) {
    padding-bottom: 40px;
  }

}

.collect__button {
  
  @include bp(sm-screen) {
    clear: left;
    margin-top: -40px;
  }

}

// These selectors are for production

.collect__page-intro {
  font-size: 1.2em;
}

.collect__row {
  border-top: 1px solid $design-dark-gray-color;
}

.collect__title {
  margin: 0 0 0.5em 0;
  font-size: 1.2em;
}