// ##### Collections Intro ##### //

.collect-intro__overview {
  
  @include bp(sm-screen) {
    padding-right: $layout-component-margin / 2;
  }

}

.collect-intro__sidebar {
  padding: $layout-container-margin-xs;
  border: 1px solid $design-dark-gray-color;
  overflow: hidden;

  p {
    margin: 1em 0 0 0;
  }

  @include bp(sm-screen) {
    margin-left: $layout-component-margin / 2;
    padding: $layout-container-margin-md;
  }

}

.collect-intro__sidebar-img {
  width: 100%;
  height: auto;
  padding: 0 $layout-container-margin-md 0 0;
}

.collect-intro__sidebar-heading {
  margin: 0 0 1em 0;
  font-size: 1.4em;
}

.collect-intro__button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: $layout-component-margin (-$layout-component-margin / 2) 0 (-$layout-component-margin / 2);

  @include bp(md-screen) {
    flex-flow: row nowrap;
  }

}

.collect-intro__button {
  flex: 1 0 auto;
  width: 40%; // any value more than 25%, less than 50%
  margin: 0 ($layout-component-margin / 2) $layout-component-margin ($layout-component-margin / 2);

  @include bp(sm-screen) {
    width: auto;
    margin: 0 ($layout-component-margin / 2);
  }

  @include bp(md-screen) {
    flex: 0 1 auto;
    width: 100%;
  }

}

html.no-flexbox .collect-intro__button {
  margin: 0 0 ($layout-component-margin / 2) ($layout-component-margin / 2);
  text-align: left;
}
