// ##### Collections Layout ##### //

.collect-intro__overview {
  
  @include bp(sm-screen) {
    padding-right: $layout-component-margin / 2;
    font-size: 1.2em;
  }

}

.collect-intro__description {
  
  @include bp(sm-screen) {
    padding-left: $layout-component-margin / 2;
    font-size: 1.2em;
  }

}

.collect-intro__buttons {
  padding: $layout-component-margin / 2;

  @include bp(sm-screen) {

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

  }

}

// Temporary img width set

.collect-row__container img {
  width: 100%;
  height: auto;
}

.collect-row__summary {

  @include bp(sm-screen) {
    padding-bottom: 40px;
  }

}

.collect-row__row {
  
  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
    padding: $layout-component-margin 0 0 0;
    border-top: 1px solid $design-dark-gray-color;
  }

}

.collect-row__title {
  
  @include bp(sm-screen) {
    margin: 0 0 0.5em 0;
    font-size: 1.2em;
  }

}

.collect-row__thumbnail {
  
  @include bp(sm-screen) {
    margin: 0 0 0 $layout-component-margin;
  }

}

.collect-row__caption {
  line-height: normal;
}

.collect-row__button {
  
  @include bp(sm-screen) {
    clear: left;
    margin-top: -40px;
  }

}
