// ##### Collections Intro ##### //

.collect-intro__overview {
  
  @include bp(sm-screen) {
    padding-right: $layout-component-margin / 2;
    font-size: 1.2em;
  }

}

.collect-intro__description {
  
  @include bp(sm-screen) {
    padding-left: $layout-component-margin / 2;
  }

}

.collect-intro__buttons {
  margin: 0 0 $layout-component-margin 0;
  padding: 0 ($layout-component-margin / 1.5);

  @include bp(sm-screen) {
    margin: 0;
    padding: $layout-component-margin ($layout-component-margin / 1.5);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

  }

}
