// ##### Collections Row ##### //

.collect-row__container-border {
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
  border-top: 1px solid $design-dark-gray-color;
}

.collect-row__link {
  clear: both;
  position: relative; // relative to .collect-row__item-number
  display: block;
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
  border-top: 1px solid $design-dark-gray-color;
  color: #000;
}

[class^="col-"] .collect-row__link:first-of-type {
  margin: 0;
  padding: 0;
  border: none;
}

.collect-row__summary {
  margin: 0 0 $layout-component-margin 0;
  color: #000;
}

.collect-row__title {
  margin: 0 0 0.5em 0;
  font-size: 1.4em;
}

.collect-row__item-number {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  color: #000;
  -webkit-font-smoothing: antialiased; // small fonts in Chrome on Mac OS don't appear bold without this
}

.collect-row__mozaic {

  @include bp(sm-screen) {
    margin: 0 0 0 $layout-component-margin;
  }

}

// ***** Begin Image Mozaic ***** //

.collect-row__image1 {
  float: left;
  width: 66%;
  height: auto;
}

.collect-row__image2 {
  float: right;
  width: 32%;
  height: auto;
  margin: 0 0 2% 0;
}

.collect-row__image3 {
  float: right;
  width: 32%;
  height: auto;
}

.collect-row__image4 {
  float: left;
  clear: both;
  width: 32%;
  margin: 0 2% 2% 2%;
  height: auto;
}

.collect-row__image5 {
  float: left;
  width: 32%;
  height: auto;
}

.collect-row__image6 {
  float: left;
  clear: left;
  width: 32%;
  height: auto;
  margin: 0 0 0 2%;
}

.collect-row__image7 {
  float: left;
  width: 32%;
  height: auto;
}

// ***** End Image Mozaic ***** //

.collect-row__button {
  @include aspect-ratio(1, 1);
  float: left;
  width: 32%;
  margin: 0 0 0 2%;
  font-size: 0.9em;
  text-align: center;
  color: #000;
  background: $design-light-gray-color;

  .aspect-ratio-content {
    padding: 20% 0 0 0;
  }

  @include bp(sm-screen) {
    font-size: 1.1em;
  }

  @include bp(md-screen) {
    font-size: 1.3em;
  }

}
