// ##### Collections Intro ##### //

.collect-intro__overview {
  
  @include bp(sm-screen) {
    padding-right: $layout-component-margin / 2;
  }

}

.collect-intro__description {
  
  @include bp(sm-screen) {
    padding-left: $layout-component-margin / 2;
  }

}

.collect-intro__buttons {

  &:nth-child(1), &:nth-child(2) {
    margin: 0 0 $layout-container-margin-md 0;
  }

  &:nth-child(odd) {
    padding: 0 $layout-container-margin-xs 0 0;
  }

  &:nth-child(even) {
    padding: 0 0 0 $layout-container-margin-xs;
  }

  @include bp(sm-screen) {
    margin: $layout-component-margin 0;

    &:nth-child(1), &:nth-child(2) {
      margin: $layout-component-margin 0
    }

    &:nth-child(2) {
      padding: 0 $layout-container-margin-xs;
    }

    &:nth-child(3) {
      padding: 0 $layout-container-margin-xs;
    }

  }

}
