// ##### Collections Group Component ##### //

.collgroup {
  @extend .clearfix; // Bootstrap class
  padding: 20px;
  background: $design-light-gray-color;
}

.collgroup__title {
  margin: 0.5em 0 1em 0;
}

.collgroup__container {
  margin: 0 20px 20px 0;
}

.collgroup__link {
  display: block;
}

.collgroup__image {
  display: block;
  width: 100%;
  height: auto;
}

.collgroup__caption {
  margin-top: 0.5em;
  cursor: default;
}

.collgroup__prev-button {
  float: left;
  padding: 0;
  color: #000;
  
  &:hover {
    text-decoration: none;
  }
  
}

.collgroup__next-button {
  float: right;
  padding: 0;
  color: #000;
  
  &:hover {
    text-decoration: none;
  }

}