// ##### Collections Intro ##### //

.collect-intro__overview {
  
  @include bp(sm-screen) {
    padding-right: $layout-component-margin / 2;
  }

}

.collect-intro__description {
  
  @include bp(sm-screen) {
    padding-left: $layout-component-margin / 2;
  }

}

.collect-intro__button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: $layout-component-margin (-$layout-component-margin / 2) 0 (-$layout-component-margin / 2);

  @include bp(md-screen) {
    flex-flow: row nowrap;
  }

}

.collect-intro__button {
  flex: 1 0 auto;
  width: 40%; // any value more than 25%, less than 50%
  margin: 0 ($layout-component-margin / 2) $layout-component-margin ($layout-component-margin / 2);

  @include bp(sm-screen) {
    width: auto;
    margin: 0 ($layout-component-margin / 2);
  }

  @include bp(md-screen) {
    flex: 0 1 auto;
    width: 100%;
  }

}

html.no-flexbox .collect-intro__button {
  margin: 0 0 ($layout-component-margin / 2) ($layout-component-margin / 2);
  text-align: left;
}
