// ##### Collections - Themed Component ##### //

.themed {
  
}

.themed__subnav {
  display: flex;
  justify-content: space-around;
  padding: $layout-component-margin 0;
  border: 1px solid $design-primary-color;
}

.themed__button {
  min-width: 25%;
}

.themed__triangle { // inspired by: http://output.jsbin.com/maqimaqozi/1/edit?html,css,output
  position: relative;
  left: 68%;
  width: 80px;
  height: $layout-component-margin;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }

  &:before { // stroke
    bottom: -1px;
    left: 21px;
    border-bottom-color: $design-primary-color;
    border-width: 16px;
  }

  &:after { // fill
    bottom: -1px;
    left: 22px;
    border-bottom-color: #fff;
    border-width: 15px;
  }

  @include bp(sm-screen) {
    left: 85%;
  }

}

.themed__hosted-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $layout-component-margin 0 $layout-component-margin 0;
  padding: $layout-component-margin;
  color: #fff;
  background: $design-primary-color;
}

.themed__hosted-button {
  margin: 0 0 0 $layout-component-margin;
}

.themed__hosted-text {
  font-size: 1.1em;
}
