// ##### Collection Intro ##### //

.collection-intro {
  
  @include bp(sm-screen) {
    border: 1px solid $design-dark-gray-color;
    overflow: hidden;
  }

}

.collection-intro__institution {
  
  @include bp(sm-screen) {
    margin: $layout-container-margin-sm;
  }

}

.collection-intro__institution-heading-link {
  
}

.collection-intro__institution-heading {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.collection-intro__about {
  margin: $layout-container-margin-sm 0;

  @include bp(sm-screen) {
    margin: 0 $layout-container-margin-sm $layout-container-margin-sm $layout-container-margin-sm;
  }

  @include bp(md-screen) {
    margin: $layout-container-margin-sm $layout-container-margin-sm $layout-container-margin-sm $layout-container-margin-md;
  }

}

.collection-intro__about-heading {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.collection-intro__about-description {
  display: block;
  margin: 0 0 1em 0;
}

.collection-intro__about-link {
  display: block;
}

.collection-intro__external-link:after {
  font-family: FontAwesome;
  content: '\f08e'; // same as .fa-external-link
  color: #000;
  margin: 0 0 0 0.5em;
}
