// ##### Collections Row ##### //

.collect-row__container-border {
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
  border-top: 1px solid $design-dark-gray-color;
}

.collect-row__link {
  clear: both;
  position: relative; // relative to .collect-row__item-number
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
  border-top: 1px solid $design-dark-gray-color;
  color: #000;
}

[class^="col-"] .collect-row__link:first-of-type {
  margin: 0;
  padding: 0;
  border: none;
}

.collect-row__summary {
  color: #000;

  @include bp(sm-screen) {
    margin: 0 0 $layout-component-margin 0;
  }

}

.collect-row__title {
  margin: 0 0 0.5em 0;
  font-size: 1.4em;
}

.collect-row__item-number {
  color: #000;
  -webkit-font-smoothing: antialiased; // small fonts in Chrome on Mac OS don't appear bold without this

  @include bp(sm-screen) {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
  }

}

.collect-row__mosaic {
  display: block;

  @include bp(sm-screen) {
    margin: 0 0 0 $layout-component-margin;
  }

}

// ***** Begin Image Mosaic ***** //

.collect-row__overlay-icon {
  @include thumbnail__overlay-icon(5vw, 3vw, 30px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.collect-row__tile-icon {
  @include thumbnail__tile-icon(20vw, 6vw, 60px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.collect-row__overlay-icon--large {
  @include thumbnail__overlay-icon(10vw, 4vw, 40px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.collect-row__tile-icon--large {
  @include thumbnail__tile-icon(25vw, 11vw, 100px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.collect-row__container1 {
  @extend .thumbnail__container;
  float: left;
  width: 100%;

  @include bp(sm-screen) {
    width: 66%;
  }

}

.collect-row__container2 {
  @extend .thumbnail__container;
  display: none !important;
  float: right;
  width: 32%;
  margin: 0 0 2% 0;

  @include bp(sm-screen) {
    display: block !important;
  }

}

.collect-row__container3 {
  @extend .thumbnail__container;
  display: none !important;
  float: right;
  width: 32%;

  @include bp(sm-screen) {
    display: block !important;
  }

}

.collect-row__container4 {
  @extend .thumbnail__container;
  float: left;
  clear: both;
  width: 49%;
  margin: 2% 2% 2% 0;

  @include bp(sm-screen) {
    width: 32%;
    margin: 0 2% 2% 2%;
  }

}

.collect-row__container5 {
  @extend .thumbnail__container;
  float: left;
  width: 49%;
  margin: 2% 0 0 0;

  @include bp(sm-screen) {
    width: 32%;
    margin: 0;
  }

}

.collect-row__container6 {
  @extend .thumbnail__container;
  float: left;
  clear: left;
  width: 49%;

  @include bp(sm-screen) {
    width: 32%;
    margin: 0 0 0 2%;
  }

}

.collect-row__button {
  @include aspect-ratio(1, 1);
  position: relative; // relative to .aspect-ratio-content
  float: left;
  width: 49%;
  margin: 0 0 0 2%;
  font-size: 1.4em;
  text-align: center;
  line-height: 1;
  color: $design-primary-color;
  border: 1px solid $design-primary-color;

.aspect-ratio-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2em;
  transform: translate(-50%, -50%);
}

  @include bp(sm-screen) {
    width: 32%;
    font-size: 0.9em;
  }

  @include bp(md-screen) {
    font-size: 1em;
  }

}

// ***** End Image Mosaic ***** //
