// ##### Collections - Themed Component ##### //

.themed {
  margin: (-$layout-container-margin-sm) 0 0 0; 
}

.themed__subnav {
  display: flex;
  justify-content: space-around;
  padding: $layout-component-margin 0;
  border: 1px solid $design-primary-color;
}

.themed__button {
  min-width: 25%;
}

.themed__triangle { // inspired by: http://output.jsbin.com/maqimaqozi/1/edit?html,css,output
  position: relative;
  left: 68%;
  width: 80px;
  height: $layout-component-margin;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 21px;
    width: 0;
    height: 0;
    border: 16px solid transparent;
  }

  &:before { // stroke
    bottom: -1px;
    border-bottom-color: $design-primary-color;
  }

  &:after { // fill
    bottom: -2px;
    border-bottom-color: #fff;
  }

  @include bp(sm-screen) {
    left: 85%;
  }

}

// ***** Orange Box with Link to Main CA History Page ***** //

.themed__hosted-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $layout-component-margin 0;
  padding: $layout-component-margin;
  color: #fff;
  background: $design-primary-color;
}

.themed__hosted-button {
  @extend .icon__external-link;
  margin: 0 0 0 $layout-component-margin;
  color: $design-primary-color;
  border-color: $design-primary-color;
}

.themed__hosted-text {
  font-size: 1.3em;
}

// ***** Themed Collection Row ***** //

.themed__collection-row {
  position: relative;
}

.themed__collection-row ~ .themed__collection-row {
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
  border-top: 1px solid $design-dark-gray-color;
}

.themed__collection-row-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.themed__collection-row-text {
  margin: 0 $layout-container-margin-md 50px $layout-container-margin-md;
}

.themed__collection-row-heading {
  margin: 0 0 0.5em 0;
  font-size: 1.4em;
}

.themed__collection-row-button {
  @extend .button__dark;
  position: absolute; // to .themed__collection-row
  bottom: 0;
  left: 25%;
  margin: 0 $layout-container-margin-md;
  width: 20%;
}

.themed__collection-row-list {
  margin: 2.2em 0 0 0;
  padding: 0;
}

.themed__collection-row-list-item {
  list-style: none;
}


