// custom styles

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
}

.check {
  width: 400px;
}

.check__title {
  border: 1px solid #000;
  padding: 15px 0 15px 10px;
  font-weight: bold;
  background: #ccc;
}

.check__title .fa {
  float: right;
  margin: -10px 20px 0 0;
  font-size: 3em;
}

.check__group {
  height: 150px;
  overflow: scroll;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.check__label {
  display: block;
  min-height: 44px;
  margin: -1px 0 0 0;
  padding: 10px 40px 10px 10px;
  background: #fff;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  font-weight: normal;
}

.check__label:last-of-type {
  border-bottom: none;
}

.check__input {
  position: relative;
  float: right;
  top: 3px;
  right: 10px;
  width: 2em;
  height: 2em;
}

.check__update {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}