// ##### Filter Component ##### //

.filter {

}

.filter__note {

	@include bp(md-screen) {
    display: none;
  }

}

.filter__more {

	@include bp(md-screen) {
    display: none;
  }

}

.filter__more--show {
	display: inline;
}

.filter__more-link {
	display: none;
	float: right;

	@include bp(md-screen) {
    display: inline;
  }

}

.filter__more-link--hide {
	display: none;
}

.filter__less-link {
	display: none;
	float: right;

	@include bp(md-screen) {
    display: inline;
  }

}

.filter__clear-all {
	float: right;

	@include bp(md-screen) {
    display: none;
  }

}
