// ##### Custom Fonts for Text ##### //

// ***** Kievit Regular ***** //

@font-face {
  font-family: 'KievitWeb';
  src: url('//calisphere.org/fonts/KievitWeb.eot'); /* IE9 Compat Modes */
  src: url('//calisphere.org/fonts/KievitWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//calisphere.org/fonts/KievitWeb.woff') format('woff'); /* Modern Browsers */
}

// ***** Kievit Regular Small Caps ***** //

@font-face {
	font-family: 'KievitScWeb';
  src: url('//calisphere.org/fonts/KievitScWebPro.eot'); /* IE9 Compat Modes */
  src: url('//calisphere.org/fonts/KievitScWebPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//calisphere.org/fonts/KievitScWebPro.woff') format('woff'); /* Modern Browsers */
}
