// ##### Global Footer ##### //

.global-footer {
  
}

.global-footer__search {
  display: block;
  background: $design-dark-gray-color;
  padding: 15px $layout-edge-margin-xs;
  border-bottom: 1px solid #fff;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-footer__search-label {
  display: block;
  color: #fff;
  font-size: 1.2em;
  text-align: left;
  font-weight: normal;
  line-height: normal;

}

.global-footer__search-field {
  font-size: 1.2em;
}

.global-footer__search-button {
  border: 1px solid $design-dark-gray-color;
  background: $design-primary-color;
  
  &:hover {
    background: $link-hover-color;
  }

}

.global-footer__search-button .fa { // fa-search icon
  color: #fff;
  font-size: 1.1em;
}

.global-footer__nav {
  
  @include bp(sm-screen) {
    text-align: center;
  }

}

.global-footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;

  @include bp(md-screen) {
    padding: 0 0 0 30px;
  }

}

.global-footer__nav-list-item {
  
  @include bp(sm-screen) {
    display: inline;
    border-left: 1px solid $design-dark-gray-color;
    padding: 0 0.5em;

    &:first-child {
      border-left: none;
    }

  }

}

.global-footer__nav-link {
  display: block;
  padding: 15px $layout-edge-margin-xs;
  color: #fff;
  border-bottom: 1px solid #fff;
  background: $design-dark-gray-color;
  font-size: 1.1em;

  &:hover {
    text-decoration: none;
  }

  @include bp(sm-screen) {
    display: inline;
    padding: 0;
    color: $design-primary-color;
    background: none;
  }

}

.global-footer__copyright {
  margin: 1em 0 0 0;
  text-align: center;

  @include bp(sm-screen) {
    
  }

}

.global-footer__twitter-icon {
  margin: 0 0.25em;
  font-size: 2em;
  color: rgb(41, 138, 201);
}

.global-footer__facebook-icon {
  margin: 0 0.25em;
  font-size: 2em;
  color: rgb(46, 71, 124);
}
