// ##### Form Elements ##### //

// ***** Global header search field ***** //

.global-search__label {
  display: block;
  color: #fff;
  font-size: 1.2em;
  text-align: left;
  font-weight: normal;
  line-height: normal;

  @include bp(sm-screen) {
    color: #000;
    font-size: 1.3em;
    text-align: center;
  }

  @include bp(md-screen) {
    font-size: 1.5em;
  }

}

.global-search__field {
  font-size: 1.2em;

  @include bp(md-screen) {
    height: 45px;
    font-size: 1.5em;
  }

}

.global-search__button {
  border: 1px solid $design-dark-gray-color;
  background: $design-primary-color;
  &:hover {
    background: $link-hover-color;
  }

  @include bp(md-screen) {
    width: 50px;
    height: 45px;
  }

}

.global-search__button .fa { // fa-search icon
  color: #fff;
  font-size: 1.1em;

  @include bp(md-screen) {
    font-size: 2em;
  }
  
}

