// ##### Global Header ##### //

.global-header {
  
}

.global-header__bars-icon {
  font-size: 1.4em;
  cursor: pointer;
  
  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__logo {
  text-align: center;

  @include bp(sm-screen) {
    text-align: left;
  }

}

.global-header__logo img {
  padding: 10px;
  border: 1px solid black;
}

.global-header__logo h1 {
  display: inline;
  font-size: 1.4em;
}

.global-header__search {
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

.global-header__search-button {
  background: $design-primary-color;
}

html.no-js .global-header__search {
  display: block;
}

.global-header__search--selected {
  display: block;
}

.global-header__search-icon {
  text-align: right;
  font-size: 1.4em;
  cursor: pointer;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__nav-list {
  margin: 0;
  padding: 0;
}

.global-header__nav-list li {
  display: inline;
  list-style: none;
}

.global-header__collections--xs {
  text-align: left;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__collections--sm {
  display: none;
  text-align: center;
  background: $design-secondary-color;

  @include bp(sm-screen) {
    display: block;
  }

}

.global-header__mobile-links {
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

html.no-js .global-header__mobile-links {
  display: block;
}

.global-header__mobile-links--selected {
  display: block;
}
