// ##### Global Header ##### //

.global-header {
  
}

.global-header__bars-icon {
  font-size: 1.4em;
  cursor: pointer;
  
  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__logo {
  background: url(/images/logo-calisphere.svg) no-repeat;
  background-position: center top;
  background-size: $header-logo-xs-width $header-logo-xs-height;

  @include bp(md-screen) {
    background-size: $header-logo-md-width $header-logo-md-height;
    background-position: left top;
  }

}

html.no-svg .global-header__logo {
  background: url(/images/logo-calisphere.png) no-repeat;
}

.global-header__logo-link {
  display: block;
  width: $header-logo-xs-width;
  height: $header-logo-xs-height;

  @include bp(md-screen) {
    width: $header-logo-md-width;
    height: $header-logo-md-height;
  }

}

.global-header__search {
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

.global-header__search-label {
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;

  @include bp(md-screen) {
    font-size: 1.5em;
  }

}

.global-header__search-field {
  font-size: 1.2em;

  @include bp(md-screen) {
    height: 45px;
    font-size: 1.5em;
  }

}

.global-header__search .input-group { // Bootstrap override
  
  @include bp(md-screen) {
    margin: 0 35px;
  }

}

.global-header__search-button {
  
  border: 1px solid $design-dark-gray-color;
  background: $design-primary-color;
  &:hover {
    background: $link-hover-color;
  }

  @include bp(md-screen) {
    width: 50px;
    height: 45px;
  }

}

.global-header__search-button .fa {
  color: #fff;

  @include bp(md-screen) {
    font-size: 2em;
  }
  
}

html.no-js .global-header__search {
  display: block;
}

.global-header__search--selected {
  display: block;
}

.global-header__search-icon {
  text-align: right;
  font-size: 1.4em;
  cursor: pointer;

  @include bp(sm-screen) {
    display: none;
  }

}

// .global-header__nav-list {
//   margin: 0;
//   padding: 0;
// }

// .global-header__nav-list li {
//   display: inline;
//   list-style: none;
// }

// .global-header__nav-list a {
//   color: #000;
// }

.global-header__collections--xs {
  text-align: left;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__collections--sm {
  display: none;

  @include bp(sm-screen) {
    display: block;
    margin: 20px 0;
    padding: 0.6em 7em 0.6em 0;
    background: $design-secondary-color;
    text-align: right;
  }

}

.global-header__collections--sm-list {
  margin: 0;
  padding: 0;
}

.global-header__collections--sm-list-item {
  display: inline;
  list-style: none;
}

.global-header__collections--sm-list-item:first-child .global-header__collections--sm-links {
  border-right: 1px solid #fff;
}

.global-header__collections--sm-links {

  @include bp(sm-screen) {
    padding: 0.1em 3em;
    color: #fff;
    font-size: 1.4em;
    line-height: normal;
  }

}

.global-header__nav {
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

html.no-js .global-header__nav {
  display: block;
}

.global-header__mobile-links--selected {
  display: block;
}

.global-header__nav-list {
  margin: 0;
  padding: 0;
}

.global-header__nav-list-item {
  list-style: none;
}

.global-header__nav-link {
  
}
