// ##### Global Header ##### //

.global-header {
  
}

.global-header__bars-icon {
  font-size: 1.4em;
  cursor: pointer;
  
  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__logo {
  text-align: center;

  @include bp(sm-screen) {
    text-align: left;
  }

}

.global-header__search {
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

.global-header__search-label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}

.global-header__search-field {
  font-size: 1.5em;
}

.global-header__search-button {
  border: 1px solid $design-dark-gray-color;
  background: $design-primary-color;
  &:hover {
    background: $link-hover-color;
  }
}

.global-header__search-button .fa {
  color: #fff;
}

html.no-js .global-header__search {
  display: block;
}

.global-header__search--selected {
  display: block;
}

.global-header__search-icon {
  text-align: right;
  font-size: 1.4em;
  cursor: pointer;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__nav-list {
  margin: 0;
  padding: 0;
}

.global-header__nav-list li {
  display: inline;
  list-style: none;
}

.global-header__collections--xs {
  text-align: left;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__collections--sm {
  display: none;
  text-align: center;
  background: $design-secondary-color;

  @include bp(sm-screen) {
    display: block;
  }

}

.global-header__mobile-links {
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

html.no-js .global-header__mobile-links {
  display: block;
}

.global-header__mobile-links--selected {
  display: block;
}
