// __________ Header __________ //

.global-header {
  
}

.global-header__bars-icon {
  font-size: 1.4em;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__logo {
  text-align: center;

  @include bp(sm-screen) {
    text-align: left;
  }

}

.global-header__logo img {
  padding: 10px;
  border: 1px solid black;
}

.global-header__logo h1 {
  display: inline;
  font-size: 1.4em;
}

.global-header__search-icon {
  text-align: right;
  font-size: 1.4em;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__nav-list {
  margin: 0;
  padding: 0;
}

.global-header__nav-list li {
  display: inline;
  list-style: none;
  // border: 1px solid blue;
}

.global-header__collections-institutions {
  text-align: left;

  @include bp(sm-screen) {
    text-align: center;
  }

}