// ##### Global Header ##### //

.global-header__bars-icon {
  cursor: pointer;
  
  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__bars-icon .fa { // fa-bars icon
  font-size: 2.4em;
  color: $design-dark-gray-color;
}

.global-header__logo {
  margin: 0 0 10px 0;
  background: url(/images/logo-calisphere.svg) no-repeat;
  background-position: center top;
  background-size: $header-logo-xs-width $header-logo-xs-height;

  @include bp(md-screen) {
    margin: 0;
    background-size: $header-logo-md-width $header-logo-md-height;
    background-position: left top;
  }

}

html.no-svg .global-header__logo {
  background: url(/images/logo-calisphere.png) no-repeat;
}

.global-header__logo-link {
  display: block;
  margin: 0 auto;
  width: $header-logo-xs-width;
  height: $header-logo-xs-height;

  @include bp(md-screen) {
    margin: 0;
    width: $header-logo-md-width;
    height: $header-logo-md-height;
  }

}

.global-header__search-icon {
  text-align: right;
  cursor: pointer;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__search-icon .fa { // fa-search icon
  font-size: 2.4em;
  color: $design-primary-color;
}

.global-header__search {
  display: none; // becomes 'block' on search-icon click

  @include bp(sm-screen) {
    display: block;
  }

}

html.no-jquery .global-header__search {
  display: block;
}

.global-header__search--selected {
  display: block;
}

.global-header__search-form {
  margin: 0 (-$layout-container-margin-xs);
  padding: 15px $layout-box-padding;
  background: $design-dark-gray-color;
  border-bottom: 1px solid #fff;

  @include bp(sm-screen) {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
  }

}

.global-header__nav {
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

html.no-jquery .global-header__nav {
  display: block;
}

.global-header__mobile-links--selected { // change to 'global-header__nav--selected'
  display: block;
}

.global-header__nav-list {
  margin: 0 (-$layout-container-margin-xs);
  padding: 0;
  list-style: none;
  line-height: normal;

  @include bp(sm-screen) {
    margin: 2px (-$layout-container-margin-sm) 0 0;
  }

  @include bp(md-screen) {
    margin: 2px (-$layout-container-margin-md) 0 30px;
  }

}

.global-header__nav-browse-options {
  display: block;

  @include bp(sm-screen) {
    display: none;
  }

}

.global-header__nav-list-item {

  @include bp(sm-screen) {
    text-align: center;
    float: left;
    width: 25%;
  }

}

.global-header__nav-link {
  display: block;
  padding: 15px $layout-box-padding;
  color: #fff;
  border-bottom: 1px solid #fff;
  background: $design-dark-gray-color;
  font-size: 1.1em;
  &:hover {
    text-decoration: none;
  }

  @include bp(sm-screen) {
    display: inline;
    padding: 0;
    color: #000;
    border: none;
    background: none;
  }

  @include bp(md-screen) {
    font-size: 1.1em;
  }

}

.global-header__collections--sm {
  display: none;

  @include bp(sm-screen) {
    display: block;
    margin: 0 (-$layout-container-margin-sm) $layout-component-margin (-$layout-container-margin-sm);
    padding: 0.7em 3% 0.5em 0;
    background: $design-secondary-color;
    text-align: right;
  }

  @include bp(md-screen) {
    margin: $layout-component-margin (-$layout-container-margin-md);
    padding: 0.7em 10% 0.5em 0;
  }

}

.global-header__collections--sm-list {
  margin: 0;
  padding: 0;
}

.global-header__collections--sm-list-item {
  display: inline;
  list-style: none;
}

.global-header__collections--sm-list-item:first-child .global-header__collections--sm-links {
  border-right: 1px solid #fff;
}

.global-header__collections--sm-links {

  @include bp(sm-screen) {
    padding: 0.1em 3em;
    color: #fff;
    font-size: 1.3em;
    line-height: normal;

    &:hover {
      color: #fff;
    }

  }

  @include bp(md-screen) {
    font-size: 1.4em;
  }

}
