// ##### Home Page Images ##### //

// ***** Image Variables ***** //

$home-aws-image-path: "http://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/";

$home__img1-v1-xs: "#{$home-aws-image-path}colorado-street-bridge_650x300.jpg";
$home__img1-v1-sm: "#{$home-aws-image-path}colorado-street-bridge_900x400.jpg";
$home__img1-v1-md: "#{$home-aws-image-path}colorado-street-bridge_1400x600.jpg";

$home__img1-v2-xs: "#{$home-aws-image-path}baseball-players_650w.jpg";
$home__img1-v2-sm: "#{$home-aws-image-path}baseball-players_900w.jpg";
$home__img1-v2-md: "#{$home-aws-image-path}baseball-players_1400w.jpg";

$home__img1-v3-xs: "#{$home-aws-image-path}bear_650w.jpg";
$home__img1-v3-sm: "#{$home-aws-image-path}bear_900w.jpg";
$home__img1-v3-md: "#{$home-aws-image-path}bear_1400w.jpg";

$home__img2-v1-xs: "#{$home-aws-image-path}oranges_430x197.jpg";
$home__img2-v1-sm: "#{$home-aws-image-path}oranges_600x276.jpg";
$home__img2-v1-md: "#{$home-aws-image-path}oranges_958x400.jpg";

$home__img2-v2-xs: "#{$home-aws-image-path}coachella-valley_430w.jpg";
$home__img2-v2-sm: "#{$home-aws-image-path}coachella-valley_600w.jpg";
$home__img2-v2-md: "#{$home-aws-image-path}coachella-valley_960w.jpg";

$home__img2-v3-xs: "#{$home-aws-image-path}girls_basketball_team_430w.jpg";
$home__img2-v3-sm: "#{$home-aws-image-path}girls_basketball_team_600w.jpg";
$home__img2-v3-md: "#{$home-aws-image-path}girls_basketball_team_960w.jpg";

$home__img3-v1-xs: "#{$home-aws-image-path}hirahara-portrait_220x188.jpg";
$home__img3-v1-sm: "#{$home-aws-image-path}hirahara-portrait_300x256.jpg";
$home__img3-v1-md: "#{$home-aws-image-path}hirahara-portrait_465x397.jpg";

$home__img3-v2-xs: "#{$home-aws-image-path}rosie_the_riviter_200w.jpg";
$home__img3-v2-sm: "#{$home-aws-image-path}rosie_the_riviter_300w.jpg";
$home__img3-v2-md: "#{$home-aws-image-path}rosie_the_riviter_465w.jpg";

$home__img3-v3-xs: "#{$home-aws-image-path}map_200w.jpg";
$home__img3-v3-sm: "#{$home-aws-image-path}map_300w.jpg";
$home__img3-v3-md: "#{$home-aws-image-path}map_465w.jpg";

// ***** Image 1 Versions ***** //

%home__img1 {
	position: relative; // relative to .home__img-credit
	margin: $layout-container-margin-xs 0;
	padding: 0 0 $layout-container-margin-md 0; // provide space for image caption
	background-size: cover;
	
	@include bp(sm-screen) {
    padding: 0;
  }

}

.home__img1-v1 {
	@extend %home__img1;
	background-image: url($home__img1-v1-xs);
	background-position: 0 -15px;

	@include bp(sm-screen) {
    background-image: url($home__img1-v1-sm);
    background-position: 0 50%;
  }

  @include bp(md-screen) {
    background-image: url($home__img1-v1-md);
  }

}

.home__img1-v2 {
	@extend %home__img1;
	background-image: url($home__img1-v2-xs);

	@include bp(sm-screen) {
    background-image: url($home__img1-v2-sm);
  }

  @include bp(md-screen) {
    background-image: url($home__img1-v2-md);
  }

}

.home__img1-v3 {
	@extend %home__img1;
	background-image: url($home__img1-v3-xs);
	background-position: 0 -15px;

	@include bp(sm-screen) {
    background-image: url($home__img1-v3-sm);
    background-position: 0 50%;
  }

  @include bp(md-screen) {
    background-image: url($home__img1-v3-md);
  }

}

// ***** Image 1 Heading Versions ***** //

%home__img1-heading {
	margin: 0;
	padding: 20px 10px;
	color: #fff;
	font-size: 2em;
	text-align: center;

	@include bp(sm-screen) {
    padding: 30px 10px 60px 10px;
    font-size: 2.2em;
  }

  @include bp(md-screen) {
    padding: 50px 10px 80px 10px;
    font-size: 3em;
  }

}

.home__img1-v1-heading {
	@extend %home__img1-heading;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.home__img1-v2-heading {
	@extend %home__img1-heading;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.home__img1-v3-heading {
	@extend %home__img1-heading;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.home__search {
	display: none;

	@include bp(sm-screen) {
    display: block;
    padding: 0 30% 16% 30%; // .home__mast height is responsive to this element
  }

}

// ***** Image Credit Versions ***** //

%home__img-credit {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: $layout-container-margin-md $layout-container-margin-sm $layout-container-margin-sm $layout-container-margin-sm;
	color: #fff;
	text-align: right;
	font-size: 0.9em;

	&:hover {
		color: #fff;
	}

	@include bp(sm-screen) {
		display: block;
	}

}

.home__img1-v1-credit {
	@extend %home__img-credit;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.home__img1-v2-credit {
	@extend %home__img-credit;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.home__img1-v3-credit {
	@extend %home__img-credit;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.home__img2-v1-credit {
	@extend %home__img-credit;
}

.home__img2-v2-credit {
	@extend %home__img-credit;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.home__img2-v3-credit {
	@extend %home__img-credit;
}

.home__img3-v1-credit {
	@extend %home__img-credit;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.home__img3-v2-credit {
	@extend %home__img-credit;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.home__img3-v3-credit {
	@extend %home__img-credit;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

// ***** Image 2 Versions ***** //

%home__img2 {
	position: relative; // relative to .home__img-main1-text
	margin: 0 ($layout-container-margin-xs / 2) 0 0;
	padding: 0 0 $home-main-img-padding 0;
	background-size: 100%;
}

.home__img2-v1 {
	@extend %home__img2;
	background-image: url($home__img2-v1-xs);

	@include bp(sm-screen) {
  	background-image: url($home__img2-v1-sm);
  }

	@include bp(md-screen) {
  	background-image: url($home__img2-v1-md);
  }

}

.home__img2-v2 {
	@extend %home__img2;
	background-position: 0 -20px;
	background-image: url($home__img2-v2-xs);

	@include bp(sm-screen) {
  	background-image: url($home__img2-v2-sm);
  }

	@include bp(md-screen) {
  	background-image: url($home__img2-v2-md);
  }

}

.home__img2-v3 {
	@extend %home__img2;
	background-image: url($home__img2-v3-xs);

	@include bp(sm-screen) {
  	background-image: url($home__img2-v3-sm);
  }

	@include bp(md-screen) {
  	background-image: url($home__img2-v3-md);
  }

}

// ***** Image 2 Text Overlay Versions ***** //

%home__img2-text {
	position: relative;
	z-index: 2;
	margin: 0 0 $layout-container-margin-xs 0;
	padding: 10px;
	color: #fff;
	font-size: 1.2em;

	@include bp(sm-screen) {
    position: absolute;
    margin: 0 ($layout-container-margin-xs / 2) 0 0;
		padding: 10px 30px;
		background-size: 100%;
  }

  @include bp(md-screen) {
  	font-size: 1.7em;
  }

}

.home__img2-v1-text {
	@extend %home__img2-text;
	background-color: #006893; // for <= IE 9
	background-color: rgba(0, 104, 147, 1);

	@include bp(sm-screen) {
		background-image: url($home__img2-v1-sm);
		background-blend-mode: soft-light;
  }

  @include bp(md-screen) {
  	background-image: url($home__img2-v1-md);
  }

}

.home__img2-v2-text {
	@extend %home__img2-text;
	background-position: 0 -20px;
	background-color: $design-secondary-color;

	@include bp(sm-screen) {
		background-image: url($home__img2-v2-sm);
		background-blend-mode: multiply;
  }

  @include bp(md-screen) {
  	background-image: url($home__img2-v2-md);
  }

}

.home__img2-v3-text {
	@extend %home__img2-text;
	background-color: #006893; // for <= IE 9
	background-color: rgba(0, 104, 147, 1);

	@include bp(sm-screen) {
		background-image: url($home__img2-v3-sm);
		background-blend-mode: soft-light;
  }

  @include bp(md-screen) {
  	background-image: url($home__img2-v3-md);
  }

}

// ***** Image 3 Versions ***** //

%home__img3 {
	position: relative; // relative to .home__img-credit
	margin: 0 0 0 ($layout-container-margin-xs / 2);
	padding: 0 0 ($home-main-img-padding * 2) 0;
	background-size: 100%;
}

.home__img3-v1 {
	@extend %home__img3;
	background-image: url($home__img3-v1-xs);

	@include bp(sm-screen) {
  	background-image: url($home__img3-v1-sm);
  }

	@include bp(md-screen) {
  	background-image: url($home__img3-v1-md);
  }

}

.home__img3-v2 {
	@extend %home__img3;
	background-image: url($home__img3-v2-xs);

	@include bp(sm-screen) {
  	background-image: url($home__img3-v2-sm);
  }

	@include bp(md-screen) {
  	background-image: url($home__img3-v2-md);
  }

}

.home__img3-v3 {
	@extend %home__img3;
	background-image: url($home__img3-v3-xs);

	@include bp(sm-screen) {
  	background-image: url($home__img3-v3-sm);
  }

	@include bp(md-screen) {
  	background-image: url($home__img3-v3-md);
  }

}
