// ##### Home Page ##### //

// for testing grids:
.home [class^="col-"] {
	// border: $bblue;
}

.home__top-images { // align images to edge of viewport
	margin: 0 (-$layout-container-margin-xs);
	overflow: hidden;

	@include bp(sm-screen) {
    margin: 0 (-$layout-container-margin-sm);
  }

  @include bp(md-screen) {
    margin: 0 (-$layout-container-margin-md);
  }

}

.home__search {
	padding: 0 10px;

	@include bp(sm-screen) {
    display: block;
    padding: 0 30% 16% 30%; // .home__mast height is responsive to this element
  }

}

#home__search-field {
	color: #000;
	border: none;

	&::placeholder {
  	color: #000;
	}

	&:focus::placeholder {
  	color: $design-dark-gray-color;
	}

}

.home__search-button {
  width: 60px;
  height: 46px; // match height of .input-lg
  color: #fff;
  border: 1px solid $design-primary-color;
  background: $design-primary-color;
  overflow: hidden;

  &:hover {
    color: #fff;
    background: $link-hover-color;
    border: $design-primary-color;
  }

  &:after {
  	content: "\f002"; // fa-search icon
    font-family: FontAwesome;
    font-size: 1.3em;
    position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
  }

}

.home__img-main-row {
	position: relative;
	z-index: 1;
}

.home__heading2 {
	margin: $layout-component-margin 0;
	font-size: 1.5em;
	font-weight: bold;

	@include bp(sm-screen) {
		margin: ($layout-component-margin * 2) 0 $layout-component-margin 0;
	}

}

.home__thumbnail {
	margin: 0 (-$layout-container-margin-xs) (-$layout-container-margin-xs) 0;

	@include bp(md-screen) {
		margin: 0 (-$layout-container-margin-md) (-$layout-container-margin-md) 0;
	}

}

.home__thumbnail-link {
	display: block;
	position: relative;
	margin: 0 $layout-container-margin-xs $layout-container-margin-xs 0;
	background-size: 100%;
	background-color: #ccc; // fallback if no image
	// background-image: url() set in html as inline style

	&:before {
    display: block;
    content: "";
    padding-top: 100%; // sets square aspect ratio
  }

  &:hover .home__thumbnail-caption--uc {
		background-image: none;
	}

	@include bp(md-screen) {
  	margin: 0 $layout-container-margin-md $layout-container-margin-md 0;
  }

}

.home__thumbnail-caption--uc {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #fff;
	background-color: rgba($design-primary-color, 1);
	background-image: inherit;
	background-size: 100%;
	background-position: bottom;
	background-blend-mode: multiply;
	line-height: 1.2;

	@include bp(md-screen) {
  	font-size: 1.1em;
  }

}

html.no-background-blend-mode .home__thumbnail-caption--uc {
	background-image: none;
	background-color: rgba($design-primary-color, 0.7);
}

.home__thumbnail-caption--inst {
	@extend .home__thumbnail-caption--uc;
	background-color: rgba($design-secondary-color, 1);
}

html.no-background-blend-mode .home__thumbnail-caption--inst {
	background-color: rgba($design-secondary-color, 0.7);
}


.home__contributing-block {
	margin: 0 $layout-container-margin-xs 0 (-$layout-container-margin-xs);
	padding: 0 0 0 ($layout-container-margin-xs * 2);

	@include bp(md-screen) {
    margin: 0 $layout-container-margin-md 0 (-$layout-container-margin-md);
    padding: 0 0 0 ($layout-container-margin-md * 2);
  }

}

.home__contributing-link {
	position: relative;
	display: block;
	margin: 0 0 0 (-$layout-container-margin-xs);
	padding: 0 0 50% 0;
	border: 1px solid $design-primary-color;

	@include bp(md-screen) {
		margin: 0 0 0 (-$layout-container-margin-md);
	}

	&:hover .home__contributing-content {
		text-decoration: underline;
	}

}

.home__contributing-content {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
	font-size: 1.3em;

	&:after {
		display: inline-block; // removes the :hover underline
		content: "\f105"; // fa-angle-right Font Awesome icon
    font-family: FontAwesome;
    margin: 0 0 0 0.5em;
	}

}

.home__contributing-link--inst {
	@extend .home__contributing-link;
	border: 1px solid $design-secondary-color;
}

.home__contributing-content--inst {
	@extend .home__contributing-content;
	color: $design-secondary-color;
}
