// ##### Home Page ##### //

// for testing grids:
.home [class^="col-"] {
	// border: $bblue;
}

.home__main-section { // align images to edge of viewport
	margin: 0 (-$layout-container-margin-xs);

	@include bp(sm-screen) {
    margin: 0 (-$layout-container-margin-sm);
  }

  @include bp(md-screen) {
    margin: 0 (-$layout-container-margin-md);
  }

}

.home__mast {
	position: relative; // relative to .home__img-credit
	margin: 0 0 $layout-container-margin-xs 0;
	background-image: url("/images/homepage/colorado-street-bridge_650x300.jpg");
	background-size: cover;

	@include bp(sm-screen) {
    background-image: url("/images/homepage/colorado-street-bridge_900x400.jpg");
  }

  @include bp(md-screen) {
    background-image: url("/images/homepage/colorado-street-bridge_1400x600.jpg");
  }

}

.home__mast-heading {
	margin: 0;
	padding: 20px 10px;
	color: #fff;
	font-size: 2em;
	text-align: center;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

	@include bp(sm-screen) {
    padding: 30px 10px 60px 10px;
    font-size: 2.2em;
  }

  @include bp(md-screen) {
    padding: 30px 10px 100px 10px;
    font-size: 2.9em;
  }

}

.home__search {
	margin: 0 auto;
	padding: 0 15% 12% 15%; // .home__mast height is responsive to this element

	@include bp(sm-screen) {
    padding: 0 30% 16% 30%;
  }

}

#home__search-field {
	color: #000;
	border: none;

	&::placeholder {
  	color: #000;  
	}

	&:focus::placeholder {
  	color: $design-dark-gray-color;
	}

}

.home__search-button {
  width: 60px;
  height: 46px; // match height of .input-lg
  color: #fff;
  border: 1px solid $design-primary-color;
  background: $design-primary-color;
  overflow: hidden;

  &:hover {
    color: #fff;
    background: $link-hover-color;
    border: $design-primary-color;
  }

  &:after {
  	content: "\f002"; // fa-search icon
    font-family: FontAwesome;
    font-size: 1.3em;
    position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
  }

}

// if image is applied in html source, not as background:
.home__mast-img {
	// position: absolute;
	// width: 100%;
	// height: 100%;
	// top: 0;
	// left: 0;
	// bottom: 0;
	// right: 0;
	// z-index: -1;
	// object-fit: cover;
	// object-position: 50% 0;
}

.home__img-credit {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
	font-size: 0.9em;
}

// ***** 8 by 4 image mosaic ***** //

.home__mosaic {
	position: relative;
	z-index: 1;
}

.home__img-main1 {
	position: relative; // relative to .home__img-main1-text
	margin: 0 ($layout-container-margin-xs / 2) 0 0;
	padding: 0 0 $home-main-img-padding 0;
	background-image: url("/images/homepage/oranges_430x197.jpg");
	background-size: 100%;

	@include bp(sm-screen) {
  	background-image: url("/images/homepage/oranges_600x276.jpg");
  }

	@include bp(md-screen) {
  	background-image: url("/images/homepage/oranges_958x400.jpg");
  }

}

.home__img-main1-text {
	position: relative;
	z-index: 2;
	margin: 0 0 $layout-container-margin-xs 0;
	padding: 10px;
	color: #fff;
	font-size: 1.2em;
	background: #003399; // for <= IE 9
	background: rgba(0, 91, 135, 0.8);

	@include bp(sm-screen) {
    position: absolute;
    margin: 0 ($layout-container-margin-xs / 2) 0 0;
		padding: 10px 30px;
  }

  @include bp(md-screen) {
  	font-size: 1.7em;
  }

}

.home__img-main2 {
	position: relative; // relative to .home__img-credit
	margin: 0 0 0 ($layout-container-margin-xs / 2);
	padding: 0 0 ($home-main-img-padding * 2) 0;
	background-size: 100%;
	background-image: url("/images/homepage/hirahara-portrait_220x188.jpg");

	@include bp(sm-screen) {
  	background-image: url("/images/homepage/hirahara-portrait_300x256.jpg");
  }

	@include bp(md-screen) {
  	background-image: url("/images/homepage/hirahara-portrait_465x397.jpg");
  }
  
}

.home__heading2 {
	margin: $layout-component-margin 0;
	font-size: 1.5em;
	font-weight: bold;

	@include bp(sm-screen) {
		margin: ($layout-component-margin * 2) 0 $layout-component-margin 0;
	}

}

.home__thumbnail {
	margin: 0 (-$layout-container-margin-xs) (-$layout-container-margin-xs) 0;

	@include bp(md-screen) {
		margin: 0 (-$layout-container-margin-md) (-$layout-container-margin-md) 0;
	}

}

.home__thumbnail-link {
	position: relative; // relative to .home__thumbnail-caption
	display: block;

	&:hover .home__thumbnail-caption--uc {
		text-decoration: underline;
	}

	margin: 0 $layout-container-margin-xs $layout-container-margin-xs 0;
	
	@include bp(md-screen) {
  	margin: 0 $layout-container-margin-md $layout-container-margin-md 0;
  }

}

.home__thumbnail-image {
	width: 100%;
	height: auto;
}

.home__thumbnail-caption--uc {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #fff;
	background: rgba(241, 70, 0, 0.7);

	@include bp(md-screen) {
  	font-size: 1.2em;
  }

}

.home__thumbnail-caption--inst {
	@extend .home__thumbnail-caption--uc;
	background: rgba(0, 91, 109, 0.7);
}

.home__contributing-block {
	margin: 0 $layout-container-margin-xs 0 (-$layout-container-margin-xs);
	padding: 0 0 0 ($layout-container-margin-xs * 2);

	@include bp(md-screen) {
    margin: 0 $layout-container-margin-md 0 (-$layout-container-margin-md);
    padding: 0 0 0 ($layout-container-margin-md * 2);
  }

}

.home__contributing-link {
	position: relative;
	display: block;
	margin: 0 0 0 (-$layout-container-margin-xs);
	padding: 0 0 50% 0;
	border: 1px solid $design-primary-color;

	@include bp(md-screen) {
		margin: 0 0 0 (-$layout-container-margin-md);
	}

	&:hover .home__contributing-content {
		text-decoration: underline;
	}

}

.home__contributing-content {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
	font-size: 1.3em;

	&:after {
		display: inline-block; // removes the :hover underline
		content: "\f105"; // fa-angle-right Font Awesome icon
    font-family: FontAwesome;
    margin: 0 0 0 0.5em;
	}

}
