// ##### Home Page ##### //

// for testing grids:
.home [class^="col-"] {
	// border: $bblue;
}

.home__mast {
	position: relative; // relative to .home__img-credit
	margin: 0 0 $layout-container-margin-xs 0;
	background-image: url("/images/homepage/colorado-street-bridge.jpg");

	@include bp(sm-screen) {
    background-size: cover;
  }

}

.home__mast-heading {
	padding: 20px 10px;
	color: #fff;
	font-size: 2em;
	text-align: center;
	background: #666; // for <= IE 8
	background: rgba(0, 0, 0, 0.5); // for IE 9
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));

	@include bp(sm-screen) {
    padding: 30px 10px;
    font-size: 2.2em;
  }

  @include bp(md-screen) {
    padding: 40px 10px;
    font-size: 2.4em;
  }

}

.home__search {
	margin: 0 auto;
	padding: 0 20% 12% 20%; // .home__mast height is responsive to this element

	@include bp(sm-screen) {
    padding: 6% 30% 12% 30%;
  }

}

.home__search-button {
  height: 34px; // match the height of Bootstrap's form field
  color: #fff;
  border: 1px solid $design-dark-gray-color;
  background: $design-primary-color;

  &:hover {
    background: $link-hover-color;
  }

  .fa { // fa-search icon
  	font-size: 1.1em;

  }

}

.home__img-credit {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
	font-size: 0.9em;
}

// ***** 8 by 4 image mosaic ***** //

.home__mosaic {
	position: relative;
	z-index: 1;
}

.home__img-main1 {
	position: relative; // relative to .home__img-main1-text
	margin: 0 ($layout-container-margin-xs / 2) 0 0;
	padding: 0 0 35% 0; // sets a responsive container size ratio
	background-image: url("/images/homepage/oranges.jpg");
	background-position: center;
	background-size: 115%;
}

.home__img-main1-text {
	position: relative;
	z-index: 2;
	margin: 0 0 $layout-container-margin-xs 0;
	padding: 10px;
	color: #fff;
	font-size: 1.4em;
	background: #003399; // for <= IE 9
	background: rgba(0, 91, 135, 0.85);

	@include bp(sm-screen) {
    position: absolute;
    margin: 0 ($layout-container-margin-xs / 2) 0 0;
		padding: 10px 20px;
  }

  @include bp(md-screen) {
  	font-size: 1.7em;
  }

}

.home__img-main2 {
	position: relative; // relative to .home__img-credit
	margin: 0 0 0 ($layout-container-margin-xs / 2);
	padding: 0 0 70% 0; // sets a responsive container size ratio
	background-image: url("/images/homepage/hirahara-portrait.jpg");
	background-position: center;
	background-size: 115%;
}

.home__heading2 {
	clear: right; // clear bootstrap grid
	margin: ($layout-component-margin * 2) 0 $layout-component-margin 0;
	font-size: 1.4em;
	overflow: hidden;
}

.home__thumbnail {
	margin: 0 (-$layout-component-margin) (-$layout-component-margin) 0;
}

.home__thumbnail-link {
	position: relative; // relative to .home__thumbnail-caption
	display: block;
	margin: 0 $layout-component-margin $layout-component-margin 0;
}

.home__thumbnail-image {
	width: 100%;
	height: auto;
}

.home__thumbnail-caption--uc {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5px;
	color: #fff;
	background: rgba(255, 110, 27, 0.8);
}

.home__thumbnail-caption--inst {
	@extend .home__thumbnail-caption--uc;
	background: rgba(0, 72, 115, 0.85);
}

.home__contributing-block {
	margin: 0 0 $layout-component-margin 0;
	padding: 0 ($layout-component-margin * 2) 0 0;

	@include bp(sm-screen) {
    margin: 0;
  }

}

.home__contributing-link {
	position: relative;
	display: block;
	margin: 0 (-$layout-component-margin) 0 0;
	padding: 0 0 50% 0;
	border: 1px solid $design-primary-color;

	&:hover .home__contributing-content {
		text-decoration: underline;
	}

}

.home__contributing-content {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
	font-size: 1.3em;

	&:after {
		display: inline-block; // removes the :hover underline
		content: "\f105"; // fa-angle-right Font Awesome icon
    font-family: FontAwesome;
    margin: 0 0 0 0.5em;
	}

}
