// ##### Icons ##### //

// ***** Single Icon Uses ***** //

.icon__external-link:after {
  display: inline-block; // removes the :hover underline (except in IE)
  font-family: FontAwesome;
  content: '\f08e'; // same as .fa-external-link
  color: #000;
  margin: 0 0 0 0.5em;
}

.icon__image-set {
	
	.fa-picture-o:last-child {
		width: 1.1em;
		top: 0.75em !important;
		left: 0.60em !important;
		background: #fff;
		line-height: 0.8em;
	}

}

.icon__overlay-container { // for icon-overlays where there is no native container
	position: relative;
}
