// ##### Icons ##### //

.icon__external-link:after {
  font-family: FontAwesome;
  content: '\f08e'; // same as .fa-external-link
  color: #000;
  margin: 0 0 0 0.5em;
}

.icon__image-set {
	
	.fa-picture-o:last-child {
		width: 1.1em;
		top: 0.75em !important;
		left: 0.60em !important;
		background: #fff;
		line-height: 0.8em;
	}

}

// ***** Icon overlay used in thumbnail and list view components ***** //

$icon-overlay-size-xs: 60px;
$icon-overlay-size-sm: 50px;
$icon-overlay-size-md: 45px;

.icon__centered-overlay-container {
	position: relative;
}

.icon__overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $icon-overlay-size-xs;
	height: $icon-overlay-size-xs;
	margin: ((-$icon-overlay-size-xs) / 2) 0 0 ((-$icon-overlay-size-xs) / 2);
	line-height: $icon-overlay-size-xs;
	font-size: $icon-overlay-size-xs - 20;
	background: $design-primary-color;
	color: #fff;

	@include bp(sm-screen) {
    width: $icon-overlay-size-sm;
		height: $icon-overlay-size-sm;
		margin: ((-$icon-overlay-size-sm) / 2) 0 0 ((-$icon-overlay-size-sm) / 2);
		line-height: $icon-overlay-size-sm;
		font-size: $icon-overlay-size-sm - 20;
  }

  @include bp(md-screen) {
	  width: $icon-overlay-size-md;
		height: $icon-overlay-size-md;
		margin: ((-$icon-overlay-size-md) / 2) 0 0 ((-$icon-overlay-size-md) / 2);
		line-height: $icon-overlay-size-md;
		font-size: $icon-overlay-size-md - 20;
  }

}