// ***** Icons ***** //

.fa {
	// display: block !important;
	// margin: 0.5em 0;
	font-size: 2em !important;
}

.fa-stack {
	top: -6px;
	margin-right: 6px;
}

.fa-stack-1x {
	
}

.fa-stack-2x {
	top: 4px !important;
	left: 4px !important;
	background: #fff;
}