// ##### Icons ##### //

// ***** Icon Tiles ***** //

.icon [class^="col-"] {
	// border: $bblue;
}

// simple version, not as well supported:
// .icon__tile {
// 	height: 16.66vw; // 100 / 6
// }

.icon__tile { // creates the container
	position: relative;
	background-color: $design-light-gray-color; 
}

.icon__tile:before { // sets container height equal to width
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.icon__tile-icon { // sets the white circle within the container
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.icon__tile-icon:before { // sets the icon within the white circle
  position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: $fa-var-volume-up;
  font-family: FontAwesome;
  color: $design-primary-color;
  font-size: 4em;
}

// ***** Icon Overlays ***** //

.icon__overlay { // creates the container
	position: relative;
	background-color: $design-light-gray-color; 
}

.icon__overlay:before { // sets container height equal to width
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.icon__overlay-image { // sets the image within the container
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.icon__overlay-icon { // sets the white circle within the container
	position: absolute;
	left: 5%;
  bottom: 5%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.icon__overlay-icon:before { // sets the icon within the white circle
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	content: $fa-var-volume-up;
  font-family: FontAwesome;
  color: $design-primary-color;
  font-size: 1.8em;
}

// ***** Single Icon Uses ***** //

.icon__external-link:after {
  display: inline-block; // removes the :hover underline (except in IE)
  font-family: FontAwesome;
  content: '\f08e'; // same as .fa-external-link
  color: #000;
  margin: 0 0 0 0.5em;
}

.icon__image-set {
	
	.fa-picture-o:last-child {
		width: 1.1em;
		top: 0.75em !important;
		left: 0.60em !important;
		background: #fff;
		line-height: 0.8em;
	}

}

.icon__overlay-container { // for icon-overlays where there is no native container
	position: relative;
}
