// ##### Institution Intro Component ##### //

.institution-intro {
  overflow: hidden;

  @include bp(sm-screen) {
    border: 1px solid $design-dark-gray-color;
  }

}

.institution-intro__featured-image-link {
  display: block;

  @include bp(sm-screen) {
    margin: $layout-component-margin ($layout-component-margin * 2);
  }

}

.institution-intro__featured-image {
  max-width: 100%;
}

.institution-intro__featured-image-caption {
  text-align: right;
}

.institution-intro__list {
  padding: 0;

  @include bp(sm-screen) {
    margin: $layout-component-margin;
  }

}

.institution-intro__logo-location {
  margin: $layout-component-margin 0;

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }

}

.institution-intro__logo {
  max-width: 100%; // default img width is 250px
  height: auto;
}

.institution-intro__logo--uc {
  @extend .institution-intro__logo;
  padding: $layout-component-margin 0 0 0;

  @include bp(sm-screen) {
    padding: $layout-component-margin 0 0 $layout-component-margin;
  }

  @include bp(md-screen) {
  padding: $layout-component-margin 0 $layout-component-margin $layout-component-margin;
  }

}

.institution-intro__location {
  margin: $layout-component-margin 0 0 0;
  padding: 0;
}

.institution-intro__location--uc {
  @extend .institution-intro__location;
  margin: $layout-component-margin 0;

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 $layout-component-margin $layout-component-margin;
  }

}

.institution-intro__location-list {
  list-style: none;
}

.institution-intro__heading {
  font-size: 1em;
  font-weight: bold;

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 $layout-component-margin;
  }

}

.institution-intro__list-item {
  list-style: none;
}

.institution-intro__web-link {
  @extend .icon__external-link;
}

.institution-intro__description {
  margin: 0 0 $layout-component-margin 0;

  @include bp(sm-screen) {
    margin: $layout-component-margin;
  }

}
