// ##### Institutions Intro Component ##### //

.institutions-intro__overview {
  margin: 0 0 $layout-component-margin 0;

  @include bp(sm-screen) {
    padding-right: $layout-component-margin / 2;
    font-size: 1.2em;
  }

}

.institutions-intro__description {
  margin: 0 0 $layout-component-margin 0;
  
  @include bp(sm-screen) {
    padding-left: $layout-component-margin / 2;
    font-size: 1.2em;
  }

}

.institutions-intro__text {
  margin: 0;
}

.institutions-intro__button-uc {
  padding: 0 10px 0 0;
}

.institutions-intro__button-state {
  padding: 0 0 0 10px;

  @include bp(md-screen) {
    padding: 0 7px 0 10px;
  }

}
