// ##### Institutions Navigation Component ##### //

.inst-nav {
  
}

.inst-nav__list {
  padding: 0;
  list-style: none;
}

.list-nav__list-item {
  border-bottom: 1px solid $design-dark-gray-color;

  &:first-child {
    border-top: 1px solid $design-dark-gray-color;
  }

  &:hover .list-nav__link {
    color: #fff;
    text-decoration: none;
    background: $design-secondary-color;

    :after {
      content: "\f107"; // .fa-angle-down icon
      position: absolute;
      right: 15px;
      font-size: 1.5em;
      font-family: FontAwesome;
    }

    @include bp(sm-screen) {
      :after {
        content: "\f105"; // .fa-angle-right icon
      }
    }

  }

  &:hover .list-nav__object-icon {
    color: #fff;
  }

}

.list-nav__list-item--selected {
  border-bottom: 1px solid $design-dark-gray-color;

  &:first-child {
    border-top: 1px solid $design-dark-gray-color;
  }

  .list-nav__link {
    color: #fff;
    text-decoration: none;
    background: $design-secondary-color;

    :after {
      content: "\f107"; // .fa-angle-down icon
      position: absolute;
      right: 15px;
      font-size: 1.5em;
      font-family: FontAwesome;
    }

    @include bp(sm-screen) {
      :after {
        content: "\f105"; // .fa-angle-right icon
      }
    }

  }

  .list-nav__object-icon {
    color: #fff;
  }

}

.list-nav__link {
  display: block;
  padding: 10px 5px 10px 20px;
  color: #000;
}

.list-nav__object-icon {
  margin-right: 0.5em;
  color: $design-dark-gray-color;
  font-size: 1.2em; // for image-set icon
}
