// ##### Institutions Textboxes Component ##### //

.inst-textboxes {

	@include bp(sm-screen) {
    column-count: 2;
    column-gap: $layout-container-margin-md * 2;
    column-rule: 1px dotted $design-dark-gray-color;
  }

  @include bp(md-screen) {
    column-count: 3;
  }
  
}

.inst-textboxes__box {
	break-inside: avoid;
	margin: 0 0 $layout-container-margin-md 0;
}

.inst-textboxes__box-heading {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; // small fonts in Chrome on OS X don't appear bold without this
}

.inst-textboxes__list {
	margin: 0;
	padding: 0;
}

.inst-textboxes__list-item {
	margin: $layout-container-margin-md 0;
  list-style: none;

  @include bp(sm-screen) {
    margin: $layout-container-margin-sm 0;
  }

  @include bp(md-screen) {
    margin: 0;
  }

}

.inst-textboxes__link {
	color: #000;
}