// ##### Institutions Intro Component ##### //

.institutions-intro__overview {
  margin: 0 0 $layout-component-margin 0;

  @include bp(sm-screen) {
    padding-right: $layout-component-margin / 2;
  }

}

// This column not currently used:

/*
.institutions-intro__description {
  margin: 0 0 $layout-component-margin 0;
  
  @include bp(sm-screen) {
    padding-left: $layout-component-margin / 2;
  }

}
*/

.institutions-intro__text {
  margin: 0;
}

.institutions-intro__button-uc {
  margin: 0 0 $layout-component-margin 0;
  padding: 0 $layout-container-margin-sm 0 0;

  @include bp(sm-screen) {
    margin: 0;
    padding: $layout-component-margin ($layout-container-margin-sm * 1.5) $layout-component-margin 0;
  }

}

.institutions-intro__button-state {
  padding: 0 0 0 $layout-container-margin-sm;

  @include bp(sm-screen) {
    padding: $layout-component-margin 0 $layout-component-margin ($layout-container-margin-sm * 1.5);
  }

}
