// ##### List View Component ##### //

.listview {
  // empty
}

.listview__container {
  border-top: 1px solid $design-dark-gray-color;
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
}

.listview__container:first-of-type {
  clear: right; // clear .object-view-row
  border: none;
}

.listview__overlay-icon {
  @include thumbnail__overlay-icon(); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.listview__tile-icon {
  @include thumbnail__tile-icon(12vw, 10vw, 90px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.listview__metadata {
  margin: 0 0 0 $layout-component-margin;
}

.listview .meta-inline__type:nth-of-type(n+4), .listview .meta-inline__defin:nth-of-type(n+4) { // select each line of metadata after the 3rd one
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}