// ##### List View Component ##### //

.listview {
  
}

.listview__container {
  border-top: 1px solid $design-dark-gray-color;
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
}

.listview__container:first-of-type {
  clear: right; // clear .object-view-row
  border: none;
}

.listview__link {
  display: block;
}

.listview__image {
  display: block;
}

.listview__image--no-image {
  width: 100%; // expand the 1px .png to its container
  height: auto;
  border: 1px solid $design-primary-color;
}

.listview__metadata {
  margin: 0 0 0 $layout-component-margin;
}

.listview .metadata__type:nth-of-type(n+4), .listview .metadata__defin:nth-of-type(n+4) { // select each line of metadata after the 3rd one
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}