// ##### List View Component ##### //

.listview__link {
  @extend .thumbnail__link;
}

.listview__link--no-image {
  @extend .thumbnail__link--no-image;
  // temporary image resize for UI dev:
  width: 230px !important;
	height: 230px !important;
}

.listview__icon {
	@extend .thumbnail__icon;
	top: 80px !important;
	left: 80px !important;
}

.listview__image {
	@extend .thumbnail__image;
	width: 230px !important;
	height: 230px !important;
}

.listview__data-list {
  margin-left: 1em;
}

.listview__data-type {
  float: left;
  clear: left;
  text-align: right;
  margin-right: 0.5em;
  color: $design-dark-gray-color;
  font-weight: normal;
  line-height: $listview-text-line-height;
}

.listview__data-defin {
  line-height: $listview-text-line-height;
}