// ##### List View Component ##### //

.listview__link {
  display: block;
}

.listview__image {
  display: block;
}

.listview__image--no-image {
  width: 100%; // expand the 1px .png to its container
  height: auto;
  border: 1px solid $design-primary-color;
}

.listview__icon {
	@extend .thumbview__icon;
}

.listview__data-list {
  margin-left: 1em;
}

.listview__data-type {
  float: left;
  clear: left;
  text-align: right;
  margin-right: 0.5em;
  color: $design-dark-gray-color;
  font-weight: normal;
  line-height: $listview-text-line-height;
}

.listview__data-defin {
  line-height: $listview-text-line-height;
}