// ##### List View Component ##### //

.listview {
  
}

.listview__container {
  border-top: 1px solid $design-dark-gray-color;
  margin: $layout-component-margin 0 0 0;
  padding: $layout-component-margin 0 0 0;
}

.listview__container:first-of-type {
  clear: right; // clear .object-view-row
  border: none;
}

.listview__link {
  display: block;
}

.listview__image {
  display: block;
}

.listview__icon-overlay {
  @include icon__centered-overlay(60px, 50px, 45px, #fff, $design-dark-gray-color); // (size-xs, size-md, size-lg, icon-color, icon-bg)
  z-index: 2; // stack over .thumbview__image
}

.listview__image--no-image {
  @include thumbview__no-image($design-dark-gray-color); // (border)
}

.listview__metadata {
  margin: 0 0 0 $layout-component-margin;
}

.listview .meta-inline__type:nth-of-type(n+4), .listview .meta-inline__defin:nth-of-type(n+4) { // select each line of metadata after the 3rd one
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}