// ##### Custom Styles for MediaElement.js ##### //

// ***** Reset mediaelementplayer.css container and children to make fluid (see: https://css-tricks.com/rundown-of-handling-flexible-media ) ***** //

.mejs-container {
  width: 100% !important;
  height: auto !important;
  padding-top: 75%; // adjusts aspect ratio of container box
}
.mejs-overlay, .mejs-poster {
  width: 100% !important;
  height: 100% !important;
}
.mejs-mediaelement video {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100% !important;
  height: 100% !important;
}

// ***** Reset the default mediaelementplayer.css skin colors ***** //

.mejs-container .mejs-controls {
  background: $design-dark-gray-color;
}

.mejs-time-slider {
  border: 1px solid #fff;
  overflow: hidden;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: $design-dark-gray-color;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
  background: $design-primary-color;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  border: 1px solid #fff;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: $design-primary-color;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
