// ##### Metadata Complex Image Component ##### //

.meta-complex__heading {
  margin: 0;
  padding: $layout-container-margin-md;
  text-align: center;
  font-size: 1.4em;
  background: $design-light-gray-color;
  cursor: pointer;
}

.meta-complex__list {
	display: none; // toggle open via js-meta-complex__heading
  margin: 0;
  padding: $layout-container-margin-md;
  background: $design-light-gray-color;
}

.meta-complex__type {
  float: left;
  clear: left;
  margin-right: 0.5em;
  padding: 0.5em 0;
  color: $design-dark-gray-color;
  text-align: right;
  font-weight: normal;
  line-height: $listview-text-line-height;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}

.meta-complex__defin {
  padding: 0.5em 0;
  line-height: $listview-text-line-height;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}