// ##### Metadata Block Component ##### //

.meta-block {
  padding: 20px $object-leftright-margin 0 $object-leftright-margin;
}

.meta-block__heading {
  margin: 20px $object-leftright-margin 0 $object-leftright-margin;
  font-size: 1.4em;
}

.meta-block__heading-link {
  @extend .icon__external-link;
}

.meta-block__list {
	margin: 0;
}

.meta-block__type {
  float: left;
  clear: left;
  width: 15%;
  margin: 0 2em 2em 0;
  color: $design-dark-gray-color;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}

.meta-block__defin {
  float: left;
  width: 80%;
  margin: 0 0 2em 0;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}