// ##### Metadata Block Component ##### //

.meta-block {
  margin: $layout-component-margin 0 0 0;

  @include bp(md-screen) {
    margin: $layout-component-margin $object-leftright-margin 0 $object-leftright-margin;
  }

}

.meta-block__list {
	margin: 0;
}

.meta-block__type {
  color: $design-dark-gray-color;

  @include bp(sm-screen) {
    float: left;
    clear: left;
    width: 15%;
    margin: 0 $layout-container-margin-sm $layout-container-margin-md 0;
  }

  @include bp(md-screen) {
    margin: 0 $layout-container-margin-md $layout-container-margin-md 0;
  }

}

.meta-block__defin {
  margin: 0 0 $layout-container-margin-md 0;

  @include bp(sm-screen) {
    float: left;
    width: 80%;
    margin: 0 0 $layout-container-margin-sm 0
  }

  @include bp(md-screen) {
    margin: 0 0 $layout-container-margin-md 0
  }

}