// ##### Metadata Headings ##### //

.meta-heading {
  font-size: 1.4em;

  @include bp(md-screen) {
    margin: $layout-component-margin 0 0 0;
    padding: $layout-component-margin $object-leftright-margin 0 $object-leftright-margin;
    border-top: 1px solid $design-primary-color;
  }

}

// check if styles below are still relevant:

.meta-heading__preview {
  margin: 0;
  font-size: 1.4em;

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

  @include bp(md-screen) {
    margin: $layout-component-margin $object-leftright-margin 0 $object-leftright-margin;
  }
  
}

.meta-heading__preview-link {
  @extend .icon__external-link;
}

.meta-heading__complex-item {
  margin: 0;
  padding: $layout-component-margin;
  font-size: 1.4em;
  background: $design-light-gray-color;

  @include bp(sm-screen) {
    padding: $layout-component-margin;
  }

  @include bp(md-screen) {
    margin: 0 $object-leftright-margin;
  }

}
