// ##### Metadata Inline Component ##### //

.meta-inline__list {
	margin: 0;
}

.meta-inline__type {
  float: left;
  clear: left;
  margin-right: 0.5em;
  padding: 0.5em 0;
  color: $design-dark-gray-color;
  text-align: right;
  font-weight: normal;
  line-height: $listview-text-line-height;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}

.meta-inline__defin {
  padding: 0.5em 0;
  line-height: $listview-text-line-height;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}