// ##### Metadata Inline Component ##### //

.meta-inline__list {
	margin: 0;
}

.meta-inline__type {
  float: left;
  clear: left;
  margin-right: 0.5em;
  color: $design-dark-gray-color;
  text-align: right;
  font-weight: normal;
  line-height: $listview-text-line-height;
}

.meta-inline__defin {
  line-height: $listview-text-line-height;
}