// ##### Metadata Block Component ##### //

.meta-block {

  @include bp(md-screen) {
    padding: $layout-component-margin $object-leftright-margin 0 $object-leftright-margin;
  }

}

.meta-block--complex {
  background: $design-light-gray-color;
  overflow: hidden;

  @include bp(sm-screen) {
    padding: 0 $layout-component-margin;
  }

  @include bp(md-screen) {
    margin: 0 $object-leftright-margin;
  }

}

.meta-block__list {
	margin: 0;
}

.meta-block__type {
  float: left;
  clear: left;
  width: 15%;
  margin: 0 2em 2em 0;
  color: $design-dark-gray-color;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}

.meta-block__defin {
  float: left;
  width: 80%;
  margin: 0 0 2em 0;
  border-top: 1px solid $design-dark-gray-color;

  &:first-of-type {
  	border: none;
  }

  @include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}