// ##### Custom Mixins ##### //

// Abstract Bootstrap's responsive breakpoints for use in custom Sass.

@mixin bp($point) {

  @if $point == lg-screen {
    @media (min-width: $screen-lg-min) { @content; }
  }
  @else if $point == md-screen {
    @media (min-width: $screen-md-min) { @content; }
  }
  @else if $point == sm-screen {
    @media (min-width: $screen-sm-min) { @content; }
  }

}

// Placeholders for the mobile navbar using a <ul> <li> <a> structure

%navbar__container { // to be used with <ul>
	margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
}

%navbar__bar { // to be used with <a>
	display: block;
  padding: 15px $layout-edge-margin-xs;
  color: #fff;
  background: $design-dark-gray-color;
  border-bottom: 1px solid #fff;
  font-size: 1.1em;

  &:hover {
    text-decoration: none;
  }

}

// Placeholder for the horizontal nav using a <ul> <li> <a> structure

%horizontal-nav__link { // to be used with <li>
	display: inline;
  border-left: 1px solid $design-dark-gray-color;
  padding: 0 0.5em;

  &:first-child {
    border-left: none;
  }

}

// Placeholders for thumbnail image icons

