// ##### Custom Mixins ##### //

// Abstract Bootstrap's responsive breakpoints for use in custom Sass.

@mixin bp($point) {

  @if $point == lg-screen {
    @media (min-width: $screen-lg-min), print and (min-width: $print-lg-min) { @content; }
  }
  @else if $point == md-screen {
    @media (min-width: $screen-md-min), print and (min-width: $print-md-min) { @content; }
  }
  @else if $point == sm-screen {
    @media (min-width: $screen-sm-min), print and (min-width: $print-sm-min) { @content; }
  }

}

// Placeholders for the mobile navbar using a <ul> <li> <a> structure

%navbar__container { // to be used with <ul>
	margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}

%navbar__bar { // to be used with <a>
	display: block;
  padding: 15px $layout-box-padding;
  color: #fff;
  background: $design-dark-gray-color;
  border-bottom: 1px solid #fff;

  &:hover {
    text-decoration: none;
  }

}

// Placeholder for the horizontal nav using a <ul> <li> <a> structure

%horizontal-nav__link { // to be used with <li>
	display: inline;
  border-left: 1px solid $design-dark-gray-color;
  padding: 0 0.5em;

  &:first-child {
    border-left: none;
  }

}

// Set the attributes for a non-image thumbnail

@mixin thumbview__no-image($thumb-border: $design-primary-color) {
  width: 100%; // expand the 1px .png to its container
  height: auto;
  border: 1px solid $thumb-border;
}

// ***** Thumbnail Icon Tiles ***** //

@mixin thumbnail__tile-icon($tile-bg-size-md: 80px, $tile-font-size-md: 4em) { // sets the white circle within the container
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $tile-bg-size-md;
  height: $tile-bg-size-md;
  background-color: #fff;
  border-radius: 50%;

  &:before { // sets the icon within the white circle
    @extend .fa; // Font Awesome base class
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $design-primary-color;
    font-size: $tile-font-size-md;
  }

}

// ***** Thumbnail Icon Overlays ***** //

.thumbnail__overlay-image { // sets the image within the container
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

@mixin thumbnail__overlay-icon($overlay-bg-size-md: 40px, $overlay-font-size-md: 1.8em) { // sets the white circle within the container
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: $overlay-bg-size-md;
  height: $overlay-bg-size-md;
  background-color: #fff;
  border-radius: 50%;

  &:before { // sets the icon within the white circle
    @extend .fa; // Font Awesome base class
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $design-primary-color;
    font-size: $overlay-font-size-md;
  }

}

// Set an icon vertically and horizontally centered within a container

@mixin icon__centered-overlay($size-xs: 60px, $size-sm: 50px, $size-md: 45px, $icon-color: #fff, $icon-bg: $design-primary-color) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size-xs;
  height: $size-xs;
  margin: ((-$size-xs) / 2) 0 0 ((-$size-xs) / 2);
  line-height: $size-xs;
  font-size: $size-xs - 20;
  color: $icon-color;
  background: $icon-bg;

  @include bp(sm-screen) {
    width: $size-sm;
    height: $size-sm;
    margin: ((-$size-sm) / 2) 0 0 ((-$size-sm) / 2);
    line-height: $size-sm;
    font-size: $size-sm - 20;
  }

  @include bp(md-screen) {
    width: $size-md;
    height: $size-md;
    margin: ((-$size-md) / 2) 0 0 ((-$size-md) / 2);
    line-height: $size-md;
    font-size: $size-md - 20;
  }

}

// Sets an aspect ratio on a container div

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
