// ##### Objects ##### //

// ***** Simple Hosted Image ***** //

.obj__hosted-simple-image {
  border: 1px solid $design-dark-gray-color;
  background: $design-light-gray-color;
}

#obj__osd {
  @extend .aspect-ratio-content;
  background: $design-light-gray-color;
}

// ***** Harvest Image ***** //

.obj-harvest__link {
  color: #000;
  
  &:hover {
    color: $design-primary-color;
  }

}

.obj-harvest__img-container {
  position: relative;
}

.obj-harvest__image { // temp styles to set image size for UI work
  width: 100%;
  height: auto;
}

.obj-harvest__file-icon-overlay {
  @include icon__overlay-test(80px, 70px, 80px);
}

.obj-harvest__external-link-icon-overlay {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 1.4em;
  height: 1.3em;
  line-height: 1.5;
  font-size: 1.4em;
  background: #fff;
  border-radius: 0.2em;
  color: #000;

  @include bp(sm-screen) {
    font-size: 1.8em;
  }

  @include bp(md-screen) {
    font-size: 2.2em;
  }

}

.obj-harvest__caption {
  margin: 0.5em 0 0 0;
  text-align: center;
}

.object__metadata {
  border-top: 1px solid $design-primary-color;
  
  @include bp(sm-screen) {
    padding: 20px 0 0 0;
  }

  @include bp(md-screen) {
    padding: 20px 0 0 60px;
  }

}
