// ##### Objects ##### //

// ***** Open SeaDragon ***** //

#obj__osd { // Open SeaDragon renders on this element
  width: 100%;
  height: 100%;
  cursor: move;
}

.obj__osd-infobanner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: $layout-container-margin-sm;
  font-size: 1.4em;
  text-align: center;
  color: #fff;
  background-color: rgba($design-secondary-color, 0.5);
}

.obj__osd-infobanner-link {
  font-size: 1.05em;
  font-weight: bold;
  text-decoration: underline;
  color: $design-primary-color;
  cursor: pointer;

  &:hover {
    color: #fff;
  }

}

html.no-jquery .obj__osd-infobanner {
  display: none;
}

// ***** Harvest Image ***** //

.obj-harvest__link {
  position: relative;
  display: block;
}

.obj-harvest__image {
  display: block;
  max-width: 100%; // images smaller than the max container size will not scale up
  height: auto;
  margin: 0 auto;
}

.obj-harvest__file-icon-overlay {
  @include icon__centered-overlay(80px, 90px, 100px, #fff, $design-primary-color); // (size-xs, size-md, size-lg, icon-color, icon-bg)
}

.obj-harvest__caption {
  @extend .icon__external-link;
  display: block;
  margin: 0.5em 0 0 0;
  text-align: center;
}

.obj-harvest__caption-highlight {
  color: #000;
  font-weight: normal;
}

// ***** Harvest Non-Image ***** //

.obj-harvest-non-image__file-icon-overlay {
  @include icon__centered-overlay(55px, 65px, 70px, $design-primary-color, #fff); // (size-xs, size-md, size-lg, icon-color, icon-bg)
}

.obj-harvest-non-image__object-icon {
  width: 80px;
  height: auto;
}

.obj-harvest-non-image__object {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  margin: 0 0 0 $layout-container-margin-md;
  font-size: 1.2em;

  @include bp(sm-screen) {
    margin: 0 0 0 $layout-container-margin-sm;
    font-size: 1.4em;
  }

}

.obj-harvest-non-image__text {
  margin: 0.1em 0.5em 0 0;
}

.obj-harvest-non-image__link {
  @extend .icon__external-link;
  
}

// ***** Hosted File ***** //

.obj-hosted__no-image {
  @include thumbview__no-image($thumb-border: $design-primary-color);
}

.obj-hosted__caption {
  display: block;
  margin: 0.5em 0 0 0;
  text-align: center;
}

// ***** Complex Non-Image ***** //

.obj-complex-non-image__file-icon-overlay {
  @include icon__centered-overlay(80px, 90px, 100px, #fff, $design-primary-color); // (size-xs, size-md, size-lg, icon-color, icon-bg)
}
