// ##### Objects ##### //

// ***** Simple Hosted Image ***** //

.obj__hosted-simple-image {
  border: 1px solid $design-dark-gray-color;
  background: $design-light-gray-color;
}

#obj__osd {
  height: 400px;
  background: $design-light-gray-color;
  cursor: move;

  @include bp(sm-screen) {
    height: 500px;
  }

  @include bp(md-screen) {
    height: 600px;
  }

  @include bp(lg-screen) {
    height: 700px;
  }

}

// ***** Harvest Image ***** //

.obj-harvest__link {
  // color: #000;
  
  // &:hover {
  //   color: $design-primary-color;
  // }
}

.obj-harvest__img-container {
  position: relative;
}

.obj-harvest__image { // temp styles to set image size for UI work
  width: 100%;
  height: auto;
}

.obj-harvest__file-icon-overlay {
  @include icon__overlay-test(80px, 70px, 80px);
}

.obj-harvest__external-link-icon-overlay {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 1.4em;
  height: 1.3em;
  line-height: 1.5;
  font-size: 1.4em;
  background: #fff;
  border-radius: 0.2em;
  color: #000;

  @include bp(sm-screen) {
    font-size: 1.8em;
  }

  @include bp(md-screen) {
    font-size: 2.2em;
  }

}

.obj-harvest__caption {
  @extend .icon__external-link;
  display: block;
  margin: 0.5em 0 0 0;
  text-align: center;
}

// ***** Harvest Non-Image ***** //

.obj-harvest-non-image__object-icons {
  font-size: 3em;
  font-weight: bold;

  @include bp(sm-screen) {
    font-size: 4em;
  }

}

.obj-harvest-non-image__object-icon1 {
  color: $design-dark-gray-color;
}

.obj-harvest-non-image__object-icon2 {
  color: #A94442;
  opacity: 0.7;
}

.obj-harvest-non-image__object {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  margin: 0 0 0 $layout-container-margin-md;
  font-size: 1.2em;

  @include bp(sm-screen) {
    margin: 0 0 0 $layout-container-margin-sm;
    font-size: 1.4em;
  }

}

.obj-harvest-non-image__text {
  margin: 0.1em 0.5em 0 0;
}

.obj-harvest-non-image__link {
  @extend .icon__external-link;
  
}

// ***** Hosted File ***** //

.obj-hosted__caption {
  display: block;
  margin: 0.5em 0 0 0;
  text-align: center;
}

// ***** Object Metadata ***** //

.object__metadata { // this class is in the object layouts, not within metadata component
  
  @include bp(sm-screen) {
    border-top: 1px solid $design-primary-color;
    padding: 20px 0 0 0;
  }

  @include bp(md-screen) {
    padding: 20px 0 0 60px;
  }

}
