// ##### Object Buttons ##### //

.object__buttons {

	@include bp(sm-screen) {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin: 0 60px;
    border: $bred;
  }
	
}

.object-button__envelope {
  @extend .button__primary;
  // margin: 0 0.1em;
}

.object-button__twitter {
  // margin: 0 0.2em;
  font-size: 2.3em;
  line-height: 0.1;
  color: rgb(41, 138, 201);
}

.object-button__facebook {
  // margin: 0 0.08em;
  font-size: 2.3em;
  line-height: 0.1;
  color: rgb(46, 71, 124);
}

.object-button__citation {
  @extend .button__dark;
  // margin: 0 0.4em;
}

.object__contact-button-text {
  width: 200px;
  font-size: 0.8em;
  border: $bgreen;
}

.button__contact-owner {

  @include bp(sm-screen) {
    
  }
	
}

.object-button__download-image {
  @extend .button__dark;
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

.object__metadata {
	border-top: 1px solid $design-primary-color;
	
  @include bp(sm-screen) {
    padding: 20px 0 0 60px;
  }

}
