// ##### Objects ##### //

// ***** Simple Hosted Image ***** //

.object__hosted-simple-image {
  border: 1px solid $design-dark-gray-color;
  background: $design-light-gray-color;
}

// ***** Harvest Image ***** //

.obj-harvest__{
  
}

.obj-harvest__link {
  display: block;
  margin: 0 auto;
}

.obj-harvest__figure {
  
}

.obj-harvest__image { // temp styles to set image size for UI work
  width: auto; 
  height: 400px;
}

.obj-harvest__caption {
  
}
