// ##### Object Container ##### //

.object__page-heading {
	@extend .text__page-heading;
}

.object__container-audio {
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

  @include bp(sm-screen) {
    width: 50%;
    margin: 50px auto 65px auto;
  }

}

.object__container-generic, .object__container-video {
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

	@include bp(sm-screen) {
    width: 50%;
  }

}

.object__container-harvest-non-image {
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

  @include bp(sm-screen) {
    width: 25%;
  }

}

.object__container-osd {
  position: relative; // for absolutely positioned 'osd-button-group' child
  margin: 0 0 15px 0;

  @include bp(sm-screen) {
    margin: 0 60px 15px 60px;
  }

}
