// ##### Carousel Component ##### //

.obj-carousel {
  clear: right;
  background: $design-dark-gray-color;

  @include bp(sm-screen) {
    padding: 0 45px;
  }

}

.obj-carousel img { // temporary image resize for UI dev:
  width: 100%;
  height: auto;
}

.obj-carousel__item {
  width: 120px;
  margin: 10px;

  @include bp(sm-screen) {
    margin: 20px;
  }

}

.obj-carousel__link--selected {
  @extend .carousel__link;
  border: 7px solid $design-primary-color;
}
