// ##### Object Buttons ##### //

// ***** Buttons Below Object Container ***** //

.obj-buttons {
  display: flex;
  flex-flow: column nowrap;

	@include bp(sm-screen) {
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
  }

  @include bp(md-screen) {
    margin: 0 60px;
  }
	
}

html.no-flexbox .obj-buttons a {
  display: inline-block;
  margin: 0 2px;
}

.obj-buttons__group1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  @include bp(sm-screen) {
    justify-content: space-between;
    width: 180px;
  }

}

html.no-flexbox .obj-buttons__group1 {
  float: left;
}

.obj-buttons__group2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 20px 0;
  
  @include bp(sm-screen) {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    margin: 0;
  }

}

html.no-flexbox .obj-buttons__group2 {
  float: right;
}

.obj-buttons__envelope {
  @extend .button__primary;
}

.obj-buttons__twitter {
  display: block; // needed for IE 10
  font-size: 1.9em;
  line-height: 0.1;
  color: rgb(41, 138, 201);
}

.obj-buttons__facebook {
  display: block; // needed for IE 10
  font-size: 1.9em;
  line-height: 0.1;
  color: rgb(46, 71, 124);
}

.obj-buttons__citation {
  @extend .button__dark;
}

.obj-buttons__contact-text {
  display: block; // needed for IE 10
  margin: 0 0 0.5em 0;
  font-size: 0.8em;
  line-height: normal;
  text-align: left;

  @include bp(sm-screen) {
    width: 200px;
    margin: 0;
    text-align: right;
  }

}

html.no-flexbox .obj-buttons__contact-text {
  display: block;
  float: left;
}

.button__contact-owner {
  width: 100%;

  @include bp(sm-screen) {
    width: auto;
  }
	
}

.obj-buttons__download-image {
  @extend .button__dark;
  display: none;

  @include bp(sm-screen) {
    display: inline-block;
  }

}

// ***** Open SeaDragon Control Buttons ***** //


