// ##### Object Container ##### //

.obj-container__simple-tile {
  margin: 0 auto 15px auto;
  width: 40%;

  @include bp(sm-screen) {
    width: 25%;
  }

}

.obj-container__simple-image {
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
}

.obj__container-osd {
  position: relative; // for absolutely positioned 'osd-button-group' child
  height: 400px;
  background-color: $design-dark-gray-color;
  z-index: 1;

  @include bp(sm-screen) {
    height: 500px;
  }

  @include bp(md-screen) {
    height: 600px;
    margin: 0 $object-leftright-margin 0 $object-leftright-margin;
  }

  @include bp(lg-screen) {
    height: 700px;
  }

}

%obj-container__media-element { // This placeholder extended in selectors below
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

  @include bp(sm-screen) {
    width: 70%;
  }

  @include bp(md-screen) {
    width: 50%;
  }

}

.obj-container__audio {
  @extend %obj-container__media-element;

  @include bp(sm-screen) {
    margin: 50px auto 65px auto;
  }

}

.obj-container__video {
  @extend %obj-container__media-element;
  @extend %mejs-custom__video-container; // This placeholder comes from _mediaelementplayer-custom-styles.scss
}
