// ##### Objects ##### //

// ***** Simple Hosted Image ***** //

.obj__hosted-simple-image {
  border: 1px solid $design-dark-gray-color;
  background: $design-light-gray-color;
}

#obj__osd {
  height: 400px;
  background: $design-dark-gray-color;
  cursor: move;

  @include bp(sm-screen) {
    height: 500px;
  }

  @include bp(md-screen) {
    height: 600px;
  }

  @include bp(lg-screen) {
    height: 700px;
  }

}

// ***** Harvest Image ***** //

.obj-harvest__link {
  
}

.obj-harvest__image { // temp styles to set image size for UI work
  width: 100%;
  height: auto;
}

.obj-harvest__file-icon-overlay {
  @include icon__centered-overlay(80px, 90px, 100px, #fff, $design-primary-color); // (size-xs, size-md, size-lg, icon-color, icon-bg)
}

.obj-harvest__caption {
  @extend .icon__external-link;
  display: block;
  margin: 0.5em 0 0 0;
  text-align: center;
}

.obj-harvest__caption-highlight {
  color: #000;
  font-weight: normal;
}

// ***** Harvest Non-Image ***** //

.obj-harvest-non-image__file-icon-overlay {
  @include icon__centered-overlay(55px, 65px, 70px, $design-primary-color, #fff); // (size-xs, size-md, size-lg, icon-color, icon-bg)
}

.obj-harvest-non-image__object-icon {
  width: 80px;
  height: auto;
}

.obj-harvest-non-image__object {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  margin: 0 0 0 $layout-container-margin-md;
  font-size: 1.2em;

  @include bp(sm-screen) {
    margin: 0 0 0 $layout-container-margin-sm;
    font-size: 1.4em;
  }

}

.obj-harvest-non-image__text {
  margin: 0.1em 0.5em 0 0;
}

.obj-harvest-non-image__link {
  @extend .icon__external-link;
  
}

// ***** Hosted File ***** //

.obj-hosted__no-image {
  @include thumbview__no-image($thumb-border: $design-primary-color);
}

.obj-hosted__caption {
  display: block;
  margin: 0.5em 0 0 0;
  text-align: center;
}

// ***** Object Metadata ***** //

.object__metadata { // this class is in the object layouts, not within metadata component
  
  @include bp(sm-screen) {
    border-top: 1px solid $design-primary-color;
    padding: 20px 0 0 0;
  }

  @include bp(md-screen) {
    padding: 20px 0 0 $object-leftright-margin;
  }

}
