// ##### Object Container ##### //

.object__page-heading {
	@extend .text__page-heading;
}

.object__container-audio {
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

  @include bp(sm-screen) {
    width: 70%;
    margin: 50px auto 65px auto;
  }

  @include bp(md-screen) {
    width: 50%;
  }

}

.object__container-generic, .object__container-video {
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

	@include bp(sm-screen) {
    width: 70%;
  }

  @include bp(md-screen) {
    width: 50%;
  }

}

.object__container-hosted-file {
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

  @include bp(sm-screen) {
    width: 25%;
  }

}

.object__container-harvest-non-image {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 15px 0;

  @include bp(sm-screen) {
    margin: 40px 0 55px 0;
  }

  @include bp(md-screen) {
    margin: 40px $object-leftright-margin 55px $object-leftright-margin;
  }

}

.object__container-osd {
  position: relative; // for absolutely positioned 'osd-button-group' child
  margin: 0 0 15px 0;

  @include bp(sm-screen) {
    margin: 0 $object-leftright-margin 15px $object-leftright-margin;
  }

}
