// ##### Object Container ##### //

.object__base {
	display: flex;
	flex-flow: column nowrap;
}

.object__page-heading {
	@extend .text__page-heading;
}

.object__container {
  order: 1;
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;

	@include bp(sm-screen) {
    order: 2;
    width: 50%;
  }

}

// ***** These classes make a fluid box with a set aspect ratio. To be used to set an empty placeholder box in-place of real <img> <audio> <video> media objects ***** //

.aspect-ratio-container {
  @include aspect-ratio(16, 9);
}

.aspect-ratio-content {
  padding: 20px;
}
