// ##### Object Buttons ##### //

.object__buttons {

	@include bp(sm-screen) {
    display: flex;
    align-items: center;
    padding: 0 0 0 60px;
  }
	
}

.object-button__envelope {
  @extend .button__primary;
  // position: relative;
  // top: -0.6em; // vertically align with social icons
  margin: 0 0.1em;
  padding: 2px 5px;
  font-size: 1em;
}

.object-button__citation {
  @extend .button__dark;
  // position: relative;
  // top: -0.6em; // vertically align with social icons
  margin: 0 0.4em;
  padding: 4px 10px;
}

.object__contact-button-text {
  font-size: 0.8em;
  border: $bgreen;
}

.button__contact-owner {

  @include bp(sm-screen) {
    
  }
	
}

.object-button__download-image {
  @extend .button__dark;
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

.object__metadata {
	border-top: 1px solid $design-primary-color;
	
  @include bp(sm-screen) {
    padding: 20px 0 0 60px;
  }

}
