// ##### Object Buttons ##### //

.obj-buttons {

	@include bp(sm-screen) {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    // border: $bred;
  }
	
}

.obj-buttons__group1 {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: $bblue;
}

.obj-buttons__group2 {
  width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: $bgreen;
}

.obj-buttons__envelope {
  @extend .button__primary;
  // margin: 0 0.1em;
}

.obj-buttons__twitter {
  // margin: 0 0.2em;
  font-size: 2.3em;
  line-height: 0.1;
  color: rgb(41, 138, 201);
}

.obj-buttons__facebook {
  // margin: 0 0.08em;
  font-size: 2.3em;
  line-height: 0.1;
  color: rgb(46, 71, 124);
}

.obj-buttons__citation {
  @extend .button__dark;
  // margin: 0 0.4em;
}

.obj-buttons__contact-text {
  width: 200px;
  font-size: 0.8em;
  border: $bgreen;
}

.button__contact-owner {

  @include bp(sm-screen) {
    
  }
	
}

.obj-buttons__download-image {
  @extend .button__dark;
  display: none;

  @include bp(sm-screen) {
    display: block;
  }

}

.object__metadata {
	border-top: 1px solid $design-primary-color;
	
  @include bp(sm-screen) {
    padding: 20px 0 0 60px;
  }

}
