// ##### Pagination ##### //

.pag {
	// display: inline; // put component on the same line as the pagination component
}

// ***** Using Tabs ***** //

.pag__list {
	padding: 0;
}

.pag__list-item {
	margin: 0 0.1em;
	display: inline;
	list-style-type: none;
}

.pag__list-link--selected {
	@extend .button__secondary;
}

// ***** Using Arrows and Form Fields ***** //

.pag__view-number {
	color: #000;
}

.pag__arrow-icon {
	margin: 0 0.5em;
	color: #000;
}

.pag__form {
	display: inline;
}

.pag__current-number {
	display: inline;
	width: 3.5em;
	margin: 0 0 0 0;
	text-align: center;
	color: #000;
}

.pag__total-number {

}