// ***** Popover ***** //

.popover__link {
	display: block;
	width: 150px; // set to size of generated thumbnail image
	height: 150px; // set to size of generated thumbnail image
}

.popover__img-popover {
	display: block;
	width: 380px; // set to size of generated popover image
	height: 280px; // set to size of generated popover image
	margin-bottom: 1em;
}

.popover__img-thumbnail {
	width: 100%;
	height: 100%;
}

.popover { // Bootstrap popover class
	display: none !important; // don't display popovers on small screens

	@include bp(sm-screen) {
    display: block !important;
  }

}