// ***** Popover ***** //

.popover__link {
	display: block;
}

.popover__img-popover {
	display: block;
	margin-bottom: 1em;
}

.popover__img-thumbnail {
	width: 100%;
	height: 100%;
}

.popover { // Bootstrap popover class
	display: none !important; // don't display popovers on small screens

	@include bp(sm-screen) {
    display: block !important;
  }

}