// ##### Popover ##### //

.popover__img-popover {
	display: block;
	width: 380px;
	height: 280px;
	margin-bottom: 1em;
}

.popover { // Bootstrap popover class
	display: none !important; // don't display popovers on small screens

	@include bp(sm-screen) {
    display: block !important;
  }

}
