// ##### Related Collections Component ##### //

.related-coll {
  @extend .clearfix; // Bootstrap class
  padding: $layout-component-margin 0;
  background: $design-light-gray-color;

  @include bp(sm-screen) {
    padding: $layout-component-margin 0 $layout-component-margin $layout-component-margin;
  }

}

.related-coll__title {
  margin: 0.5em 0 0 $layout-component-margin;

  @include bp(sm-screen) {
    margin: 0.5em 0 0 0;
  }
  
}

.related-coll__container {
  margin: $layout-component-margin 0 0 0;

  @include bp(sm-screen) {
    margin: $layout-component-margin $layout-component-margin 0 0;
  }

}

.related-coll__link {
  @extend .clearfix; // Bootstrap class
  display: block;
  color: #000;
}

.related-coll__image {
  display: block;
  width: 100%;
  height: auto;
}

// 3-Image Composite

.related-coll__image1 {
  float: left;
  width: 66%;
  height: auto;
}

.related-coll__image2 {
  float: right;
  width: 32%;
  height: auto;
  margin: 0 0 2% 0;
}

.related-coll__image3 {
  float: right;
  width: 32%;
  height: auto;
}

.related-coll__caption {
  margin: 0 $layout-component-margin; 
  // cursor: default;

  @include bp(sm-screen) {
    margin: 0.5em 0 0 0;
  }

}

.related-coll__button-row {
  clear: left;
}

.related-coll__prev-button {
  float: left;
  margin: $layout-component-margin 0 0 $layout-component-margin;
  padding: 0;
  color: #000;

  .fa {
    margin: 0 0.5em 0 0;
  }
  
  &:hover {
    text-decoration: none;
  }

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

  abbr {
    border: none;
    cursor: pointer;
  }
  
}

.related-coll__next-button {
  float: right;
  margin: $layout-component-margin $layout-component-margin 0 0;
  padding: 0;
  color: #000;

  .fa {
    margin: 0 0 0 0.5em;
  }
  
  &:hover {
    text-decoration: none;
  }

  @include bp(sm-screen) {
    margin: $layout-component-margin $layout-component-margin 0 0;
  }

}