// ##### Related Collections Component ##### //

.related-coll {
  @extend .clearfix; // Bootstrap class
  clear: left; // clear meta-block container
  padding: $layout-container-margin-xs;
  background-color: #f0f0f0;

  @include bp(sm-screen) {
    padding: $layout-container-margin-sm 0 $layout-container-margin-sm $layout-container-margin-sm;
  }

  @include bp(sm-screen) {
    padding: $layout-container-margin-md 0 $layout-container-margin-md $layout-container-margin-md;
  }

}

.related-coll__title {
  margin: 0.5em 0 0 0;

  @include bp(sm-screen) {
    margin: 0.5em 0 0 0;
  }
  
}

.related-coll__container {
  margin: $layout-component-margin 0 0 0;

  @include bp(sm-screen) {
    margin: $layout-component-margin $layout-component-margin 0 0;
  }

}

.related-coll__link {
  @extend .clearfix; // Bootstrap class
  display: block;
  color: #000;
}

// Image Mosaic

.related-coll__thumbnail-container1 {
  @extend .thumbnail__container;
  float: left;
  width: 66% !important;
}

.related-coll__thumbnail-container2 {
  @extend .thumbnail__container;
  float: right;
  width: 32% !important;
  margin: 0 0 2% 0;
}

.related-coll__thumbnail-container3 {
  @extend .thumbnail__container;
  float: right;
  width: 32% !important;
}

.related-coll__overlay-icon {
  @include thumbnail__overlay-icon(5vw, 3vw, 30px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.related-coll__tile-icon {
  @include thumbnail__tile-icon(15vw, 6vw, 60px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.related-coll__overlay-icon--large {
  @include thumbnail__overlay-icon(8vw, 4vw, 35px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.related-coll__tile-icon--large {
  @include thumbnail__tile-icon(25vw, 11vw, 90px); // for custom icon sizes instead of default sizes at xs, sm, and md breakpoints, add pixel number in parentheses, like: (20px, 40px, 60px)
}

.related-coll__caption {
  margin: 0.5em 0 0 0;

}

.related-coll__prev-button {
  float: left;
  clear: left; // clear right float of .related-coll__image3
  margin: $layout-component-margin 0 0 $layout-component-margin;
  padding: 0;
  color: #000;

  .fa {
    margin: 0 0.5em 0 0;
  }
  
  &:hover {
    text-decoration: none;
  }

  @include bp(sm-screen) {
    margin: $layout-component-margin 0 0 0;
  }

  abbr {
    border: none;
    cursor: pointer;
  }
  
}

.related-coll__next-button {
  float: right;
  margin: $layout-component-margin $layout-component-margin 0 0;
  padding: 0;
  color: #000;

  .fa {
    margin: 0 0 0 0.5em;
  }
  
  &:hover {
    text-decoration: none;
  }

  @include bp(sm-screen) {
    margin: $layout-component-margin $layout-component-margin 0 0;
  }

}