// ##### Search Fields ##### //

// ***** Global Header Search Field ***** //

.global-search__label {
  display: block;
  color: #fff;
  font-size: 1.2em;
  text-align: left;
  font-weight: normal;
  line-height: normal;

  @include bp(sm-screen) {
    color: #000;
    font-size: 1.3em;
    text-align: center;
  }

  @include bp(md-screen) {
    font-size: 1.5em;
  }

}

.global-search__button {
  height: 34px; // match the height of Bootstrap's form field
  color: #fff;
  border: 1px solid $design-dark-gray-color;
  background: $design-primary-color;

  &:hover {
    background: $link-hover-color;
  }

  .fa { // fa-search icon
  	font-size: 1.1em;

  }

}

// ***** Refine Results Search Field ***** //

.refine-search__label {
	@extend .global-search__label;
	color: #000;
	font-size: 1em;

	@include bp(sm-screen) {
    text-align: left;
  }

}

.refine-search__button {
	@extend .global-search__button;
}
