// ***** Slick carousel ***** //

$slick-font-family: "FontAwesome";

$slick-arrow-color: orange;

$slick-prev-character: '\f104';

$slick-next-character: '\f105';

@import "../../bower_components/slick.js/slick/slick.scss";

.slick-prev, .slick-next {
	width: auto;
	height: auto;
}

.slick-prev:before, .slick-next:before {
    font-size: 50px;
}