// ##### Static Page Styles ##### //

.static__main {

	@include bp(sm-screen) {
    padding: 0 $layout-component-margin 0 0;
  }

}

.static__sidebar {
	padding: $layout-component-margin $layout-component-margin 0.5em $layout-component-margin;
	border: 1px solid $design-dark-gray-color;
}

.static__sidebar-heading {
	margin: 0 0 $layout-component-margin 0;
	font-size: 1.4em;
}

.static__sidebar-img {
	display: block;
	width: 100%;
	height: auto;
	margin: 1em 0;
}

// ***** Outreach Page ***** //

.static__banner-well-container {
	// use if horizontal alignment via flexbox is desired
}

.static__embeddable-banner {
	// use if horizontal alignment via flexbox is desired
}

.static__well {
	@extend .well; // Bootstrap class
	margin: $layout-component-margin 0 $layout-component-margin 0;
}

// ***** Posters Page ***** //

.poster__container {
	border:none;
        margin:auto;
        padding: 20px 20px 40px 20px;
}

.poster__imagePreview {
	display: block; 
        margin: auto; 
        width: 350px;
        padding: 0; 
        border:solid black 1px;
}

.poster__imageLarge {
        display: block;
        margin: auto;
        width: 550px;
        padding: 0;
        border:solid black 1px;
}

.poster__info {
	display: block; 
	margin: auto; 
	border: none; 
	padding: 20px 10px 10px 0px; 
	text-align: center;
}

.poster__source {
	display: block; 
	margin: auto; 
	border: none; 
	padding: 5px; 
	text-align: center;
}
