// ***** For Testing Only ***** //

// Highlight all Bootstrap grid columns

body.column-test [class^="col-"] { 
	border: 1px solid red;
	background: #eee;
	padding-top: 10px;
	padding-bottom: 10px;
}

// Highlight image placeholders

body.image-test img {
	display: block;
	width: 100%;
	height: 130px;
	border: 1px solid #ccc;
	background: #fff;
}

// Highlight elements with border (ex: border: $bred;)

$bred: 1px solid red;
$bblue: 1px solid blue;
$bgreen: 1px solid green;
