// ##### Text Elements ##### //

// These styles set margin and font styles for text objects within a page template. Styles for text within components should be set within their individual Sass files, not here.

.text__breadcrumb-nav {
	
}

.text__page-heading {
	font-size: 2em;
}

.text__collections-heading {
	margin: 0.75em 0;
	padding: 0.75em 0 0 0;
	border-top: 2px solid $design-dark-gray-color;
	font-size: 1.3em;

	@include bp(sm-screen) {
    padding: 0;
    border: none;
  }

}

.text__collections-heading-emphasis {
	color: $design-primary-color;
	font-weight: normal;
}