

.theme__hero {
  display: block;
  position: relative;
  margin: 0 (-$layout-component-margin);
  background-size: 100%;
  background-position: bottom;
  height: 280px;
}

.theme__header {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: $layout-component-margin;
  color: #fff;

  background-image: inherit;
  background-size: 100%;
  background-position: bottom; 
  background-blend-mode: multiply;
  
  margin: 0;
}

//Add a five-column layout to bootstrap
//.col-xs-2-4,
//.col-sm-2-4,
//.col-md-2-4,
//.col-lg-2-4 {
//  position: relative;
//  min-height: 1px;
//  padding-right: 0px;
//  padding-left: 0px;
//}
//
//.col-xs-2-4 {
//  width: 20%;
//  float: left;
//}
//@media (min-width: $screen-sm-min) {
//  .col-sm-2-4 {
//    width: 20%;
//    float: left;
//  }
//}
//@media (min-width: $screen-md-min) {
//  .col-md-2-4 {
//    width: 20%;
//    float: left;
//  }
//}
//@media (min-width: $screen-lg-min) {
//  .col-lg-2-4 {
//    width: 20%;
//    float: left;
//  }
//}

.theme__main-content {
  margin: $layout-component-margin (-$layout-component-margin);
  display: flex; 
}

.theme__overview {
  flex: 1;
  background-color: $design-dark-gray-color;
  padding: $layout-component-margin;
  color: #fff;
}

.theme__exhibits {
  background-color: $design-light-gray-color;
  padding: $layout-component-margin;
  flex: 2;
}

.browseTerm {
  width: 100%;
  margin: 3px 5px 3px 0;
  padding: 5px 5px 5px 10px;
  background-color: $design-light-gray-color;
  text-align: left;
  border: 0;
  border-radius: 4px;
}

.browseTerm:hover {
  background-color: $design-secondary-color;
  color: #fff;
};

.theme__browseTerms h4 {
  margin: 3px 5px 3px 0;
  padding: 5px 5px 5px 10px;
}

.theme__lockup--horizontal {
  margin: $layout-component-margin $layout-component-margin $layout-component-margin 0;
  min-height: 100px;
}

.theme__lockup--horizontal-image {
  @include aspect-ratio(2, 1);
}

.theme__lockup--horizontal-image-content {
  background-size: cover;
  background-position: center;
}

.theme__lockup--horizontal-title {
  width: 100%;
  height: 100%;
  padding: $layout-component-margin;
  font-size: 2.25em;
  line-height: 1.2em;
  color: #fff;

  background-image: inherit;
  background-size: 100%;
  background-position: right;
  background-blend-mode: multiply;
  background-color: $design-secondary-color;
}

.theme__lockup--horizontal-exhibit-count {
  position: absolute;
  bottom: 0;
  padding-bottom: $layout-component-margin;
  font-size: .7em;
  color: #fff;
}