

.theme__hero {
  display: block;
  position: relative;
  margin: 0 (-$layout-component-margin);
  background-size: cover;
  background-position: bottom;
  height: 280px;
}

.theme__header {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: $exhibit-layout-component-margin;
  color: #fff;

  background-image: inherit;
  background-position: bottom; 
  background-blend-mode: multiply;
  
  margin: 0;
}

.theme__main-content {
  margin: $exhibit-layout-component-margin (-$layout-component-margin);
  display: flex;
  flex-wrap: wrap;
}

.theme__overview {
  background-color: $design-dark-gray-color;
  padding: $exhibit-layout-component-margin;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.theme__overview h2:first-of-type {
  margin-top: 0;
}

.theme__exhibits {
  background-color: $design-light-gray-color;
  padding: $exhibit-layout-component-margin 0 0 $exhibit-layout-component-margin;
  display: flex;
  flex-direction: column;
}

.theme__exhibits h2:first-of-type {
  margin-top: 0;
};

.browseTerm {
  width: 100%;
  margin: 3px 5px 3px 0;
  padding: 5px 5px 5px 10px;
  background-color: $design-light-gray-color;
  text-align: left;
  border: 0;
  border-radius: 4px;
}

.browseTerm:hover {
  background-color: $design-secondary-color;
  color: #fff;
};

.theme__browseTerms h4 {
  margin: 3px 5px 3px 0;
  padding: 5px 5px 5px 10px;
}

.theme__lockup--horizontal {
  margin: 0 $exhibit-layout-component-margin $exhibit-layout-component-margin 0;
  min-height: 100px;
}

.theme__lockup--horizontal-image {
  @include aspect-ratio(2032,1041);
}

.theme__lockup--horizontal-image>.aspect-ratio-content {
  background-size: cover;
  background-position: right;
}

.theme__lockup--horizontal-image-content {
  background-size: cover;
  background-position: center;
}

.theme__lockup--horizontal-color {
  width: 100%;
  height: 100%;

  background-image: inherit;
  background-size: cover;
  background-position: right;
  background-blend-mode: multiply;
  background-color: $design-secondary-color;
}

.theme__lockup--horizontal-title {
  width: 100%;
  height: 100%;
  padding: $layout-component-margin;
  font-size: 2.25em;
  line-height: 1.2em;
  color: #fff;
  position: absolute; 
  top: 0;
}

// TODO: add another child container with text that stays white?
.theme__lockup--horizontal:hover .theme__lockup--horizontal-color {
  opacity: .6;
}

.theme__lockup--horizontal-exhibit-count {
  position: absolute;
  bottom: 0;
  padding-bottom: $layout-component-margin;
  font-size: .7em;
  color: #fff;
}