// ##### Thumbnail Component ##### //

.thumbnail__container {
	display: block;
}

.thumbnail__container--no-image {
	@extend .thumbnail__container;
	width: 150px;
	height: 150px;
	border: 1px solid $design-primary-color;
}

.thumbnail__image {
	position: relative;
	display: block;
	z-index: -1;
}

.thumbnail__icon {
	position: absolute;
	top: 45px;
	left: 45px;
	padding: 10px 15px;
	background-color: $design-primary-color;
	z-index: 1;

	.fa {
		font-size: 3em;
		color: #fff;
	}

}

.thumbnail__caption {
  margin-top: 0.5em;
  line-height: normal;
}
