// ##### Thumbnail Component ##### //

.thumbnail__container {
  display: block;
}

.thumbnail__image {
	display: block;
}

.thumbnail__icon {
	position: absolute;
	top: 50px;
	left: 45px;
	padding: 10px 15px;
	background-color: $design-primary-color;

	.fa {
		font-size: 3em;
		color: #fff;
	}

}

.thumbnail__caption {
  margin-top: 0.5em;
  line-height: normal;
}
