// ##### Thumbnail Component ##### //

// The class ".thumbnail" by itself is reserved by Bootstrap

.thumbnail__container {
	margin: 0 20px 20px 0;
}

.thumbnail__link {
	display: block;

	border: $bred;
}

.thumbnail__image {
	position: relative;
	display: block;
	z-index: -1; // for .thumbnail__icon
}

.thumbnail__caption {
  height: 2em; // reveal only 2 lines of text
  margin-top: 0.5em;
  line-height: normal;
  overflow: hidden;
  cursor: default;
}

// ***** icon-only thumbnails ***** //

.thumbnail__link--no-image {
	@extend .thumbnail__link;
	width: 140px;
	height: 140px;
	border: 1px solid $design-primary-color;
}

.thumbnail__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -57px 0 0 -40px;
	background-color: $design-primary-color;
	z-index: 1;

	.fa {
		font-size: 2.5em;
		color: #fff;
		padding: 15px;
	}

}
