// ##### Collections Title Search Component ##### //

.titlesearch__form {
  margin: $layout-component-margin 0 0 0;
}

#titlesearch__field { // border-radius from bootstrap's form-control class getting removed somehow from typeahead component, so add border-radius back in:
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

// The Recommended Searches box is not currently being used:

/*

.titlesearch__recommended {
  @extend .clearfix;
  margin: $layout-component-margin 0 0 0;
  padding: 20px;
  background: $design-light-gray-color;
  border-radius: 5px;
}

.titlesearch__list-heading {
  margin: 0 0 $layout-component-margin 0;
  font-size: 1.8em;
}

.titlesearch__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.titlesearch__listitem {
  float: left;
  margin: 1em 6% 0 0;
  white-space: nowrap;
}

.titlesearch__link {
  color: #000;
}

*/