// ##### Collections Title Search Component ##### //

.titlesearch__recommended {
  @extend .clearfix;
  margin: $layout-component-margin 0 0 0;
  padding: 20px;
  background: $design-light-gray-color;
}

.titlesearch__list-heading {
  margin: 0 0 $layout-component-margin 0;
  font-size: 1.8em;
}

.titlesearch__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.titlesearch__listitem {
  // display: inline;
  float: left;
  margin: 1em 5em 0 0;
  white-space: nowrap;
}

.titlesearch__link {
  color: #000;
}