// ##### Thumbnail/Listview Toggle Component ##### //

.thumblist-toggle {
  // display: inline; // put component on the same line as the thumbnail/list toggle component
}

%thumblist-toggle__base {
	display: block;
  width: 50%;
  padding: 10px;
  text-align: center;
  border: 1px solid $design-dark-gray-color;

  &:hover {
    text-decoration: none;
  }

  .fa {
  	margin: 0 0.5em 0 0; // margin between icon and text
  }

}

.thumblist-toggle__thumbnails {
  @extend %thumblist-toggle__base;
  float: left;
  color: #fff;
  background: $design-dark-gray-color;

  &:hover {
    color: #fff;
  }

  @include bp(sm-screen) {
    display: inline;
    float: none;
    width: auto;
    margin: 0 1.5em 0 0; // margin between buttons
    padding: 0;
    color: #000;
    background: none;
    border: none;

    &:hover {
    	color: $design-primary-color;
    }

  }

}

.thumblist-toggle__thumbnails--selected {
	@extend .thumblist-toggle__thumbnails;
	
	@include bp(sm-screen) {
		color: $design-dark-gray-color;
	}

}

.thumblist-toggle__list {
  @extend %thumblist-toggle__base;
  float: right;
  color: $design-dark-gray-color;
  background: #fff;

  &:hover {
    color: $design-dark-gray-color;
  }

  @include bp(sm-screen) {
    display: inline;
    float: none;
    width: auto;
    padding: 0;
    color: #000;
    background: none;
    border: none;

    &:hover {
    	color: $design-primary-color;
    }

  }

}

.thumblist-toggle__list--selected {
	@extend .thumblist-toggle__list;
	
	@include bp(sm-screen) {
		color: $design-dark-gray-color;
	}

}