// ##### Thumbnail/Listview Toggle Component ##### //

%toggle__base {
	display: block;
  width: 50%;
  padding: 10px;
  text-align: center;
  border: 1px solid $design-dark-gray-color;

  &:hover {
    text-decoration: none;
  }

  .fa {
  	margin: 0 0.25em 0 0; // margin between icon and text
  }

  @include bp(sm-screen) {
    display: inline !important;
    float: none !important;
    width: auto !important;
    padding: 0 !important;
    color: #000 !important;
    background: none !important;
    border: none;

    &:hover {
    	color: $design-primary-color !important;
    }

  }

}

.toggle__thumbnails {
  @extend %toggle__base;
  float: left;
  color: #fff;
  background: $design-dark-gray-color;

  &:hover {
    color: #fff;
  }

  @include bp(sm-screen) {
		margin: 0 1.5em 0 0; // margin between buttons
  }

}

.toggle__list {
  @extend %toggle__base;
  float: right;
  color: $design-dark-gray-color;
  background: #fff;

  &:hover {
    color: $design-dark-gray-color;
  }

}