// ##### Custom Settings ##### //

// ***** Global Variables ***** //

$design-key-color: orange;
$design-outline-color: gray;

// ***** Bootstrap Variables ***** //

$grid-gutter-width: 0;
$popover-bg: #eee;
$popover-max-width: auto;
$popover-arrow-color: $popover-bg;

// ***** Slick Carousel ***** //

$slick-font-family: "FontAwesome";
$slick-arrow-color: $design-key-color;
$slick-prev-character: '\f104';
$slick-next-character: '\f105';
$slick-arrow-spacing: 40px;