/* ##### Component Page Resets ##### */

/* This stylesheet removes styles set in alignment.scss for component page display only. Use on component pages by linking it within the HTML <head>. Do not import these styles into main.scss */

.global-header,
.filter,
.text__collections-heading,
.thumblist-toggle,
.pag,
.thumbview,
/*.thumbview__container,*/
.listview,
.related-coll,
.global-footer,
.alphanav {
	float: none;
	margin: 0;
}