// ***** Main Sass ***** //

// This imports all Sass partials and compiles to main.css

// <<<<< Global Classes >>>>> //

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
}

// <<<<< Global Settings >>>>> //

@import "variables";
@import "mixins";

// <<<<< Vendor Libraries >>>>> //

@import "bootstrap-imports";
@import "../../bower_components/slick.js/slick/slick.scss";

// <<<<< Custom Components >>>>> //

@import "carousel";
@import "checkbox-group";
@import "collections";
@import "grid-library";
@import "header";

// <<<<< For Testing (Comment Out For Production) >>>>> //

@import "testing";