$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.title {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 140px;
  width: 200px;
  padding: 5px 5px;

  background: rgba(256, 256, 256, 1);
  border: 1px solid #DDD;
  border-radius: 5px;

  visibility: hidden;
  opacity:0;
}

.imgWrap:hover .title {visibility: visible; opacity: 1;}
.filter-pill {padding: 3px 6px !important; margin-bottom: 3px !important; font-size: 75% !important; font-weight: bold !important;}
.options-container {max-height: 200px; overflow: auto; border: 1px solid #ddd; border-top: none; margin-bottom: 20px;}
.options-container table {margin-bottom: 0px !important; }



/********************************************
************CHOSEN STYLE OVERRIDES***********
*********************************************

.chosen-container-display-list .chosen-drop {
    position: relative;
    left: auto;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: auto !important;
}
.chosen-container-multi .chosen-choices {
    background-image: none !important;
}
.chosen-container .chosen-drop {
    box-shadow: none !important;
    height: 163px;
}
.chosen-container .chosen-results {
    height: 163px;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #fff;
    background-image: none;
    color: inherit;
}
.chosen-container .chosen-results li {
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
    padding-left: 20px;
}

********************************************/
