// ***** Main Sass ***** //

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
}

[class^="col"] { // highlight all grid columns
    border: 1px solid red;
    background: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

#slick-bp-lg {
  width: 456px;
}

// <<<<< Vendor Libraries >>>>> //

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "bootstrap-imports";
@import "bootstrap-variables";
@import "slick";

// <<<<< Vendor Customizations >>>>> //

@import "variables";
@import "mixins";

// <<<<< Custom Components >>>>> //

@import "grid-library";
@import "carousel";
@import "checkbox-group";
@import "header";