// ***** Main Sass ***** //

// This file imports all Sass partials below and compiles to main.css

// <<<<< Global Classes >>>>> //

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
}

// <<<<< Global Settings >>>>> //

@import "variables";
@import "mixins";
@import "fonts";

// <<<<< Vendor Libraries >>>>> //

@import "bootstrap-imports";
@import "font-awesome-imports";
@import "../../bower_components/slick.js/slick/slick.scss";

// <<<<< For Testing (Comment Out For Production) >>>>> //

@import "testing";

// <<<<< Custom Components >>>>> //

@import "buttons";
@import "carousel";
@import "checkbox-group";
@import "collections";
@import "grid-library";
@import "header";
@import "icons";
@import "pagination";
@import "popover";
@import "shapes";