// ##### Main Sass ##### //

// This file imports all Sass partials below and compiles result to main.css

// ***** Global Settings ***** //

@import "variables";
@import "mixins";
@import "fonts";

// ***** Vendor Libraries ***** //

@import "bootstrap-imports";
@import "font-awesome-imports";
@import "../../bower_components/slick.js/slick/slick.scss";

// ***** For Testing (comment out before compiling for production) ***** //

@import "testing";

// ***** Custom Elements ***** //

@import "buttons";
@import "form-elements";
@import "icons";
@import "text";

// ***** Custom Components ***** //

@import "alpha-nav";
@import "carousel";
@import "checkbox-group";
@import "collections-intro";
@import "collections-row";
@import "related-collections";
@import "filter";
@import "footer";
@import "header";
@import "institutions-nav";
@import "listview";
@import "pagination";
@import "popover";
@import "thumbnail";
@import "toggle";

// ***** Custom Layouts ***** //

@import "alignment";