// ##### Main Sass ##### //

// This file imports all Sass partials below and compiles result to main.css

// ***** Global Settings ***** //

@import "variables";
@import "mixins";
@import "fonts";

// ***** Vendor Libraries ***** //

@import "bootstrap-imports";
@import "font-awesome-imports";
@import "mediaelementplayer-custom-styles.scss";
@import "slick-carousel.scss";

// ***** For Testing (comment out before compiling for production) ***** //

@import "testing";

// ***** Custom Elements ***** //

@import "buttons";
@import "icons";
@import "text";

// ***** Custom Components ***** //

@import "alpha-nav";
@import "carousel";
@import "carousel-complex";
@import "collection-intro";
@import "collections-intro";
@import "collections-themed";
@import "collections-row";
@import "related-collections";
@import "facets";
@import "filter";
@import "footer";
@import "header";
@import "home";
@import "home-images";
@import "institution-intro";
@import "institutions-intro";
@import "institutions-nav";
@import "institutions-textboxes";
@import "listview";
@import "metadata-block";
@import "metadata-complex-image";
@import "metadata-headings";
@import "metadata-inline";
@import "objects";
@import "object-buttons";
@import "object-container";
@import "pagination";
@import "popover";
@import "searchfields";
@import "static";
@import "thumbnail";
@import "titlesearch";
@import "toggle";

// ***** Custom Layouts ***** //

@import "alignment";
@import "print";

// ***** Global Styles ***** //

a:focus {
  outline: 0; // remove dotted border in Firefox
  text-decoration: underline;
}

abbr[title] {
  border: none;
}

strong {
  -webkit-font-smoothing: antialiased; // small fonts in Chrome on Mac OS don't appear bold without this
}

// Reset Bootstrap grid media queries by adding print media (located in _grid.scss in Bootstrap Bower package)

@media (min-width: $screen-sm-min), print and (min-width: $print-sm-min)  {
  @include make-grid(sm);
}

@media (min-width: $screen-md-min), print and (min-width: $print-md-min)  {
  @include make-grid(md);
}

@media (min-width: $screen-lg-min), print and (min-width: $print-lg-min)  {
  @include make-grid(lg);
}

// Bootstrap Container

.container-fluid {
  max-width: 1400px;
  padding: $layout-container-margin-xs;

	@include bp(sm-screen) {
    padding: $layout-container-margin-sm;
  }

	@include bp(md-screen) {
    padding: $layout-container-margin-md;
  }

}

// Layout Column Floats

.layout-col__1 {

  @include bp(md-screen) {
    float: right;
  }

}

// Bootstrap Overrides

.pag-dropdown .tooltip-inner {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8a6d3b;
}

.pag-dropdown .tooltip-arrow {
  border-top-color: #faebcc;
}

.pag-dropdown .tooltip-inner:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  content: "\f071";
}

.thumbview__link .tooltip {
  width: 100%;
}

.thumbview__link .tooltip.top { // center tooltip and hide from pointer
  margin: 55% 0 0 0;
  padding: 0 $layout-component-margin;
  pointer-events: none;
}

.thumbview__link .tooltip-arrow {
  display: none;
}

.thumbview__link .tooltip-inner {
  text-align: left;
}

// vendor overrides

#nprogress .bar {
  background: $design-primary-color;
}

#nprogress .peg {
  box-shadow: 0 0 10px $design-secondary-color, 0 0 5px $design-secondary-color;
}

#nprogress .spinner-icon {
  border-top-color: $design-primary-color;
  border-left-color: $design-primary-color;
}
