// ***** Main Sass ***** //

// This imports all Sass partials and compiles to main.css

// <<<<< Global Classes >>>>> //

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
}

[class^="col"] { // highlight all grid columns
    border: 1px solid red;
    background: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

// <<<<< Global Settings >>>>> //

@import "variables";
@import "mixins";

// <<<<< Vendor Libraries >>>>> //

@import "bootstrap-imports";
@import "../../bower_components/slick.js/slick/slick.scss";

// <<<<< Custom Components >>>>> //

@import "carousel";
@import "checkbox-group";
@import "collections";
@import "grid-library";
@import "header";