// ##### Main Sass ##### //

// This file imports all Sass partials below and compiles result to main.css

// ***** Global Settings ***** //

@import "variables";
@import "mixins";
@import "fonts";

// ***** Vendor Libraries ***** //

@import "bootstrap-imports";
@import "font-awesome-imports";
@import "../../bower_components/slick.js/slick/slick.scss";

// ***** For Testing (comment out before compiling for production) ***** //

@import "testing";

// ***** Custom Elements ***** //

@import "buttons";
@import "icons";
@import "text";

// ***** Custom Components ***** //

@import "alpha-nav";
@import "carousel";
@import "collections-intro";
@import "collections-row";
@import "related-collections";
@import "facets";
@import "filter";
@import "footer";
@import "header";
@import "institutions-nav";
@import "listview";
@import "pagination";
@import "popover";
@import "searchfields";
@import "thumbnail";
@import "toggle";

// ***** Custom Layouts ***** //

@import "alignment";
@import "print";

// ***** Global Styles ***** //

// Reset Bootstrap grid media queries by adding print media (located in _grid.scss in Bootstrap Bower package)

@media (min-width: $screen-sm-min), print and (min-width: $print-sm-min)  {
  @include make-grid(sm);
}

@media (min-width: $screen-md-min), print and (min-width: $print-md-min)  {
  @include make-grid(md);
}

// Add padding around container

.container-fluid { // Bootstrap class

  max-width: 1400px;
	
	@include bp(sm-screen) {
    padding: $layout-container-margin-sm;
  }

	@include bp(md-screen) {
    padding: $layout-container-margin-md;
  }
	
}
