Django==1.9.7
django-contact-form==1.2
django-easy-pjax==1.3.0
retrying==1.3.3
simplejson==3.8.2
six==1.10.0
https://briantinglecdliborg-solrpyx.googlecode.com/archive/d83b854e3b301aa1f433e52c7c5e617c1b4b303e.tar.gz#egg=solrpy
whitenoise==2.0.6
wsgiref==0.1.2
django-positions==0.5.3
markdown==2.6.5
https://github.com/ucldc/md5s3stash/archive/master.zip#egg=md5s3stash
django-redis==4.4.3
redis==2.10.5
hiredis==0.2.0
django-static-sitemaps==4.1.1
