{% load solrapi-extras %}
  
<input form="facet" type="hidden" id="rows" name="rows" value="{{ rows }}">
{% if rows == '50' %}
  <button id="view16" class="btn btn-link" style="padding:0px; margin:0px; vertical-align:baseline;">View 16</button> | 
{% else %}
  <button id="view50" class="btn btn-link" style="padding:0px; margin:0px; vertical-align:baseline;">View 50</button> | 
{% endif %}

{% if start|subtract:rows >= 0 %}
  <button id="prev" class="btn btn-link" data-start="{{ start|subtract:rows }}" style="padding:0px; margin:0px; vertical-align:baseline;">prev</button>
{% else %}
  prev
{% endif %}

<select form="facet" name="start" id="start">
  {% for page in pages|get_range %}
    <option value="{% widthratio page 1 rows %}" {% if start == page|multiply:rows %}selected{% endif %}>{{ page|add:"1" }}</option>
  {% endfor %}
</select>
of {{ pages }} 

{% if start|add:rows < numFound %}
  <button id="next" class="btn btn-link" data-start="{{ start|add:rows }}" style="padding:0px; margin:0px; vertical-align:baseline;">next</button>
{% else %}
  next
{% endif %}
