
      <!-- Begin Alpha Nav Component -->

      <div class="alphanav">

        <ul class="alphanav__list">
          <li class="alphanav__list-item"><a class="alphanav__list-link--selected" href="">A</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">B</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">C</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">D</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">E</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">F</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">G</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">H</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">I</a></li>
          <li class="alphanav__list-item"><a class="alphanav__list-link" href="">J</a></li>
        </ul>

      </div>

      <!-- End Alpha Nav Component -->
