
<!-- Begin Carousel Component -->
<div id="js-carouselContainer">
  
<div class="carousel__search-results">
  <a href="">Search results for "Orange County"</a>
</div>

<div class="carousel__items-number">
  <!-- Displaying 1 - 6 of 67 -->
  67 items found.
</div>

<div class="carousel">
  
  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz1.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
    </a>
  </div>

  <div class="carousel__item--selected">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz2.png" class="carousel__image--selected" alt="The Fonz">
      <div class="carousel__thumbnail-caption">Here is a shorter caption
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz3.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <div class="carousel__image-container">
        <span class="fa fa-file-text-o fa-fw carousel__icon-overlay"></span>
        <img class="carousel__thumbnail--no-image" src="images/transparent.png" alt="">
      </div>
      <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz4.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <div class="carousel__image-container">
        <span class="fa fa-cubes fa-fw carousel__icon-overlay"></span>
        <img class="carousel__thumbnail--no-image" src="images/transparent.png" alt="">
      </div>
      <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz5.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">Here is a shorter caption
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz6.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz1.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz2.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">Here is a shorter caption
      </div>
    </a>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz3.png" alt="The Fonz">
      <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
      </div>
    </a>
  </div>

</div>
</div>

<!-- End Carousel Component -->
