
<!-- Begin Carousel Component -->

<div class="carousel__search-results">
  Search results > Orange County
</div>

<div class="carousel__items-number">
  Displaying 6 of 67
</div>

<div class="carousel">
  
  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz1.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
  </div>

  <div class="carousel__item--selected">
    <a href="" class="carousel__link--selected">
      <img src="images/lazyfonz2.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">Here is a shorter caption
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz3.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <span class="fa fa-file-text-o fa-fw icon__overlay"></span>
      <img class="carousel__thumbnail--no-image" src="images/transparent.png" alt="">
    </a>
    <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz4.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <span class="fa fa-cubes fa-fw icon__overlay"></span>
      <img class="carousel__thumbnail--no-image" src="images/transparent.png" alt="">
    </a>
    <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz5.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">Here is a shorter caption
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz6.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz1.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz2.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">Here is a shorter caption
    </div>
  </div>

  <div class="carousel__item">
    <a href="" class="carousel__link">
      <img src="images/lazyfonz3.png" alt="The Fonz">
    </a>
    <div class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </div>
  </div>

</div>

<!-- End Carousel Component -->
