
<!-- Begin Carousel Component -->

<div class="carousel__search-results">
  Search results > Orange County
</div>

<div class="carousel__items-number">
  Displaying 6 of 67
</div>

<div class="carousel js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "pageDots": false, "percentPosition": false }'>
  
  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz1.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="" class="carousel__link--selected">
      <img src="images/lazyfonz2.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">Here is a shorter caption
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz3.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="" class="carousel__link">
      <span class="fa fa-file-text-o fa-fw icon__overlay"></span>
      <img class="carousel__thumbnail--no-image" src="images/transparent.png" alt="">
    </a>
    <figcaption class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz4.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="" class="carousel__link">
      <span class="fa fa-files-o fa-fw icon__overlay"></span>
      <img class="carousel__thumbnail--no-image" src="images/transparent.png" alt="">
    </a>
    <figcaption class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz5.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">Here is a shorter caption
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz6.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz1.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">The name of this object if it were a long title lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz2.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">Here is a shorter caption
    </figcaption>
  </figure>

  <figure class="carousel__item">
    <a href="">
      <img src="images/lazyfonz3.png" alt="The Fonz">
    </a>
    <figcaption class="carousel__thumbnail-caption">This caption right here is a little bit longer
    </figcaption>
  </figure>

</div>

<!-- End Carousel Component -->
