
      <!-- Begin Collections Title Search Component -->

      <div class="titlesearch">

        <form class="titlesearch__form" role="search" action="add-url-here" method="get">
          <label for="titlesearch__field" class="sr-only">Search for keywords within the titles of Calisphere's collections</label>
          <div class="input-group">
            <input id="titlesearch__field" name="" value="" type="search" placeholder="Search for keywords within the titles of Calisphere's collections" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default global-search__button" type="submit"><span class="fa fa-search"></span>
              </button>
            </span>
          </div>
        </form>

        <div class="titlesearch__recommended">
          
          <h2 class="titlesearch__list-heading">Recommended Searches</h2>

          <ul class="titlesearch__list">
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Photograph</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Local History</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Moriyuki Shimada</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">George Smith</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Monterey Park</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Catalina Island</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Helen Nestor Free Speech Movement</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Chinese</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Stanislaus Region</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Map Collection</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Disabled Students Program</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Protest Movements</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Migrant Labor Camp</a></li>
            <li class="titlesearch__listitem"><a class="titlesearch__link" href="">Earthquake</a></li>
          </ul>

        </div>

      </div>

      <!-- End Collections Title Search Component -->
