
<!-- Begin Collections - Themed Component -->

<div class="themed">

  <div class="themed__triangle"></div>

  <div class="themed__subnav">

    <a class="btn btn-default themed__button button__secondary" href="">California History</a>

    <a class="btn btn-default themed__button" href="">California Cultures</a>

    <a class="btn btn-default themed__button" href="">JARDA</a>
    
  </div>

  <div class="themed__hosted-box">

    <span class="themed__hosted-text">The California History page is still hosted on the old Calisphere site. We encourage you to continue your exploration there.</span>

    <a class="btn btn-default themed__hosted-button" href="">Main California History Page</a>

  </div>






  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="images/birds1-thumb.jpg" alt="bird">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">1780-1880: California in Transition</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore perspiciatis voluptatem, repudiandae assumenda rerum nisi iste, quisquam excepturi, totam, quia nihil eveniet explicabo! Quibusdam porro fugit, obcaecati esse itaque dolores.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum dolor sit amet</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quia nihil</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum porro fugit</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quisquam</a></li> New!
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum eveniet explicabo</a></li>
      </ul>
    </div>

  </div>





  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="images/birds1-thumb.jpg" alt="bird">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">1780-1880: California in Transition</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore perspiciatis voluptatem, repudiandae assumenda rerum nisi iste, quisquam excepturi, totam, quia nihil eveniet explicabo! Quibusdam porro fugit, obcaecati esse itaque dolores.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum dolor sit amet</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quia nihil</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum porro fugit</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quisquam</a></li> New!
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum eveniet explicabo</a></li>
      </ul>
    </div>

  </div>





  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="images/birds1-thumb.jpg" alt="bird">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">1780-1880: California in Transition</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore perspiciatis voluptatem, repudiandae assumenda rerum nisi iste, quisquam excepturi, totam, quia nihil eveniet explicabo! Quibusdam porro fugit, obcaecati esse itaque dolores.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum dolor sit amet</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quia nihil</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum porro fugit</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quisquam</a></li> New!
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum eveniet explicabo</a></li>
      </ul>
    </div>

  </div>




</div>

<!-- End Collections - Themed Component -->
