
      <!-- Begin Collections Row Component -->
            
      <div class="row collect-row__container">

        <div class="col-xs-12 col-sm-4 collect-row__summary">
          <h3 class="collect-row__title">A. Henry O. Nightingale Diaries</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="thumbview-collections"> <!-- alignment class -->

          <div class="col-xs-6">
            <img class="collect-row__image1" src="images/birds1-thumb.jpg" alt="bird">
            <img class="collect-row__image2" src="images/birds1-thumb.jpg" alt="bird">
            <img class="collect-row__image3" src="images/birds1-thumb.jpg" alt="bird">
          </div>

          <div class="col-xs-6">
            <img class="collect-row__image4" src="images/birds1-thumb.jpg" alt="bird">
            <img class="collect-row__image5" src="images/birds1-thumb.jpg" alt="bird">
            <img class="collect-row__image6" src="images/birds1-thumb.jpg" alt="bird">
            <img class="collect-row__image7" src="images/birds1-thumb.jpg" alt="bird">
          </div>

        </div>

        <!-- <div class="col-xs-12 col-sm-4 collect-row__button">
          <a class="btn btn-default button__dark" href="">View Collection</a>
        </div> -->

      </div>

      <!-- End Collections Row Component -->
