
<!-- Begin Collections - Themed Component -->

<div class="themed">

  <div class="themed__triangle"></div>

  <div class="themed__subnav">

    <a class="btn btn-default themed__button" href="">California History</a>

    <a class="btn btn-default themed__button button__secondary" href="">California Cultures</a>

    <a class="btn btn-default themed__button" href=""><abbr title="Japanese American Relocation Digital Archives">JARDA</abbr></a>
    
  </div>

  <div class="themed__hosted-box">

    <span class="themed__hosted-text">The California Cultures page is still hosted on the old Calisphere site. We encourage you to continue your exploration there.</span>

    <a class="btn btn-default themed__hosted-button" href="">Main California Cultures Page</a>

  </div>






  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_african-american-couple.jpg" alt="Portrait of an african american couple">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">African Americans</h2>
        <p>Although a relative few Afro-Latinos and other Africans came to California before the mid-19th century, the Gold Rush brought the first real migration of African Americans to the state. Historic photographs and artwork show the changing lives of African Americans from the Gold Rush Era and Statehood (when many, but not all, slaves in California gained their freedom), through years of struggle to claim their civil rights. Although these images cannot possibly encompass every aspect of African American life in America during this time, they offer a candid look into a number of important areas in California: black migration into the state, the effects of segregation and racial discrimination, the struggle for social equality, the Civil Rights Movement and its leaders, the Black Panthers, urban violence and community renewal, and the rise of the black middle class and black political leadership.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/ethnic1.html">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic1a.html">Gold Rush Era to 1900</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic1b.html">The Struggle for Economic Equality (1900-1950s)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic1e.html">Community Life (1950s-1980s)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic1d.html">Politics and Community (1970s-present)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic1c.html">Civil Rights and Social Reform (1950s-1970s)</a></li>
      </ul>

    </div>

  </div>





  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_children-on-bicycle.jpg" alt="A boy and a girl on a bicycle">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">Asian Americans</h2>
        <p> People from Asia began migrating to California during the Gold Rush era. But a number of factors — including the 1882 Chinese Exclusion act, the internment of Japanese Americans during World War II, and the "alien ineligible for citizenship" status imposed on Asian immigrants into the 1950s and 1960s — limited their numbers. In 1965, federal officials changed immigration policy to allow migration from Asia after many years of exclusion.</p>
        <p>The 2000 US Census reported that 49% of all Asian Americans lived in the West. California became home to thriving immigrant communities from China, Japan, the Philippines, Korea, Vietnam, Cambodia, Laos, Hong Kong, Thailand, and other parts of Asia. The greatest concentration of these 3 million Asian Americans was in the San Francisco Bay Area; large numbers also settled in Los Angeles, Orange, San Diego, Fresno, Sutter, Yuba, and Sacramento counties.</p>
        <p>According to 2000 census data, a higher percentage of Asian Americans attended college than any other California group. Yet their per capita income still lagged significantly behind that of whites ($22,000 versus $31,700, suggesting the continued presence of a glass ceiling for Asian Americans. The growing political strength of Asian Americans, which is just beginning to be exercised, has thus far manifested in the elections of US Senator S. I. Hayakawa, Congressmen Robert Matsui, Mike Honda, and Norman Mineta, California Secretary of State March Fong Eu, and California State Treasurer Matt Fong.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/ethnic2.html">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic2E.html">Everyday Life and Cultural Traditions, 1860s-1980s</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic2a.html">Gold Rush Era to 1890s</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic2b.html">Early 20th Century</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic2c.html">World War II</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic2d.html">New Communities: 1960s-Present</a></li>
      </ul>
    </div>

  </div>





  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_mexican-american-dancer.jpg" alt="A Mexican American woman dancing to a mariachi band">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">Hispanic Americans</h2>
        <p>Hispanic explorers first reached the shores of California in the 1500s. By the 19th century, Spain had built missions throughout the state, the Californios owned huge land grants, and California was part of the United States of Mexico. From that time to the present, Hispanic Californians have been among the largest cultural groups in the state. These images trace the history of Hispanic Americans in California from the Mission system and Californios into the 20th century: Mexican immigration into California, the farmworkers' labor struggles, and the Chicano Civil Rights movement and La Raza, which also resulted in an explosion of cultural art. Although a number of different Hispanic American groups now live in the state, the images in this topic largely portray Mexican Americans, who have always comprised the majority of Hispanic Californians.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/ethnic3.html">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic3a.html">Spanish Colonization and Californios (1769-1800s)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic3b.html">Migrant Workers and Braceros (1930s-1964)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic3c.html">Racial Tensions During World War II</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic3d.html">Cultural Traditions and the People (1930s-1960s)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic3e.html">Barrios (1930s-1960s)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic3g.html">Everyday Life: Hispanic Americans (1940s-1970s)</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic3f.html">Politics and Community (1960s-Present)</a></li>
      </ul>
    </div>

  </div>




  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_yurok-girls.jpg" alt="Two Yurok girls">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">Native Americans</h2>
        <p>At the time of Spanish colonization in the late 1700s, California was home to more than 300,000 native people in more than 200 tribes. Their centuries-old way of life was brought to an end relatively quickly: native Californians soon established regular trading relationships with the Spanish, increasing coastal groups' power and prestige, giving them greater leverage in dealings with inland groups.</p>
        <p>But Native Californians were not immune to Old World diseases. Smallpox, influenza, dysentery, malaria, measles, and syphilis spread from group to group. By 1848, such diseases had reduced California's native population by more than two-thirds. This catastrophic decline disrupted families, communities, and trading networks, weakening native resistance to Spanish, Mexican, and American intrusion.</p>
        <p>By 1860, the state's native population had been reduced to 30,000, decimated by disease, poverty, the influx of gold miners, assimilation, and other historical factors. Just 40 years later, in 1900, this population had plummeted to 20,000.</p>
        <p>During the later part of the 20th century, tribes throughout the United States joined in a struggle for Indian rights. A controversial 1987 US Supreme Court decision affirming Native Americans' right to build casinos on reservation lands dramatically changed the economic, political, and social landscapes of California's native peoples.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/ethnic4.html">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic4a.html">Pre-Columbian California – 18th Century</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/california-cultures/california-rock-art">Native American Rock Art in California</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic4d.html">The 19th Century</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic4e.html">The 20th Century and Today</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/calcultures/ethnic_groups/subtopic4f.html">Arts and Traditions in Everyday Life (1900s-1950s)</a></li>
      </ul>
    </div>

  </div>




</div>

<!-- End Collections - Themed Component -->
