
      <!-- Begin Collections Row Component -->
            
      <a href="" class="row collect-row__container">

        <div class="col-xs-12 col-sm-4 collect-row__summary">
          <h3 class="collect-row__title">A. Henry O. Nightingale Diaries</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iusto quasi reiciendis repellendus earum facilis accusantium sunt officia, vel quam quae nihil repellat est eaque aperiam! Blanditiis, nam voluptas aperiam.</p>
          <p>Institution: University of California Merced Library Special Collections and Archives</p>
          <p class="collect-row__item-number"><strong>568 Items</strong></p>
        </div>

        <div class="col-xs-12 col-sm-8">

          <div class="collect-row__mozaic">

            <div class="col-sm-6">
              <img class="collect-row__image1" src="images/birds1-thumb.jpg" alt="bird">
              <img class="collect-row__image2" src="images/birds1-thumb.jpg" alt="bird">
              <img class="collect-row__image3" src="images/birds1-thumb.jpg" alt="bird">
            </div>

            <div class="col-sm-6">
              <img class="collect-row__image4" src="images/birds1-thumb.jpg" alt="bird">
              <img class="collect-row__image5" src="images/birds1-thumb.jpg" alt="bird">
              <img class="collect-row__image6" src="images/birds1-thumb.jpg" alt="bird">
              <div class="collect-row__button">
                <div class="aspect-ratio-content">
                  View Collection
                </div>
              </div>
            </div>

          </div>

        </div>

      </a>

      <!-- End Collections Row Component -->
