
      <!-- Begin Collections Row Component -->
            
      <div class="row collect-row__container">

        <div class="col-xs-12 col-sm-4 collect-row__summary">
          <h3 class="collect-row__title">A. Henry O. Nightingale Diaries</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="thumbview-collections">

          <div class="col-xs-6 col-sm-2">
            <div class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
              <a class="thumbview__link" href="#">
                <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                <div class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
              <a class="thumbview__link" href="#">
                <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                <div class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
              <a class="thumbview__link" href="#">
                <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                <div class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
              <a class="thumbview__link" href="#">
                <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                <div class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                </div>
              </a>
            </div>
          </div>

        </div>

        <div class="col-xs-12 col-sm-4 collect-row__button">
          <a class="btn btn-default button__dark" href="">View Collection</a>
        </div>

      </div>

      <!-- End Collections Row Component -->
