
  <div class="facets">

    <button type="button" class="btn btn-default btn-block check__clear-filters">Clear Filters</button>
    <!-- For selected state, above class becomes: check__clear-filters[dash][dash]selected -->

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-12">
                      
      <!-- Begin Component -->
      
        <div class="check" id="check__type">

          <div class="check__header js-a-check__header">
            <p class="check__header-text js-a-check__header-text">Type of Item (7)</p>
            <i class="check__header-arrow-icon js-a-check__header-arrow-icon fa fa-angle-down"></i>
            <div class="check__header-links">
              <a class="js-a-check__link-select-all check__link-select-all--selected" href="#">Select All</a>
              <a class="js-a-check__link-deselect-all check__link-deselect-all--not-selected" href="#">Deselect All</a>
            </div>
          </div>

          <div class="check__popdown js-a-check__popdown">

            <div class="check__button-group">
              <button type="button" disabled class="btn btn-default check__button js-a-check__button-deselect-all">Deselect All</button>
              <button type="button" class="btn btn-default check__button js-a-check__button-select-all">Select All</button>
            </div>
            <div class="check__group">
              <input id="check__input-1a" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-1a">California and the Postwar Suburban Home (2)</label>
              
              <input id="check__input-2a" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-2a">The Bracero Program (12)</label>
              
              <input id="check__input-3a" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-3a">Japanese American Internment (1)</label>

              <input id="check__input-4a" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-4a">Another Filter (1)</label>

              <input id="check__input-5a" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-5a">Another Filter (1)</label>

              <input id="check__input-6a" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-6a">Another Filter (1)</label>
            </div>

            <button class="check__update js-a-check__update">Update Results</button>

          </div>

        </div>

        <!-- End Component -->

      </div>

      <div class="col-xs-12 col-sm-6 col-md-12">
                          
        <!-- Placeholder checkbox group (not fully functional - do not use in production) -->
        
        <div class="check" id="check__date">

          <div class="check__header">
            <p class="check__header-text">Decade (7)</p>
            <i class="check__header-arrow-icon fa fa-angle-down"></i>
            <div class="check__header-links">
              <a class="js-a-check__link-select-all check__link-select-all--selected" href="#">Select All</a>
              <a class="js-a-check__link-deselect-all check__link-deselect-all--not-selected" href="#">Deselect All</a>
            </div>
          </div>

          <div class="check__popdown">

            <div class="check__button-group">
              <button type="button" disabled class="btn btn-default check__button js-a-check__button-deselect-all">Deselect All</button>
              <button type="button" class="btn btn-default check__button js-a-check__button-select-all">Select All</button>
            </div>
            <div class="check__group">
              <input id="check__input-1b" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-1b">California and the Postwar Suburban Home (2)</label>
              
              <input id="check__input-2b" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-2b">The Bracero Program (12)</label>
              
              <input id="check__input-3b" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-3b">Japanese American Internment (1)</label>

              <input id="check__input-4b" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-4b">Another Filter (1)</label>

              <input id="check__input-5b" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-5b">Another Filter (1)</label>

              <input id="check__input-6b" class="check__input" type="checkbox">
              <label class="check__label" for="check__input-6b">Another Filter (1)</label>
            </div>

            <button class="check__update js-a-check__update">Update Results</button>

        </div>

      </div>

      <!-- End Component --> 

      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-12">
        

      </div>

      <div class="col-xs-12 col-sm-6 col-md-12">
        

      </div>

    </div> 

  </div> <!-- facets -->


