
<!-- Begin Collection Intro Component -->

<div class="collection-intro">

  <div class="col-md-3">
    <div class="collection-intro__institution">
      <a href="" class="collection-intro__institution-heading-link">
      <h2 class="collection-intro__institution-heading">Owning Institution: University of California, Merced</h2>
      </a>
    </div>
  </div>

  <div class="col-md-9">
    <div class="collection-intro__about">
      <h2 class="collection-intro__about-heading">About this Collection</h2>
      <span class="collection-intro__about-description"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus repellat ea aperiam dolorum corrupti doloribus fugiat sit error dignissimos consectetur vitae architecto iusto vel consequatur dicta explicabo quibusdam, repudiandae voluptatibus.</span>
      <span>Quisquam amet asperiores libero cum illum dicta adipisci vitae ut perferendis odit eius consequatur expedita iste doloribus repudiandae dolores sapiente aliquid suscipit, iusto assumenda quasi consequuntur deleniti omnis mollitia. Animi.</span>
      </span>
    </div>
  </div>

</div>

<!-- End Collection Intro Component -->
