
<!-- Begin Collections - Themed Component -->

<div class="themed">

  <div class="themed__triangle"></div>

  <div class="themed__subnav">

    <a class="btn btn-default themed__button button__secondary" href="">California History</a>

    <a class="btn btn-default themed__button" href="">California Cultures</a>

    <a class="btn btn-default themed__button" href="">JARDA</a>
    
  </div>

  <div class="themed__hosted-box">

    <span class="themed__hosted-text">The California History page is still hosted on the old Calisphere site. We encourage you to continue your exploration there.</span>

    <a class="btn btn-default themed__hosted-button" href="">Main California History Page</a>

  </div>






  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="http://www.calisphere.universityofcalifornia.edu/images/themed_collections/thumbnails/tc0-b.jpg" alt="California mission building in the countryside">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">1780-1880: California in Transition</h2>
        <p>Several social, political, and economic transitions marked the conquest and cultural exchange of California's early history. Native American communities were transformed as a result of European exploration and settlement in the late 18th century. Spain constructed missions and military presidios in Alta California to increase Spanish settlement in the new colony and encourage religious conversion among Native Americans. The mission structures remained long after the collapse of Spanish authority. Following Mexico's independence from Spain in 1821, vast land grants helped elite Californio society flourish until the 1880s. Today, the state's wealth continues to be defined through the utilization of its rich resources and its immense natural and human potential.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/themed_collections/topics0.html">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic0c.html">Early California Exploration and Settlement</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic0b.html">California Missions</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic0a.html">Californio Society</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic0d.html">Rich Resources</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic0e.html">Everyday Life</a></li>
      </ul>

    </div>

  </div>





  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="http://www.calisphere.universityofcalifornia.edu/images/themed_collections/thumbnails/tc1.jpg" alt="Men at a camp mining for gold">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">1848-1865: The Gold Rush Era</h2>
        <p>The few short years of the Gold Rush changed California's population and environment dramatically. Ethnic diversity grew as people from all over the world poured into the state, ignoring numerous dangers and the ever-present risk of earthquakes to follow their dreams of striking gold. This sudden influx, and the gold mining industry in general, had a significant impact on the environment and contributed to the rapid growth of cities throughout the state. The state's legal infrastructure lagged behind this growth, however, and the lawless atmosphere of the gold mining communities led to a growing problem of murder and mayhem. Law-abiding citizens began to see the need to strengthen existing legal and judicial institutions to ensure a more peaceful approach to everyday life.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/themed_collections/topics1.html">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic1a.html">Murder and Mayhem</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic1b.html">Disasters</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic1c.html">Everyday Life and People</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic1d.html">Environmental Impact</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic1e.html">Growth of Cities</a></li>
        <li class="themed__collection-row-list-item"><a href="http://www.calisphere.universityofcalifornia.edu/themed_collections/subtopic1f.html">Diversity in the Changing State</a></li>
      </ul>
    </div>

  </div>




  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="images/birds1-thumb.jpg" alt="bird">
    </div>

    <div class="col-sm-6">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">1780-1880: California in Transition</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore perspiciatis voluptatem, repudiandae assumenda rerum nisi iste, quisquam excepturi, totam, quia nihil eveniet explicabo! Quibusdam porro fugit, obcaecati esse itaque dolores.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="">View More</a>

    <div class="col-sm-3">
      <ul class="themed__collection-row-list">
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum dolor sit amet</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quia nihil</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum porro fugit</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum quisquam</a></li>
        <li class="themed__collection-row-list-item"><a href="">Lorem ipsum eveniet explicabo</a></li>
      </ul>
    </div>

  </div>




</div>

<!-- End Collections - Themed Component -->
