
<!-- Begin Collections - Themed Component -->

<div class="themed">

  <div class="themed__triangle"></div>

  <div class="themed__subnav">

    <a class="btn btn-default themed__button" href="">California History</a>

    <a class="btn btn-default themed__button" href="">California Cultures</a>

    <a class="btn btn-default themed__button button__secondary" href=""><abbr title="Japanese American Relocation Digital Archives">JARDA</abbr></a>
    
  </div>

  <div class="themed__hosted-box">

    <span class="themed__hosted-text">The Japanese American Relocation Digital Archives (<abbr>JARDA</abbr>) page is still hosted on the old Calisphere site. We encourage you to continue your exploration there.</span>

    <a class="btn btn-default themed__hosted-button" href="">Main <abbr title="Japanese American Relocation Digital Archives">JARDA</abbr> Page</a>

  </div>






  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_family-at-manzanar.jpg" alt="Family at Manzanar">
    </div>

    <div class="col-sm-9">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">People</h2>
        <p>The images in this topic show the faces of Japanese Americans before, during, and after incarceration. Most of the photographs were taken by War Relocation Authority (<abbr>WRA</abbr>) photographers for publicity purposes and tend to show people who are smiling or stoic. The paintings by internee artists Estelle Ishigo and Henry Sugimoto suggest a more emotional and somber mood.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/jarda/browse/people.html">View More</a>

  </div>





  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_closing-jerome-center.jpg" alt="Japanese train riders holding streamers with onlookers">
    </div>

    <div class="col-sm-9">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">Places</h2>
        <p>From March 1942 to 1946, the US War Relocation Authority (<abbr>WRA</abbr>) had jurisdiction over the Japanese and Japanese Americans evacuated from their homes in California, Oregon, and Washington. The <abbr title="War Relocation Authority">WRA</abbr> photographs document the places that played a role in evacuation, relocation, incarceration, and resettlement — as the government wished to present them. Few, for example, show the barbed wire fences and guards that kept internees imprisoned. Although photographer Dorothea Lange also worked for the <abbr title="War Relocation Authority">WRA</abbr>, her images manage to suggest a more somber personal experience. In contrast, the paintings by internees portray the camps as experienced by the people who lived there.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/jarda/browse/places.html">View More</a>

  </div>





  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_camp-sign.jpg" alt="Internment camp sign with printed rules">
    </div>

    <div class="col-sm-9">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">Daily Life</h2>
        <p>With thousands of residents, the internment camps inevitably became communities where families carried on with the details of daily life: adults worked, children went to school. This topic illustrates much of the daily life of internees, including camp administration, sleeping/eating/personal care, work, social life, study, events, relocation, and resettlement. The images show daily life as the government portrayed it in "publicity" photographs taken by government photographers, and through the art and camera lenses of the internees who lived it.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/jarda/browse/daily-life.html">View More</a>

  </div>




  <div class="row themed__collection-row">
    
    <div class="col-sm-3">
      <img class="themed__collection-row-image" src="https://s3.amazonaws.com/static.ucldc.cdlib.org/calisphere_images/themed_sketching-camp-jerome.jpg" alt="Watercolor of a man sketching Camp Jerome">
    </div>

    <div class="col-sm-9">
      <div class="themed__collection-row-text">
        <h2 class="themed__collection-row-heading">Personal Experiences</h2>
        <p>The images in this topic were created by men, women, and youth during their incarceration in relocation camps. Artists expressed the internal experience of camp life in paintings and drawings. Writings — including memoirs, illustrated diaries, scrapbooks, and letters home — reflect the daily struggle of men, women, and children trying to live "normal" lives in remote, guarded camps behind barbed wire. These personal creations express experiences that are often more emotionally complex than the official government photographs. The images in this topic depict reality through the eyes of Japanese Americans, reflecting a mix of emotions, including anger, uncertainty, and hope.</p>
      </div>
    </div>

    <a class="btn themed__collection-row-button" href="http://www.calisphere.universityofcalifornia.edu/jarda/browse/personal-experiences.html">View More</a>

  </div>




</div>

<!-- End Collections - Themed Component -->
