
<!-- Begin Institution Intro Component -->

<div class="institution-intro">

  <div class="col-md-3">
    <img class="institution-logo" src="http://placehold.it/130&text=UC+Logo" alt="UC logo">
  </div>

  <div class="col-md-3">
    <h2 class="institution-intro__heading">Special Collections <br> UC San Francisco</h2>
    <ul class="institutional-intro__list">
      <li class="institutional-intro__list-item">Phone:</li>
      <li class="institutional-intro__list-item">Fax:</li>
      <li class="institutional-intro__list-item">Email:</li>
      <li class="institutional-intro__list-item">Website: <a class="institutional-intro__web-link"href="">[link]</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam animi ut officiis est nam quam dolorum, ex neque ipsam omnis sequi, eveniet numquam velit asperiores adipisci dignissimos ipsum aspernatur veritatis!</span><span>Mollitia quasi temporibus soluta sunt, accusamus amet reiciendis omnis quaerat, esse quidem neque tenetur error velit nulla deleniti suscipit accusantium? Voluptatibus laborum fugit excepturi quidem sunt esse consequatur nihil voluptatem.</span></p>
    <a href="">Read More ...</a>
  </div>

</div>

<!-- End Institution Intro Component -->
