
<!-- Begin UC Institution Intro Component -->

<div class="institution-intro">

  <div class="col-xs-12 col-sm-4 col-md-3">
    <a class="institution-intro__featured-image-link" href="#">
      <img class="institution-intro__featured-image" src="images/birds1-thumb.jpg" alt="bird">
      <div class="institution-intro__featured-image-caption">
        View featured image.
      </div>
    </a>
  </div>


  <div class="col-xs-12 col-sm-8 col-md-9">

    <div class="institution-intro__logo-location">
      <img class="institution-intro__logo" src="/images/logo-uc-merced.png" alt="UC Merced logo">
      <ul class="institution-intro__location">
        <li class="institution-intro__location-list"><strong>Library and Special Collections</strong></li>
        <li class="institution-intro__location-list">Location, Merced, CA</li>
        <li class="institution-intro__location-list">Website: <a href="http://www.ucmerced.edu">http://www.ucmerced.edu</a></li>
      </ul>
    </div>

    <p class="institution-intro__description"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime numquam cupiditate dolorem doloribus cumque repudiandae magni qui, dolor vero ea, a quisquam earum. Sapiente aliquid alias culpa ea quasi quas!</span><span>Sit eos rem quas voluptatum enim possimus, commodi dolores quis nihil cum. Facilis eos suscipit sapiente saepe nostrum ratione voluptatibus, natus sunt similique labore sed, officia minus accusantium deserunt &#8230; <a class="institution-intro__web-link" href="">Read More</a></span></p>

  </div>


</div>

<!-- End UC Institution Intro Component -->
