
      <!-- Begin Institutions Intro Component -->

      <div class="inst-intro">

        <div class="row">
          <div class="col-xs-12 col-sm-6 institutions-intro__overview">
            <p class="institutions-intro__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum in autem id sint consectetur, optio nobis ipsam modi dolores dolorum necessitatibus iste tempore voluptas unde quam architecto expedita praesentium, magni.</p>
          </div>
          <div class="col-xs-12 col-sm-6 institutions-intro__description">
            <p class="institutions-intro__text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla deserunt magni, doloremque cum sequi at vel blanditiis libero facere impedit saepe optio, culpa veritatis eum cupiditate aut, fugiat provident atque?</span> <span>Non illo vero harum officia atque eligendi laborum magni consequuntur, quae expedita animi cupiditate.</span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-md-3 institutions-intro__button-uc">
            <a class="btn btn-default btn-block button__secondary" href="">UC Partners</a>
          </div>
          <div class="col-xs-6 col-md-3 institutions-intro__button-state">
            <a class="btn btn-default btn-block" href="">Statewide Partners</a>
          </div>
        </div>

      </div>

      <!-- End Institutions Intro Component -->
