
      <!-- Begin Institutions Textboxes Component -->

      <div class="inst-textboxes">

        <div class="inst-textboxes__box">

          <h3 class="inst-textboxes__box-heading">UC Berkeley</h3>

          <ul class="inst-textboxes__list">
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">*Bancroft Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Berkeley Art Museum/Pacific Film Archive</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Enviromental Design Archives</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Ethnic Studies Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Hearst (Phoebe A.) Museum of Anthropology</a></li>
          </ul>

        </div>

        <div class="inst-textboxes__box">

          <h3 class="inst-textboxes__box-heading">UC Davis</h3>

          <ul class="inst-textboxes__list">
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">*Bancroft Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Berkeley Art Museum/Pacific Film Archive</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Enviromental Design Archives</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Ethnic Studies Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Hearst (Phoebe A.) Museum of Anthropology</a></li>
          </ul>

        </div>

        <div class="inst-textboxes__box">

          <h3 class="inst-textboxes__box-heading">UC Irvine</h3>

          <ul class="inst-textboxes__list">
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">*Bancroft Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Berkeley Art Museum/Pacific Film Archive</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Enviromental Design Archives</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Ethnic Studies Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Hearst (Phoebe A.) Museum of Anthropology</a></li>
          </ul>

        </div>

        <div class="inst-textboxes__box">

          <h3 class="inst-textboxes__box-heading">UCLA</h3>

          <ul class="inst-textboxes__list">
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">*Bancroft Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Berkeley Art Museum/Pacific Film Archive</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Enviromental Design Archives</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Ethnic Studies Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Hearst (Phoebe A.) Museum of Anthropology</a></li>
          </ul>

        </div>

        <div class="inst-textboxes__box">

          <h3 class="inst-textboxes__box-heading">UC Merced</h3>

          <ul class="inst-textboxes__list">
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">*Bancroft Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Berkeley Art Museum/Pacific Film Archive</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Enviromental Design Archives</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Ethnic Studies Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Hearst (Phoebe A.) Museum of Anthropology</a></li>
          </ul>

        </div>

        <div class="inst-textboxes__box">

          <h3 class="inst-textboxes__box-heading">UC Riverside</h3>

          <ul class="inst-textboxes__list">
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">*Bancroft Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Berkeley Art Museum/Pacific Film Archive</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Enviromental Design Archives</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Ethnic Studies Library</a></li>
            <li class="inst-textboxes__list-item"><a class="inst-textboxes__link" href="">Hearst (Phoebe A.) Museum of Anthropology</a></li>
          </ul>

        </div>

      </div>

      <!-- End Institutions Textboxes Component -->
