
      <!-- Begin Institutions Textboxes Component -->

      <div class="inst-textboxes">

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam aliquid, consectetur eius repellendus culpa placeat corrupti voluptates. Fugiat neque necessitatibus vitae quia, voluptate consectetur, enim, temporibus possimus iste atque commodi!</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptates quod reiciendis, incidunt ad recusandae ducimus voluptatem laborum magnam suscipit ullam minima molestiae excepturi dicta deserunt ut vel aut debitis.</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere, quaerat debitis suscipit delectus voluptatem molestias tempora nemo earum consectetur totam iusto quam veritatis, magni doloremque dolorum dolore eligendi. Aperiam.</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ducimus obcaecati dolorem repudiandae commodi quis soluta eius doloremque earum sapiente eos corporis, error consequatur, velit minima iure, beatae laudantium tempora.</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus, soluta eligendi ea dolor qui quis provident impedit? Unde amet odio ratione libero doloremque, non a, similique dignissimos in hic?</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, optio. Cum eveniet doloremque eum, deleniti mollitia voluptatibus, sit ex repudiandae ipsam odit provident laboriosam harum quaerat, voluptas quibusdam. Deleniti, cupiditate?</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deserunt nam in cupiditate quaerat quam ipsam facilis voluptatum dicta, voluptas veniam ipsum necessitatibus earum, inventore unde temporibus! Rerum, voluptate, velit.</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt, itaque omnis. Officia aut temporibus facere, beatae cupiditate quas voluptate eum, quisquam, excepturi minus distinctio repudiandae maxime unde laboriosam, totam.</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptas, soluta molestiae ab rem ratione fuga odio nisi consequuntur ullam ea eos itaque enim laboriosam quia beatae cum ipsum fugiat.</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ipsa ipsum at, enim, soluta sunt cumque tempore suscipit ex doloremque eos veniam esse ea maxime nisi repudiandae aliquid placeat sequi.</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nemo dolore asperiores, deleniti sit excepturi reprehenderit quos similique necessitatibus accusantium. Accusantium doloribus, sed pariatur itaque ad maiores ea velit quos?</p>

        <p class="inst-textboxes__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consectetur error fugit natus dolor delectus dolores non ea cupiditate in. Pariatur perspiciatis neque, quidem recusandae itaque magnam illum nemo. Id?</p>

      </div>

      <!-- End Institutions Textboxes Component -->
