
      <!-- Begin Institutions Intro Component -->

      <div class="inst-intro">

        <div class="row">
          <div class="col-xs-12 col-sm-6 institutions-intro__overview">
            <p class="institutions-intro__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum in autem id sint consectetur, optio nobis ipsam modi dolores dolorum necessitatibus iste tempore voluptas unde quam architecto expedita praesentium, magni.</p>
          </div>
          <div class="col-xs-12 col-sm-6 institutions-intro__description">
            <p class="institutions-intro__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo totam explicabo reiciendis rem perferendis ducimus ea neque ratione aut, atque quas nulla, laborum ipsam voluptatum, animi harum accusantium quasi adipisci?</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <a class="btn btn-default button__secondary institutions-intro__button-uc" href="">UC Partners</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-default institutions-intro__button-state" href="">Statewide Partners</a>
          </div>
        </div>

      </div>

      <!-- End Institutions Intro Component -->
