
<!-- Begin Institution Intro Component -->

<div class="institution-intro">

  <div class="col-md-3">
    <div class="institution-intro__institution">
      <h2 class="institution-intro__institution-heading"> 
        Owning Institution:
        <a href="" class="institution-intro__institution-heading-link">
          University of California, Merced
        </a>
      </h2>
    </div>
  </div>

  <div class="col-md-9">
    <div class="institution-intro__about">
      <h3 class="institution-intro__about-heading">About this institution</h3>
      <span class="institution-intro__about-description"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus repellat ea aperiam dolorum corrupti doloribus fugiat sit error dignissimos consectetur vitae architecto iusto vel consequatur dicta explicabo quibusdam, repudiandae voluptatibus.</span>
      <span>Quisquam amet asperiores libero cum illum dicta adipisci vitae ut perferendis odit eius consequatur expedita iste doloribus repudiandae dolores sapiente aliquid suscipit, iusto assumenda quasi consequuntur deleniti omnis mollitia. Animi.</span>
      </span>
      <a class="institution-intro__about-link" href="">View this institution on a contributor's website.</a>
      <a class="institution-intro__about-link" href="">View finding aid.</a>
    </div>
  </div>

</div>

<!-- End Institution Intro Component -->
