
<!-- Begin Non-UC Institution Intro Component -->

<div class="institution-intro">

  <div class="col-xs-12 col-sm-4 col-md-3">
    <a class="institution-intro__featured-image-link" href="#">
      <img class="institution-intro__featured-image" src="images/birds1-thumb.jpg" alt="bird">
      <div class="institution-intro__featured-image-caption">
        View featured image
      </div>
    </a>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-9">
    <h2 class="institution-intro__heading">Arcadia Public Library </h2>
    <ul class="institution-intro__list">
      <li class="institution-intro__list-item">Location: Arcadia, CA</li>
      <li class="institution-intro__list-item">Phone: (626) 821-5567</li>
      <li class="institution-intro__list-item">Email: <a href="mailto:ref247@ci.arcadia.ca.us">ref247@ci.arcadia.ca.us</a></li>
      <li class="institution-intro__list-item">Website: <a class="institution-intro__web-link"href="http://www.ci.arcadia.ca.us/home/index.asp?page=664">http://www.ci.arcadia.ca.us/home/index.asp?page=664</a></li>
    </ul>
    <p class="institution-intro__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis saepe, at repellat nemo vero, rerum in provident eius voluptate nesciunt maiores cumque explicabo nam dolor sed, eaque pariatur maxime illo &#8230; <a href="">Read More</a></p>
  </div>

  <!-- <div class="col-md-6">
    
  </div> -->

</div>

<!-- End Non-UC Institution Intro Component -->
