
<!-- Begin List View Component -->

<div class="listview">
  
  <div class="row listview__container">
    <div class="col-xs-3">
      <a class="thumbnail__container" href="">
        <img class="thumbnail__image" src="images/birds1-thumb.jpg" alt="bird">
      </a>
    </div>
    <div class="col-xs-9">
      <div class="listview__metadata">
        <dl class="meta-inline__list">
          <dt class="meta-inline__type">Title</dt>
          <dd class="meta-inline__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

          <dt class="meta-inline__type">Creator/Contributor</dt>
          <dd class="meta-inline__defin">Hillebrecht, Henry William</dd>

          <dt class="meta-inline__type">Date Created and/or Issued</dt>
          <dd class="meta-inline__defin">1909-09-06</dd>

          <dt class="meta-inline__type">Description</dt>
          <dd class="meta-inline__defin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusamus quaerat, modi molestias quod a totam consequatur aut tempore iste eligendi voluptas facere enim, eaque harum sit ut fuga.</dd>

          <dt class="meta-inline__type">Subject</dt>
          <dd class="meta-inline__defin">California; Orange; picnic; Walther League, Orange County</dd>

          <dt class="meta-inline__type">Contributing Institution</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library</a></dd>

          <dt class="meta-inline__type">Collection</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library Local History Collection</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="row listview__container">
    <div class="col-xs-3">
      <a class="thumbnail__container" href="">
        <img class="thumbnail__image" src="images/birds1-thumb.jpg" alt="bird">
      </a>
    </div>
    <div class="col-xs-9">
      <div class="listview__metadata">
        <dl class="meta-inline__list">
          <dt class="meta-inline__type">Title</dt>
          <dd class="meta-inline__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

          <dt class="meta-inline__type">Creator/Contributor</dt>
          <dd class="meta-inline__defin">Hillebrecht, Henry William</dd>

          <dt class="meta-inline__type">Date Created and/or Issued</dt>
          <dd class="meta-inline__defin">1909-09-06</dd>

          <dt class="meta-inline__type">Description</dt>
          <dd class="meta-inline__defin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusamus quaerat, modi molestias quod a totam consequatur aut tempore iste eligendi voluptas facere enim, eaque harum sit ut fuga.</dd>

          <dt class="meta-inline__type">Subject</dt>
          <dd class="meta-inline__defin">California; Orange; picnic; Walther League, Orange County</dd>

          <dt class="meta-inline__type">Contributing Institution</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library</a></dd>

          <dt class="meta-inline__type">Collection</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library Local History Collection</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="row listview__container">
    <div class="col-xs-3">
      <a class="thumbnail__container" href="">
        <img class="thumbnail__image" src="images/birds1-thumb.jpg" alt="bird">
      </a>
    </div>
    <div class="col-xs-9">
      <div class="listview__metadata">
        <dl class="meta-inline__list">
          <dt class="meta-inline__type">Title</dt>
          <dd class="meta-inline__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

          <dt class="meta-inline__type">Creator/Contributor</dt>
          <dd class="meta-inline__defin">Hillebrecht, Henry William</dd>

          <dt class="meta-inline__type">Date Created and/or Issued</dt>
          <dd class="meta-inline__defin">1909-09-06</dd>

          <dt class="meta-inline__type">Description</dt>
          <dd class="meta-inline__defin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusamus quaerat, modi molestias quod a totam consequatur aut tempore iste eligendi voluptas facere enim, eaque harum sit ut fuga.</dd>

          <dt class="meta-inline__type">Subject</dt>
          <dd class="meta-inline__defin">California; Orange; picnic; Walther League, Orange County</dd>

          <dt class="meta-inline__type">Contributing Institution</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library</a></dd>

          <dt class="meta-inline__type">Collection</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library Local History Collection</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <h3>Icon Overlay</h3>

  <div class="row listview__container">
    <div class="col-xs-3">
      <a class="thumbnail__container" href="">
        <img class="thumbnail__image" src="images/birds1-thumb.jpg" alt="bird">
        <div class="listview__overlay-icon fa-volume-up"></div>
      </a>
    </div>
    <div class="col-xs-9">
      <div class="listview__metadata">
        <dl class="meta-inline__list">
          <dt class="meta-inline__type">Title</dt>
          <dd class="meta-inline__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

          <dt class="meta-inline__type">Creator/Contributor</dt>
          <dd class="meta-inline__defin">Hillebrecht, Henry William</dd>

          <dt class="meta-inline__type">Date Created and/or Issued</dt>
          <dd class="meta-inline__defin">1909-09-06</dd>

          <dt class="meta-inline__type">Description</dt>
          <dd class="meta-inline__defin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusamus quaerat, modi molestias quod a totam consequatur aut tempore iste eligendi voluptas facere enim, eaque harum sit ut fuga.</dd>

          <dt class="meta-inline__type">Subject</dt>
          <dd class="meta-inline__defin">California; Orange; picnic; Walther League, Orange County</dd>

          <dt class="meta-inline__type">Contributing Institution</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library</a></dd>

          <dt class="meta-inline__type">Collection</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library Local History Collection</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <h3>Icon Tile</h3>

  <div class="row listview__container">
    <div class="col-xs-3">
      <a class="thumbnail__container" href="">
        <div class="listview__tile-icon fa-file-text-o"></div>
      </a>
    </div>
    <div class="col-xs-9">
      <div class="listview__metadata">
        <dl class="meta-inline__list">
          <dt class="meta-inline__type">Title</dt>
          <dd class="meta-inline__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

          <dt class="meta-inline__type">Creator/Contributor</dt>
          <dd class="meta-inline__defin">Hillebrecht, Henry William</dd>

          <dt class="meta-inline__type">Date Created and/or Issued</dt>
          <dd class="meta-inline__defin">1909-09-06</dd>

          <dt class="meta-inline__type">Description</dt>
          <dd class="meta-inline__defin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusamus quaerat, modi molestias quod a totam consequatur aut tempore iste eligendi voluptas facere enim, eaque harum sit ut fuga.</dd>

          <dt class="meta-inline__type">Subject</dt>
          <dd class="meta-inline__defin">California; Orange; picnic; Walther League, Orange County</dd>

          <dt class="meta-inline__type">Contributing Institution</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library</a></dd>

          <dt class="meta-inline__type">Collection</dt>
          <dd class="meta-inline__defin"><a href="">Orange Public Library Local History Collection</a></dd>
        </dl>
      </div>
    </div>
  </div>

</div>

<!-- End List View Component -->
