
      <!-- Begin List View Component -->

      <div class="row">
        <figure class="listview">
          <div class="col-xs-3">
            <a class="listview__link" href="">
              <img class="listview__image" src="images/birds1-thumb.jpg" alt="bird">
            </a>
          </div>
          <div class="col-xs-9">
            <div class="listview__metadata">
              <dl class="metadata__list">
                <dt class="metadata__type">Title:</dt>
                <dd class="metadata__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

                <dt class="metadata__type">Creator:</dt>
                <dd class="metadata__defin">Hillebrecht, Henry William</dd>

                <dt class="metadata__type">Date:</dt>
                <dd class="metadata__defin">1909-09-06</dd>

                <dt class="metadata__type">Contributing Institution:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library</a></dd>

                <dt class="metadata__type">Collection:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library Local History Collection</a></dd>

                <dt class="metadata__type">Identifier:</dt>
                <dd class="metadata__defin">OPL2774, 10511179</dd>

                <dt class="metadata__type">Format:</dt>
                <dd class="metadata__defin">Photographic print, b&ampw, 8.7 x 14.4cm.</dd>

                <dt class="metadata__type">Notes:</dt>
                <dd class="metadata__defin">Orange County</dd>

                <dt class="metadata__type">Subject:</dt>
                <dd class="metadata__defin">California; Orange; picnic; Walther League, Orange County</dd>
              </dl>
            </div>
          </div>
        </figure>
      </div>

      <div class="row">
        <figure class="listview">
          <div class="col-xs-3">
            <a class="listview__link" href="">
              <img class="listview__image" src="images/birds1-thumb.jpg" alt="bird">
            </a>
          </div>
          <div class="col-xs-9">
            <div class="listview__metadata">
              <dl class="metadata__list">
                <dt class="metadata__type">Title:</dt>
                <dd class="metadata__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

                <dt class="metadata__type">Creator:</dt>
                <dd class="metadata__defin">Hillebrecht, Henry William</dd>

                <dt class="metadata__type">Date:</dt>
                <dd class="metadata__defin">1909-09-06</dd>

                <dt class="metadata__type">Contributing Institution:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library</a></dd>

                <dt class="metadata__type">Collection:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library Local History Collection</a></dd>

                <dt class="metadata__type">Identifier:</dt>
                <dd class="metadata__defin">OPL2774, 10511179</dd>

                <dt class="metadata__type">Format:</dt>
                <dd class="metadata__defin">Photographic print, b&ampw, 8.7 x 14.4cm.</dd>

                <dt class="metadata__type">Notes:</dt>
                <dd class="metadata__defin">Orange County</dd>

                <dt class="metadata__type">Subject:</dt>
                <dd class="metadata__defin">California; Orange; picnic; Walther League, Orange County</dd>
              </dl>
            </div>
          </div>
        </figure>
      </div>
      
      <div class="row">
        <figure class="listview">
          <div class="col-xs-3">
            <a class="listview__link" href="">
              <img class="listview__image" src="images/birds1-thumb.jpg" alt="bird">
            </a>
          </div>
          <div class="col-xs-9">
            <div class="listview__metadata">
              <dl class="metadata__list">
                <dt class="metadata__type">Title:</dt>
                <dd class="metadata__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

                <dt class="metadata__type">Creator:</dt>
                <dd class="metadata__defin">Hillebrecht, Henry William</dd>

                <dt class="metadata__type">Date:</dt>
                <dd class="metadata__defin">1909-09-06</dd>

                <dt class="metadata__type">Contributing Institution:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library</a></dd>

                <dt class="metadata__type">Collection:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library Local History Collection</a></dd>

                <dt class="metadata__type">Identifier:</dt>
                <dd class="metadata__defin">OPL2774, 10511179</dd>

                <dt class="metadata__type">Format:</dt>
                <dd class="metadata__defin">Photographic print, b&ampw, 8.7 x 14.4cm.</dd>

                <dt class="metadata__type">Notes:</dt>
                <dd class="metadata__defin">Orange County</dd>

                <dt class="metadata__type">Subject:</dt>
                <dd class="metadata__defin">California; Orange; picnic; Walther League, Orange County</dd>
              </dl>
            </div>
          </div>
        </figure>
      </div>
      
      <h3>Icon Overlay</h3>

      <div class="row">
        <figure class="listview">
          <div class="col-xs-3">
            <a class="listview__link" href="">
              <span class="fa fa-file-text-o fa-fw icon__overlay"></span>
              <img class="listview__image" src="images/birds1-thumb.jpg" alt="bird">
            </a>
          </div>
          <div class="col-xs-9">
            <div class="listview__metadata">
              <dl class="metadata__list">
                <dt class="metadata__type">Title:</dt>
                <dd class="metadata__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

                <dt class="metadata__type">Creator:</dt>
                <dd class="metadata__defin">Hillebrecht, Henry William</dd>

                <dt class="metadata__type">Date:</dt>
                <dd class="metadata__defin">1909-09-06</dd>

                <dt class="metadata__type">Contributing Institution:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library</a></dd>

                <dt class="metadata__type">Collection:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library Local History Collection</a></dd>

                <dt class="metadata__type">Identifier:</dt>
                <dd class="metadata__defin">OPL2774, 10511179</dd>

                <dt class="metadata__type">Format:</dt>
                <dd class="metadata__defin">Photographic print, b&ampw, 8.7 x 14.4cm.</dd>

                <dt class="metadata__type">Notes:</dt>
                <dd class="metadata__defin">Orange County</dd>

                <dt class="metadata__type">Subject:</dt>
                <dd class="metadata__defin">California; Orange; picnic; Walther League, Orange County</dd>
              </dl>
            </div>
          </div>
        </figure>
      </div>

      <h3>Icon Overlay, No Image</h3>

      <div class="row">
        <figure class="listview">
          <div class="col-xs-3">
            <a class="listview__link" href="">
              <span class="fa fa-file-text-o fa-fw icon__overlay"></span>
              <img class="listview__image--no-image" src="images/transparent.png" alt="">
            </a>
          </div>
          <div class="col-xs-9">
            <div class="listview__metadata">
              <dl class="metadata__list">
                <dt class="metadata__type">Title:</dt>
                <dd class="metadata__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

                <dt class="metadata__type">Creator:</dt>
                <dd class="metadata__defin">Hillebrecht, Henry William</dd>

                <dt class="metadata__type">Date:</dt>
                <dd class="metadata__defin">1909-09-06</dd>

                <dt class="metadata__type">Contributing Institution:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library</a></dd>

                <dt class="metadata__type">Collection:</dt>
                <dd class="metadata__defin"><a href="">Orange Public Library Local History Collection</a></dd>

                <dt class="metadata__type">Identifier:</dt>
                <dd class="metadata__defin">OPL2774, 10511179</dd>

                <dt class="metadata__type">Format:</dt>
                <dd class="metadata__defin">Photographic print, b&ampw, 8.7 x 14.4cm.</dd>

                <dt class="metadata__type">Notes:</dt>
                <dd class="metadata__defin">Orange County</dd>

                <dt class="metadata__type">Subject:</dt>
                <dd class="metadata__defin">California; Orange; picnic; Walther League, Orange County</dd>
              </dl>
            </div>
          </div>
        </figure>
      </div>

      <!-- End List View Component -->
