
<!-- Begin Metadata Component -->

<h3 class="metadata__heading">Metadata Preview. <a href="">View complete record.<span class="fa fa-external-link fa-fw metadata__heading-icon"></span></a></h3>

<dl class="metadata__list">
  <dt class="metadata__type">Title:</dt>
  <dd class="metadata__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

  <dt class="metadata__type">Creator:</dt>
  <dd class="metadata__defin">Hillebrecht, Henry William</dd>

  <dt class="metadata__type">Date:</dt>
  <dd class="metadata__defin">1909-09-06</dd>

  <dt class="metadata__type">Contributing Institution:</dt>
  <dd class="metadata__defin"><a href="">Orange Public Library</a></dd>

  <dt class="metadata__type">Collection:</dt>
  <dd class="metadata__defin"><a href="">Orange Public Library Local History Collection</a></dd>

  <dt class="metadata__type">Identifier:</dt>
  <dd class="metadata__defin">OPL2774, 10511179</dd>

  <dt class="metadata__type">Format:</dt>
  <dd class="metadata__defin">Photographic print, b&amp;w, 8.7 x 14.4cm.</dd>

  <dt class="metadata__type">Notes:</dt>
  <dd class="metadata__defin">Orange County</dd>

  <dt class="metadata__type">Subject:</dt>
  <dd class="metadata__defin">California; Orange; picnic; Walther League, Orange County</dd>
</dl>

<!-- End Metadata Component -->
