
<!-- Begin Metadata Inline Component -->

<dl class="meta-inline__list">
  <dt class="meta-inline__type">Title:</dt>
  <dd class="meta-inline__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

  <dt class="meta-inline__type">Creator:</dt>
  <dd class="meta-inline__defin">Hillebrecht, Henry William</dd>

  <dt class="meta-inline__type">Date:</dt>
  <dd class="meta-inline__defin">1909-09-06</dd>

  <dt class="meta-inline__type">Contributing Institution:</dt>
  <dd class="meta-inline__defin"><a href="">Orange Public Library</a></dd>

  <dt class="meta-inline__type">Collection:</dt>
  <dd class="meta-inline__defin"><a href="">Orange Public Library Local History Collection</a></dd>

  <dt class="meta-inline__type">Identifier:</dt>
  <dd class="meta-inline__defin">OPL2774, 10511179</dd>

  <dt class="meta-inline__type">Format:</dt>
  <dd class="meta-inline__defin">Photographic print, b&amp;w, 8.7 x 14.4cm.</dd>

  <dt class="meta-inline__type">Notes:</dt>
  <dd class="meta-inline__defin">Orange County</dd>

  <dt class="meta-inline__type">Subject:</dt>
  <dd class="meta-inline__defin">California; Orange; picnic; Walther League, Orange County</dd>

</dl>

<!-- End Metadata Inline Component -->
