
<!-- Begin Metadata Block Component -->

<dl class="meta-block__list">
  <dt class="meta-block__type">Title:</dt>
  <dd class="meta-block__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

  <dt class="meta-block__type">Creator:</dt>
  <dd class="meta-block__defin">Hillebrecht, Henry William</dd>

  <dt class="meta-block__type">Date:</dt>
  <dd class="meta-block__defin">1909-09-06</dd>

  <dt class="meta-block__type">Contributing Institution:</dt>
  <dd class="meta-block__defin"><a href="">Orange Public Library</a></dd>

  <dt class="meta-block__type">Collection:</dt>
  <dd class="meta-block__defin"><a href="">Orange Public Library Local History Collection</a></dd>

  <dt class="meta-block__type">Identifier:</dt>
  <dd class="meta-block__defin">OPL2774, 10511179</dd>

  <dt class="meta-block__type">Format:</dt>
  <dd class="meta-block__defin">Photographic print, b&amp;w, 8.7 x 14.4cm.</dd>

  <dt class="meta-block__type">Notes:</dt>
  <dd class="meta-block__defin">Orange County</dd>

  <dt class="meta-block__type">Subject:</dt>
  <dd class="meta-block__defin">California; Orange; picnic; Walther League, Orange County</dd>

</dl>

<!-- <dl class="meta-block__list">

  <dt class="meta-block__type">Image</dt>
  <dd class="meta-block__defin">http://thumbwest-env.elasticbeanstalk.com/clip/178x100/32f66036435e3dc038e821b79cb38833</dd>

  <dt class="meta-block__type">Title</dt>
  <dd class="meta-block__defin">Cawston Ostrich Farm Postcard: Flock of Ostriches</dd>

  <dt class="meta-block__type">Creator</dt>
  <dd class="meta-block__defin">Cawston Ostrich Farm</dd>

  <dt class="meta-block__type">Contributor</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">Date</dt>
  <dd class="meta-block__defin">{u&#39;begin&#39;: u&#39;1896&#39;, u&#39;end&#39;: u&#39;1934&#39;, u&#39;displayDate&#39;: u&#39;1896-1934&#39;}</dd>

  <dt class="meta-block__type">Contributing Institution</dt>
  <dd class="meta-block__defin">South Pasadena Public Library</dd>

  <dt class="meta-block__type">Repository Data</dt>
  <dd class="meta-block__defin">https://registry.cdlib.org/api/v1/repository/126/::South Pasadena Public Library</dd>

  <dt class="meta-block__type">Campus</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">Collection</dt>
  <dd class="meta-block__defin">South Pasadena Local History Images Collection</dd>

  <dt class="meta-block__type">Collection Data
  <dd class="meta-block__defin">https://registry.cdlib.org/api/v1/collection/20710/::South Pasadena Local History Images Collection</dd>

  <dt class="meta-block__type">Identifier</dt>
  <dd class="meta-block__defin">http://ark.cdlib.org/ark:/13030/kt4d5nd3h3                  csp_371                  LP0658                  ark:/13030/kt0q2nc5xj                  http://www.ci.south-pasadena.ca.us/library/index.html</dd>

  <dt class="meta-block__type">Format</dt>
  <dd class="meta-block__defin">1 black and white photographic postcard; 3.5 x 5.5 inches</dd>

  <dt class="meta-block__type">Notes</dt>
  <dd class="meta-block__defin">Postcard from Cawston Ostrich Farm in South Pasadena, CA, featuring a close-up shot of numerous ostriches. Edwin Cawston, who initially established an ostrich breeding farm in Southern California in 1886, opened his famous farm in South Pasadena in 1896. The farm became a popular tourist attraction.</dd>

  <dt class="meta-block__type">Subject</dt>
  <dd class="meta-block__defin">Ostrich farms-California-South Pasadena                           Ostriches                           Cawston Ostrich Farm</dd>

  <dt class="meta-block__type">Rights</dt>
  <dd class="meta-block__defin">Public domain                              Material in the public domain. No restrictions on use.</dd>

  <dt class="meta-block__type">Publisher</dt>
  <dd class="meta-block__defin">South Pasadena Public Library                     Cawston Ostrich Farm</dd>

  <dt class="meta-block__type">Timestamp</dt>
  <dd class="meta-block__defin">April 15, 2015, 5:34 p.m.</dd>

  <dt class="meta-block__type">Id</dt>
  <dd class="meta-block__defin">20710-http://ark.cdlib.org/ark:/13030/kt4d5nd3h3</dd>

  <dt class="meta-block__type">Created</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">Last Modified</dt>
  <dd class="meta-block__defin">&nbsp;</dd>
  
  <dt class="meta-block__type">Campus</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">Repository</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">Collection</dt>
  <dd class="meta-block__defin">&nbsp;</dd>
  
  <dt class="meta-block__type">Coverage</dt>
  <dd class="meta-block__defin">[u&quot;{u&#39;text&#39;: u&#39;South Pasadena (Calif.)&#39;, u&#39;attrib&#39;: {}}&quot;]</dd>

  <dt class="meta-block__type">Language</dt>
  <dd class="meta-block__defin">[u&quot;{u&#39;iso639_3&#39;: u&#39;eng&#39;, u&#39;name&#39;: u&#39;English&#39;}&quot;]</dd>

  <dt class="meta-block__type">Source</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">Type</dt>
  <dd class="meta-block__defin">[u&#39;image&#39;]</dd>

  <dt class="meta-block__type">Date Facet</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">url_item</dt>
  <dd class="meta-block__defin">http://ark.cdlib.org/ark:/13030/kt4d5nd3h3</dd>

  <dt class="meta-block__type">reference_image_md5</dt>
  <dd class="meta-block__defin">32f66036435e3dc038e821b79cb38833</dd>
  
  <dt class="meta-block__type">Relation</dt>
  <dd class="meta-block__defin">[u&#39;http://ark.cdlib.org/ark:/13030/kt1p3019vf&#39;, u&#39;http://www.oac.cdlib.org/findaid/ark:/13030/kt1p3019vf&#39;, u&#39;ark:/13030/kt0q2nc5xj&#39;, u&#39;http://www.ci.south-pasadena.ca.us/library/index.html&#39;, u&#39;http://oac.cdlib.org/&#39;, u&#39;http://calisphere.universityofcalifornia.edu/&#39;]</dd>

  <dt class="meta-block__type">payloads</dt>
  <dd class="meta-block__defin">&nbsp;</dd>

  <dt class="meta-block__type">Score</dt>
  <dd class="meta-block__defin">13.234522</dd>

</dl> -->

<!-- End Metadata Block Component -->
