
<!-- Begin Metadata Block Component -->

<div class="meta-block">

  <dl class="meta-block__list">
    <dt class="meta-block__type">Title</dt>
    <dd class="meta-block__defin">Portrait of Karlheinz Stockhausen, composer</dd>

    <dt class="meta-block__type">Creator</dt>
    <dd class="meta-block__defin">Freeman, Betty, 1921-2009</dd>

    <dt class="meta-block__type">Date Created and/or Issued</dt>
    <dd class="meta-block__defin">1966<br>2003</dd>

    <dt class="meta-block__type">Publisher</dt>
    <dd class="meta-block__defin">Los Angeles Philharmonic Association</dd>

    <dt class="meta-block__type">Contributing Institution</dt>
    <dd class="meta-block__defin">Los Angeles Philharmonic Archives</dd>

    <dt class="meta-block__type">Collection</dt>
    <dd class="meta-block__defin">Records of the Los Angeles Philharmonic Archives</dd>

    <dt class="meta-block__type">Rights Information</dt>
    <dd class="meta-block__defin">Copyrighted<br>
    Transmission or reproduction of materials protected by copyright beyond that allowed by fair use requires the written permission of the copyright owners. In addition, the reproduction of some materials may be restricted by terms of gift or purchase agreements, donor restrictions, privacy and publicity rights, licensing and trademarks. Works not in the public domain cannot be commercially exploited without permission of the copyright owner. Responsibility for any use rests exclusively with the user.</dd>

    <dt class="meta-block__type">Rights Holder and Contact</dt>
    <dd class="meta-block__defin">Los Angeles Philharmonic Association<br>
    Los Angeles Philharmonic Archives (213) 972-7689, archives@laphil.org</dd>

    <dt class="meta-block__type">Date of Copyright</dt>
    <dd class="meta-block__defin">1966</dd>

    <dt class="meta-block__type">Description</dt>
    <dd class="meta-block__defin">Karlheinz Stockhausen at Disneyland</dd>

    <dt class="meta-block__type">Type</dt>
    <dd class="meta-block__defin">Image</dd>

    <dt class="meta-block__type">Format</dt>
    <dd class="meta-block__defin">1 photographic print; 25.5 x 20 cm</dd>

    <dt class="meta-block__type">Identifier</dt>
    <dd class="meta-block__defin">claphila_015<br> 
    ark:/13030/kt3b69r9cn</dd>

    <dt class="meta-block__type">Language</dt>
    <dd class="meta-block__defin">eng</dd>

    <dt class="meta-block__type">Subject</dt>
    <dd class="meta-block__defin">Stackhausen, Karlheinz, 1928-2007 <br>
    Composers</dd>

    <dt class="meta-block__type">Place</dt>
    <dd class="meta-block__defin">Disneyland (Calif.)</dd>

    <dt class="meta-block__type">Source</dt>
    <dd class="meta-block__defin">Selected photograph from the Betty Freeman Papers (SC.MSS.FREE)</dd>

  </dl>

</div>

<!-- End Metadata Block Component -->
