
<!-- Begin Metadata Component -->

<h2 class="meta-complex__heading-complex"><a href="">Get This Object's Information</a></h2>

<dl class="meta-complex__list-complex">
  <dt class="meta-complex__type">Title:</dt>
  <dd class="meta-complex__defin">Walther League Picnic in Orange County Park, Orange, California, 1909</dd>

  <dt class="meta-complex__type">Creator:</dt>
  <dd class="meta-complex__defin">Hillebrecht, Henry William</dd>

  <dt class="meta-complex__type">Date:</dt>
  <dd class="meta-complex__defin">1909-09-06</dd>

  <dt class="meta-complex__type">Contributing Institution:</dt>
  <dd class="meta-complex__defin"><a href="">Orange Public Library</a></dd>

  <dt class="meta-complex__type">Collection:</dt>
  <dd class="meta-complex__defin"><a href="">Orange Public Library Local History Collection</a></dd>

  <dt class="meta-complex__type">Identifier:</dt>
  <dd class="meta-complex__defin">OPL2774, 10511179</dd>

  <dt class="meta-complex__type">Format:</dt>
  <dd class="meta-complex__defin">Photographic print, b&amp;w, 8.7 x 14.4cm.</dd>

  <dt class="meta-complex__type">Notes:</dt>
  <dd class="meta-complex__defin">Orange County</dd>

  <dt class="meta-complex__type">Subject:</dt>
  <dd class="meta-complex__defin">California; Orange; picnic; Walther League, Orange County</dd>

</dl>

<!-- End Metadata Component -->
