
<!-- Object - Buttons Component -->

<div class="obj-buttons">

  <div class="obj-buttons__group1">

    <a class="btn btn-xs obj-buttons__envelope" title="Email" href="">
      <span class="fa fa-envelope-o fa-fw"></span>
    </a>

    <a class="obj-buttons__twitter" title="Twitter" href="">
      <span class="fa fa-twitter-square"></span>
    </a>

    <a class="obj-buttons__facebook" title="Facebook" href="">
      <span class="fa fa-facebook-square"></span>
    </a>

    <a class="btn btn-xs obj-buttons__citation" href="">
      Get Citation
    </a>

  </div>

  <div class="obj-buttons__group2">
  
    <span class="obj-buttons__contact-text">Need more information about this object? Contact the owning institution:</span>

    <a class="btn btn-xs button__contact-owner" href="">
      <span class="fa fa-envelope"></span>
      Contact Owner 
    </a>

    <a class="btn btn-xs obj-buttons__download-image" href="">
      <span class="icon__download-image">
        <span class="fa fa-arrow-circle-o-down"></span>
      </span> Download Image
    </a>

  </div>

</div>

<!-- Object - Buttons Component -->
