
<!-- Object - Harvest Harvest Non-image Component -->

<h2 class="object__page-heading">Text / <strong>Title of Text</strong></h2>

<div class="object__container-hosted-file">

  <a class="obj-harvest__link" href="" target="_blank">
    <div class="icon__centered-overlay-container">
      <span class="fa fa-file-text-o fa-fw obj-harvest__file-icon-overlay"></span>
      <img class="obj-hosted__no-image" src="images/transparent.png" alt="">
    </div>
    <div class="obj-hosted__caption">Download CSV
    </div>
  </a>

</div>

<!-- Object - Harvest Harvest Non-image Component -->
