
<!-- Object - Harvest Non-image Component -->

<h2 class="object__page-heading">Audio / <strong>title of Audio</strong></h2>

<div class="object__container-harvest-non-image">
    
  <span class="fa fa-volume-up obj-harvest-non-image__object-icon"></span>

  <div class="obj-harvest-non-image__text">
    <span>Preview unavailable on Calisphere.</span>
    <a class="obj-harvest-non-image__link" href="">Play audio on contributor's website.</a>
  </div>

</div>

<!-- Object - Harvest Non-image Component -->
