
<!-- Object - Image Component -->

<div class="object__base">

	<h2 class="object__page-heading">Image / <strong>Walther League Picnic</strong></h2>
  
  <div class="object__container">
    <div class="aspect-ratio-container">
    [Image object will go here]
    </div>
	</div>

  <div class="object__buttons">
    <a class="btn btn-xs object-button__envelope" href=""><span class="fa fa-envelope-o fa-fw"></span></a>
    <a class="icon__twitter" href=""><span class="fa fa-twitter-square"></span></a>
    <a class="icon__facebook" href=""><span class="fa fa-facebook-square"></span></a>
    <a class="btn btn-xs object-button__citation" href="">
      Get Citation
    </a>
    <a class="btn btn-xs object-button__download-image" href="">
      <span class="fa-stack icon__download-image">
        <i class="fa fa-circle-o fa-stack-1x"></i>
        <i class="fa fa-arrow-down fa-stack-1x"></i>
      </span> Download Image
    </a>
  </div>

  <div class="object__contact-button">
    <span class="object__contact-button-text">Need more information about this object? Contact the owning institution.</span>
    <a class="btn btn-sm button__contact-owner" href=""><i class="fa fa-envelope"></i> Contact Owner </a>
  </div>

</div>

<!-- Object - Image Component -->
