
<!-- Object - Image Component -->

<div class="object__base">

	<h1>Image / <strong>Walther League Picnic</strong></h1>
  
  <div class="obj__container-osd">
    
    <div id="obj__osd"></div>

    <div class="obj__osd-button-group">
      
      <a id="obj__osd-button-home" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-refresh fa-fw"></span>
      </a>
      <a id="obj__osd-button-zoom-in" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-plus fa-fw"></span>
      </a>
      <a id="obj__osd-button-zoom-out" class="btn btn-default obj__osd-button" href="#">
        <span class="fa fa-minus fa-fw"></span>
      </a>
      <a id="obj__osd-button-fullscreen" class="btn btn-default obj__osd-button" href="">
        <span class="fa fa-expand fa-fw"></span>
      </a>

    </div>

    <script src="bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js"></script>
    
    <script type="text/javascript">
        var viewer = OpenSeadragon({
            id: "obj__osd",
            tileSources: [{"profile": ["http://iiif.io/api/image/2/level2.json", {"supports": ["canonicalLinkHeader", "profileLinkHeader", "mirroring", "rotationArbitrary", "sizeAboveFull"], "qualities": ["default", "bitonal", "gray", "color"], "formats": ["jpg", "png", "gif", "webp"]}], "tiles": [{"width": 1024, "scaleFactors": [1, 2, 4, 8, 16, 32, 64, 128]}], "protocol": "http://iiif.io/api/image", "sizes": [{"width": 35, "height": 48}, {"width": 70, "height": 95}, {"width": 140, "height": 189}, {"width": 280, "height": 377}, {"width": 559, "height": 753}, {"width": 1117, "height": 1506}, {"width": 2233, "height": 3011}, {"width": 4466, "height": 6022}], "height": 6022, "width": 4466, "@context": "http://iiif.io/api/image/2/context.json", "@id": "http://ucldciiifwest-env.elasticbeanstalk.com/001687cd-e327-4ed1-9788-da3899715794"}],
            zoomInButton:   "obj__osd-button-zoom-in",
            zoomOutButton:  "obj__osd-button-zoom-out",
            homeButton:     "obj__osd-button-home",
            fullPageButton: "obj__osd-button-fullscreen"
        });
    </script>

	</div>

</div>

<!-- Object - Image Component -->
