
<!-- Object - Hosted Video Component -->

<div class="object__base">

	<h2 class="object__page-heading">Video / <strong>Ampex Videofile Information System</strong></h2>
  
  <div class="obj-container__video">

    <video controls="controls" class="mejs-player" preload="none">
      <source src="http://av-cdn.calisphere.org/cst_00002_access_1500Kbps.mpeg4" type="video/mp4">
    </video>
  
    <script>
    <!--
    /*
    var opts = {
      // http://stackoverflow.com/questions/9113633/replacing-media-source-http-with-rtmp-in-mediaelementsjs-based-on-browser-capa
      success: function(media, node, player) {
        if (media.pluginType == 'flash' && node.getAttribute('data-rtmp')) {
          media.setSrc(node.getAttribute('data-rtmp'));
          media.load();
          media.play();
        }
      }, 
      features: ['playpause','progress','current','duration','tracks','volume','fullscreen' ,'googleanalytics'],
      pauseOtherPlayers: true,
    };
    if(FlashDetect.installed){
      opts.mode='shim';
    }
    $($('video').mediaelementplayer(opts));
    */
    -->
    </script>

  </div>

</div>

<!-- Object - Hosted Video Component -->
