
<!-- Object - Harvest Non-image Text Component -->

<h2 class="object__page-heading">Text / <strong>title of Text</strong></h2>

<div class="object__container-harvest-non-image">
    
  <!-- <span class="fa fa-volume-up obj-harvest-non-image__object-icon"></span> -->

  <!-- <span class="fa-stack obj-harvest-non-image__object-icons">
	  <i class="fa fa-volume-up fa-stack-1x obj-harvest-non-image__object-icon1"></i>
	  <i class="fa fa-ban fa-stack-2x obj-harvest-non-image__object-icon2"></i>
	</span> -->

	<span class="obj-harvest-non-image__object-icon">
	  <div class="icon__centered-overlay-container">
      <span class="fa fa-file-text-o fa-fw obj-harvest-non-image__file-icon-overlay"></span>
      <img class="obj-hosted__no-image" src="images/transparent.png" alt="">
    </div>
	</span>

  <div class="obj-harvest-non-image__object">
    <span class="obj-harvest-non-image__text">Preview unavailable on Calisphere.</span>
    <a class="obj-harvest-non-image__link" href="">See text on contributor's website.</a>
  </div>

</div>

<!-- Object - Harvest Non-image Text Component -->
