
<!-- Object - Harvest Harvest Non-image Component -->

<h2 class="object__page-heading">Text / <strong>Title of Text</strong></h2>

<div class="object__container-hosted-file">

  <a class="obj-harvest__link" href="" target="_blank">
    <figure>
      <div class="obj-harvest__img-container">
        <div class="icon__overlay-container">
          <span class="fa fa-file-text-o fa-fw obj-harvest__file-icon-overlay"></span>
          <img class="thumbview__image--no-image" src="images/transparent.png" alt="">
        </div>
      </div>
      <figcaption class="obj-harvest__caption">Download CSV
      </figcaption>
    </figure>
  </a>

</div>

<!-- Object - Harvest Harvest Non-image Component -->
