
<!-- Object - Hosted Audio Component -->

<div class="object__base">

	<h2 class="object__page-heading">Sound / <strong>Dancer holding bird at the Stratford Inn</strong></h2>
  
  <div class="object__container-generic">

    <audio controls="controls" width="100%" class="mejs-player" preload="none">
      <source src="http://av-cdn.calisphere.org/cbpf_00004_t1_a_access.mp3" type="audio/mpeg">
    </audio>

  </div>

  <div class="object__buttons">
    <a class="btn btn-xs object-button__envelope" href=""><span class="fa fa-envelope-o fa-fw"></span></a>
    <a class="icon__twitter" href=""><span class="fa fa-twitter-square"></span></a>
    <a class="icon__facebook" href=""><span class="fa fa-facebook-square"></span></a>
    <a class="btn btn-xs object-button__citation" href="">
      Get Citation
    </a>
    <a class="btn btn-sm object-button__download-image" href="">
      <span class="icon__download-image">
        <i class="fa fa-arrow-circle-o-down"></i>
      </span> Download Image
    </a>
  </div>

  <div class="object__contact-button">
    <span class="object__contact-button-text">Need more information about this object? Contact the owning institution.</span>
    <a class="btn btn-sm button__contact-owner" href=""><i class="fa fa-envelope"></i> Contact Owner </a>
  </div>

</div>

<!-- Object - Hosted Audio Component -->
