
<!-- Begin Carousel Component -->

<h2 class="obj-carousel__metadata-header"><a href="">Get This Object's Information</a></h2>

<div class="obj-carousel__metadata">
  Object metadata goes here.
</div>

<div class="obj-carousel js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "pageDots": false, "percentPosition": false }'>
  
  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz1.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="" class="obj-carousel__link--selected">
      <img src="images/lazyfonz2.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz3.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz4.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz5.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz6.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz1.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz2.png" alt="The Fonz">
    </a>
  </div>

  <div class="obj-carousel__item">
    <a href="">
      <img src="images/lazyfonz3.png" alt="The Fonz">
    </a>
  </div>

</div>

<!-- End Carousel Component -->
