
<!-- Object - Harvest Harvest Non-image Component -->

<h2 class="object__page-heading">Audio / <strong>title of Audio</strong></h2>

<div class="object__container-harvest-non-image">

  <div class="row">
    
    <div class="col-sm-1">
      <span class="fa fa-volume-up obj-harvest-non-image__object-icon"></span>
    </div>

    <div class="col-sm-11">
      <p>Preview unavailable on Calisphere.</p>
      <p>Play audio on contributor's website. <span class="fa fa-external-link obj-harvest-non-image__link-icon"></span></p>
    </div>

  </div>

</div>

<!-- Object - Harvest Harvest Non-image Component -->
