
<!-- Object - Harvest Image Component -->

<h1 class="obj__heading">Image / <strong>Yellow Bird with a long title - Lorem ipsum dolor sit amet consectetur adipisicing elit perspiciatis</strong></h1>

<div class="obj-container__simple-image">

  <a class="obj__link" href="">
    <div class="obj__icon-container">
    	<img class="obj__simple-image" src="images/birds1-thumb.jpg" alt="bird">
      <div class="obj__overlay-icon fa-volume-up"></div>
    </div>
    <div class="obj__caption">View source image on contributor's website.
    </div>
  </a>

</div>

<!-- Object - Harvest Image Component -->
