
<!-- Begin Complex Carousel Component -->

<div class="carousel-complex">
  
  <div class="carousel-complex__item">
    <a href="" class="carousel-complex__link" class="carousel-complex__link">
      <img src="images/lazyfonz1.png" alt="The Fonz">
    </a>
  </div>

  <div class="carousel-complex__item">
    <a href="" class="carousel-complex__link--selected">
      <img src="images/lazyfonz2.png" alt="The Fonz">
    </a>
  </div>

  <div class="carousel-complex__item">
    <a href="" class="carousel-complex__link">
      <img src="images/lazyfonz3.png" alt="The Fonz">
    </a>
  </div>

  <div class="carousel-complex__item">
    <a href="" class="carousel-complex__link">
      <img src="images/lazyfonz4.png" alt="The Fonz">
    </a>
  </div>

  <div class="carousel-complex__item">
    <a href="" class="carousel-complex__link">
      <img src="images/lazyfonz5.png" alt="The Fonz">
    </a>
  </div>

</div>

<!-- End Complex Carousel Component -->
