
<!-- Begin Complex Carousel Component -->

<div class="carousel-complex">

  <div class="carousel-complex__fixed-item">
    <a href="" class="carousel-complex__fixed-link--selected">
      <div class="carousel-complex__fixed-content">
      cover page
      </div>
    </a>
  </div>

  <div class="carousel-complex__item-container">
  
    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/80x120?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item--selected">
      <a href="" class="carousel-complex__link">
        <img class="carousel-complex__img--selected" src="http://placehold.it/120x80?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/80x120?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item--no-image--selected">
      <a href="" class="carousel-complex__link">
        <span class="fa fa-file-text-o fa-fw carousel-complex__icon-overlay"></span>
      </a>
    </div>

    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/80x120?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/120x80?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/80x120?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/120x80?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/120x80?text=Thumb">
      </a>
    </div>

    <div class="carousel-complex__item">
      <a href="" class="carousel-complex__link">
        <img class="carousel-complex__img" src="http://placehold.it/80x120?text=Thumb">
      </a>
    </div>

  </div>

</div>

<!-- End Complex Carousel Component -->
