
<!-- Object - Harvest Image Component -->

<h2 class="object__page-heading">Image / <strong>Walther League Picnic</strong></h2>

<div class="object__container-generic">

  <a class="obj-harvest__link" href="" target="_blank">
    <div>
      <div class="icon__overlay-container">
        <span class="fa fa-external-link fa-fw obj-harvest__external-link-icon-overlay"></span>
        <img class="obj-harvest__image" src="images/birds1-thumb.jpg" alt="bird">
      </div>
      <a class="obj-harvest__caption" href="">Preview. View on contributor's website.
      </a>
    </div>
  </a>

</div>

<!-- Object - Harvest Image Component -->
