
      <!-- Begin Dropdown Pagination Component -->

      <div class="pag-dropdown">

        <button class="btn btn-link pag-dropdown__view-number">View 50</button>

        <button class="btn btn-link pag-dropdown__arrow-icon">
          <span class="fa fa-caret-left fa-lg"></span>
        </button>
        
        <label for="pag-dropdown__select" class="sr-only">Current Number</label>
        
        <select id="pag-dropdown__select" class="pag-dropdown__select" name="" id="">
          <option value="">1</option>
          <option value="" selected>2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
          <option value="">6</option>
          <option value="">7</option>
          <option value="">8</option>
          <option value="">9</option>
          <option value="">10</option>
        </select>
        
        <span class="pag-dropdown__total-number">of 7</span>

        <button class="btn btn-link pag-dropdown__arrow-icon">
          <span class="fa fa-caret-right fa-lg"></span>
        </button>

      </div>

    <!-- End Dropdown Pagination Component -->
