
    <!-- Begin Related Collections Group Component -->

    <div class="related-coll" id="related-coll">

      <h3 class="related-coll__title">12 Collections Found with Similar Objects</h3>

      <div class="col-xs-12 col-sm-4">
        <figure class="related-coll__container">
          <a class="related-coll__link" href="">
            <div class="col-xs-12 col-sm-12">
              <img class="related-coll__image1" src="images/birds1-thumb.jpg" alt="bird">
              <img class="related-coll__image2" src="images/birds1-thumb.jpg" alt="bird">
              <img class="related-coll__image3" src="images/birds1-thumb.jpg" alt="bird">
            </div>
            <div class="col-xs-12 col-sm-12">
              <figcaption class="related-coll__caption">
                <p>Los Angeles Times Photographic Archive</p>
                <p>Institution: UCLA, Library Special Collections, Charles E. Young Research Library</p>
              </figcaption>
            </div>
          </a>
        </figure>
      </div>

      <div class="col-xs-12 col-sm-4">
        <figure class="related-coll__container">
          <a class="related-coll__link" href="">
            <div class="col-xs-12 col-sm-12">
              <img class="related-coll__image1" src="images/birds1-thumb.jpg" alt="bird">
              <img class="related-coll__image2" src="images/birds1-thumb.jpg" alt="bird">
              <img class="related-coll__image3" src="images/birds1-thumb.jpg" alt="bird">
            </div>
            <div class="col-xs-12 col-sm-12">
              <figcaption class="related-coll__caption">
                <p>Los Angeles Times Photographic Archive</p>
                <p>Institution: UCLA, Library Special Collections, Charles E. Young Research Library Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </figcaption>
            </div>
          </a>
        </figure>
      </div>

      <div class="col-xs-12 col-sm-4">
        <figure class="related-coll__container">
          <a class="related-coll__link" href="">
            <div class="col-xs-12 col-sm-12">
              <img class="related-coll__image1" src="images/birds1-thumb.jpg" alt="bird">
              <img class="related-coll__image2" src="images/birds1-thumb.jpg" alt="bird">
              <img class="related-coll__image3" src="images/birds1-thumb.jpg" alt="bird">
            </div>
            <div class="col-xs-12 col-sm-12">
              <figcaption class="related-coll__caption">
                <p>Los Angeles Times Photographic Archive</p>
                <p>Institution: UCLA, Library Special Collections, Charles E. Young Research Library</p>
              </figcaption>
            </div>
          </a>
        </figure>
      </div>

      <button class="btn btn-link related-coll__prev-button">
        <span class="fa fa-caret-left"></span>
        <abbr title="Previous">Prev</abbr>
      </button>

      <button class="btn btn-link related-coll__next-button">
        Next
        <span class="fa fa-caret-right"></span>
      </button>

    </div>

    <!-- End Related Collections Group Component -->
