
          <!-- Begin Global Search Field -->

          <div class="global-search">
            <label for="global-search__field" class="global-search__label">Search the digital library</label>
            <div class="input-group">
              <input id="global-search__field" type="search" class="form-control global-search__field">
              <span class="input-group-btn">
                <button class="btn btn-default global-search__button" type="button"><span class="fa fa-search"></span>
                </button>
              </span>
            </div>
          </div>

          <!-- End Global Search Field -->
