
          <!-- Begin Refine Search Field -->

          <div class="refine-search">
            <label for="refine-search__field" class="refine-search__label">Search collection</label>
            <div class="input-group">
              <input id="refine-search__field" type="search" name="q" class="form-control refine-search__field" form="facet">
              <span class="input-group-btn">
                <button class="btn btn-default refine-search__button" type="submit" form="facet">Search
                </button>
              </span>
            </div>
          </div>

          <!-- End Refine Search Field -->
