
          <!-- Begin Search Collection Field -->

          <div class="search-collection">
            <label for="search-collection__field" class="search-collection__label">Search within collection</label>
            <div class="input-group">
              <input id="search-collection__field" type="search" name="q" class="form-control search-collection__field" form="">
              <span class="input-group-btn">
                <button class="btn btn-default search-collection__button" type="submit" form="">Search
                </button>
              </span>
            </div>
          </div>

          <!-- End Search Collection Field -->
