
          <!-- Begin Search Within Field -->

          <div class="search-within">
            <label for="search-within__field" class="search-within__label">Search within results</label>
            <div class="input-group">
              <input id="search-within__field" type="search" name="q" class="form-control search-within__field">
              <span class="input-group-btn">
                <button class="btn btn-default search-within__button" type="submit">Refine
                </button>
              </span>
            </div>
          </div>

          <!-- End Search Within Field -->
