
<!-- Begin Static About Component -->

<div class="static">
  
  <div class="col-sm-8 static__main">
    
		<p><strong>Calisphere is the University of California's Free public gateway to a world of prinary sources.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam magnam, eaque at architecto, iure asperiores explicabo, possimus maiores, officiis nemo numquam quibusdam velit totam vel placeat corporis molestiae vero assumenda! <a href="">See the list of contributing institutions.</a></p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eos, doloribus quaerat quis atque? Quo provident, impedit at, repellendus illum praesentium sunt. Reprehenderit odit, sint consequuntur nulla esse! Ut, cupiditate! <a href="">Learn more about the CDL.</a></p>

		<h2>Designed for Classroom Use</h2>

		<p><strong>A variety of primary sources have been collected into sets that support the California Content Standards in</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente iure, placeat obcaecati explicabo tenetur aspernatur? Quaerat perspiciatis laborum minus, et aspernatur illum, dolore, fugit libero corrupti tempore quas est facere.</p>

		<ul>
			<li><a href="">Themed Collections:</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa commodi consectetur molestias vero hic nisi aspernatur animi beatae debitis nobis.</li>
			<li><a href="">California Cultures:</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ea non commodi totam quo ab sit repellat ad necessitatibus officiis accusantium dolore quibusdam.</li>
			<li><a href="">Japanese American Relocation Digital Archive:</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nisi voluptatem obcaecati deleniti, illo voluptatum suscipit in corrupti.</li>
			<li><a href="">Local History Mapped:</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore veritatis soluta enim molestiae minus molestias tempora quos.</li>
			<li><a href="">Browse A-Z:</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate rem voluptatibus, placeat, vel ducimus expedita accusantium nulla delectus quod, aliquam omnis facere, optio accusamus!</li>
		</ul>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, saepe quasi tenetur expedita adipisci amet in, impedit soluta sunt consectetur voluptatibus voluptate dignissimos nobis exercitationem nisi ratione qui, and more.</p>

		<h2>Access to Hundreds of UC Web Sites</h2>

		<p><strong>Calisphere is a single point of access to more than <a href="">500 UC web</a> sites that explore the diverse interests of the University of California Campuses.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam amet similique impedit ipsam omnis animi voluptates ex incidunt nulla accusamus culpa, corporis maxime. Accusamus at impedit saepe corrupti, and much more.</p>

  </div>

  <div class="col-sm-4 static__sidebar">
    
  	<h3 class="static__sidebar-heading">Learn More</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea non earum, minus sequi! Atque quia illo porro in voluptatem, mollitia quas laboriosam commodi assumenda accusamus distinctio esse vel, sit aliquam.</p>

  </div>
  
</div>

<!-- End Static About Component -->
