
<!-- Begin Static About Component -->

<div class="static">
  
  <div class="col-sm-8">
    
		<p><strong>Calisphere is the University of California's Free public gateway to a world of prinary sources.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam magnam, eaque at architecto, iure asperiores explicabo, possimus maiores, officiis nemo numquam quibusdam velit totam vel placeat corporis molestiae vero assumenda!</p>

  </div>

  <div class="col-sm-4">
    
    <div class="static__sidebar">
    	<h3>Learn More</h3>
    </div>

  </div>
  
</div>

<!-- End Static About Component -->
