
            <!-- Begin Thumbview Component -->

            <div class="row thumbview">

              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container">
                  <a class="thumbview__link" href="">
                    <div class="icon__overlay-container">
                      <span class="fa fa-play-circle-o fa-fw icon__overlay"></span>
                      <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    </div>
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container">
                  <a class="thumbview__link" href="">
                    <div class="icon__overlay-container">
                      <span class="fa fa-volume-up fa-fw icon__overlay"></span>
                      <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    </div>
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container">
                  <a class="thumbview__link" href="">
                    <div class="icon__overlay-container">
                      <span class="fa fa-file-text-o fa-fw icon__overlay"></span>
                      <img class="thumbview__image--no-image" src="images/transparent.png" alt="">
                    </div>
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container">
                  <a class="thumbview__link" href="">
                    <div class="icon__overlay-container">
                      <span class="fa fa-volume-up fa-fw icon__overlay"></span>
                      <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    </div>
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbview__container" data-toggle="popover" data-content="<img class='popover__img-popover' src='images/birds1.jpg'> Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.">
                  <a class="thumbview__link" href="#">
                    <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
                    <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos pariatur perspiciatis et assumenda tenetur dignissimos ipsa recusandae quae adipisci! Dolorem, vitae consequatur nihil sed nemo accusamus amet, voluptas quaerat.
                    </figcaption>
                  </a>
                </figure>
              </div>

            </div>

            <!-- End Thumbview Component -->
