
      <!-- Begin Thumbnail Component -->

      <div class="row thumbview">
        <div class="col-xs-2">
          <figure class="thumbview__container">
            <a class="thumbview__link" href="">
              <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
            </a>
            <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </figcaption>
          </figure>
        </div>
      </div>

      <h3>With Icon Overlays</h3>

      <div class="row thumbview">
        <div class="col-xs-2">
          <figure class="thumbview__container">
            <a class="thumbview__link" href="">
              <span class="fa fa-play-circle-o fa-fw icon__overlay"></span>
              <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
            </a>
            <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="row thumbview">
        <div class="col-xs-2">
          <figure class="thumbview__container">
            <a class="thumbview__link" href="">
              <span class="fa fa-volume-up fa-fw icon__overlay"></span>
              <img class="thumbview__image" src="images/birds1-thumb.jpg" alt="bird">
            </a>
            <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </figcaption>
          </figure>
        </div>
      </div>

      <h3>Without Image</h3>

      <div class="row thumbview">
        <div class="col-xs-2">
          <figure class="thumbview__container">
            <a class="thumbview__link" href="">
              <span class="fa fa-file-text-o fa-fw icon__overlay"></span>
              <img class="thumbview__image--no-image" src="images/transparent.png" alt="">
            </a>
            <figcaption class="thumbview__caption">Here is a colorful bird. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </figcaption>
          </figure>
        </div>
      </div>

      <!-- End Thumbnail Component -->
