{% extends 'calisphere/base.html' %}

{% block content %}

<h1>Contact Calisphere</h1>

<div class="static">

  {{ request.META.HTTP_HOST }}

  <div class="col-sm-8 static__main">
    <form method="post">{% csrf_token %}
    {% for field in form %}
      {% if field.label != "Referer" %}
      <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}<div>{{ field }}</div>
      </div>
      {% endif %}
    {% endfor %}
      <div class="form-group">
        <label for="referer">
          Last page viewed:
        </label> {{ request.META.HTTP_REFERER }}
        <input type="hidden" name="referer" value="{{ request.META.HTTP_REFERER }}">
        <input type="submit" value="Submit">
      </div>
    </form>

  </div>

  <div class="col-sm-4 static__sidebar">

        <h3 class="static__sidebar-heading">Don't want to email?</h3>
        <p><a href="http://www.calisphere.universityofcalifornia.edu/contact-us-faq.html">Calisphere classic contact form</a></p>
        <div>Helpline (510) 987-0555<br/>
         Mon - Fri, 8 AM - 5 PM</div>

  </div>
{% endblock %}
