{% extends 'calisphere/base.html' %}

{% block content %}

<h1>Contact Calisphere</h1>
<p>Please note that Calisphere does not own the items or collections on the site and has no further information about them. Questions about items and collections should be directed to their contributing institutions. Use the "contact owner" button or visit <a href="/institutions/" data-pjax="js-pageContent">the institution's page</a> for more information. If you have a question about using an item you found on Calisphere, you may want to first consult the <a href="/terms/" data-pjax="js-pageContent">Terms of Use</a>. Other frequently asked questions are addressed on our <a href="/help/" data-pjax="js-pageContent">help page</a>.</p>
<p>Use this form to report technical problems, send us comments, or ask questions about Calisphere.</p>
<div class="static">

  <div id="contact-us-form" class="col-sm-8 static__main">
    <form method="post">{% csrf_token %}
    {% for field in form %}
      {% if field.label != "Referer" %}
      <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}<div>{{ field }}</div>
      </div>
      {% endif %}
    {% endfor %}
      <div class="form-group">
        <label for="referer">
          Last page viewed:
        </label> {{ request.META.HTTP_REFERER }}
        <input type="hidden" name="referer" value="{{ request.META.HTTP_REFERER }}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-calisphere" value="Submit">Submit</button>
      </div>
    </form>

  </div>

  <div class="col-sm-4 static__sidebar">

        <h3 class="static__sidebar-heading">How can we help you?</h3>
        <p>Our <a href="/help/" data-pjax="js-pageContent">help page</a> contains search tips and answers to many frequently asked questions, such as how to find more information about an item or collection. If you're wondering about permissions and what you can do with items you find on Calisphere, a good starting point is the <a href="/terms/" data-pjax="js-pageContent">terms of use</a>.</p>
        <br>
        <h3 class="static__sidebar-heading">Contact information</h3>
        <p>Calisphere is a project of the University of California Libraries, developed and maintained by the <a href="http://cdlib.org/">California Digital Library</a>.</p>
        <div>California Digital Library (CDL)<br>
        Office of the President, University of California<br>
        415 20th Street, 4th Floor<br>
        Oakland, CA 94612-2901<br>
        <br>
CDL Helpline: (510) 987-0555<br>
CDL Administration: (510) 987-0425<br>
CDL Fax: (510) 893-5212</div>

  </div>
{% endblock %}
