# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_custom_container.html
# packages:
#  yum:
#    postgresql94-devel: []

container_commands:
  01syncdb:
    command: "python manage.py migrate --noinput"
  02load:
    command: "./load-content.sh"
  03collectstatic:
    command: "python manage.py collectstatic --noinput"
  04setsite:
    command: "python manage.py loaddata fixtures/sites.json"
  05sitemaps:
    command: "python manage.py calisphere_refresh_sitemaps"


# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_django.html

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: public_interface/wsgi.py
#  - option_name: DJANGO_SETTINGS_MODULE
#    value: mysite.settings

