{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" href="{% static "styles/main.css" %}"/>
    {% block styles %}{% endblock %}

    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bower_components/underscore/underscore.js" %}"></script>
    <script src="{% static "scripts/amy-autocomplete.js" %}"></script>
    {% block scripts %}{% endblock %}
    {% block inline-scripts %}{% endblock %}
  </head>
  <body>
    {% include "public_interface/header.html" %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    {% block footerScripts %}{% endblock %}
  </body>
</html>
