{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    {% block styles %}{% endblock %}
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% include "public_interface/header.html" %}
    
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    
    {% block footerScripts %}{% endblock %}
  </body>
</html>