{% extends "public_interface/base.html" %}
{% load staticfiles %}

{% block content %}
<h2 class="text-center">Collections in Calisphere</h2>
<div class="row" style="margin: 20px 0;">
  <div class="col-md-10 col-md-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet ultricies purus vitae hendrerit. Cras non ornare orci. Mauris malesuada, nunc quis vestibulum adipiscing, est mauris ultricies ligula, eu ornare velit diam nec libero. Praesent euismod dui non nisi pellentesque, ac ornare arcu ullamcorper. Vestibulum mi metus, rhoncus vel adipiscing ac, dignissim a lectus. Nulla elementum imperdiet lectus nec dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ligula enim, tristique id leo vitae, consequat viverra nunc. In pulvinar vehicula dolor. Donec dignissim faucibus est, nec posuere dolor rhoncus ut. Sed at sodales nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam eget mollis neque.</div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-2 col-md-offset-3"><button class="btn btn-default btn-lg btn-block">Random Explore</button></div>
  <div class="col-md-2"><button class="btn btn-default btn-lg btn-block">A-Z</button></div>
  <div class="col-md-2"><button class="btn btn-default btn-lg btn-block">Keyword Search</button></div>
</div>
{% block collections %}
{% endblock %}

{% endblock %}