{% extends "public_interface/collections.html" %}

{% block collections %}
<div style="background-color: #d6d6d6; border-color: #c5c5c5; border-radius: 4px; padding: 15px 35px;">
  <div class="row">
    <div class="col-md-12" style="padding: 3px;"><h4>Henry O. Nightingale Diaries</h4></div>
  </div>
  <div class="row">
    <div class="col-md-3" style="background-color: #c5c5c5; border-color: #d4d4d4; border-radius: 4px; padding: 3px; height: 250px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet ultricies purus vitae hendrerit. Cras non ornare orci. Mauris malesuada, nunc quis vestibulum adipiscing, est mauris ultricies ligula, eu ornare velit diam nec libero. Praesent euismod dui non nisi pellentesque, ac ornare arcu ullamcorper. 
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"><button class="btn btn-default">View Collection</button></div>
  </div>
</div>
{% endblock %}                                                                                                                                                                                                                                                                                                                                                                                               