{% extends "public_interface/base.html" %}
{% load solrapi-extras %}
{% load staticfiles %}

{% block styles %}
<style type="text/css">
.title {
  position: absolute; 
  z-index: 1;
  top: 30px;
  left: 140px;
  width: 200px;
  padding: 5px 5px;
  
  background: rgba(256, 256, 256, 1);
  border: 1px solid #DDD;
  border-radius: 5px;
  
  visibility: hidden; 
  opacity:0;
}

.imgWrap:hover .title {visibility: visible; opacity: 1;}
.filter-pill {padding: 3px 6px !important; margin-bottom: 3px !important; font-size: 75% !important; font-weight: bold !important;}

</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include "public_interface/forms/refineQuery.html" %}
    {% include "public_interface/forms/faceting.html" %}
  </div>
  <div class="col-md-9">
    <div class="row" style="padding-bottom: 20px">
      <div class="col-md-4">
        {{ numFound }} objects found in {{ facets.collection_name|length }} collections<br>
      </div>
      <div class="col-md-4">
        <input form="facet" type="hidden" id="view_format" name="view_format" value="{{ view_format }}">
        <a onClick="$('#view_format').prop('value', 'thumbnails'); $('#facet').submit();">Thumbnails</a> | 
        <a onClick="$('#view_format').prop('value', 'list'); $('#facet').submit();">List</a>
      </div>
      <div class="col-md-4">
        {% include "public_interface/forms/paginate.html" %}
      </div>
    </div>

    <!-- filter pills -->
    <div class="row">
      <div class="col-md-12">
        {% for facet_type in FACET_TYPES %}
          {% for filter in filters|get_item:facet_type.0 %}
            <button type="button" class="btn btn-info filter-pill"
              onClick="$('#{{ filter|slugify }}.facet-{{ facet_type.0 }}').prop('checked', false); $('#facet').submit();">
              {{ filter }} <span class="glyphicon glyphicon-remove" style="padding-left: 5px"></span>
            </button>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    <form id="object-view" action="/objectView/" method="post">
      {% csrf_token %}
      <input type="hidden" name="object_id" id="object_id" value=""/>
      <input type="hidden" name="q" value="{{ q }}"/>
      <input type="hidden" name="start" value="{{ start }}"/>
      {% if filters %}
        {% for facet_type in FACET_TYPES %}
          {% for filter in filters|get_item:facet_type.0 %}
            <input class="hidden" type="checkbox" name="{{ facet_type.0 }}" value="{{ filter }}" checked/>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </form>

    <!-- search results -->
    {% if view_format == "thumbnails" %}
      {% include "public_interface/thumbnails-results.html" %}
    {% elif view_format == "list" %}
      {% include "public_interface/list-results.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}