.title {
  position: absolute; 
  z-index: 1;
  top: 30px;
  left: 140px;
  width: 200px;
  padding: 5px 5px;
  
  background: rgba(256, 256, 256, 1);
  border: 1px solid #DDD;
  border-radius: 5px;
  
  visibility: hidden; 
  opacity:0;
}

.imgWrap:hover .title {visibility: visible; opacity: 1;}
.filter-pill {padding: 3px 6px !important; margin-bottom: 3px !important; font-size: 75% !important; font-weight: bold !important;}
