{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}
{% load calisphere-extras %}
{% load markdown_filter %}

{% block page-metadata %}
{# {% include "calisphere/microdata.html" with title=item.title.0 description=item.description %} #}
{% endblock %}

{% block content %}
  <nav role="navigation">
    <ol id="global__breadcrumb">
      <li><a href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Exhibitions</a></li>
    </ol>
  </nav>
  
  <h1 class="global__breadcrumb-header" id="js-exhibit-title" data-slug="{{ essay.slug }}">Essay: {{ essay.title }}</h1>
  
  <div class="exhibit__hero" style="background-image: url('{{ thumbnailUrl }}clip/1400x280/{{ essay.hero }}')">
    <div class="col-sm-6">
      {% if essay.blockquote %}
        <blockquote class="exhibit__blockquote">{{ essay.blockquote }}</blockquote>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="exhibit__overview" id="overview">
        {% include "exhibits/render_as.html" with render_as=essay.render_as text=essay.essay truncate=False container_class="js-exhibit__overview" %}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="exhibit__notes">
        {% if essay.go_further %}
          <div class="essay__note">
            <h3>Go further</h3>
            {% include "exhibits/render_as.html" with render_as=essay.go_further_render_as text=essay.go_further truncate=False container_class="" %}
          </div>
        {% endif %}
        {% if essay.historicalessayexhibit_set.all|length > 0 %}
          <div class="essay__note">
            <h3>Related exhibits</h3>
            {% for hee in essay.historicalessayexhibit_set.all %}
              <a href="{{ hee.exhibit.get_absolute_url }}">{{ hee.exhibit }}</a><br/>
            {% endfor %}
          </div>
        {% endif %}
        {% if essay.historicalessaytheme_set.all|length > 0 %}
          <div class="essay__note">
            <h3>Related themes</h3>
            {% for het in essay.historicalessaytheme_set.all %}
              <a href="{{ het.theme.get_absolute_url }}">{{ het.theme }}</a><br/>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if essay.byline %}
  <div class="row">
    <h2>About this essay:</h2>
    {% include "exhibits/render_as.html" with render_as=essay.byline_render_as text=essay.byline truncate=False container_class="" %}
  </div>
  {% endif %}

{% endblock %}
