{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}
{% load calisphere-extras %}
{% load markdown_filter %}

{% block page-metadata %}
{# {% include "calisphere/microdata.html" with title=item.title.0 description=item.description %} #}
{% endblock %}

{% block content %}
{% include "exhibits/exhibitsHeader.html" with active="random" %}

<div class="exhibitDirectory__exhibits">
  {% for set in sets %}
    <div style="display: flex; align-items: center">
    {% for type, entry in set %}
      {% if type == 'exhibit' %}
        <div style="flex: 1 1 auto;">
          <a href="{{ entry.get_absolute_url }}" data-pjax="js-pageContent">
            <div class="exhibit__lockup--med">
              <div class="exhibit__lockup--med-image">
                <div class="aspect-ratio-content exhibit__lockup--med-image-content" style="background-image: url('{{ entry.exhibit_lockup }}');">
                </div>
              </div>
              <div class="exhibit__lockup--med-title">
                <div class="aspect-ratio-content exhibit__lockup--med-title-content">{{ entry }}</div>
              </div>
            </div>
          </a>
        </div>
      {% else %}
        <div style="flex: 2 2 auto;">
          <a href="{{ entry.get_absolute_url }}" data-pjax="js-pageContent">
            <div class="theme__lockup--horizontal">
              <div class="theme__lockup--horizontal-image">
                <div class="aspect-ratio-content theme__lockup--horizontal-image-content" style="background-image: url('{{ entry.theme_lockup }}');">
                  <div class="theme__lockup--horizontal-title">
                    {{ entry.title }}
                    <div class="theme__lockup--horizontal-exhibit-count">{{ entry.exhibittheme_set.all|length }} exhibitions</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endfor %}
</div>

{% endblock %}