<h1>Exhibitions on Calisphere</h1>

<div class="collect-intro">

  <div class="row">
    <div class="col-xs-12 col-sm-6 collect-intro__overview">
      <p>This is where we will concisely explain what an exhibition is and why it is different from a collection and the amazing things people will see and hear and watch in our beautifully designed and painstakingly curated object groups.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="{% url 'for-teachers:lessonPlanDirectory' %}">For teachers!</a>
    </div>
  </div>

  <!-- Dynamically add class 'button__secondary' to <a> elements below for selected state -->

  <div class="collect-intro__button-container">
    <a class="btn btn-default collect-intro__button {% if active == 'random' %}button__secondary{% endif %}" href="{% url 'exhibits:randomExplore' %}" data-pjax="js-pageContent">Random Explore</a>
    <a class="btn btn-default collect-intro__button {% if active == 'a-z' %}button__secondary{% endif %}" href="{% url 'exhibits:exhibitDirectory' %}" data-pjax="js-pageContent">Browse All</a>
    <a class="btn btn-default collect-intro__button {% if active == 'themes' %}button__secondary{% endif %}" href="{% url 'exhibits:themeDirectory' %}" data-pjax="js-pageContent">Special Topics</a>
  </div>

</div>
<hr/>
