{% load calisphere-extras %}
{% load markdown_filter %}

<div class="modal-body">
  {% if exhibitItem.solrData %}
  {% with item=exhibitItem.solrData %}
  <div class="row">
    <div class="col-md-6">
      <div class="obj-container__simple-{% if 'reference_image_md5' in item %}image{% else %}tile{% endif %}">
        <a class="obj__link" href="{% url 'calisphere:itemView' item.id %}">
        {% if item.reference_image_md5 %}
          <div class="obj__icon-container">
            <img class="obj__simple-image" src="{{ thumbnailUrl }}clip/500x500/{{ item.reference_image_md5 }}" alt="{{ item.title.0 }}">
            {% if item.type_ss.0|lower == "moving image" %}
            <div class="obj__overlay-icon fa-video-camera"></div>
            {% elif item.type_ss.0|lower == "sound"%}
            <div class="obj__overlay-icon fa-volume-up"></div>
            {# elif item.type_ss.0|lower == "text"#}
            <!-- <div class="obj__overlay-icon fa-file-text-o"></div> -->
            {% elif item.type_ss.0|lower == "dataset" %}
            <div class="obj__overlay-icon fa-bar-chart"></div>
            {% endif %}
          </div>
        {% else %}
          <div class="thumbnail__container">
            {% if item.type_ss.0|lower == "moving image" %}
            <div class="obj__tile-icon fa-video-camera"></div>
            {% elif item.type_ss.0|lower == "sound"%}
            <div class="obj__tile-icon fa-volume-up"></div>
            {% elif item.type_ss.0|lower == "text"%}
            <div class="obj__tile-icon fa-file-text-o"></div>
            {% elif item.type_ss.0|lower == "dataset" %}
            <div class="obj__tile-icon fa-bar-chart"></div>
            {% endif %}
          </div>
        {% endif %}
        <div class="obj__caption">
          go to item page
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      {% include 'calisphere/item-metadata.html' with item=item %}
    </div>
  </div>
  {% endwith %}
  {% else %}
  <div class="row">
    <div class="col-md-6">
      <div class="obj-container__simple-{% if exhibitItem.custom_crop %}image{% else %}tile{% endif %}">
	{% if exhibitItem.custom_crop %}
          <div class="obj__icon-container">
            <img class="obj__simple-image" src="{{ thumbnailUrl }}clip/500x500/{{ exhibitItem.custom_crop }}">
	  </div>
	{% else %}
	  <div class="thumbnail__container"></div>
	{% endif %}
      </div>
      <div class="obj__caption">
	go to item page
      </div>
    </div>
    <div class="col-md-6">
      {% include "exhibits/render_as.html" with render_as=exhibitItem.render_as text=exhibitItem.essay truncate=False container_class="" %}
    </div>
  </div>
  {% endif %}

  {% if prevItem %}
  <a class="js-exhibit-item" href="{% url url_name url_id prevItem.item_id %}">
    <div class="exhibit__modal-arrow">
      <div class="exhibit__modal-arrow-position">
        <i class="fa fa-angle-left" style="font-size: 70px;"></i>
      </div>
    </div>
  </a>
  {% endif %}
  {% if nextItem %}
  <a class="js-exhibit-item" href="{% url url_name url_id nextItem.item_id %}">
    <div class="exhibit__modal-arrow--right">
      <div class="exhibit__modal-arrow-position">
        <i class="fa fa-angle-right" style="font-size: 70px;"></i>
      </div>
    </div>
  </a>
  {% endif %}
</div>
