{% extends "calisphere/base.html,calisphere/pjaxTemplates/pjax-base.html"|pjax:request %}

{% block content %}
{% include "exhibits/exhibitsHeader.html" with active="themes" %}

<h2>Japanese American Relocation Digital Archive</h2>

<div class="row theme__exhibits">
  <div class="col-md-4 col-sm-6 col-xs-6">
    <a href="{{ jarda.get_absolute_url }}" data-pjax="js-pageContent">
      <div class="theme__lockup--horizontal">
        <div class="theme__lockup--horizontal-image">
          <div class="aspect-ratio-content theme__lockup--horizontal-image-content" style="background-image: url('{{ jarda.theme_lockup }}');">
            <div class="theme__lockup--horizontal-title">
              {{ jarda.title }}
              <div class="theme__lockup--horizontal-exhibit-count">{{ jarda.exhibittheme_set.all|length }} exhibitions</div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<h2>California Cultures:</h2>
<div class="row theme__exhibits">
  {% for theme in california_cultures %}
  <div class="col-md-4 col-sm-6 col-xs-6">
    <a href="{{ theme.get_absolute_url }}" data-pjax="js-pageContent">
      <div class="theme__lockup--horizontal">
        <div class="theme__lockup--horizontal-image">
          <div class="aspect-ratio-content theme__lockup--horizontal-image-content" style="background-image: url('{{ theme.theme_lockup }}');">
            <div class="theme__lockup--horizontal-title">
              {{ theme.title }}
              <div class="theme__lockup--horizontal-exhibit-count">{{ theme.exhibittheme_set.all|length }} exhibitions</div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


<h2>California History:</h2>
<div class="row theme__exhibits">
{% for theme in california_history %}
  <div class="col-md-4 col-sm-6 col-xs-6">
    <a href="{{ theme.get_absolute_url }}" data-pjax="js-pageContent">
      <div class="theme__lockup--horizontal">
        <div class="theme__lockup--horizontal-image">
          <div class="aspect-ratio-content theme__lockup--horizontal-image-content" style="background-image: url('{{ theme.theme_lockup }}');">
            <div class="theme__lockup--horizontal-title">
              {{ theme.title }}
              <div class="theme__lockup--horizontal-exhibit-count">{{ theme.exhibittheme_set.all|length }} exhibitions</div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
</div>

{% endblock %}
