{% load calisphere-extras %}

<form id="facet" action="{% url 'calisphere:search' %}" method="get">
  <!-- value of the search query from the header form -->
  <input type="hidden" name="q" value="{{ q }}" form="facet">
  
  <button type="button" id="deselect-facets" class="btn btn-default btn-block">Deselect All</button>
  
  {% for facet_type, facet_type_display in FACET_TYPES %}
  <div class="facet-type">
    <div class="row">
      <div class="col-md-8"><h5>{{ facet_type_display }} ({{ facets|get_item:facet_type|length }})</h5></div>
      <div class="col-md-4 text-right">
        <h6><button class="btn btn-link select-facets" style="font-size: 12px; padding: 0px; margin: 0px;">Select all</button></h6>
      </div>
    </div>
    <div id="{{ facet_type }}">
      {% if facet_type == 'repository_name' or facet_type == 'collection_name' %}
      <div class="form-group" style="margin-bottom: 5px;">
        <div class="input-group" style="width: 100%;">
          <input id="{{ facet_type }}-autocomplete" placeholder="Enter {{ facet_type_display }} Name" class="form-control autocomplete" autocomplete="off" type=search/>
        </div>
      </div>
      {% endif %}
      <div class="options-container">
        <table class="table" style="width: 100%">
          {% for facet, count in facets|get_item:facet_type %}
          <tr data-count="{{ count }}">
            <td style="padding: 0px; width: 80%">
              <div class="checkbox" style="font-size: 14px; margin: 5px 0">
                <label>{{ facet }} ({{ count }})</label>
              </div>
            </td>
            <td style="padding: 6px 0 0 20px;">
              <input id="{{ facet|slugify }}" class="facet facet-{{ facet_type }}" form="facet" type="checkbox" 
                name="{{ facet_type }}" value="{{ facet }}" {% if facet in filters|get_item:facet_type %}checked{% endif %}/>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</form>