{% load calisphere-extras %}

<!-- TODO: add disambiguation for faceting search results, collection page, institution page -->
<form id="js-facet" action="{{ form_action }}" method="get">
  <!-- value of the search query from the header form -->
  <input type="text" style="display:none;" name="q" value="{{ q }}" form="js-facet">
  
  <!-- <button type="button" id="deselect-facets" class="btn btn-default btn-block">Deselect All</button> -->

  <div class="facets">

    <button type="button" class="btn btn-default btn-block check__clear-filters js-clear-filters">Clear Filters</button>

    <div class="row">
  
      {% for facet_type, facet_type_display in FACET_TYPES %}
      
      {% if facets|get_item:facet_type|length != 0 %}

      <div class="col-xs-12 col-sm-6 col-md-12">

        <div class="check">

          <div class="check__header js-a-check__header">
            <p class="check__header-text js-a-check__header-text">{{ facet_type_display }} {% if filters|get_item:facet_type|length > 0 %}({{ filters|get_item:facet_type|length }} selected){% endif %}</p>
            <i class="check__header-arrow-icon js-a-check__header-arrow-icon fa fa-angle-down"></i>
            <div class="check__header-links">
              <a class="js-a-check__link-select-all check__link-select-all--selected" href="#">Select All</a>
              <a class="js-a-check__link-deselect-all check__link-deselect-all--not-selected" href="#">Deselect All</a>
            </div>
          </div>

          <div class="check__popdown js-a-check__popdown">

            <div class="check__button-group">
              <button type="button" disabled class="btn btn-default check__button js-a-check__button-deselect-all">Deselect All</button>
              <button type="button" class="btn btn-default check__button js-a-check__button-select-all">Select All</button>
            </div>

            
            <div class="check__group">
              {% for facet, count in facets|get_item:facet_type %}
                {% if facet_type == 'repository_data' %}
                  <input id="{{ facet.id }}" class="check__input facet js-facet facet-{{ facet_type }}" form="js-facet" type="checkbox" name="{{ facet_type }}" value="{{ facet.id }}" {% if facet in filters|get_item:'repository_data' %}checked{% endif %}>
                  <label class="check__label" for="{{ facet.id }}">{% if facet.campus %}{{ facet.campus }}, {% endif %}{{ facet.name }} ({{ count }})</label>
                
                {% elif facet_type == 'collection_data' %}
                  <input id="{{ facet.id }}" class="check__input facet js-facet facet-{{ facet_type }}" form="js-facet" type="checkbox" name="{{ facet_type }}" value="{{ facet.id }}" {% if facet in filters|get_item:'collection_data' %}checked{% endif %}>
                  <label class="check__label" for="{{ facet.id }}">{{ facet.name }} ({{ count }})</label>
                
                {% else %}
                  <input id="{{ facet|slugify }}" class="check__input facet js-facet facet-{{ facet_type }}" form="js-facet" type="checkbox" name="{{ facet_type }}" value="{{ facet }}" {% if facet in filters|get_item:facet_type %}checked{% endif %}>
                  <label class="check__label" for="{{ facet|slugify }}">{{ facet }} ({{ count }})</label>
                {% endif %}
              {% endfor %}
            </div>

            <button disabled class="check__update js-a-check__update">Update Results</button>

          </div>

        </div>

      </div>

      {% endif %}

    {% if forloop.counter|divisibleby:"2" %}
    </div> <!-- end row -->
    
    <div class="row"> <!-- start new row -->
    {% endif %}
   
      {% if forloop.counter|divisibleby:"3" %}

      <div class="col-xs-12 col-sm-6 col-md-12">
        <!-- (empty 4th facet) -->
      </div>

      {% endif %}

      {% endfor %}

    </div> <!-- .row -->

  </div> <!-- .facets -->

</form>
