{% load calisphere-extras %}

<div class="pag-buttons">

  <ul class="pag-buttons__list">
    <li class="pag-buttons__list-item"><a class="btn btn-default button__prev" href=""><i class="fa fa-caret-left fa-lg"></i> <abbr title="Previous">Prev</abbr></a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default pag-buttons__list-link--selected" href="">1</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">2</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">3</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">4</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">5</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">6</a></li>
    <li class="pag-buttons__list-item">&#133;</li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">10</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default button__next" href="">Next <i class="fa fa-caret-right fa-lg"></i></a></li>
  </ul>

</div>