{% load calisphere-extras %}
  
<!-- <input form="facet" type="hidden" id="rows" name="rows" value="{{ rows }}">
{% if rows == '50' %}
  <button id="view16" class="btn btn-link" style="padding:0px; margin:0px; vertical-align:baseline;">View 16</button> | 
{% else %}
  <button id="view50" class="btn btn-link" style="padding:0px; margin:0px; vertical-align:baseline;">View 50</button> | 
{% endif %}

{% if start|subtract:rows >= 0 %}
  <button id="prev" class="btn btn-link" data-start="{{ start|subtract:rows }}" style="padding:0px; margin:0px; vertical-align:baseline;">prev</button>
{% else %}
  prev
{% endif %}

<select form="facet" name="start" id="start">
  {% for page in pages|get_range %}
    <option value="{% widthratio page 1 rows %}" {% if start == page|multiply:rows %}selected{% endif %}>{{ page|add:"1" }}</option>
  {% endfor %}
</select>
of {{ pages }} 

{% if start|add:rows < numFound %}
  <button id="next" class="btn btn-link" data-start="{{ start|add:rows }}" style="padding:0px; margin:0px; vertical-align:baseline;">next</button>
{% else %}
  next
{% endif %} -->

<!-- Begin Dropdown Pagination Component -->

<div class="pag-dropdown">

	<input form="facet" type="hidden" id="rows" name="rows" value="{{ rows }}">

	{% if rows == '50' %}
		<button id="view16" class="btn btn-link pag-dropdown__view-number">View 16</button>
  {% else %}
  	<button id="view50" class="btn btn-link pag-dropdown__view-number">View 50</button>
  {% endif %}

  {% if start|subtract:rows >= 0 %}
	  <button id="prev" class="btn btn-link pag-dropdown__arrow-icon" data-start="{{ start|subtract:rows }}"><span class="fa fa-caret-left fa-lg"></span></button>
  {% else %}
  	<button id="prev" class="btn btn-link pag-dropdown__arrow-icon"><span class="fa fa-caret-left fa-lg"></span></button>
	{% endif %}

  <label for="start" class="sr-only">Current Number</label>
        
  <select form="facet" name="start" id="start" class="pag-dropdown__select">
    {% for page in pages|get_range %}
    <option value="{% widthratio page 1 rows %}" {% if start == page|multiply:rows %}selected{% endif %}>{{ page|add:"1" }}</option>
    {% endfor %}
  </select>

  <span class="pag-dropdown__total-number">of {{ pages }}</span>

  {% if start|add:rows < numFound %}
	  <button id="next" class="btn btn-link pag-dropdown__arrow-icon" data-start="{{ start|add:rows }}"><span class="fa fa-caret-right fa-lg"></span></button>
  {% else %}
    <button id="next" class="btn btn-link pag-dropdown__arrow-icon"><span class="fa fa-caret-right fa-lg"></span></button>
  {% endif %}

</div>

<!-- End Dropdown Pagination Component -->

<!-- Begin Button Pagination Component -->

<div class="pag-buttons">

  <ul class="pag-buttons__list">
    <li class="pag-buttons__list-item"><a class="btn btn-default button__prev" href=""><i class="fa fa-caret-left fa-lg"></i> <abbr title="Previous">Prev</abbr></a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default pag-buttons__list-link--selected" href="">1</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">2</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">3</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">4</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">5</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">6</a></li>
    <li class="pag-buttons__list-item">&#133;</li>
    <li class="pag-buttons__list-item"><a class="btn btn-default" href="">10</a></li>
    <li class="pag-buttons__list-item"><a class="btn btn-default button__next" href="">Next <i class="fa fa-caret-right fa-lg"></i></a></li>
  </ul>

</div>

<!-- End Button Pagination Component -->
