{% load calisphere-extras %}

<div class="pag-dropdown">

	<label for="pag-dropdown__view" class="sr-only">View Per Page</label>

  <select id="pag-dropdown__view" class="pag-dropdown__select" name="rows" form="js-facet">
  {% if rows == '50' %}
    <option id="view16" value="16">View 16</option>
    <option id="view50" value="50" selected>View 50</option>
  {% else %}
    <option id="view16" value="16" selected>View 16</option>
    <option id="view50" value="50">View 50</option>
  {% endif %}
  </select>
  
  <!-- <input form="js-facet" type="text" style="display:none;" id="rows" name="rows" value="{{ rows }}"> -->

  <label for="pag-dropdown__sort" class="sr-only">Sort</label>
  
  <div style="display: inline-block;" data-toggle="tooltip" title=" Sort feature coming soon.">
    <!--WHEN SORT WORKS: <select id="pag-dropdown__sort" class="pag-dropdown__select" name="sort" form="js-facet"> -->
    <select id="pag-dropdown__sort" class="pag-dropdown__select" name="sort" style="background-color: #e6e6e6; color: #9c9e9f; border-color: #9c9e9f">
      {% if sort == 'relevance' or sort == 'a' or sort == 'z' or sort == 'oldest' or sort == 'newest' %}
        <option value="relevance" {% if sort == 'relevance' %}selected{% endif %}>Relevance</option>
        <option value="a" {% if sort == 'a' %}selected{% endif %}>A-Z</option>
        <option value="z" {% if sort == 'z' %}selected{% endif %}>Z-A</option>
        <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>Oldest First</option>
        <option value="newest" {% if sort == 'newest' %}selected{% endif %}>Newest First</option>
      {% else %}
        <option value="relevance" selected>Relevance</option>
        <option value="a">A-Z</option>
        <option value="z">Z-A</option>
        <option value="oldest">Oldest First</option>
        <option value="newest">Newest First</option>
      {% endif %}
    </select>
  </div>

  {% if start|subtract:rows >= 0 %}
	  <button class="js-prev btn btn-link pag-dropdown__arrow-icon" data-start="{{ start|subtract:rows }}"><span class="fa fa-caret-left fa-lg"></span></button>
  {% else %}
  	<button class="js-prev btn btn-link pag-dropdown__arrow-icon" disabled><span class="fa fa-caret-left fa-lg"></span></button>
	{% endif %}

  <label for="start" class="sr-only">Current Number</label>
        
  <select class="pag-dropdown__select--unstyled" form="js-facet">
    {% for page in pages|get_range %}
    <option value="{% widthratio page 1 rows %}" {% if start|add:0 >= page|multiply:rows|add:0 and start|add:0 < page|add:1|multiply:rows|add:0 %}selected{% endif %}>{{ page|add:"1" }}</option>
    {% endfor %}
  </select>

  <span class="pag-dropdown__total-number">of {{ pages }}</span>

  {% if start|add:rows < numFound %}
	  <button class="js-next btn btn-link pag-dropdown__arrow-icon" data-start="{{ start|add:rows }}"><span class="fa fa-caret-right fa-lg"></span></button>
  {% else %}
    <button class="js-next btn btn-link pag-dropdown__arrow-icon" disabled><span class="fa fa-caret-right fa-lg"></span></button>
  {% endif %}

</div>
