{% load staticfiles %}

{% if item.contentFile.format|lower == 'image' %}
  {% include 'calisphere/objectViewer/hosted-simple-image.html' %}
{% endif %}

<div class="carousel-complex">
  <!--TODO: if  item.selected is True apply 'selected' styles -->
  <div class="carousel-complex__fixed-item">
    <a href="{% url 'calisphere:itemView' item.id %}" class="{% if 'selected' in item %}carousel-complex__fixed-link--selected
      {% else %}carousel-complex__fixed-link{% endif %} js-set-link">
      <div class="carousel-complex__fixed-content">
      cover page
      </div>
    </a>
  </div>

  <div class="carousel-complex__item-container">
  {% for component in item.structMap %}
    <div class="carousel-complex__{% if component.format|lower != "image" %}tile{% else %}item{% endif %}{% if 'selected' in component %}--selected{% endif %}">
      <a class="carousel-complex__link js-component-link" data-item_id="{{ forloop.counter0 }}" href="{% url 'calisphere:itemView' item.id %}">
        {% if component.format|lower != "image" %}
          <div class="carousel-complex__thumbnail-container">
          {% if component.format|lower == "moving image" %}
            <div class="carousel-complex__tile-icon fa-video-camera"></div>
          {% elif component.format|lower == "sound"%}
            <div class="carousel-complex__tile-icon fa-volume-up"></div>
          {# elif component.format|lower == "text"#}
            <!-- <div class="carousel-complex__tile-icon fa-file-text-o"></div> -->
          {% endif %}
          </div>
        {% elif component.format|lower == "image" %}
          <img
          class="carousel-complex__img"
          data-lazy="{{ ucldcIiif }}{{ component.id }}/full/,80/0/default.jpg"
          alt="{{ component.label }}">
        {# else #}
          <!-- <span class="fa fa-file-text-o fa-fw carousel-complex__icon-overlay"></span> -->
          <!-- <img src="{% static 'images/transparent.png' %}" alt="{{ item.title.0|truncatewords:12 }}"
          class="carousel-complex__item-img{% if 'selected' in component %}--selected{% else %}carousel-complex__img--no-image{% endif %}"> -->
        {% endif %}
      </a>
    </div>
  {% endfor %}
  </div>

</div>
