{% load static %}

<div class="object__container-harvest-non-image">
  <a class="obj-harvest__link" href="{{ item.url_item }}" target="_blank">
    <div class="icon__overlay-container">
      {% if item.type_ss.0|lower == 'moving image' %}
        <span class="fa fa-play-circle-o fa-fw obj-harvest__file-icon-overlay"></span>
      {% elif item.type_ss.0|lower == 'sound' %}
        <span class="fa fa-volume-up fa-fw obj-harvest__file-icon-overlay"></span>
      {% elif item.type_ss.0|lower == "text"%}
        <span class="fa fa-file-text-o fa-fw obj-harvest__file-icon-overlay"></span>
      {% elif item.type_ss.0|lower == "dataset" %}
        <span class="fa fa-bar-chart fa-fw obj-harvest__file-icon-overlay"></span>
      {% elif item.type_ss.0|lower == "complex object"%}
        Complex Object Icon
      {% endif %}
      {% if item.reference_image_md5 %}
        <img class="obj-harvest__image" src="{{ thumbnailUrl }}clip/500x500/{{ item.reference_image_md5 }}" alt="">
      {% else %}
        <img class="obj-hosted__no-image" src="{% static 'images/transparent.png' %}" alt="{{ item.title.0|truncatewords:8 }}">
      {% endif %}
    </div>
    <div class="obj-harvest__caption">
      {% if item.type_ss.0|lower == 'moving image' %}
        Play video
      {% elif item.type_ss.0|lower == 'sound' %}
        Play audio
      {% elif item.type_ss.0|lower == 'text' %}
        Read item
      {% elif item.type_ss.0|lower == "dataset" %}
        View dataset
      {% elif item.type_ss.0|lower == 'complex object' %}
        View complex object? 
      {% endif %}
      on
      {% if item.oac == True %}the Online Archive of California.{% else %}contributor's website.{% endif %}
    </div>
  </a>
</div>
