  <div class="object__container-generic">
    <a class="obj-harvest__link" href="{{ item.url_item }}" target="_blank">
      <div class="icon__overlay-container">
        <span class="fa fa-external-link fa-fw obj-harvest__external-link-icon-overlay"></span>
        <img class="obj-harvest__image" src="{{ thumbnailUrl }}clip/500x500/{{ item.reference_image_md5 }}" alt="">
      </div>
      <div class="obj-harvest__caption">Preview. View on 
        {% if item.oac == True %}
          the OAC.
        {% else%} 
          contributor's website.
        {% endif %}
      </div>
    </a>

  </div>