{% load staticfiles %}

<div class="obj__container-osd">

  <div id="obj__osd"></div>

  <div class="obj__osd-button-group">

    <a id="obj__osd-button-home" class="btn btn-default obj__osd-button" href="#">
      <span class="fa fa-refresh fa-fw"></span>
    </a>
    <a id="obj__osd-button-zoom-in" class="btn btn-default obj__osd-button" href="#">
      <span class="fa fa-plus fa-fw"></span>
    </a>
    <a id="obj__osd-button-zoom-out" class="btn btn-default obj__osd-button" href="#">
      <span class="fa fa-minus fa-fw"></span>
    </a>
    <a id="obj__osd-button-fullscreen" class="btn btn-default obj__osd-button" href="">
      <span class="fa fa-expand fa-fw"></span>
    </a>

  </div>

  <div class="obj__osd-button-sequence">
    <button id="obj__osd-button-previous" type="button" data-role="none" class="slick-prev" aria-label="previous">Previous</button>
    <button id="obj__osd-button-next" type="button" data-role="none" class="slick-next" aria-label="next">Next</button>
  </div>

  <script src="{% static "bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js" %}"></script>

  <script type="text/javascript">
  var prefixUrl = '{% static "bower_components/openseadragon/built-openseadragon/openseadragon/images/" %}'
  {% if 'structMap' in item %}
    var tileSources = [{{ item.contentTiles|safe }}];
    var sequenceMode = true;
    {% if request.GET.order %}
	var initialPage = {{ request.GET.order }};
    {% else %}
	var initialPage = '0';
    {% endif %}
  {% else %}
    var tileSources = {{ item.contentFile.titleSources|safe }};
    var sequenceMode = false;
    var initialPage = '0';
  {% endif %}
  </script>

</div>
