{% load staticfiles %}

<!-- Object - Harvest Harvest Non-image Component -->

<div class="object__container-hosted-file">


  <a class="obj-harvest__link" href="javascript: void(0)" data-toggle="modal" data-target="#downloadModal">
    <div class="icon__overlay-container">
      <span class="fa fa-file-text-o fa-fw obj-harvest__file-icon-overlay"></span>
      <img class="obj-hosted__no-image" src="{% static 'images/transparent.png'%}" alt="">
    </div>
    <div class="obj-hosted__caption">Download File
    </div>
  </a>

</div>

<!-- Object - Harvest Harvest Non-image Component -->
