{% load staticfiles %}

<!doctype html>
<html lang="en" class="no-js no-jquery">
  <head>
    <title>Calisphere</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="apple-touch-icon-precomposed" href="/favicon-152x152.png">
    {% if devMode %}
      <link rel="stylesheet" href="{% static "bower_components/fontawesome/css/font-awesome.css" %}" />
      <link rel="stylesheet" href="{% static "bower_components/mediaelement/build/mediaelementplayer.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% else %}
      <link rel="stylesheet" href="{% static "styles/vendor.css" %}" />
      <link rel="stylesheet" href="{% static "styles/main.css" %}" />
    {% endif %}
    <script>
      //no-jquery class is now effectively a no-js class
      document.getElementsByTagName('html')[0].classList.remove('no-jquery');
    </script>
    {% include "calisphere/ga_site_code.html" %}
  </head>
  <body>

    <div class="container-fluid">
      <header class="global-header">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="row">
              <div class="col-xs-2 col-sm-12 global-header__bars-icon js-global-header__bars-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="col-xs-8 col-sm-12 global-header__logo">
                <a class="global-header__logo-link" href="{% url 'calisphere:home' %}">
                </a>
              </div>
              <div class="col-xs-2 col-sm-12 global-header__search-icon--homepage">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 global-header__search">
          	<form class="global-header__search-form--homepage" role="search" id="js-searchForm" action="{% url 'calisphere:search' %}" method="get">
              <label for="global-search__field" class="global-search__label">Search the collections</label>
              <div class="input-group">
                <input id="global-search__field" form="js-searchForm" name="q" value="{{ q }}" type="search" class="form-control global-search__field js-globalSearch">
                <span class="input-group-btn">
                  <button class="btn btn-default global-search__button" type="submit"><span class="fa fa-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>

          <div class="col-xs-12 col-sm-4 global-header__nav js-global-header__mobile-links">
            <ul class="global-header__nav-list">
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:about' %}">About</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'contact_form' %}">Contact</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:help' %}">Help</a>
              </li>
              <li class="global-header__nav-list-item">
                <a class="global-header__nav-link" href="{% url 'calisphere:termsOfUse' %}">Terms of Use</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="global-header__bar">
          <ul class="global-header__bar-list">
            <li class="global-header__bar-list-item">
              <a class="global-header__bar-links" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
            </li>
            <li class="global-header__bar-list-item">
              <a class="global-header__bar-links" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
            </li>
          </ul>
        </div>

      </header>

      <div id="js-pageContent">
        
        <div style="margin: -10px -20px 0 -20px; background-color: lightgray">
          <div style="text-align: center">
            <div style="display: inline-block;">
              <div style="position: relative; min-height: 1px;">
                <h1 
                style="color: #fff; display: block; position: absolute; top: 0; left: 0; right: 0; padding: 10px; text-align: center;">
                  Whoops! Something went wrong here!
                </h1>

                <img class="obj__simple-image" 
                  src="{{ thumbnailUrl }}clip/800x800/79643fd3198deb689c7f6b7493bd80e9" 
                  alt="Toe stuck in a bowling ball [graphic]">
                
                <form role="search" id="js-homeForm" action="{% url 'calisphere:search' %}" method="get">
                  <div style="display: block; position: absolute; top: 0; left: 0; right: 0; padding: 30% 25% 0; text-align: center;">
                    <label for="home__search-field" class="sr-only">Try another search</label>
                    <div class="input-group">
                      <input id="home__search-field" form="js-homeForm" type="search" class="form-control input-lg" placeholder="Try another search" name="q">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-lg home__search-button" type="submit">
                        </button>
                      </span>
                    </div>
                    <p style="margin-top: 20px; color: #fff;">
                      If you think this is a problem with Calisphere, please 
                      <a href="/contact/" data-pjax="js-pageContent">
                        contact us.
                      </a>
                      <br/>
                      Or return to the <a href="/" data-pjax="js-pageContent">homepage.</a>
                    </p>
                  </div>
                </form>

                <a style="color: #fff" href="{% url 'calisphere:itemView' '8fb1debdaadcaa4ac974d9c420782669' %}">
                  <div 
                  style="display: block; position: absolute; bottom: 0; left: 0; right: 0; padding: 20px 10px 10px; 
                  color: #fff; text-align: right; font-size: .9em; background: linear-gradient(transparent,rgba(0,0,0,.8))">
                    Toe stuck in a bowling ball / Los Angeles Public Library</a>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">

        <footer class="global-footer">

          <div class="global-footer__search">
            <form class="global-footer__search-form" role="search" id="js-footerSearch" action="{% url 'calisphere:search' %}" method="get">
              <label for="global-footer__search-field" class="global-footer__search-label">Search the collections</label>
              <div class="input-group">
                <input id="global-footer__search-field" form="js-footerSearch" name="q" value="{{ q }}" type="search" class="form-control global-footer__search-field js-globalSearch">
                <span class="input-group-btn">
                  <button class="btn btn-default global-footer__search-button" type="submit"><i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>

          <div class="global-footer__nav">
            <ul class="global-footer__nav-list--mobile">
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:home' %}">Home</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:about' %}">About</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'contact_form' %}">Contact</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:help' %}">Help</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:campusDirectory' %}">Contributing Institutions</a>
              </li>
              <li class="global-footer__nav-list-item--mobile">
                <a class="global-footer__nav-link--mobile" href="{% url 'calisphere:collectionsDirectory' %}">Collections</a>
              </li>
            </ul>
            <ul class="global-footer__nav-list">
              <li class="global-footer__nav-list-item">
                <a class="global-footer__nav-link" href="{% url 'calisphere:termsOfUse' %}">Terms of Use</a>
              </li>
              <li class="global-footer__nav-list-item">
                <a class="global-footer__nav-link" href="{% url 'calisphere:privacyStatement' %}">Privacy Statement</a>
              </li>
            </ul>
          </div>

          <div class="global-footer__copyright">
            <p>Calisphere is a service of the
              <a href="http://libraries.universityofcalifornia.edu/">UC Libraries</a>, powered by the
              <a href="http://www.cdlib.org/">California Digital Library</a>.</p>

            <div class="col-xs-6 global-footer__social-icons-text">
              <p>Connect with us:</p>
            </div>
            <div class="col-xs-6 global-footer__social-icons">
              <a class="global-footer__twitter-icon"
                 title="Twitter"
                 href="https://twitter.com/calisphere"><span class="fa fa-twitter-square"></span></a>
              <a class="global-footer__facebook-icon"
                 title="Facebook"
                 href="https://www.facebook.com/calisphere"><span class="fa fa-facebook-square"></span></a>
            </div>

          </div>

        </footer>

      </div>


    </div>
    {% include "calisphere/scripts.html" %}
    <script src="{% static "scripts/calisphere-home.js" %}"></script>
  </body>
</html>
